.card-overview {
    background-color: #ffffff;
    padding: 6px 16px;
    position: static;
    width: 200px !important;
    height: 72px;
    left: 24px;
    top: 0px;
    border-radius: 18px;
    text-align: center;
    margin-right: 3px;
}

.card-overview h5 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px !important;
}

.title h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(33, 33, 33, 0.85);
    margin-bottom: 8px !important;
}
.card-overview span {
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 8px !important;
}

