<div class="page-top">
    <div class="page-title">
        <h5>{{'model.task.title' | translate }}</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <!-- <form role="form" [formGroup]="searchForm"> -->
            <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm" #keyword
                (keyup.enter)=" ($event)" />
            <!-- </form> -->
            <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                alt="search-icon" srcset="" />
        </div>
        <div class="refesh ml-2">
            <button class="btn ant-btn-default btn-circle" (click)="onRefresh()">
                <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" />
            </button>
        </div>
        <div class="export ml-2">
            <button class="btn ant-btn-default btn-circle">
                <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
            </button>
        </div>
        <div class="delete ml-2">
            <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
                (click)="onDelete(setOfCheckedId)">
                <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
            </button>
        </div>
        <div class="create ml-2">
            <button class="btn ant-btn-default btn-radius" (click)="onCreateTask()">
                <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                <span class="ml-2">Tạo mới</span>
            </button>
        </div>
        <div class="filter ml-2">
            <button class="btn ant-btn-default btn-circle" (click)="onFilter()">
                <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
            </button>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ticket-overview d-flex justify-content-between">
                <div class="card-overview col-2" style="background-color: white;">
                    <h5 class="color-primary">15</h5>
                    <div class="ticket-status">
                        <span style="color:#1672EC"><i class="mr-2 mb-1" nz-icon nzType="home" nzTheme="outline"></i>Tất
                            cả</span>
                    </div>
                </div>
                <div class="card-overview col-2" style="background-color: white;">
                    <h5 class="color-primary">15</h5>
                    <div class="ticket-status">
                        <span style="color:#1672EC"><i class="mr-2 mb-1" nz-icon nzType="clock-circle" nzTheme="outline"></i>Chờ phê duyệt</span>
                    </div>
                </div>
                <div class="card-overview col-2" style="background-color: white;">
                    <h5 class="color-primary">15</h5>
                    <div class="ticket-status">
                        <span style="color:#1672EC"><img class="mr-2 mb-1" src="assets/images/icon/loading.svg" alt=""> Chưa hoàn thành</span>
                    </div>
                </div>
                <div class="card-overview col-2" style="background-color: white;">
                    <h5 class="color-primary">15</h5>
                    <div class="ticket-status">
                        <span style="color:#1672EC"><img class="mr-2 mb-1" src="assets/images/icon/check.svg" alt="">Hoàn thành</span>
                    </div>
                </div>
                <div class="card-overview col-2" style="background-color: white;">
                    <h5 class="color-primary">15</h5>
                    <div class="ticket-status">
                        <span style="color:#1672EC"><img class="mr-2 mb-1" src="assets/images/icon/doublecheck.svg" alt="">Kết thúc</span>
                    </div>
                </div>
                <div class="card-overview col-2" style="background-color: white;">
                    <h5 class="color-primary">15</h5>
                    <div class="ticket-status">
                        <span style="color:#1672EC"><i class="mr-2 mb-1" nz-icon nzType="close-circle" nzTheme="outline"></i>Tạm dừng/hủy</span>
                    </div>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <nz-table #basicTable [nzData]="taskList"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzTableLayout]="'auto'"
                        nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
                        <thead>
                            <tr>
                                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="updateAllChecked($event)">
                                </th>
                                <th class="text-center">#</th>
                                <th class="text-center" nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="1">Công
                                    việc</th>
                                    <th class="text-center" nzColumnKey="status" [nzSortFn]="true" [nzSortPriority]="2">Trạng thái</th>
                                <th class="text-center" nzColumnKey="progress" [nzSortFn]="true" [nzSortPriority]="3">
                                    Tiến độ
                                </th>
                                <th class="text-center" nzColumnKey="priority" [nzSortFn]="true" [nzSortPriority]="4">
                                    Độ ưu tiên
                                </th>
                                <th class="text-center" nzColumnKey="reporter_id" [nzSortFn]="true" [nzSortPriority]="5">Người
                                    giao</th>
                                <th class="text-center" nzColumnKey="start_time" [nzSortFn]="true" [nzSortPriority]="6">Ngày
                                    bắt đầu</th>
                                <th class="text-center" nzColumnKey="end_time" [nzSortFn]="true"
                                    [nzSortPriority]="7">Hạn hoàn thành</th>
                                <th class="text-center">Thao tác
                                </th>
                                <th class="text-center"><img src="assets/images/icon/socmenu.svg" alt=""></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of taskList;let taskIndex = index;">
                                <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                <td>{{ (taskQuery.pageIndex - 1)*taskQuery.pageSize +
                                    taskIndex + 1 }}</td>
                                <td class="text-center">{{data.name}}</td>
                                <td class="text-center"></td>
                                <td class="text-center">{{data.progress}}</td>
                                <td class="text-center">{{data.priority}}</td>
                                <td class="text-center">{{data.reporter_id}}</td>
                                <td class="text-center">{{data.start_time}}</td>
                                <td class="text-center">{{data.end_time}}</td>
                                <td class="text-center">
                                    <div class="action-table">
                                        <mbf-button-action [action]="'edit'"
                                            nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="onUpdate(data.id)">
                                        </mbf-button-action>
                                        <mbf-button-action *ngIf="data.dept_code !== 'TCT'" [action]="'delete'"
                                            nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="onDelete(data)">
                                        </mbf-button-action>
                                    </div>
                                </td>
                                <td class="text-center"></td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="taskQuery.pageIndex" [pageSize]="taskQuery.pageSize" [total]="total"
                            (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>