<div class="create-department">
    <div *nzModalTitle>
        <span>Chi tiết cập nhật</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form >
                <div class="row">
                    <div class="" [ngClass]="data.properties.attributes.description ? 'col-12 mb-2 responsive-table ':'col-12 mb-2 responsive-table ' ">
                        <div class="d-flex ">
                         <div class="mr-2">
                            <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="data.avatarProfile ? urlgetway+data.avatarProfile : 'assets/images/ava-default.jpg'" ></nz-avatar>
                         </div>
                         <div class="">
                             <p class="mb-0" ><span style="color: #0060AF;font-weight: 600;">{{data.causer_name}} </span>{{data.log_name}}</p>
                             <p class="mb-0 "><i>{{data.updated_at | date:' HH:mm:ss dd/MM/yyyy'}}</i></p>
                         </div>
                        </div>
                        <div *ngIf="data.description =='created' " class="mt-2 pl-2 description-time mt-3">
                            Tạo mới Ticket: <span> {{data.properties.attributes.title}}</span>
                         </div>
                         <nz-table   [nzData]="data"  *ngIf="data.description =='updated'" class="mt-3 table-history">
                                <thead>
                                    <tr>
                                        <th class="text-left" style="min-width: 150px;">Cập nhật</th>
                                        <th class="text-left">Giá trị ban đầu</th>
                                        <th class="text-left">Giá trị mới</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="data.properties.attributes.title">
                                        <td class="text-left">  <span >Tiêu đề</span> </td>
                                        <td class="text-left attributes "> {{data.properties.old.title}}</td>
                                        <td class="text-left"> {{data.properties.attributes.title}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.product_name">
                                        <td class="text-left">   <span >Sản phẩm dịch vụ</span></td>
                                        <td class="text-left attributes">
                                           
                                            <span > {{data.properties.old.product_name}}</span>
                                            
                                        </td>
                                        <td class="text-left">   {{data.properties.attributes.product_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.state_name">
                                        <td class="text-left">  <span >Trạng thái</span></td>
                                        <td class="text-left attributes">
                                          
                                            <span > {{data.properties.old.state_name}}</span>
                                        </td>
                                        <td class="text-left">  {{data.properties.attributes.state_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.priority_name">
                                        <td class="text-left">  <span >Mức độ ưu tiên</span></td>
                                        <td class="text-left attributes"> 
                                            <span > {{data.properties.old.priority_name}}</span>
                                        </td>
                                        <td class="text-left">  {{data.properties.attributes.priority_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.customer_name">
                                        <td class="text-left"> <span >Khách hàng</span></td>
                                        <td class="text-left attributes"> 
                                         
                                            <span > {{data.properties.old.customer_name}}</span>
                                        </td>
                                        <td class="text-left">{{data.properties.attributes.customer_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.contact_name">
                                        <td class="text-left"> <span >Người liên hệ</span></td>
                                        <td class="text-left attributes">   {{data.properties.old.contact_name}} </td>
                                        <td class="text-left">{{data.properties.attributes.contact_name}}</td>
                                    </tr>
                                    <!-- <tr  *ngIf="data.properties.attributes.description">
                                        <td class="text-left"> <span>Mô tả</span></td>
                                        <td class="text-left attributes"> <span [innerHtml]="descriptionnew | safehtml" ></span></td>
                                        <td class="text-left">  <span [innerHtml]="description | safehtml" ></span></td>
                                    </tr> -->
                                    <tr *ngIf="data.properties.attributes.user_name">
                                        <td class="text-left">   <span >Người xử lý</span></td>
                                        <td class="text-left attributes">
                                         
                                            <span > {{data.properties.old.user_name}}</span>
                                         </td>
                                        <td class="text-left">   {{data.properties.attributes.user_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.source_name">
                                        <td class="text-left">  <span >Nguồn Ticket</span></td>
                                        <td class="text-left attributes">  {{data.properties.old.source_name}}  </td>
                                        <td class="text-left">  {{data.properties.attributes.source_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.require_name">
                                        <td class="text-left">  <span >Người yêu cầu</span></td>
                                        <td class="text-left attributes">  {{data.properties.old.require_name}}  </td>
                                        <td class="text-left">  {{data.properties.attributes.require_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.category_name">
                                        <td class="text-left">  <span >Phân loại</span></td>
                                        <td class="text-left attributes"> 
                                          
                                            <span > {{data.properties.old.category_name}}</span>
                                            
                                        </td>
                                        <td class="text-left">  {{data.properties.attributes.category_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.wf_execute_department_dept_name">
                                        <td class="text-left">  <span >Phòng ban</span></td>
                                        <td class="text-left attributes">  {{data.properties.old.wf_execute_department_dept_name}}  </td>
                                        <td class="text-left">  {{data.properties.attributes.wf_execute_department_dept_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.file_count">
                                        <td class="text-left">  <span >File đính kèm</span></td>
                                        <td class="text-left attributes">  {{data.properties.attributes.file_count}}  </td>
                                        <td class="text-left">  {{data.properties.attributes.file_count}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.old.customer_name">
                                        <td class="text-left">  <span >Người liên hệ</span></td>
                                        <td class="text-left attributes"> 
                                            
                                            <span > {{data.properties.old.customer_name}}</span>
                                              </td>
                                        <td class="text-left">  {{data.properties.attributes.customer_name}}</td>
                                    </tr>
                                    <tr *ngIf="data.properties.attributes.status==4 ">
                                        <td class="text-left">  <span >Trạng thái</span></td>
                                        <td class="text-left attributes"> 
                                            Chưa xử lý
                                        </td>
                                        <td class="text-left"> Hủy</td>
                                    </tr>
                                </tbody>
                         </nz-table>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [icon]="'close-circle'" [shapeType]="'radius'"
            [text]="'action.close'"  (click)="onCancel()" ></mbf-button>
        </div>
    </div>
</div>