 p i{
    font-size: 10px;
    color:#000;
}
::ng-deep  .ant-table-thead > tr > th{
    color: rgba(33, 33, 33, 0.85);
    background: #fff!important;
    padding: 0px 9px;
}
.table-history td{
    color: #282828!important;
    word-break: break-all;
}
.table-history td.attributes{
    color: rgba(117, 117, 117, 0.85)!important;
}
.table-history  tr:nth-child(2n) td {
    background-color: #fff!important;
    border-top: 1px solid #f0f0f0!important;
}
 tr > th {
    min-width: 100px;
}
.detail-hisory-ticket ::ng-deep .ant-table-container{
    overflow: auto;
}
.detail-hisory-ticket ::ng-deep .ant-table-content{
    width: 1800px;
}