.waiting-bg {
    background-color: rgb(5, 8, 43);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: #ffff;
        font-size: 20px;
    }
}