<div class="create-department">
    <div *nzModalTitle>
        <span>TẠO MỚI NGƯỜI LIÊN HỆ</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="contactForm">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'model.contactPer.name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="name" nz-input class=""
                            placeholder="{{ 'model.contactPer.name' | translate }}" #availableArea required>
                        <ng-container *ngIf="contactForm.get('name')?.touched || contactForm.get('name')?.dirty">
                            <span class="text-danger" *ngIf="contactForm.get('name')?.hasError('required')">
                                <small> Họ và tên không được để trống</small>
                            </span>
                            <span class="text-danger" *ngIf="contactForm.get('name')?.errors?.maxlength">
                                {{ 'model.user.error.fullName' | translate }}
                            </span>
                            <small class="text-danger" *ngIf="contactForm.get('name')?.errors?.pattern">
                                Họ và tên không đúng định dạng
                            </small>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.contactPer.phone' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="phone" nz-input class=""  
                            placeholder="{{ 'model.contactPer.phone' | translate }}" #availableArea required>
                        <ng-container *ngIf="contactForm.get('phone')?.touched || contactForm.get('phone')?.dirty">
                            <span class="text-danger" *ngIf="contactForm.get('phone')?.hasError('required')">
                                <small>Số điện thoại không được để trống</small>
                            </span>
                            <span class="text-danger" *ngIf="contactForm.get('phone')?.errors?.maxlength">
                                <small>Số điện thoại không quá 20 ký tự</small>
                            </span>
                            <span class="text-danger" *ngIf="contactForm.get('phone')?.errors?.isNotNumberPhone">
                                <small>{{ 'model.customer.error.phoneInvalid' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>Email   <span class="text-danger">*</span></label>
                        <input formControlName="email" nz-input class="" placeholder="Email" #availableArea required>
                        <ng-container *ngIf="contactForm.get('email')?.touched || contactForm.get('email')?.dirty">
                            <span class="text-danger" *ngIf="contactForm.get('email')?.hasError('required')">
                                <small>Email không được để trống</small>
                            </span>
                            <span class="text-danger" *ngIf="contactForm.get('email')?.hasError('pattern')">
                                <small> Email không đúng định dạng</small>
                            </span>
                            
                            <span class="text-danger" *ngIf="contactForm.get('email')?.errors?.maxlength">
                                <small>{{ 'model.contactPer.error.maxLength' | translate:
                                    {param:lengthValidator.EMAIL_MAX_LENGTH.MAX} }}</small>
                            </span>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.'+ action.includedButton" (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [type]="'primary'" [icon]="action.icon" [shapeType]="'radius'"
                [text]="'action.'+ action.buttonTitle" (click)="onSubmit()"></mbf-button>
        </div>
    </div>
</div>