<nz-layout class="app-layout">
    <nz-layout>
        <app-enduser-header [currentUser]="currentUser" ></app-enduser-header>
        <nz-content class="nz-content-dashboard">
            <div class="inner-content">
                <nz-spin [nzSpinning]="loadingService?.isLoading | async" [nzTip]="'common.spinningTip' | translate">
                    <router-outlet></router-outlet>
                </nz-spin>
            </div>
        </nz-content>
        <app-enduser-footer></app-enduser-footer>
    </nz-layout>
</nz-layout>