<div class="create-department">
    <div *nzModalTitle>
        <span>Chi tiết lịch sử Mail</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form >
                <div class="row">
                    <div class="col-12 mb-2 responsive-table">
                        <p class="mb-2">
                            <b *ngIf="data.execute_assignee_name">Người thực hiện : </b> {{data.execute_assignee_name}}
                         </p>
                         <p class="mb-2">
                            <b *ngIf="data.execute_department_name"> Đơn vị : </b> {{data.execute_department_name}}
                         </p>
                        <p class="mb-2">
                           <b *ngIf="data.from"> Người gửi : </b> {{data.from}}
                        </p>
                        <p class="mb-2">
                            <b *ngIf="data.to"> Người nhận : </b> {{data.to}}
                         </p>
                         <p class="mb-2">
                            <b *ngIf="data.cc"> Cc : </b> {{data.cc}}
                         </p>
                        <p class="mb-2">
                            <b *ngIf="data.created_at"> Thời gian gửi : </b> {{data.created_at | date:' HH:mm:ss - dd/MM/yyyy'}}
                         </p>
                        <p class="mb-2">
                           <b *ngIf="data.title"> Tiêu đề : </b> {{data.title}}
                        </p>
                       
                        <p class="mb-2">
                           <b *ngIf="data.content"> Nội dung : </b> <span class="description-editor" [innerHTML]="data.content |safehtml"></span>
                        </p>
                        <p class="mb-2 " style="color:#0060AF" *ngIf="index!=0 && data.files.data.length">
                           <b style="color:black"> File đính kèm : </b><span class="c-point" *ngFor="let data1 of data.files.data">
                                <p  (click)="download(data1.original_file_name,data1.id)"
                                target="_blank" download>
                                    <img src="assets/images/icon/upload-file.svg" alt="circle-plus-icon" srcset="">  <span [nzTooltipTitle]="data1.original_file_name" nz-tooltip>
                                       {{ commonUtil.limitWord(data1.original_file_name, 50) }}</span>
                                    </p>
                            </span>
                        </p>
                        <p class="mb-2 " style="color:#0060AF" *ngIf="index==0 && data.files.data.length">
                            <b style="color:black"> File đính kèm  1: </b><span class="c-point" *ngFor="let data1 of data.files.data">
                                 <p (click)="download(data1.original_file_name,data1.id)"
                                 target="_blank" download>
                                     <img src="assets/images/icon/upload-file.svg" alt="circle-plus-icon" srcset="">  <span [nzTooltipTitle]="data1.original_file_name" nz-tooltip>
                                        {{ commonUtil.limitWord(data1.original_file_name, 50) }}</span>
                                     </p>
                             </span>
                         </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [icon]="'close-circle'" [shapeType]="'radius'"
            [text]="'action.close'"  (click)="onCancel()" ></mbf-button>
        </div>
    </div>
</div>