<button nz-button nz-tooltip nzTooltipPlacement="top" [disabled]="disabled" [nzType]="type"    [nzLoading]="isLoading"
   [ngClass]="getClassStyle(type, shapeType, customClass)" [nzTooltipTitle]="tooltip | translate">
   <i *ngIf="icon.length > 0" nz-icon class="mr-2" [ngClass]="type === 'primary' ? 'text-white' : iconColor" [nzTheme]="themeType"
      [nzType]="icon">
   </i>
   <img *ngIf="iconResource.length > 0" [src]="getSource()" alt="action">
   <span *ngIf="text.length > 0" class="ml-0">{{ text | translate }}</span>
</button>