.ant-btn span{
  margin-top: 1px;
}
.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-radius {
  border-radius: 71px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}
.ant-btn-primary {
  border: 1px solid #0060AF;
  background: #0060AF;
  color: #ffffff;
}

.ant-btn-default {
  border: none;
  background: #F4F5FA;
  color: rgba(0, 97, 175, 0.65);
}

.btn-default {
  border: 1px solid #F8F8F8;
  background: #F8F8F8;
  color: black;
}

.ant-btn[disabled],
.ant-btn[disabled]:active,
.ant-btn[disabled]:focus,
.ant-btn[disabled]:hover {
  border: 1px solid #0060AF;
  background: #0060AF;
  color: #ffffff;
}

.ant-btn-danger {
  border: 1px solid red;
  background: red;
  color: #ffffff;
}

.ant-btn-dashed {
  border: 1px solid red;
  background: #ffffff;
  color: red;
  min-width: 100px;
}