<div class="page-top page-top-tickets">
    <div class="page-title">
        <h5>Báo cáo yêu cầu nâng cấp tính năng, giao diện</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
                [(ngModel)]="queryFilter.keyword" (keyup.enter)="onSearch()"/>
                <a (keyup.enter)="onSearch()"><img class="searchInputIcon" src="assets/images/icon/search.svg" alt="search-icon" srcset="" /></a>
            </div>
            <div class="main-fillter pl-3">
                <div style="display: flex;">
                    <button  class="btn ant-btn-default btn-radius" (click)="exportReport()">
                        <img src="assets/images/icon/file.svg" alt="circle-plus-icon" srcset=""/>
                    </button>
                    <div class="filter ml-2">
                        <button class="btn ant-btn-default btn-circle" (click)="openFillter()" nz-tooltip nzTooltipTitle="Lọc">
                            <img src="assets/images/icon/fillter-icon.svg" alt="filter-icon" srcset=""/>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex">
            <div class="create ml-2">
                <button  class="btn ant-btn-default btn-radius" (click)="exportReport()">
                    <span class="ml-2 mr-2">XUẤT BÁO CÁO</span>
                    <img src="assets/images/icon/file.svg" alt="circle-plus-icon" srcset=""/>
                </button>
            </div>
            <div class="filter ml-2">
                <button class="btn ant-btn-default btn-circle" (click)="openFillter()" nz-tooltip nzTooltipTitle="Lọc">
                    <img src="assets/images/icon/fillter-icon.svg" alt="filter-icon" srcset=""/>
                </button>
            </div>
            <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right"
            [nzTitle]="resetFilter"  (nzOnClose)="close()"  >
                <ng-template #resetFilter class="d-flex ">
                    <div class="row">
                        <div class="col-9">
                            <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
                        </div>
                        <div class="col-3" style="text-align: right;padding-right: 40px;">
                            <a (click)="reloadFillter()"><img src="assets/images/icon/resetFilter.svg"alt=""></a>
                        </div>
                    </div>
                </ng-template>
                <ng-container *nzDrawerContent>
                    <div class="col-12 module-fillter mt-4">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label>Sản phẩm dịch vụ</label>
                                <nz-select [(ngModel)]="queryFilter.product_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn sản phẩm dịch vụ" nzMode="multiple">
                                    <nz-option *ngFor="let item of productList" [nzCustomContent]="true"
                                        [nzValue]="item.id" [nzLabel]="item.name"
                                        #availableArea required>
                                        <div container="body">
                                            {{(item?.name || '') | translate}}
                                            </div>
                                        </nz-option>
                                </nz-select>
                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                            </div>
                            <div class="col-12 mb-2 ">
                                <label>Độ ưu tiên</label>
                                <nz-select [(ngModel)]="queryFilter.priority_ids" nzShowSearch nzAllowClear   nzPlaceHolder="Chọn độ ưu tiên"  nzMode="multiple">
                                    <nz-option *ngFor="let item of ticketPriorityList"  [nzCustomContent]="true"   [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                        <div container="body">
                                            {{(item?.name || '') | translate}}
                                            </div>
                                    </nz-option>
                                </nz-select>
                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                            </div>
                            <div class="col-12 mb-2">
                                <label>Nguồn ticket </label>
                                <nz-select [(ngModel)]="queryFilter.source_ids" nzShowSearch nzAllowClear  nzPlaceHolder="Chọn nguồn ticket" nzMode="multiple">
                                    <nz-option *ngFor="let item of ticketSourceList"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                        <div container="body">
                                            {{(item?.name || '') | translate}}
                                            </div>
                                    </nz-option>
                                </nz-select>
                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                            </div>
                            <div class="col-12 mb-2">
                                <label>Trạng thái</label>
                                <nz-select [(ngModel)]="queryFilter.state_ids" nzShowSearch nzAllowClear  nzPlaceHolder="Trạng thái" nzMode="multiple">
                                    <nz-option *ngFor="let item of ticketStateList"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                        <div container="body">
                                            {{(item?.name || '') | translate}}
                                            </div>
                                    </nz-option>
                                </nz-select>
                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                            </div>
                            <div class="col-12 mb-2 ">
                                <label>Người tạo </label>
                                <nz-select [(ngModel)]="queryFilter.user_create_ids" nzShowSearch nzAllowClear 
                                    nzPlaceHolder="Chọn người tạo" nzMode="multiple">
                                    <nz-option *ngFor="let item of listAssignee"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                        <div container="body">
                                            {{(item?.name || '') | translate}}
                                            </div>
                                    </nz-option>
                                </nz-select>
                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                            </div>
                            <div class="col-12 mb-2 ">
                                <label>Người xử lý </label>
                                <nz-select [(ngModel)]="queryFilter.user_ids" nzShowSearch nzAllowClear 
                                    nzPlaceHolder="Chọn người xử lý" nzMode="multiple">
                                    <nz-option *ngFor="let item of listAssignee"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                        <div container="body">
                                            {{(item?.name || '') | translate}}
                                            </div>
                                    </nz-option>
                                </nz-select>
                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                            </div>
                            <div class="col-12 mb-2 ">
                                <label>Đơn vị tạo</label>
                                <nz-tree-select [nzNodes]="deptList" nzShowSearch nzAllowClear 
                                    nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                    [(ngModel)]="queryFilter.department_handle_id" nzHideUnMatched #treeSelect
                                    [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                </nz-tree-select>
                            </div>
                            <div class="col-12 mb-2 ">
                                <label>Đơn vị xử lý</label>
                                <nz-tree-select [nzNodes]="deptList" nzShowSearch nzAllowClear 
                                    nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                    [(ngModel)]="queryFilter.department_id" nzHideUnMatched #treeSelect2
                                    [nzVirtualHeight]="!treeSelect2.inputValue ? '300px' : ''">
                                </nz-tree-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <button class="btn btn-primary btn-filter" (click)="onFilterData()">ÁP DỤNG</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </nz-drawer>
        </div>
    </div>
</div>
<div class="page-body">
    <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="onChangeIndex($event)">
        <nz-tab nzTitle="Báo cáo yêu cầu nâng cấp tính năng">
            <app-feature-upgrade #feature [queryFilter]="queryFilter"></app-feature-upgrade>
        </nz-tab>
        <nz-tab nzTitle="Báo cáo yêu cầu nâng cấp giao diện">
            <app-interface-upgrade #interface [queryFilter]="queryFilter"></app-interface-upgrade>
        </nz-tab>
    </nz-tabset>
</div>
