.note {
    border: 1px solid #d7d2d2 !important;
    border-radius: 5px;
    padding: 3px 11px;
    width: 100%;
    background: #f5f5f5;
    cursor: not-allowed;
    min-height: 75px;
    color: #cfbfbf;
}