<div class="create-department">
    <div *nzModalTitle>
        <span>{{ (isUpdate ? 'ticket-source.update' : 'ticket-source.create') | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-source.name' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="name" nz-input class=""
                            placeholder="{{ 'ticket-source.name' | translate}}" #availableArea>
                        <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                <small>{{ 'product.error.maxLength' | translate :
                                    {param: LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('pattern')"><small>{{
                                    'product.error.pattern' | translate }}</small> </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-source.type' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select [nzCustomTemplate]="multipleTemplate" nzShowSearch nzAllowClear
                            formControlName="type">
                            <nz-option nzCustomContent nzValue="desktop" nzLabel=" Trình duyệt"><i nz-icon
                                    nzType="desktop"></i> Trình duyệt</nz-option>
                            <nz-option nzCustomContent nzValue="mobile" nzLabel=" Mobile"><i nz-icon nzType="mobile"></i>
                                Mobile</nz-option>
                            <nz-option nzCustomContent nzValue="mail" nzLabel=" Email"><i nz-icon nzType="mail"></i>
                                Email</nz-option>
                        </nz-select>
                        <ng-template #multipleTemplate let-selected>
                            <div class="ant-select-selection-item-content">
                                <i nz-icon [nzType]="selected.nzValue"></i>
                                {{ selected.nzLabel }}
                            </div>
                        </ng-template>
                    </div>
                    <div class="col-12 mb-2" *ngIf="form.get('type')?.value == 'mail'">
                        <label>{{ 'ticket-source.host' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="host" nz-input class=""
                            placeholder="{{ 'ticket-source.host' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('host')?.touched || form.get('host')?.dirty">
                            <span class="text-danger" *ngIf="form.get('host')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2" *ngIf="form.get('type')?.value == 'mail'">
                        <label>{{ 'ticket-source.port' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="port" nz-input class=""
                            placeholder="{{ 'ticket-source.port' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('port')?.touched || form.get('port')?.dirty">
                            <span class="text-danger" *ngIf="form.get('port')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2" *ngIf="form.get('type')?.value == 'mail'">
                        <label>{{ 'ticket-source.username' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="username" nz-input class=""
                            placeholder="{{ 'ticket-source.username' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('username')?.touched || form.get('username')?.dirty">
                            <span class="text-danger" *ngIf="form.get('username')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2" *ngIf="form.get('type')?.value == 'mail'">
                        <div class="col-12" style="position:relative;left:-13px">
                            <label>{{'ticket-source.password' | translate}}
                                <span class="text-danger">*</span>
                            </label>
                            <label *ngIf="isUpdate" style="float: right;position: relative;left: 35px;" (change)="checkPassword($event)" nz-checkbox >Thay đổi password</label>
                        </div>
                        <input  formControlName="password"  nz-input class=""
                            placeholder="{{ 'ticket-source.password' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('password')?.touched || form.get('password')?.dirty">
                            <span class="text-danger" *ngIf="form.get('password')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-source.note' | translate }}
                        </label>
                        <mb-editor [value]="form?.get('note')?.value || ''" (data)="onChangeData('note', $event)"
                            placeholder="{{ 'ticket-source.note' | translate}}"></mb-editor>
                        <span class="text-danger" *ngIf="form.get('note')?.errors?.maxlength">
                            <small>Độ dài tối da 500 ký tự</small>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="modal-footer justify-content-between" *nzModalFooter>
            <div>
                <mbf-button *ngIf="form.get('type')?.value == 'mail'" class="config" id="createBuilding"
                    [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'" [text]="'action.test-config'">
                </mbf-button>
            </div>
            <div class="d-flex">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                    [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [isLoading]="isLoading"  
                    [icon]="isUpdate?'save':'plus-circle'" [shapeType]="'radius'" [text]="isUpdate ? 'Lưu': 'Tạo mới'"
                    (click)="onSubmit()">
                </mbf-button>
            </div>
        </div>
    </div>
</div>