@media (max-width: 630px){ 
    ::ng-deep .ant-modal{
    width: 100%!important;
}
}

@media(max-width:460px){
    .modal-footer{
        display: block !important;
    }
}
.modal-footer{
    display: flex;
}