<div class="page-body mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6>Tạo mới công việc</h6>
                    </div>
                    <div class="card-body">
                        <div class="form">
                            <div class="col-8">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-12 mb-2">
                                            <label>Tiêu đề
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input nz-input class="" formControlName="name" placeholder="Tiêu đề"
                                                #availableArea>
                                            <!-- <ng-container
                                                *ngIf="form.get('title')?.touched || form.get('title')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('title')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.required' | translate }}</small>
                                                </span>
                                                <span class="text-danger" *ngIf="form.get('title')?.errors?.maxlength">
                                                    <small>{{ 'model.ticket.error.ticketTitleMaxLenght' | translate :
                                                        {param: ticketTitleMaxLenght} }}</small>
                                                </span>
                                            </ng-container> -->
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Thuộc ticket
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select formControlName="ticket_id" nzShowSearch nzAllowClear>
                                                <nz-option *ngFor="let item of ticketList" [nzValue]="item.id"
                                                    [nzLabel]="item.title" [ngbTooltip]="item.title">{{item.title}}
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <!-- <label>Phân loại<img src="" alt="">
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select formControlName="type">
                                                <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                                            </nz-select> -->
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label>Độ ưu tiên
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select formControlName="priority" nzShowSearch nzAllowClear>
                                                <nz-option *ngFor="let item of ticketPriorityList" [nzValue]="item.id"
                                                    [nzLabel]="item.name" [ngbTooltip]="item.name">{{item.name}}
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label>Thời gian bắt đầu
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss"
                                                formControlName="start_time" (nzOnOk)="onOk($event)"></nz-date-picker>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label>Thời gian hoàn thành
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss"
                                                formControlName="end_time" (nzOnOk)="onOk($event)"></nz-date-picker>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Ngày công
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input nz-input class="workDay" #availableArea>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label>Người giao việc
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select formControlName="reporter_id" nzShowSearch nzAllowClear>
                                                <nz-option *ngFor="let item of userList" [nzValue]="item.id"
                                                    [nzLabel]="item.name" [ngbTooltip]="item.name">{{item.name}}
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="col-6 mb-2">
                                            <label>Người thực hiện
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select formControlName="assignee_id" nzShowSearch nzAllowClear>
                                                <nz-option *ngFor="let item of userList" [nzValue]="item.id"
                                                    [nzLabel]="item.name" [ngbTooltip]="item.name">{{item.name}}
                                                </nz-option>
                                            </nz-select>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Mô tả
                                            </label>
                                            <mb-editor
                                            [value]="form?.get('description')?.value || ''"
                                            (data)="onChangeData('description', $event)"></mb-editor>

                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>File đính kèm
                                            </label>
                                            <!-- <nz-upload nzType="drag" 
                                            [(nzFileList)]="fileList"
                                            nzAction=""
                                            [nzBeforeUpload]="beforeUpload"
                                            (nzChange)="handleChange($event)"
                                            [nzCustomRequest]="handleUpload"
                                            >
                                                <p class="ant-upload-drag-icon">
                                                    <i nz-icon nzType="inbox"></i>
                                                </p>
                                                <p class="ant-upload-text">Click or drag file to this area to upload</p>
                                                <p class="ant-upload-hint">
                                                    Support for a single or bulk upload. Strictly prohibit from
                                                    uploading company data or other band files
                                                </p>
                                            </nz-upload> -->
                                            <mbf-upload [acceptTypeFiles]="['image']" [key]="'task'"></mbf-upload>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-8">
                                <div class="d-flex justify-content-end">
                                    <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                        [shapeType]="'radius'" [text]="'action.cancel'" (click)="onCancel()">
                                    </mbf-button>
                                    <mbf-button id="createBuilding" [type]="'primary'" [icon]="'plus-circle'"
                                        [shapeType]="'radius'" [text]="'action.create'" (click)="onSubmit()">
                                    </mbf-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>