<div class="page-body mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6>{{isUpdate ? (detailTrigger ?'Chi tiết trigger' :'Cập nhật trigger') : 'Tạo mới Trigger'}}</h6>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="empForm">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label>{{ 'model.trigger.headingCreate' | translate }}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input formControlName="title" nz-input class="" (ngModelChange)="checkTitle()"
                                        placeholder="{{ 'model.trigger.headingCreate' | translate }}" #availableArea
                                        required>
                                    <ng-container *ngIf="empForm.get('title')?.touched || empForm.get('title')?.dirty  && !errorTitle">
                                        <span class="text-danger" *ngIf="empForm.get('title')?.hasError('required')">
                                            <small>{{ 'model.ticket.error.required' | translate }}</small>
                                        </span>
                                        <span class="text-danger" *ngIf="empForm.get('title')?.hasError('maxlength')">
                                            <small>{{ 'model.trigger.error.maxLength' | translate:
                                                {param:lengthValidator.TITLE_MAX_LENGTH.MAX} }}</small>
                                        </span>
                                    </ng-container>
                                    <small class="text-danger" *ngIf="errorTitle">
                                        {{ 'model.ticket.error.requiredTitle' | translate }}
                                    </small>
                                </div>

                                <div class="col-12 mb-2">
                                    <label>{{ 'model.trigger.description' | translate }}
                                    </label>
                                    <mb-editor [placeholder]="'Viết nội dung mô tả'" [isReadOnly]="detailTrigger"
                                        [maxLength]="lengthValidator.TICKET_DESCRIPTION_LENGTH.MAX"
                                        [value]="empForm?.get('descriptions')?.value || ''"
                                        (data)="onChangeData('descriptions', $event, null)">
                                    </mb-editor>
                                    <ng-container
                                        *ngIf="empForm.get('descriptions')?.touched || empForm.get('descriptions')?.dirty">
                                        <span class="text-danger"
                                            *ngIf="empForm.get('descriptions')?.hasError('maxlength')">
                                            <small>{{ 'model.trigger.error.maxLength' | translate:
                                                {param:lengthValidator.TICKET_DESCRIPTION_LENGTH.MAX} }}</small>
                                        </span>
                                    </ng-container>
                                </div>

                                <div class="col-12 my-2" formArrayName="conditions">
                                    <div class="title">{{ 'model.trigger.conditions' | translate}} <span
                                            class="text-danger"> *</span>
                                        <p>Các điều kiện phải được đáp ứng cho trigger để chạy</p>
                                    </div>
                                    <div class="condition-group"
                                        *ngFor="let condition of conditions().controls; let empIndex=index">
                                        <div [formGroupName]="empIndex">
                                            <div class="layer-group" *ngIf="empIndex > 0">
                                                <input type="checkbox" id="switch" class="checkbox" [(ngModel)]="all"
                                                    [disabled]="action==eventView?true:false"
                                                    [ngModelOptions]="{standalone: true}" />
                                                <label for="switch" class="toggle"
                                                    [attr.data-content]="all?'VÀ':'HOẶC'">
                                                    <p>VÀ <span style="margin-right: 27px"></span> HOẶC</p>
                                                </label>
                                            </div>
                                            <div class="card">

                                                <div class="card-header">
                                                    <nz-radio-group formControlName="match_type">
                                                        <label nz-radio nzValue="all">Ticket đáp ứng <b>TẤT CẢ
                                                            </b>điều
                                                            kiện
                                                            phía dưới </label>
                                                        <label nz-radio nzValue="any">Ticket đáp ứng <b>MỘT TRONG
                                                                CÁC</b>
                                                            điều
                                                            kiện phía dưới</label>
                                                    </nz-radio-group>
                                                </div>
                                                <div class="card-body" formArrayName="properties">
                                                    <div
                                                        *ngFor="let skill of subConditions(empIndex).controls; let skillIndex=index">
                                                        <div [formGroupName]="skillIndex">
                                                            <div class="layer" *ngIf="skillIndex>0">
                                                                <div class="line simple"></div>
                                                                <div class="top_a">
                                                                    {{'model.trigger.'+
                                                                    getRelationshipCondition(empIndex)
                                                                    |translate}}</div>
                                                            </div>
                                                            <div [style]="'min-height:'+ 60 +'px;'">
                                                                <div class="col-lg-6 col-md-10 float-left">
                                                                    <div class="row">
                                                                        <div class="col-lg-10 col-md-12 mb-2">
                                                                            <label>{{ 'model.trigger.conditions' |
                                                                                translate}}
                                                                                <span class="text-danger">*</span>
                                                                            </label>
                                                                            <nz-select
                                                                                nzPlaceHolder="{{ 'model.trigger.chooseConditions' | translate }}"
                                                                                nzAllowClear removeOptionTitle
                                                                                formControlName="field_name"
                                                                                (ngModelChange)="chooseConditions($event,empIndex,skillIndex)">
                                                                                <nz-option
                                                                                    *ngFor="let item of conditionList"
                                                                                    [nzCustomContent]="true"
                                                                                    [nzLabel]="(item?.display_name || '') | translate"
                                                                                    [nzValue]="item?.key">
                                                                                    <div container="body">
                                                                                        {{(item?.display_name || '')
                                                                                        |
                                                                                        translate}}
                                                                                    </div>
                                                                                </nz-option>
                                                                            </nz-select>
                                                                            <ng-container
                                                                                *ngIf="skill.get('field_name')?.touched || skill.get('field_name')?.dirty">
                                                                                <span class="text-danger"
                                                                                    *ngIf="skill.get('field_name')?.errors?.required">
                                                                                    <small>{{
                                                                                        'model.trigger.error.required'
                                                                                        |
                                                                                        translate}}</small>
                                                                                </span>
                                                                            </ng-container>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-6 col-md-12 float-left">
                                                                    <div class="row">
                                                                        <div class="col-10 mb-2">
                                                                            <ng-container
                                                                                *ngIf="skill.value.field_name">
                                                                                <label>{{
                                                                                    'model.trigger.operators' |
                                                                                    translate}}
                                                                                    <span class="text-danger">*</span>
                                                                                </label>
                                                                                <nz-select
                                                                                    nzPlaceHolder="{{ 'model.trigger.chooseOperators' | translate }}"
                                                                                    nzAllowClear removeOptionTitle
                                                                                    formControlName="operator">
                                                                                    <nz-option
                                                                                        *ngFor="let item of operatorList[empIndex][skillIndex]"
                                                                                        [nzCustomContent]="true"
                                                                                        [nzLabel]="(item?.name || '') | translate"
                                                                                        [nzValue]="item?.key">
                                                                                        <div container="body">
                                                                                            {{(item?.name || '') |
                                                                                            translate}}
                                                                                        </div>
                                                                                    </nz-option>
                                                                                </nz-select>
                                                                                <ng-container
                                                                                    *ngIf="skill.get('operator')?.touched || skill.get('operator')?.dirty">
                                                                                    <span class="text-danger"
                                                                                        *ngIf="skill.get('operator')?.errors?.required">
                                                                                        <small>{{
                                                                                            'model.trigger.error.required'
                                                                                            |
                                                                                            translate}}</small>
                                                                                    </span>
                                                                                </ng-container>
                                                                            </ng-container>
                                                                        </div>
                                                                        <div class="col-2 text-right"
                                                                            *ngIf="empIndex!=0||subConditions(empIndex).controls.length!=1">
                                                                            <button class="btn"
                                                                                [disabled]="action === eventView"
                                                                                (click)="removeSubCondition(empIndex,skillIndex)">
                                                                                <img src="assets/images/icon/deleteSLA.svg"
                                                                                    alt="circle-plus-icon" srcset=""
                                                                                    class="delete-all" /></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="pl-3 pr-3" *ngIf="skill.value.field_name">
                                                                    <label>{{ 'model.trigger.correspondCondition' |
                                                                        translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <ng-container
                                                                        *ngIf="edit_type[empIndex][skillIndex].value==triggerEditType.SINGER_SELECT ||
                                                                                        edit_type[empIndex][skillIndex].value==triggerEditType.MULTI_SELECT">

                                                                        <nz-select formControlName="value"
                                                                            *ngIf="edit_type[empIndex][skillIndex].option_type=='flat' &&
                                                                            edit_type[empIndex][skillIndex].options_source=='offline'"
                                                                            [ngClass]="'col-10 input-value'"
                                                                            nzPlaceHolder="{{ 'model.trigger.chooseCorrespondCondition' | translate }}"
                                                                            [nzMode]="edit_type[empIndex][skillIndex].value==triggerEditType.SINGER_SELECT ? 'default':'multiple'">
                                                                            <nz-option
                                                                                *ngFor="let item of optionList[empIndex][skillIndex]"
                                                                                [nzValue]="item?.value"
                                                                                [nzLabel]="(item?.label|| '') | translate">
                                                                            </nz-option>
                                                                        </nz-select>
                                                                        {{skill.get('field_name')?.value}}
                                                                        <ng-container
                                                                            *ngIf="edit_type[empIndex][skillIndex].option_type=='flat'&&
                                                                        edit_type[empIndex][skillIndex].options_source=='online'">
                                                                            <nz-select formControlName="value"
                                                                                [ngClass]="'col-10 input-value'"
                                                                                nzPlaceHolder="{{ 'model.trigger.chooseCorrespondCondition' | translate }}"
                                                                                [nzMode]="edit_type[empIndex][skillIndex].value==triggerEditType.SINGER_SELECT ? 'default':'multiple'"
                                                                                nzServerSearch nzShowSearch
                                                                                [nzDropdownRender]="renderTemplateCondition"
                                                                                (nzOnSearch)="selectSearchUpdate[empIndex][skillIndex].next({value:$event,option:skill.get('field_name')?.value})"
                                                                                (nzScrollToBottom)="loadMore(empIndex,skillIndex,skill.get('field_name')?.value)">
                                                                                <nz-option
                                                                                    *ngFor="let item of optionList[empIndex][skillIndex]"
                                                                                    [nzValue]="item?.value"
                                                                                    [nzLabel]="(item?.label|| '') | translate">
                                                                                </nz-option>
                                                                            </nz-select>
                                                                            <ng-template #renderTemplateCondition>
                                                                            <nz-spin *ngIf="isLoadingCondition[empIndex][skillIndex]"></nz-spin>
                                                                            </ng-template>
                                                                        </ng-container>

                                                                        <nz-tree-select
                                                                            *ngIf="edit_type[empIndex][skillIndex].option_type=='tree'&&
                                                                            edit_type[empIndex][skillIndex].options_source=='offline'"
                                                                            [nzNodes]="optionList[empIndex][skillIndex]"
                                                                            nzShowSearch nzCheckable
                                                                            nzPlaceHolder="{{ 'model.trigger.chooseCorrespondCondition' | translate }}"
                                                                            #treeSelect
                                                                            [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
                                                                            [nzHideUnMatched]="true"
                                                                            formControlName="value">
                                                                        </nz-tree-select>

                                                                    </ng-container>
                                                                    <input nz-input
                                                                        *ngIf="edit_type[empIndex][skillIndex].value==triggerEditType.INPUT_TEXT"
                                                                        [ngClass]="'col-lg-11 col-md-10 input-value'"
                                                                        placeholder="{{ 'model.trigger.chooseCorrespondCondition' | translate }}"
                                                                        formControlName="value" />

                                                                    <div class="col-12 p-0"
                                                                        *ngIf="skill.get('value')?.touched || skill.get('value')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="skill.get('value')?.errors?.required">
                                                                            <small>{{
                                                                                'model.trigger.error.required' |
                                                                                translate}}</small>
                                                                        </span>
                                                                        <span class="text-danger"
                                                                            *ngIf="skill.get('value')?.hasError('maxlength')">
                                                                            <small>{{ 'model.trigger.error.maxLength' |
                                                                                translate:
                                                                                {param:lengthValidator.TITLE_MAX_LENGTH.MAX}
                                                                                }}</small>
                                                                        </span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-footer add-condition w-100 text-center mb-3">
                                                    <a nz-button nzType="link" class="bg-white text-uppercase"
                                                        [disabled]="detailTrigger" *ngIf="isShowCondition "
                                                        (click)="addSubCondition(empIndex)">
                                                        <img src="assets/images/icon/circle-plus-primary.svg"
                                                            alt="circle-plus-primary-icon" srcset="" />
                                                        <span class="ml-2">Thêm điều kiện mới</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin:20px 5px 20px">
                                        <button nz-button nzType="link" class="text-uppercase w-9"
                                            style="border:1px solid #0060AF ;" [disabled]="detailTrigger"
                                            *ngIf="isShowCondition && conditions().controls.length  ==1"
                                            (click)="addConditionForm()">
                                            <img src="assets/images/icon/circle-plus-primary.svg"
                                                alt="circle-plus-primary-icon" srcset="" />
                                            <span class="ml-2">Thêm điều kiện</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-12 my-2 actions" formArrayName="actions">
                                    <div class="title">{{ 'model.trigger.actions' | translate }}</div>
                                    <div class="card condition">
                                        <div class="card-body box-condition"
                                            *ngFor="let box of actions().controls; let empIndex=index">
                                            <div class="layer m-0" *ngIf="empIndex>0">
                                                <div class="line simple m-0"></div>
                                            </div>
                                            <ng-container [formGroupName]="empIndex">
                                                <div class="row mt-3 mb-2"
                                                    [ngSwitch]="actionCondition[empIndex]?.edit_type">
                                                    <div class="col-lg-6 col-md-10 mb-2">
                                                        <label>{{ 'model.trigger.action' | translate }} <span
                                                                class="text-danger">*</span>
                                                        </label>
                                                        <nz-select
                                                            nzPlaceHolder="{{ 'model.trigger.chooseAction' | translate }}"
                                                            nzAllowClear formControlName="action"
                                                            (ngModelChange)="onChangeAction($event,null,empIndex)">
                                                            <nz-option *ngFor="let item of actionList"
                                                                [nzValue]="item?.key"
                                                                [nzLabel]="(item?.display_name || '') | translate">
                                                            </nz-option>
                                                        </nz-select>
                                                        <ng-container
                                                            *ngIf="box.get('action')?.touched || box.get('action')?.dirty">
                                                            <span class="text-danger"
                                                                *ngIf="box.get('action')?.errors?.required">
                                                                <small>{{
                                                                    'model.trigger.error.required' |
                                                                    translate}}</small>
                                                            </span>
                                                        </ng-container>
                                                    </div>
                                                    <div class="col-lg-6 col-md-12">
                                                        <div class="row">
                                                            <div class="col-10">
                                                                <ng-container
                                                                    *ngSwitchCase="triggerEditType.SINGER_SELECT||triggerEditType.MULTI_SELECT">
                                                                    <ng-container *ngIf="box.value.action">
                                                                        <label>{{
                                                                            'model.trigger.correspondCondition' |
                                                                            translate}}
                                                                            <span class="text-danger">*</span>
                                                                        </label>
                                                                        <nz-select formControlName="value"
                                                                            (ngModelChange)="onChangeValueAction(empIndex, $event)"
                                                                            *ngIf="actionCondition[empIndex]?.option_display_type=='flat'"
                                                                            [nzPlaceHolder]="actionCondition[empIndex]?.prompt"
                                                                            nzAllowClear
                                                                            [nzMode]="actionCondition[empIndex]?.edit_type == 'single-select' ? 'default':actionCondition[empIndex]?.edit_type"
                                                                            [nzDisabled]="empForm.get('actions')?.disabled">
                                                                            <nz-option
                                                                                *ngFor="let item of actionCondition[empIndex]?.options"
                                                                                [nzValue]="item?.value"
                                                                                [nzLabel]="(item?.label|| '') | translate">
                                                                            </nz-option>
                                                                        </nz-select>
                                                                        <nz-tree-select
                                                                            *ngIf="actionCondition[empIndex]?.option_display_type=='tree'"
                                                                            [nzNodes]="actionCondition[empIndex]?.options?.length ? actionCondition[empIndex]?.options:[]"
                                                                            nzShowSearch
                                                                            [nzPlaceHolder]="actionCondition[empIndex]?.prompt"
                                                                            #treeSelect
                                                                            [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
                                                                            [nzHideUnMatched]="true"
                                                                            formControlName="value">
                                                                        </nz-tree-select>
                                                                        <ng-container
                                                                            *ngIf="box.get('value')?.touched || box.get('value')?.dirty">
                                                                            <span class="text-danger"
                                                                                *ngIf="box.get('value')?.errors?.required">
                                                                                <small>{{
                                                                                    'model.trigger.error.required' |
                                                                                    translate}}</small>
                                                                            </span>
                                                                        </ng-container>
                                                                    </ng-container>
                                                                </ng-container>
                                                            </div>
                                                            <div class="col-2 text-right"
                                                                *ngIf="empIndex!=0||actions().controls.length!=1">
                                                                <button class="btn" [disabled]="action === eventView">
                                                                    <img src="assets/images/icon/deleteSLA.svg"
                                                                        alt="circle-plus-icon" srcset=""
                                                                        class="delete-all"
                                                                        (click)="removeAction(empIndex)" /></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- INPUT_TEXT -->
                                                    <div class="row" *ngSwitchCase="triggerEditType.INPUT_TEXT">
                                                        <div class="col-12"
                                                            *ngIf="box.value.action && actionCondition[empIndex]?.key==triggerKey.SET_TICKET_NOTE">
                                                            <label>{{ 'model.trigger.content' |
                                                                translate}}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <mb-editor [placeholder]="actionCondition[empIndex]?.prompt"
                                                                [maxLength]="lengthValidator.TICKET_DESCRIPTION_LENGTH.MAX"
                                                                [value]="box?.get('value')?.value || ''"
                                                                (data)="onChangeData('value', $event, empIndex)">
                                                            </mb-editor>
                                                            <ng-container
                                                                *ngIf="box.get('value')?.touched || box.get('value')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="box.get('value')?.hasError('required')">
                                                                    <small>{{ 'model.trigger.error.required' |
                                                                        translate
                                                                        }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="box.get('value')?.hasError('maxlength')">
                                                                    <small>{{ 'model.trigger.error.maxLength' |
                                                                        translate:
                                                                        {param:lengthValidator.TICKET_DESCRIPTION_LENGTH.MAX}
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </div>
                                                    </div>
                                                    <div class="row" *ngSwitchCase="triggerEditType.MAIL_FORM">
                                                        <ng-container formGroupName="value">
                                                            <ng-container
                                                                *ngIf="box.value.action && actionCondition[empIndex]?.key==triggerKey.MAIL_STAFF">
                                                                <div class="col-12">
                                                                    <label>{{ 'model.trigger.mail_from' |
                                                                        translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <nz-select
                                                                        nzPlaceHolder="{{ 'model.trigger.chooseAction' | translate }}"
                                                                        nzAllowClear formControlName="fwd_to">
                                                                        <nz-option
                                                                            *ngFor="let item of actionCondition[empIndex]?.options"
                                                                            [nzValue]="item?.value"
                                                                            [nzLabel]="(item?.label|| '') | translate">
                                                                        </nz-option>
                                                                    </nz-select>
                                                                    <ng-container
                                                                        *ngIf="box.get('value.fwd_to')?.touched || box.get('value.fwd_to')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="box.get('value.fwd_to')?.hasError('required')">
                                                                            <small>{{ 'model.trigger.error.required'
                                                                                |
                                                                                translate }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>{{ 'model.trigger.mail_title' |
                                                                        translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input formControlName="fwd_title" nz-input class=""
                                                                        placeholder="" #availableArea required>
                                                                    <ng-container
                                                                        *ngIf="box.get('value.fwd_title')?.touched || box.get('value.fwd_title')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="box.get('value.fwd_title')?.hasError('required')">
                                                                            <small>{{ 'model.trigger.error.required'
                                                                                |
                                                                                translate }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                    <span class="text-danger"
                                                                        *ngIf="box.get('value.fwd_note_body')?.hasError('maxlength')">
                                                                        <small>{{ 'model.trigger.error.maxLength' |
                                                                            translate:
                                                                            {param:lengthValidator.TICKET_TITLE_LENGTH.MAX}
                                                                            }}</small>
                                                                    </span>
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>{{ 'model.trigger.content' |
                                                                        translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <mb-editor
                                                                        [maxLength]="lengthValidator.TICKET_DESCRIPTION_LENGTH.MAX"
                                                                        [placeholder]="'model.trigger.contentPlacehoder'|translate"
                                                                        [value]="box?.get('value.fwd_note_body')?.value || ''"
                                                                        (data)="onChangeData('value.fwd_note_body', $event, empIndex)">
                                                                    </mb-editor>
                                                                    <ng-container
                                                                        *ngIf="box.get('value.fwd_note_body')?.touched || box.get('value.fwd_note_body')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="box.get('value.fwd_note_body')?.hasError('required')">
                                                                            <small>{{ 'model.trigger.error.required'
                                                                                | translate
                                                                                }}</small>
                                                                        </span>
                                                                        <span class="text-danger"
                                                                            *ngIf="box.get('value.fwd_note_body')?.hasError('maxlength')">
                                                                            <small>{{
                                                                                'model.trigger.error.maxLength' |
                                                                                translate:
                                                                                {param:lengthValidator.TICKET_DESCRIPTION_LENGTH.MAX}
                                                                                }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                    <div class="row" *ngSwitchCase="triggerEditType.SMS_FORM">
                                                        <ng-container formGroupName="value">
                                                            <ng-container
                                                                *ngIf="box.value.action && actionCondition[empIndex]?.key==triggerKey.SMS_STAFF">
                                                                <div class="col-12">
                                                                    <label>{{ 'model.trigger.mail_from' |
                                                                        translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <nz-select
                                                                        nzPlaceHolder="{{ 'model.trigger.chooseAction' | translate }}"
                                                                        nzAllowClear formControlName="fwd_to">
                                                                        <nz-option
                                                                            *ngFor="let item of actionCondition[empIndex]?.options"
                                                                            [nzValue]="item?.value"
                                                                            [nzLabel]="(item?.label|| '') | translate">
                                                                        </nz-option>
                                                                    </nz-select>
                                                                    <ng-container
                                                                        *ngIf="box.get('value.fwd_to')?.touched || box.get('value.fwd_to')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="box.get('value.fwd_to')?.hasError('required')">
                                                                            <small>{{ 'model.trigger.error.required'
                                                                                |
                                                                                translate }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="col-12">
                                                                    <label>{{ 'model.trigger.sms_content' |
                                                                        translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <input formControlName="fwd_note_body" nz-input
                                                                        class="" placeholder="" #availableArea required>
                                                                    <ng-container
                                                                        *ngIf="box.get('value.fwd_note_body')?.touched || box.get('value.fwd_note_body')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="box.get('value.fwd_note_body')?.hasError('required')">
                                                                            <small>{{ 'model.trigger.error.required'
                                                                                |
                                                                                translate }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                    <span class="text-danger"
                                                                        *ngIf="box.get('value.fwd_note_body')?.hasError('maxlength')">
                                                                        <small>{{ 'model.trigger.error.maxLength' |
                                                                            translate:
                                                                            {param:lengthValidator.SMS_CONTENT.MAX}
                                                                            }}</small>
                                                                    </span>
                                                                </div>
                                                            </ng-container>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                        <div class="card-footer add-condition w-100 text-center mb-3">
                                            <a nz-button nzType="link" class="border-0 bg-white text-uppercase"
                                                [disabled]="detailTrigger" *ngIf="isShowCondition"
                                                (click)="addActionForm()">
                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                    alt="circle-plus-primary-icon" srcset="" />
                                                <span class="ml-2">Thêm hành động</span>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </form>

                        <div class="row mt-3">
                            <div class="d-flex justify-content-end" *ngIf="action != 'detail'">
                                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                    [shapeType]="'radius'" [text]="'action.cancel'" (click)="onCancel()">
                                </mbf-button>
                                <mbf-button id="createBuilding" [type]="'primary'" [icon]="'plus-circle'"
                                    [shapeType]="'radius'" [text]="'action.create'" (click)="onSubmit()"
                                    *ngIf="!isUpdate">
                                </mbf-button>
                                <mbf-button id="createBuilding" [type]="'primary'" [icon]="'save'" *ngIf="isUpdate"
                                    [shapeType]="'radius'" [disabled]="detailTrigger" [text]="'action.save'"
                                    (click)="onSubmit()"></mbf-button>
                            </div>
                            <div class="d-flex justify-content-end" *ngIf="action == 'detail'">
                                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                [shapeType]="'radius'" [text]="'action.close'" (click)="onCancel()">
                            </mbf-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>