.box-condition {
    background: #F4F5FA;
    padding: 20px 24px 7px
}
.actions .box-condition{
    padding: 0 24px;
}

.add-condition {
    border-radius: 0px 0px 8px 8px;
    height: 40px;
    background: #fff;
}

.title {
    font-size: 16px;
    color: rgba(33, 33, 33, 0.85);
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 10px;
    font-family: 'Roboto';
}

.title p {
    color: #757575;
    margin-top: 8px;
}

.card-header {
    min-height: 52px;
    height: unset;
    background: #fff !important;
}

.card-header b {
    color: rgba(33, 33, 33, 0.85);
}

.card-header label {
    font-size: 14px !important;
    margin-right: 40px;
}

.layer {
    margin-top: 10px;
    margin-bottom: 10px;
}


.line.simple {
    width: 100%;
    height: 0px;
    display: block;
    position: relative;
    border-style: solid;
    border-color: #E0E0E0;
    border-width: 1px 0 0 0;
    float: left;
    margin: 15px 0 24px;
}

.top_a {
    padding: 0 16px;
    text-align: center;
    position: absolute;
    left: 48%;
    white-space: nowrap;
    background: #F4F5FA;
    color: #757575;
}

.ant-btn {
    border-radius: 71px;
}

.layer-group {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

::ng-deep .condition-group .ant-switch {
    min-width: 90px;
    min-height: 34px;
}

::ng-deep .condition-group .ant-switch-handle {
    width: 34px;
    height: 32px;
    top: 1px;
}

::ng-deep .condition-group .ant-switch-handle::before {
    border-radius: 50px;
    bottom: 0;
}

::ng-deep .condition-group .ant-switch-inner {
    margin-left: 0;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.condition-group .card-body {
    background: #F4F5FA;
}

.condition-group {
    margin-bottom: 32px;
}
//@at-root
.toggle {
    position : relative ;
    display : inline-block;
    width : 107px;
    height : 36px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #1672EC;
}
       
/* After slide changes */
.toggle:after {
    content: attr(data-content);
    position: absolute;
    width: 58px;
    height: 35px;
    border-radius: 100px;
    background-color: #1672EC;
    top: -1px;
    left: 1px;
    transition:  all 0.5s;
    padding: 9px 8px;
    color: #fff;
}
       
/* Toggle text */
.layer-group p {
    font-weight: 500;
    margin: 9px 0 9px 8px;
}
       
/* Checkbox checked effect */
.checkbox:not(:checked) + .toggle::after {
    left : 46px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: #fff;
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}
:host ::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: unset;
  }
  ::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
.input-value{
    height: 30px;
}