.content {
  color: #282828;
}

.btn-cancel {
  color: #9E9E9E !important;
  background: #F4F5FA !important;
}

.btn-cancel:hover {
  border-color: #9E9E9E !important;
}

:host ::ng-deep .ant-modal-header {
  padding: 16px 14px !important;
  background-color: #fff;
}

.ant-modal-footer .ant-btn+.ant-btn {
  background-color: #ED1C24 !important;
  color: white !important;
}

::ng-deep .ant-btn-lock button {
  background: red !important;
  color: #ffffff;
  border: 1px solid red !important;
}
textarea, textarea:focus-visible{
  border: 1px solid #d9d9d9!important;
  border-radius: 5px!important;
  padding: 5px 7px;
}