<div class="create-department modal-delete" [style]="{ top: '20px' }">
    <div *nzModalTitle class="modal-title">
        <span>{{title}}</span>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="content" [innerHTML]="showContent()"></p>
        </div>
        <div class="col-12">
            <label for=""><span *ngIf="okText=='close'">Người hủy</span> <span *ngIf="okText == 'open'">Người mở</span> <span *ngIf="okText == 'assign'">Người chuyển</span> : </label><span *ngIf="okText=='close'"> {{requirer}}</span>
            <span *ngIf="okText == 'open' || okText == 'assign'"> {{requirer}}</span>
        </div>
        <div class="col-12">
            <label for="">Lý do
                <span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-12">
            <textarea id="" [(ngModel)]="cancellation_reason" (ngModelChange)="onChangeReason($event)" class="w-100"
                rows="5" placeholder="" [(ngModel)]="note">
            </textarea>
                <span class="text-danger" *ngIf="checkReason">
                    <small *ngIf="okText=='close'">Lí do hủy ticket không được để trống.</small>
                    <small *ngIf="okText == 'open'">Lí do mở ticket không được để trống.</small>
                    <small *ngIf="okText == 'assign'">Lí do chuyển ticket không được để trống.</small>
                </span>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container>
                <!-- <button nz-button nzType="primary" class="btn-radius btn-cancel mr-2" (click)="cancel()"
                    nzShape="round">
                    QUAY LẠI</button>
                <button nz-button  class="btn-radius" style="justify-content:space-evenly"
                    (click)="handle()" nzShape="round">
                    HỦY TICKET</button> -->
                <mbf-button id="createBuilding" (click)="cancel()" [customClass]="'mr-2'" [type]="'default'" 
                    [shapeType]="'radius'" [text]="'QUAY LẠI'" nzShape="round"></mbf-button>
                <mbf-button class="ant-btn-lock" [shapeType]="'radius'" [text]="'HỦY TICKET'" (click)="handle()" *ngIf="okText=='close'"
                    nzShape="round"></mbf-button>
                    <mbf-button class="ant-btn-open" [shapeType]="'radius'" [text]="'MỞ LẠI TICKET'" (click)="handle()" *ngIf="okText == 'open'"
                    nzShape="round"></mbf-button>
                    <mbf-button class="ant-btn-open" [shapeType]="'radius'" [text]="'CHUYỂN HELPDESK'" (click)="handle()" *ngIf="okText == 'assign'"
                    nzShape="round"></mbf-button>
            </ng-container>
        </div>
    </div>
</div>