<div class="page-body create-sla-internal">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card">
                    <div class="card-body ">
                        <div class="page-title">
                            <h5>{{ (idSlaInternal ? disableForm?'Chi tiết SLA nội bộ':'Cập nhật SLA nội bộ' :
                                disableForm?'Chi tiết SLA nội bộ':'Tạo mới SLA nội bộ ') | translate }}</h5>
                        </div>
                        <div class="form">
                            <form [formGroup]="form">
                                <div class="row">
                                    <div class="col-8 mb-2">
                                        <label>SLA : {{nameSla.title}}
                                        </label>
                                    </div>
                                    <div class="col-8 mb-2">
                                        <label>WorkFlow : {{nameWordflow.name}}
                                        </label>
                                    </div>
                                    <div class="col-12 mb-5">
                                        <label>Đặt mục tiêu SLA nội bộ trong giờ hành chính là:
                                        </label>
                                        <nz-table [nzData]="listdetailWorkflow" class="table-responsive"
                                            *ngIf="!showSLA">
                                            <thead>
                                                <tr>
                                                    <th>Độ ưu tiên</th>
                                                    <th>Tổng thời gian</th>
                                                    <th *ngFor=" let item of listdetailWorkflow" class="text-center">
                                                        <span>{{item.name}}</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="target0">
                                                <tr *ngFor="let condition of target0()?.controls; let empIndex=index">
                                                    <ng-container [formGroupName]="empIndex">
                                                        <td>
                                                            <input nz-input
                                                                [style.background]="getColorSla(condition) + '!important'"
                                                                [style.color]="'#fff'"
                                                                formControlName="ticket_priority_name" class="tag">
                                                        </td>
                                                        <td>
                                                            <div class="d-flex sum-time">
                                                                <input nz-input formControlName="resolution_time_d">
                                                                <span *ngIf="getD(condition)">ngày</span>
                                                                <input nz-input formControlName="resolution_time_h">
                                                                <span *ngIf="getG(condition)">giờ</span>
                                                                <input nz-input formControlName="resolution_time_m">
                                                                <span *ngIf="getM(condition)"> phút</span>
                                                            </div>
                                                        </td>
                                                        <ng-container formArrayName="steps">
                                                            <td
                                                                *ngFor="let skill of subConditions(empIndex).controls; let skillIndex=index">

                                                                <div [formGroupName]="skillIndex">
                                                                    <div class="d-flex responsetime">
                                                                        <div class="w-80">
                                                                            <nz-input-number nz-input type="number"
                                                                                class="br-0 brl" [nzMin]="0" numbersOnly
                                                                                formControlName="resolution_time_d">
                                                                            </nz-input-number>
                                                                            <p class="text-center mt-1">Ngày</p>
                                                                        </div>
                                                                        <div class="w-80">
                                                                            <nz-input-number nz-input type="number"
                                                                                formControlName="resolution_time_h"
                                                                                class="br-0" [nzMin]="0" numbersOnly
                                                                                [nzMax]="24"></nz-input-number>
                                                                            <p class="text-center mt-1">Giờ</p>
                                                                        </div>
                                                                        <div class="w-80">
                                                                            <nz-input-number nz-input type="number"
                                                                                formControlName="resolution_time_m"
                                                                                class=" brr" [nzMin]="0" numbersOnly
                                                                                [nzMax]="59"></nz-input-number>
                                                                            <p class="text-center mt-1">Phút</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                        </ng-container>
                                                        <p class="error-time" *ngIf="showError[empIndex]"> Tổng thời
                                                            gian của các level phải nhỏ hơn hoặc bằng tổng thời
                                                            gian SLA</p>
                                                    </ng-container>

                                                </tr>

                                            </tbody>
                                        </nz-table>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label>Đặt mục tiêu SLA nội bộ ngoài giờ hành chính là:
                                        </label>
                                        <nz-table [nzData]="listdetailWorkflow" class="table-responsive"
                                            *ngIf="!showSLA">
                                            <thead>
                                                <tr>
                                                    <th>Độ ưu tiên</th>
                                                    <th>Tổng thời gian</th>
                                                    <th *ngFor=" let item of listdetailWorkflow" class="text-center">
                                                        <span>{{item.name}}</span>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody formArrayName="target1">
                                                <tr *ngFor="let condition of target1()?.controls; let empIndex=index">
                                                    <ng-container [formGroupName]="empIndex">
                                                        <td>
                                                            <input nz-input
                                                                [style.background]="getColorSla(condition) + '!important'"
                                                                [style.color]="'#fff'"
                                                                formControlName="ticket_priority_name" class="tag">
                                                        </td>
                                                        <td>
                                                            <div class="d-flex sum-time">
                                                                <input nz-input formControlName="resolution_time_d">
                                                                <span *ngIf="getD(condition)">ngày</span>
                                                                <input nz-input formControlName="resolution_time_h">
                                                                <span *ngIf="getG(condition)">giờ</span>
                                                                <input nz-input formControlName="resolution_time_m">
                                                                <span *ngIf="getM(condition)"> phút</span>
                                                            </div>
                                                        </td>
                                                        <ng-container formArrayName="steps">
                                                            <td
                                                                *ngFor="let skill of subConditions1(empIndex).controls; let skillIndex=index">

                                                                <div [formGroupName]="skillIndex">
                                                                    <div class="d-flex responsetime">
                                                                        <div class="w-80">
                                                                            <nz-input-number nz-input type="number"
                                                                                class="br-0 brl" [nzMin]="0" numbersOnly
                                                                                formControlName="resolution_time_d">
                                                                            </nz-input-number>
                                                                            <p class="text-center mt-1">Ngày</p>
                                                                        </div>
                                                                        <div class="w-80">
                                                                            <nz-input-number nz-input type="number"
                                                                                formControlName="resolution_time_h"
                                                                                class="br-0" [nzMin]="0" numbersOnly
                                                                                [nzMax]="24"></nz-input-number>
                                                                            <p class="text-center mt-1">Giờ</p>
                                                                        </div>
                                                                        <div class="w-80">
                                                                            <nz-input-number nz-input type="number"
                                                                                formControlName="resolution_time_m"
                                                                                class=" brr" [nzMin]="0" numbersOnly
                                                                                [nzMax]="59"></nz-input-number>
                                                                            <p class="text-center mt-1">Phút</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>

                                                        </ng-container>
                                                        <p class="error-time" *ngIf="showError1[empIndex]"> Tổng thời
                                                            gian của các level phải nhỏ hơn hoặc bằng tổng thời
                                                            gian SLA</p>
                                                    </ng-container>

                                                </tr>

                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12 mt-5">
                                <div class="d-flex justify-content-end">
                                    <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                        [shapeType]="'radius'" [text]="'action.close'" (click)="onCancel()" *ngIf="disableForm">
                                    </mbf-button>
                                    <mbf-button id="createBuilding" [type]="'primary'"
                                        [icon]="idSlaInternal?'save':'plus-circle'" [shapeType]="'radius'"
                                        [text]="idSlaInternal ? 'action.save': 'action.create'" *ngIf="!disableForm"
                                        (click)="onSubmit()">
                                    </mbf-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>