<div class="create-user">
    <div *nzModalTitle>
        <span>{{ 'model.user.group-user.addGroup' | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.group-user.userGroup' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <!-- <input formControlName="userGroupIds" nz-input class="" placeholder="Nhóm người dùng" #availableArea
                            required> -->
                        <nz-select nzMode="multiple" nzPlaceHolder="Nhóm người dùng" formControlName="group_ids" required>

                            <nz-option *ngFor="let item of userGroupList" [nzLabel]="item.name" [nzValue]="item.id">
                            </nz-option>
                        </nz-select>
                        <ng-container *ngIf="form.get('group_ids')?.touched || form.get('group_ids')?.dirty">
                            <span class="text-danger" *ngIf="form.get('group_ids')?.hasError('required')">
                               {{ 'model.user-group.error.required' | translate }}
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <div>
                            <label>{{ 'model.user.group-user.allowDepartment' | translate }}
                            </label>
                        </div>
                        <!-- <nz-tree-select nzMode="multiple"  [nzNodes]="nodes"  nzPlaceHolder="Đơn vị"
                            formControlName="department_ids" nzVirtualHeight="300px"></nz-tree-select> -->
                        <nz-tree-select nzShowSearch nzAllowClear  nzHideUnMatched #treeSelect [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''" nzPlaceHolder="Đơn vị" formControlName="department_ids"
                            [nzNodes]="nodes" [nzAllowClear]="false" [nzMultiple]="true">
                        </nz-tree-select>


                        <!-- <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                               {{ 'model.user.error.required' | translate }}
                            </span>
                        </ng-container> -->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
            <mbf-button  id="createBuilding" [type]="'primary'" [icon]="'save'" [shapeType]="'radius'"
                [text]="'Lưu'" (click)="onSubmit()"></mbf-button>
        </div>
    </div>
</div>