<div class="update-password">
    <div *nzModalTitle>
        <span>ĐỔI MẬT KHẨU</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>Mật khẩu mới
                            <span class="text-danger">*</span>
                        </label>
                        <nz-input-group [nzSuffix]="suffixTemplate">
                        <input formControlName="password" nz-input [type]="passwordVisible ? 'text' : 'password'"  placeholder="Nhập mật khẩu" #availableArea
                            required>
                        </nz-input-group>
                        <ng-template #suffixTemplate>
                            <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                          </ng-template>
                        <ng-container *ngIf="form.get('password')?.touched || form.get('password')?.dirty">
                            <span class="text-danger" *ngIf="form.get('password')?.hasError('required')">
                                <small>{{ 'model.user.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('password')?.errors?.minlength">
                                <small>{{ 'model.user.error.min_password' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('password')?.hasError('pattern')">
                                <small>{{ 'model.user.error.pattern_pass' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>Nhập lại mật khẩu
                            <span class="text-danger">*</span>
                        </label>
                        <nz-input-group [nzSuffix]="suffixTemplate2">
                        <input formControlName="rep_password" nz-input [type]="repPasswordVisible ? 'text' : 'password'" class="" placeholder="Nhập mật khẩu"
                            #availableArea required>
                        </nz-input-group>
                        <ng-template #suffixTemplate2>
                            <i nz-icon [nzType]="repPasswordVisible ? 'eye-invisible' : 'eye'" (click)="repPasswordVisible = !repPasswordVisible"></i>
                          </ng-template>
                        <ng-container *ngIf="form.get('rep_password')?.touched || form.get('rep_password')?.dirty">
                            <span class="text-danger" *ngIf="form.get('rep_password')?.hasError('required')">
                                <small>{{ 'model.user.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('rep_password')?.errors?.minlength">
                                <small>{{ 'model.user.error.min_password' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('rep_password')?.hasError('pattern')">
                                <small>{{ 'model.user.error.pattern_pass' | translate }}</small>
                            </span> 
                            <span class="text-danger">
                                <small>
                                    {{checkRepPassword}}
                                </small>
                            </span>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'Hủy'" (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [icon]="'save'" [type]="'primary'" [shapeType]="'radius'" [text]="'Lưu'"
                (click)="onSubmit()"></mbf-button>
        </div>
    </div>
</div>