<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="d-inline date-filter mb-3">
                    <div class="d-flex">
                        <label>Thời gian:</label>
                        <input type="text" 
                            ngxDaterangepickerMd
                            [locale]="{ applyLabel: 'ok', format: 'DD/MM/YYYY' }"
                            [autoApply]="true"
                            [ranges]="ranges"
                            [alwaysShowCalendars]="true"
                            [locale]="calendarLocale"
                            [keepCalendarOpeningWithRange]="true"
                            class="form-control"
                            [(ngModel)]="selected"
                            (change)="ngModelChange($event)"
                        />
                    </div>
                  </div>
                <div class="col-12">
                    <div class="card">
                        <div class="table-scroll-report">
                            <nz-table #basicTable [nzData]="listReportTicket"  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                            [nzTableLayout]="'auto'" nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)"
                            [nzNoResult]="noDataResult">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-left">Mã ticket</th>
                                        <th class="text-left">Tiêu đề</th>
                                        <th class="text-left">Sản phẩm dịch vụ</th>
                                        <th class="text-left">Nguồn ticket</th>
                                        <th class="text-left" width="150px">Nội dung phản ánh</th>
                                        <th class="text-left">Thời gian tạo</th>
                                        <th class="text-left">Thời gian kết thúc</th>
                                        <th class="text-left">Thời gian xử lý</th>
                                        <th class="text-left">Trạng thái</th>
                                        <th class="text-left">Độ ưu tiên</th>
                                        <th class="text-left">Đơn vị xử lý</th>
                                        <th class="text-left">Người xử lý</th>
                                        <th class="text-left">Người tạo</th>
                                        <th class="text-left">Đơn vị tạo</th>
                                        <th class="text-center"><a class="mr-3"><img src="assets/images/icon/menu.svg"></a></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor=" let item of listReportTicket ;let i = index" (click)="openDetail(item.id)" class="ticket-code">
                                        <td class="text-center">
                                            {{(reportQuery.pageIndex - 1) * reportQuery.pageSize + i + 1}}
                                        </td>
                                        <td class="text-left">
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item.code)" nzTooltipPlacement="top" nz-tooltip>
                                                {{commonUtil.limitString(item.code,25)}}
                                            </span>
                                        </td>
                                        <td class="text-left">
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item?.title)" nzTooltipPlacement="top" nz-tooltip>
                                                {{commonUtil.limitString(item.title,25)}}
                                            </span>
                                        </td>
                                        <td class="text-left">
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item?.product_name)" nzTooltipPlacement="top" nz-tooltip>
                                                {{commonUtil.limitString(item.product_name,15)}}
                                            </span>
                                        </td>
                                        <td class="text-left">
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item?.source_name)" nzTooltipPlacement="top" nz-tooltip>
                                                {{commonUtil.limitString(item.source_name,30)}}
                                            </span>
                                        </td>
                                        <td class="text-left">
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item?.description)" class="des-report" nzTooltipPlacement="top" nz-tooltip>
                                                {{commonUtil.limitString(item.description,50)}}
                                            </span>
                                        </td>
                                        <td class="text-left">
                                            {{item.created_at | date:'  dd/MM/yyyy HH:mm:ss'}}
                                        </td>
                                        <td class="text-left">
                                            {{item.actual_finish_ticket_time | date:'  dd/MM/yyyy HH:mm:ss'}}
                                        </td>
                                        <td class="text-left">
                                            {{item.actual_time_dealt}}
                                        </td>
                                        <td class="text-left">
                                            <div class="mr-2 tag tag-warning1" *ngIf="item.state_color" [style]="'background:'+item.state_color+'; color:' +item.state_text_color +';border-color:' + item.state_text_color">
                                                <span>{{item.state_name}}</span>
                                            </div>
                                        </td>
                                        <td class="text-left">
                                            <div class="mr-2 tag tag-warning1" *ngIf="item.priority_color" [style]="'background:'+item.priority_color">
                                                <span>{{item.priority_name}}</span>
                                            </div>
                                        </td>
                                        <td class="text-left"> 
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item?.current_execute_department_name)" nzTooltipPlacement="top" nz-tooltip [nzTooltipOverlayStyle]="styleTooltip">
                                                {{commonUtil.limitString(item.wf_current_execute_department_name,30)}}
                                            </span>
                                        </td>
                                        <td class="text-left" [nzTooltipTitle]="(item?.user_name)" zTooltipPlacement="top" nz-tooltip>
                                            {{commonUtil.limitString(item.user_name,30)}}
                                        </td>
                                        <td class="text-left" [nzTooltipTitle]="(item?.created_by_name)" zTooltipPlacement="top" nz-tooltip>
                                            {{commonUtil.limitString(item.created_by_name,30)}}
                                        </td>
                                        <td class="text-left">
                                            <span [nzTooltipTitle]="commonUtil.extractContent(item?.created_department_path)" nzTooltipPlacement="top" nz-tooltip [nzTooltipOverlayStyle]="styleTooltip">
                                                {{commonUtil.limitString(item.created_by_department_name,30)}}
                                            </span>
                                        </td>
                                        <td class="text-center"></td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <div class="p-3">
                            <mb-pagination [pageIndex]="reportQuery.pageIndex" [pageSize]="reportQuery.pageSize" [total]="total"
                              (onChange)="onQuerySearch($event)">
                            </mb-pagination>
                            <ng-template #noDataResult>
                                <mb-no-data></mb-no-data>
                            </ng-template>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
