<div class="create-department">
    <div *nzModalTitle>
        <span>{{ (isUpdate ? 'ticket-state.update' : 'ticket-state.create') | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-state.name' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="name" nz-input class=""
                            placeholder="{{ 'ticket-state.name' | translate}}" #availableArea>
                        <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                <small>{{ 'product.error.maxLength' | translate :
                                    {param: LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('pattern')"><small>{{
                                'product.error.pattern' | translate }}</small> </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-state.color' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="color" nz-input class="" type="color"
                            placeholder="{{ 'ticket-state.color' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('color')?.touched || form.get('color')?.dirty">
                            <span class="text-danger" *ngIf="form.get('color')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-state.text-color' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="text_color" nz-input class="" type="color"
                            placeholder="{{ 'ticket-state.color' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('text_color')?.touched || form.get('text_color')?.dirty">
                            <span class="text-danger" *ngIf="form.get('text_color')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <!-- <div class="col-12 mb-2">
                        <label>{{ 'ticket-state.order_number' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="order" min="1" type="number" nz-input class=""
                            placeholder="{{ 'ticket-state.order_number' | translate}}" #availableArea>
                        <ng-container *ngIf="form.get('order')?.touched || form.get('order')?.dirty">
                            <span class="text-danger" *ngIf="form.get('order')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                            <span *ngIf="checkOrder" class="text-danger">
                                <small>{{ 'ticket-state.error.errorOrder' | translate :
                                    {param: lastOrder} }}</small>
                            </span>
                    </div> -->
                    <div class="col-12 mb-2">
                        <div><label for="">{{ 'ticket-state.status' | translate }}</label></div>
                        <nz-switch formControlName="status"></nz-switch>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-state.note' | translate }}
                        </label>
                        <mb-editor [value]="form?.get('note')?.value || ''" (data)="onChangeData('note', $event)"
                            placeholder="{{ 'ticket-state.note' | translate}}"></mb-editor>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [type]="'primary'" [icon]="isUpdate ? 'save':'plus-circle'" [shapeType]="'radius'" [isLoading]="isLoading"  
                [text]="isUpdate ? 'action.save': 'action.create'" (click)="onSubmit()"></mbf-button>
        </div>
    </div>
</div>