::ng-deep.ty table {
    border-collapse: separate !important;
    border-spacing: 0 15px !important;
    background-color: #f8f9fe;

    tr {
        box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
            rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
        height: 150px;
        border-radius: 10px;
    }
}

::ng-deep.ty table tr td {
    background-color: #ffffff !important;
    border-radius: 10px;
    height: 150px;
}

.card-ticket {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff !important;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    // padding: 10px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card-ticket .check-box {
    width: 3%;
    margin-top: 44px;
    position: relative;
}

.card-ticket .content {
    width: 97%;
}

.title {
    width: 20rem;
}

.tags {
    display: flex;
}

.tag-warning1 {
    font-weight: 400;
    color: #fff;
}

.tag-warning2 {
    background: rgba(255, 211, 58, 0.3);
    color: #FFA800;
    font-weight: 400;
    // border: 1px solid #FFA800;
}

.tag {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    height: 23px;
    line-height: 23px;
}

.righ-footer .tag {
    width: 108px;
    min-width: 108px;
}

.tag span {
    font-weight: 400;
    font-size: 12px;
}

.tag-default {
    background: #e9f5ff;
    color: #1672ec;
}

.tag-primary {
    background: #32a4ff;
    color: #ffffff;
}

.fillter-top {
    background: #fff;
    padding: 8px 1rem 28px 1.5rem;
}

.tag-warning {
    background: #ff8a00;
    color: #ffffff;
    border: 1px solid #FFA800;
}

.tag-danger {
    background: #ed1c24;
    color: #ffffff;
}
.date-filter{
    position: relative;
}
.date-filter .d-flex{
    justify-content: end;
    position: absolute;
    right: 0px;
    top: -63px;
}
.date-filter label {
    min-width: 66px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
}

::ng-deep .ant-picker-range {
    height: 31px;
}

.process-pep span {
    color: #000;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.0025em;
}

.footer,
.left-footer {
    display: flex;
    align-items: center;
}

.footer {
    justify-content: space-between;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;
    color: #000;
}

.card-overview {
    background: #fff;
    padding: 10px 6px 6px 25px;
    display: flex;
    width: 100%;
    left: 24px;
    top: 0px;
    border-right: 1px solid #ececec;
    text-align: center;
    margin-bottom: 20px;
    z-index: 1;
}

.code-ticket span {
    color:#000;
    font-size: 13px;
}

.right-header {
    min-width: 240px;
    width: 240px;
}

.box-tag {
    width: 100%;
}

.time-over {
    color: #ED1C24;
    font-weight: 500;
}

.description {
    color:#000;
    font-size: 13px;
    display: -webkit-box;
    max-width: 100%;
    max-height: 56px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    word-break: break-word;
    text-align: justify;

}

.img-sticket {
    margin-top: -4px;
}

.card-overview h5 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 8px !important;
    color: black;
}

.border-4 {
    border-radius: 4px;
}

.title h5 span {
    font-weight: 500;
    font-size: 15px !important;
    line-height: 19px;
    color: black;
    margin-bottom: 8px !important;
    word-break: break-word;
}

.card-overview span {
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.005em;
    color: rgba(33, 33, 33, 0.85);
    padding: 5px;
}

.process-pep u {
    cursor: pointer !important;
}

.content:hover .left-header h5 {
    color: #1672EC;

}

.tickets-page .left-header {
    padding-right: 20px;
}

.process-pep u {
    color: #1672EC;
    font-size: 11px;
}

// ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
//     height: auto !important;
// }

.title {
    width: auto;
}

.sub-header {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.004em;

    .ticket-type {
        color: #1672ec;
    }

    .product-service {
        color: rgba(117, 117, 117, 0.85);
    }
}

@media only screen and (max-width: 1300px) {
    .title {
        width: 100%;
    }

    .left-header {
        flex-direction: column;
    }
}

.ant-card-extra {
    padding: 0;
}

:host ::ng-deep .card-body .ant-radio-wrapper {
    margin-bottom: 8px;
    font-weight: 400;
}

.card-header:first-child {
    height: 40px;
}

.process-pep {
    width: 100%;
}

.header {
    border-bottom: 1px solid #ECECF3;
    margin-bottom: 7px;
}

.ngxl {
    font-size: 13px;
}

.check-all .mr-3 {
    cursor: pointer;
}

// .cl1 {
//     color: #FF800B;
// }

.card-overview .ticket-status .cl2 {
    color:red;
}

// .cl3 {
//     color: #FFA800;
// }

// .cl4 {
//     color: #299EFD;
// }

// .cl5 {
//     color: #00B69B;
// }

h5 span {
    font-size: 24px !important;
}

.body p {
    margin-bottom: 0px !important;
}

p {
    margin-bottom: 0px !important;
}

::ng-deep .ant-picker {
    border: unset
}

.fillter-date {
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 33px;
}

::ng-deep .ant-picker-focused {
    box-shadow: unset;
}

.activeFillter {
    color: #1672EC;
}

::ng-deep .font-highlight {
    color: black !important;
    font-weight: 600 !important;
}

::ng-deep .ant-picker {
    border: 1px solid #d9d9d9 !important;
}
// .btn:hover {
//     color: unset;
// }

.border-fillter1{
    border: 1px solid #1672EC;
}
.border-fillter2{
    border: 1px solid #FF800B;
}
.border-fillter3{
    border: 1px solid #FD3D39;
}
.img-denger{
    position: absolute;
    top: -42px;
}
::ng-deep .card-body .ant-radio-wrapper{
    padding-top:10px
}
.date-filter ::ng-deep  .ant-picker-range{
    width: 222px;
}
.date-filter:hover ::ng-deep  .ant-picker-range{
    cursor: pointer;
}
.border-fillter.card-overview{
    background-color: rgb(248 249 250);
    border: 1px solid rgb(221 221 221);

  }
  .border-fillter.card-overview h5 , .border-fillter.card-overview h5 span,  .border-fillter.card-overview .ticket-status span, .border-fillter.card-overview .ticket-status span i{
    color: #444;
  }
  .bg-icon{
    position: relative;
  }
.bg-color{
    height: 40px;
    display: inline-block;
    opacity: 0.1;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    left: -11px;
    content: "";
    width: 39px;
    z-index: -1;
}
.card-overview .inner-over{
    width: 63px;
    margin-top: 20px;
}
.bg-color1{
    background: #5994dd;
}
.bg-color2{
    background: #e1a879;
}
.bg-color3{
    background: #dd7e86;
}
.border-fillter .bg-color{
    opacity: 1;
    background: #ffff!important;
}
.bg-icon i,.bg-icon img{
    z-index: 99;
}
.bg-color.bg-color3 {
    top: -7px;
    left: -10px;
}
.ticket-status{
    display: flex;
}
.page-top {
    border-bottom: 1px solid #ececec;
}
.container-fluid {
    margin-top: 7px;
}
.create-time{
    font-weight: 500;
}
.card-overview:last-child{
    border-right: unset!important;
  }
  .card {
    border-radius: 6px;
}
.float-right.filter{
    margin-top: -5px;
}
.btn.btn-primary.filter {
    width: 100%;
    border-radius: 18px;
  }

.ticket-overview:hover,.cc-mail:hover{
    cursor: pointer;
}
::ng-deep .cdk-overlay-connected-position-bounding-box .fill-dropdown-dp{
    margin-top: 298px!important;
}
.refesh-fillter{
    font-size: 18px;
    rotate: 163deg;
}
::ng-deep .ant-picker-header{
    padding-left: 13px !important;
}
::ng-deep .ant-picker-body{
    padding-left: 13px !important;
}