<div class="sticky-top">
  <div class="page-top page-top-tickets">
    <div class="page-title">
      <h5>{{'model.ticket.title' | translate }}</h5>
    </div>
    <div class="actions">
      <div class="searchInputWrapper">
        <div class="w-100">
          <form role="form" [formGroup]="searchForm">
            <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
              formControlName="keyword" (keyup.enter)="onSearch($event)" />
          </form>
          <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
            srcset="" />
        </div>
        <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
          <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
        </div>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
          <div class="d-flex dropdown-fillter">
            <button class="btn ant-btn-default btn-circle" nz-dropdown [nzDropdownMenu]="fillter" [nzClickHide]="false"
              [(nzVisible)]="visible1">
              <img src="assets/images/icon/share.svg" alt="trash-icon" srcset="" />
            </button>
            <nz-dropdown-menu #fillter="nzDropdownMenu">
              <div class="card" style="width:300px">
                <div class="card-header d-flex">
                  <div class="ant-card-title text-uppercase">
                    Sắp xếp theo
                  </div>
                  <div class="ant-card-extra">
                    <a (click)="refeshSearch()">
                      <img src="assets/images/icon/resetFilter.svg" alt="trash-icon" srcset="" />
                    </a>
                    <a class="ml-3" (click)="visible1 = false">
                      <img src="assets/images/icon/times.svg" alt="trash-icon" srcset="" />
                    </a>
                  </div>
                </div>
                <div class="card-body" style="padding:0 1.25rem">
                  <nz-radio-group [(ngModel)]="orderBy" (ngModelChange)="onChangeOrderBy($event)">
                    <label nz-radio *ngFor="let orderBy of listOrderBy;"
                      [nzValue]="orderBy.value">{{orderBy.label}}</label>
                  </nz-radio-group>
                  <hr>
                  <nz-radio-group [(ngModel)]="sortBy" (ngModelChange)="onChangeSortBy($event)">
                    <label nz-radio *ngFor="let sortBy of listSortBy;" [nzValue]="sortBy.value">{{sortBy.label}}</label>
                  </nz-radio-group>
                </div>
              </div>
            </nz-dropdown-menu>
            <div class="refesh ml-2">
              <button class="btn ant-btn-default btn-circle" (click)="showImport()">
                <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
              </button>
            </div>

            <div class="export ml-2">
              <button class="btn ant-btn-default btn-circle" (click)="exportData()">
                <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
              </button>
            </div>
            <div class="delete ml-2" *hasRoles="auth.TICKET.DELETE">
              <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
                (click)="multiDelete(setOfCheckedId)">
                <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
              </button>
            </div>
            <div class="create ml-2">
              <button class="btn ant-btn-default btn-radius" (click)="onCreate()">
                <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                <span style="color:#0060AF" class="ml-2">Tạo mới</span>
              </button>
            </div>
            <div class="filter ml-2">
              <button class="btn ant-btn-default btn-circle" *ngIf="!isShowFillter" (click)="openFillter()">
                <img src="assets/images/icon/fillter.svg" alt="filter-icon" srcset="" />
              </button>
            </div>
          </div>
        </nz-dropdown-menu>
      </div>
      <!-- <div class="refesh ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="refeshSearch()">
          <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" />
        </button>
      </div> -->
      <div class="d-flex">
        <div class="refesh ml-2">
          <button class="btn ant-btn-default btn-circle" (click)="refeshFillter()" nz-tooltip nzTooltipTitle="Làm mới">
            <i nz-icon nzType="redo" nzTheme="outline" class="refesh-fillter"></i>
          </button>
        </div>
        <div class="delete ml-2">
          <button class="btn ant-btn-default btn-circle" nz-dropdown [nzDropdownMenu]="menu" [nzClickHide]="false"
            nz-tooltip nzTooltipTitle="Sắp xếp" [(nzVisible)]="visible" [nzPlacement]="'bottomLeft'">
            <img src="assets/images/icon/share.svg" alt="trash-icon" srcset="" />
          </button>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="card" style="width:300px">
              <div class="card-header d-flex">
                <div class="ant-card-title">
                  Sắp xếp
                </div>
                <div class="ant-card-extra">
                  <a (click)="refeshSearch()">
                    <img src="assets/images/icon/resetFilter.svg" alt="trash-icon" srcset="" />
                  </a>
                  <a class="ml-3" (click)="visible = false">
                    <img src="assets/images/icon/times.svg" alt="trash-icon" srcset="" />
                  </a>
                </div>
              </div>
              <div class="card-body">
                <nz-radio-group [(ngModel)]="orderBy" (ngModelChange)="onChangeOrderBy($event)">
                  <label nz-radio *ngFor="let orderBy of listOrderBy;"
                    [nzValue]="orderBy.value">{{orderBy.label}}</label>
                </nz-radio-group>
                <hr>
                <nz-radio-group [(ngModel)]="sortBy" (ngModelChange)="onChangeSortBy($event)">
                  <label nz-radio *ngFor="let sortBy of listSortBy;" [nzValue]="sortBy.value">{{sortBy.label}}</label>
                </nz-radio-group>
              </div>
            </div>
          </nz-dropdown-menu>
        </div>
        <div class="refesh ml-2">
          <button class="btn ant-btn-default btn-circle" (click)="showImport()" nz-tooltip nzTooltipTitle="Import">
            <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
          </button>
        </div>
        <nz-modal nzWidth="800px" [(nzVisible)]="isVisible" nzTitle="IMPORT DỮ LIỆU" [nzContent]="modalContent"
          [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
          <ng-template #modalTitle>IMPORT DỮ LIỆU</ng-template>
          <ng-template #modalContent>
            <mbf-upload [acceptTypeFiles]="['default']" [key]="'task'" [typeUpload]="'uploadGetFile'"
              (emitter)="handleLoadFile($event)">
            </mbf-upload>
          </ng-template>
          <ng-template #modalFooter>
            <div class="row">
              <div class="col-3">
                <button style="float:left;" nz-button nzType="default" (click)="exportTemplate()">TẢI FILE MẪU</button>
              </div>
              <div class="col-9">
                <button nz-button nzType="default" (click)="handleCancel()">HỦY</button>
                <button nz-button nzType="primary" (click)="handleOk()">XÁC NHẬN</button>
              </div>
            </div>
          </ng-template>
        </nz-modal>
        <div class="export ml-2">
          <button class="btn ant-btn-default btn-circle" (click)="exportData()" nz-tooltip nzTooltipTitle="Export">
            <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
          </button>
        </div>
        <div class="delete ml-2" *hasRoles="auth.TICKET.DELETE" nz-tooltip nzTooltipTitle="Xóa">
          <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
            (click)="multiDelete(setOfCheckedId)">
            <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
          </button>
        </div>
        <div class="create ml-2">
          <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
            <span style="color:#0060AF" class="ml-2">Tạo mới</span>
          </button>
        </div>
        <div class="filter ml-2">
          <button class="btn ant-btn-default btn-circle" *ngIf="!isShowFillter" (click)="openFillter()" nz-tooltip
            nzTooltipTitle="Lọc">
            <img src="assets/images/icon/fillter.svg" alt="filter-icon" srcset="" />
          </button>
        </div>
      </div>
    </div>
  </div>
  <div [ngClass]="listStatus.length >= 9 ? 'scroll-fillter-top fillter-top' : 'fillter-top'">
    <div class="ticket-overview d-flex justify-content-between">
      <ng-container *ngFor="let item of listStatus">
        <div
          [ngClass]="border === item.key ? 'border-fillter ' : ''" class="color-primary card-overview  mr-3"
          *ngIf="!item.hide && !item.hide1  && !item.hide2 " (click)="fillterStatus(item.key)">
          <div class="ticket-status">
            <h5 class="text-left">
              <span class="" [style]="'color:'+item.status_color">{{item.ticket_count}}</span>
            </h5>
            <span>
              <span class="" [style]="'color:'+item.status_color">
                {{commonUtil.limitWord(item.status_name,11)}}
              </span>
            </span>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="check-all px-3 mb-2 ">
      <div class="d-inline-block">
        <div class="d-flex">
          <label *hasRoles="auth.TICKET.CHANGE_LEVEL" nz-checkbox [(ngModel)]="checked"
            (ngModelChange)="updateAllChecked($event)" [nzIndeterminate]="indeterminate">
          </label>
          <span class="pr-2 ml-2" *hasRoles="auth.TICKET.CHANGE_LEVEL">|</span>
          <span class="pr-2"> Lọc :</span>
          <span class="mr-3" *hasRoles="auth.TICKET.CHANGE_LEVEL" [ngClass]="status === 'current_user_executing' ? 'activeFillter' : ''"
            (click)="onFillterTickets('current_user_executing')">Ticket tôi
            đang xử lý</span>
          <span class="mr-3" *hasRoles="auth.TICKET.CHANGE_LEVEL" [ngClass]="status === 'current_user_executed' ? 'activeFillter' : ''"
            (click)="onFillterTickets('current_user_executed')">Ticket tôi đã
            xử lý</span>
          <span class="mr-3" *hasRoles="auth.TICKET.HANDLE_ENTRY" [ngClass]="status === 'department_executing'? 'activeFillter' : ''"
            (click)="onFillterTickets('department_executing')">Ticket của
            đơn vị</span>
          <span *hasRoles="auth.TICKET.HELP_DESK" class="mr-3" [ngClass]="status ==='helpdesk_unassigned' ? 'activeFillter' : ''"
            (click)="onFillterTickets('helpdesk_unassigned')"> Ticket chưa phân công</span>
          <span *hasRoles="auth.TICKET.HELP_DESK" class="mr-3" [ngClass]="status === 'helpdesk_assigned' ? 'activeFillter' : ''"
            (click)="onFillterTickets('helpdesk_assigned')"> Ticket đã phân công</span>
          <span class="mr-3" [ngClass]="status === 'ticket_reopen' ? 'activeFillter' : ''" (click)="onFillterTickets('ticket_reopen')"> Ticket Reopen</span>
          <span class="mr-3" [ngClass]="status === 'department_created' ? 'activeFillter' : ''" (click)="onFillterTickets('department_created')"> Ticket tạo của đơn vị</span>

        </div>
      </div>
    </div>
  </div>
  <div class=" date-filter mr-4">
    <div class="d-flex"  style="justify-content: end">
      <label>Ngày tạo:</label>
      <!-- <nz-range-picker id="datepicker" nzFormat="dd-MM-yyyy"  [(ngModel)]="date1" (ngModelChange)="onChange()">
      </nz-range-picker> -->
      <input type="text" 
      ngxDaterangepickerMd
      [locale]="{ applyLabel: 'ok', format: 'DD/MM/YYYY' }"
      [autoApply]="true"
      [ranges]="ranges"
      [alwaysShowCalendars]="true"
      [locale]="calendarLocale"
      [keepCalendarOpeningWithRange]="true"
      class="form-control"
      [(ngModel)]="selected"
      (change)="ngModelChange($event)"
      />
      <!-- <mat-form-field appearance="fill">
        <mat-date-range-input [rangePicker]="picker1"  >
          <input matStartDate matInput placeholder="dd/mm/yyyy" [(ngModel)]="start_date"  (blur)="startDate('input', $event)" (dateChange)="startDate('change', $event)"/>
          <input matEndDate matInput placeholder="dd/mm/yyyy" [(ngModel)]="end_date" (blur)="endDate('input', $event)" (dateChange)="endDate('change', $event)" />
        </mat-date-range-input>
          <mat-icon matDatepickerToggleIcon *ngIf="start_date || end_date" (click)="clearDate($event)" class="close-datepicker"><i nz-icon nzType="close-circle" nzTheme="outline"></i></mat-icon>
          <mat-datepicker-toggle matSuffix [for]="picker1">
            <mat-icon matDatepickerToggleIcon><i nz-icon nzType="calendar" nzTheme="outline"></i></mat-icon>
          </mat-datepicker-toggle>
          <mat-date-range-picker #picker1></mat-date-range-picker>
      </mat-form-field> -->
    </div>
  </div>
</div>
<div [ngClass]="listStatus.length >= 9 ? 'mr-100 page-body mb-5 tickets-page' : 'page-body mb-5 tickets-page'">
  <div class="container-fluid">
    <div class="row">
      <div [ngClass]="'col-12 px-2'">
        <div class="d-flex" *ngFor="let data of ticketList">
          <div class="card-ticket">
            <div class="check-box">
              <img src="assets/images/icon/danger.svg" *ngIf="data.workflow_id =='' " height="18" alt="circle-plus-icon"
                srcset="" nz-tooltip nzTooltipTitle="Ticket chưa được gán workflow" class="img-denger" />
              <label *hasRoles="auth.TICKET.DELETE" nz-checkbox [nzValue]="data"
                [ngModel]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled" style="margin-top: 43%"
                (nzCheckedChange)="onItemChecked(data.id, $event)">
              </label>
            </div>
            <div class="content">
              <div class="header d-flex justify-content-between">
                <div class="left-header ">
                  <div class="title">
                    <a [routerLink]="'/admin/ticket-management/view-ticket/'+ data.id">
                      <h5>
                        <span nzTooltipTitle="{{data?.title}}"
                          nz-tooltip>{{commonUtil.limitWord(data?.title,100)}}</span>
                      </h5>
                    </a>
                    <div class="d-flex code-ticket">
                      <span>{{data.code}} </span> <span *ngIf="data.code" class="vertical-tickets"> &nbsp; | &nbsp;
                      </span>
                      <div class="ticket-type mr-2">
                        <span style="color: #0060AF">{{commonUtil.limitWord(data.category_name,20)}}</span>
                        <span *ngIf="data.category_name" class="vertical-tickets"> | </span>
                      </div>
                      <span nzTooltipTitle="{{data?.product_name}}" nz-tooltip>
                        <img src="assets/images/icon/attachment.svg" />
                        {{commonUtil.limitWord(data.product_name,40)}}</span>
                      <span *ngIf="data.category_name" class="pl-2 vertical-tickets"> | </span>
                      <span class="pl-2">Thời gian tạo:
                        <span class="create-time"> {{data.created_at | date:'dd/MM/yyyy HH:mm:ss '}}</span>
                      </span>
                    </div>
                  </div>
                  <div class="body mt-2 mb-3">
                    <a  [routerLink]="'/admin/ticket-management/view-ticket/'+ data.id">
                      <span class="description">
                        {{commonUtil.extractContent(data.description_text)}}
                      </span>
                    </a>
                  </div>
                </div>
                <div class="right-header">
                  <div class="box-tag mb-2">
                  </div>
                  <div class="process-pep ">
                    <span class=""><img src="assets/images/icon/user1.svg" alt="circle-plus-icon" srcset=""
                        class="img-sticket">
                      Người xử lý: <b style="font-weight: 500"> {{commonUtil.limitWord(data?.user_name, 22)}}</b></span>
                    <div class="d-flex">
                      <p class="text-right mb-0" *ngIf="data.get_ticket_able==1" (click)="assignToMe(data.id)"><u>
                          Nhận việc</u></p>
                    </div>
                    <span style="font-size: 11px;" nzTooltipTitle="{{data?.current_execute_department_name}}" [nzTooltipOverlayStyle]="styleTooltip"
                      nzTooltipPlacement="topRight" nz-tooltip> {{data.wf_current_execute_department_name}}</span>
                  </div>
                </div>
              </div>
              <div class="sub-header  d-flex">
                <div class="ticket-product-service">
                </div>
              </div>
              <div class="body mt-2">
                <div class="footer mt-2">
                  <div class="left-footer">
                    <div class="sender">
                      <i nz-icon nzType="{{data?.source_icon}}" height="17" alt="circle-plus-icon" [ngStyle]="data?.source_icon == 'mail' && data?.read_at =='' ? {'color':'red'}: {'color':'#000'} "></i>
                      <span nz-tooltip [nzTooltipTitle]="data?.customer_name">
                        {{commonUtil.limitWord(data.customer_name,20)}}</span>
                    </div>
                    <div class="tag tag-default ml-2 border-4" *ngIf="data.check_show_sla == 1">
                      <span>SLA:
                        {{commonUtil.limitWord(data?.slaTime,34)}}</span>
                    </div>
                    <div class="tag tag-default ml-2 border-4" *ngIf="data.check_show_kpi == 1">
                      <span>KPI:
                        {{data.timeKpi}}</span>
                    </div>
                    <div class="time-limit ml-3" *ngIf="data.check_show_kpi_remain == 1">
                      <span class="time-over"> <img class="img-sticket" src="assets/images/icon/time-over.svg"
                          alt="circle-plus-icon" srcset=""><span class="ml-2"></span> KPI còn lại:
                        {{data.timeKpiRemain}}</span>
                    </div>
                    <div class="time-limit ml-3" *ngIf="data.check_show_sla_remain == 1">
                      <span class="time-over"> <img class="img-sticket" src="assets/images/icon/time-over.svg"
                          alt="circle-plus-icon" srcset=""><span class="ml-2"></span> SLA còn lại:
                        {{data.timeSlaRemain}}</span>
                    </div>
                  </div>
                  <div class="righ-footer">
                    <div class="time-created mr-2">
                      <div class="tags">
                        <div class="mr-2 tag tag-warning1" *ngIf="data.priority_name"
                          [style]="'background:'+data.priority_color">
                          <span>{{commonUtil.limitWord(data.priority_name,11)}}</span>
                        </div>

                        <div class="mr-2 tag tag-warning1 " *ngIf="data.priority_name== null "
                          style=" background: #F4F5FA;color:#000">
                          <span style="color: #000!important;">Chưa xác định</span>
                        </div>
                        <div class="mr-2 tag tag-warning1"
                          [style]="'background:'+data.state_color +'; color:' +data.state_text_color">
                          <span>{{commonUtil.limitWord(data.ticket_status_display,11)}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="d-flex align-items-center"> -->
        <div class="card p-3">
          <div class="card-ticket p-3" *ngIf="ticketList.length==0">Không có ticket trong dữ liệu</div>
          <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
            (onChange)="onQuerySearch($event)" *ngIf="ticketList.length!=0">
          </mb-pagination>
        </div>
        <!-- </div> -->
      </div>
      <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="isShowFillter" nzPlacement="right"
        [nzTitle]="resetFilter" (nzOnClose)="closeFillter()">
        <ng-template #resetFilter class="d-flex">
          <div class="row">
            <div class="col-9">
              <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
            </div>
            <div class="col-3" style="text-align: right; padding-right: 40px;">
              <a (click)="resetAdvancedFilter()"><img src="assets/images/icon/resetFilter.svg" alt=""></a>
            </div>
          </div>
        </ng-template>
        <ng-container *nzDrawerContent>
          <div class="col-12 module-fillter mt-4">
            <form [formGroup]="form">
              <div class="row">
                <div class="col-12 mb-2">
                  <label>{{ 'model.ticket.filter.status' | translate }}
                  </label>
                  <nz-select nzAllowClear nzPlaceHolder="{{ 'model.ticket.filter.status' | translate }}"
                    nzMode="multiple" [nzDropdownClassName]="'fill-dropdown'" (nzOnSearch)="filterSatus($event)"
                    formControlName="state_id">
                    <nz-option *ngFor="let item of ticketStateList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body" [innerHtml]="(item?.name || '')| highlight:statusFilter">

                      </div>
                    </nz-option>
                  </nz-select>
                </div>
                <div class="col-12 mb-2">
                  <label>Mức độ ưu tiên
                  </label>
                  <nz-select nzAllowClear nzPlaceHolder="Mức độ ưu tiên"
                    nzMode="multiple" [nzDropdownClassName]="'fill-dropdown'" (nzOnSearch)="filterPriority($event)"
                    formControlName="priority_id">
                    <nz-option *ngFor="let item of ticketPriorityList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body" [innerHtml]="(item?.name || '')| highlight:priorityFilter">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                </div>
                <div class="col-12 mb-2">
                  <label>Người xử lý
                  </label>
                  <nz-select nzAllowClear nzShowSearch nzServerSearch nzPlaceHolder="Người xử lý" nzMode="multiple"
                    (nzOnSearch)="userQuestionUpdate.next($event)" 
                    [nzDisabled]="form.get('user_id')?.disabled" (nzScrollToBottom)="loadMoreUser()" removeOptionTitle
                    formControlName="user_id">
                    <nz-option *ngFor="let item of listAssignee" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                 <!-- <ng-select [items]="listAssignee"  class="form-control "
                  bindLabel="name"
                  bindValue="id"
                  [virtualScroll]="true"
                  formControlName="user_id" 
                  [multiple]="true"
                  placeholder="Người xử lý"
                  (scrollToEnd)="loadMoreUser()"
                  >
                  </ng-select> -->
                </div>
                <div class="col-12 mb-3">
                  <label>{{ 'model.ticket.classify' | translate }}
                  </label>
                  <nz-select nzAllowClear nzPlaceHolder="{{ 'model.ticket.classify' | translate }}" nzMode="multiple"
                    [nzDropdownClassName]="'fill-dropdown'" formControlName="category_id">
                    <nz-option *ngFor="let item of ticketCategoryList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                </div>
                <div class="col-12 mb-3">
                  <label>Khách hàng
                  </label>
                  <nz-select nzAllowClear nzShowSearch nzPlaceHolder="Khách hàng" nzMode="multiple"
                    [nzDropdownClassName]="'fill-dropdown'" formControlName="customer_id" nzServerSearch
                    (nzOnSearch)="cusQuestionUpdate.next($event)" [nzDropdownRender]="renderTemplateCus"
                    (nzScrollToBottom)="loadMoreCus()">
                    <nz-option *ngFor="let item of customerList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                  <ng-template #renderTemplateCus>
                    <nz-spin *ngIf="isLoadingCus"></nz-spin>
                  </ng-template>
                </div>
                <div class="col-12 mb-3">
                  <label>{{ 'model.ticket.requestSender' | translate }}
                  </label>
                  <nz-select nzAllowClear nzPlaceHolder="{{ 'model.ticket.requestSender' | translate }}"
                    nzMode="multiple" [nzDropdownClassName]="'fill-dropdown'" formControlName="require_id" nzAllowClear
                    nzShowSearch nzServerSearch (nzOnSearch)="reqQuestionUpdate.next($event)"
                    [nzDropdownRender]="renderTemplateCusReq" (nzScrollToBottom)="loadMoreReq()">
                    <nz-option *ngFor="let item of userList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                  <ng-template #renderTemplateCusReq>
                    <nz-spin *ngIf="isLoadingReq"></nz-spin>
                  </ng-template>
                 <!-- <ng-select [items]="userList"  class="form-control "
                  bindLabel="name"
                  bindValue="id"
                  [virtualScroll]="true"
                  formControlName="require_id" 
                  [multiple]="true"
                  placeholder="Người yêu cầu"
                  (scrollToEnd)="loadMoreReq()"
                  >
                  </ng-select> -->
                </div>
                <div class="col-12 mb-3">
                  <label>{{ 'model.ticket.resourceTicket' | translate }}
                  </label>
                  <nz-select nzAllowClear nzPlaceHolder="{{ 'model.ticket.resourceTicket' | translate }}"
                    nzMode="multiple" [nzDropdownClassName]="'fill-dropdown'" formControlName="source_id">
                    <nz-option *ngFor="let item of ticketSourceList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                </div>
                <div class="col-12 mb-3">
                  <label>{{ 'model.ticket.serviceProduct' | translate }}
                  </label>
                  <nz-select nzAllowClear nzPlaceHolder="{{ 'model.ticket.serviceProduct' | translate }}"
                    nzMode="multiple" [nzDropdownClassName]="'fill-dropdown'" formControlName="product_id">
                    <nz-option *ngFor="let item of productList" [nzCustomContent]="true"
                      [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                      <div container="body">
                        {{(item?.name || '') | translate}}
                      </div>
                    </nz-option>
                  </nz-select>
                </div>
                <div class="col-12 mb-3">
                  <label>Đơn vị đang xử lý
                  </label>
                  <nz-tree-select nzAllowClear [nzNodes]="nodeDapartment" nzShowSearch nzPlaceHolder="Đơn vị đang xử lý" [nzMultiple]="true"
                    [nzDropdownClassName]="'fill-dropdown fill-dropdown-dp'" formControlName="department_id" nzHideUnMatched #treeSelect
                    [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"></nz-tree-select>
                </div>
                <div class="col-12 mb-3">
                  <label>Loại
                  </label>
                  <nz-select (nzOnSearch)="filterTicketType($event)" nzAllowClear nzPlaceHolder="Loại" nzMode="multiple"
                    formControlName="ticket_type" [nzDropdownClassName]="'fill-dropdown'">
                    <nz-option nzLabel="Ticket thường" nzValue="0"></nz-option>
                    <nz-option nzLabel="Ticket bị reopen" nzValue="1"></nz-option>
                    <nz-option nzLabel="Ticket Reopen" nzValue="2"></nz-option>
                  </nz-select>
                </div>
                <div class="col-12 mb-3">
                  <label>Đơn vị tạo
                  </label>
                  <nz-tree-select nzAllowClear [nzNodes]="nodeDapartment" nzShowSearch nzPlaceHolder="Đơn vị tạo" [nzMultiple]="true"
                    [nzDropdownClassName]="'fill-dropdown fill-dropdown-dp'" formControlName="creator_department_id" nzHideUnMatched #treeSelect2
                    [nzVirtualHeight]="!treeSelect2.inputValue ? '300px' : ''"></nz-tree-select>
                </div>
              </div>
            </form>
            <br>
            <div class="row">
              <div class="col-12">
                <button class="btn btn-primary  btn-filter" (click)="onSubmit()"><b>ÁP DỤNG</b></button>
              </div>
            </div>
          </div>
        </ng-container>
      </nz-drawer>
    </div>
  </div>
</div>
