.bg-sla-internal{
    background: #1672EC;
    border-radius: 4px;
    color: white;
    display: inline-block;
    padding: 0px 18px;
    font-size: 12px;
}
.bg-sla-internal image{
    padding: 0px
}
.action-table u{
    color: #1672EC;
    font-weight: 500;
    font-size: 12px;
}
.bg-sla-internal .pr-0{
    padding: 6px;
    margin-top: -5px;
}
:host ::ng-deep .ant-table-thead > tr > th{
    padding: 0 8px !important;
}
