<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 responsive-table">
                <div class="card mb-2">
                    <nz-table #basicTable [nzData]="slaList"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                        <thead>
                            <tr>
                                <th style="width: 5%;" class="text-center">#</th>
                                <th style="width:28%">Tiêu đề </th>
                                <th style="width:28%">Sản phẩm dịch vụ</th>
                                <th style="width:28%">Mô tả</th>
                                <th class="text-center" *ngIf="!disabled">KPI</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of slaList; let i = index;">
                                <td class="text-center">{{(pageIndex - 1) * pageSize + i + 1}}</td>
                                <!-- {{ (pageIndex - 1)*pageSize + customerIndex + 1 }} -->
                                <td (click)="view(data)"><a><span nzTooltipTitle="{{data?.title}}" nzTooltipPlacement="top"
                                        nz-tooltip>{{
                                        commonUtil.limitWord(data.title, 40) }}</span></a></td>
                                <td *ngIf="data?.check_all_products">Tất cả sản phẩm dịch vụ</td>
                                <td *ngIf="!data?.check_all_products">
                                    <div *ngIf="data?.product_list_name?.length>0">
                                        <span class="badge-table">{{data?.product_list_name[0].name}}</span>
                                    </div>

                                    <ng-template #HtmlContent>
                                        <div *ngFor="let item of getProductName(data?.product_list_name);">
                                            {{item.name}}</div>
                                    </ng-template>
                                    <div *ngIf="data?.product_list_name?.length>1" style="margin-top:9px">
                                        <span [ngbTooltip]="HtmlContent" [tooltipClass]="'ngTemplateTips'"
                                            placement="bottom" contentType="template" class="badge-table"> +
                                            {{data?.product_list_name?.length - 1}}</span>
                                    </div>
                                </td>
                                <td (click)="view(data)"><span
                                        nzTooltipTitle="{{commonUtil.extractContent(data?.description)}}"
                                        nzTooltipPlacement="top" nz-tooltip
                                        [innerHTML]="commonUtil.limitWord(data.description, 70)"></span></td>
                                <td class="text-center" *ngIf="!disabled">
                                    <div class="action-table text-center">
                                        <div *ngIf="data.sla_internals_id" class="bg-sla-internal">
                                            <span class="mt-1">KPI <span class="mr-2"></span>|</span>
                                            <button class="btn pr-0" (click)="detail(data)"
                                                [disabled]="disabled" nzTooltipTitle="Cập nhật"
                                                nzTooltipPlacement="top" nz-tooltip>
                                                <img src="assets/images/icon/pen2.svg" alt="circle-plus-icon"
                                                    srcset="" />
                                            </button>
                                            <mbf-button-action [action]="'delete'"
                                                [disable]="disabled"
                                                nzTooltipTitle="{{'action.delete' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onDelete(data)">
                                            </mbf-button-action>
                                        </div>
                                        <button class="btn" (click)="onCreate(data)" *ngIf="!data.sla_internals_id"
                                            [disabled]="disabled" nzTooltipTitle="Tạo mới" nzTooltipPlacement="top"
                                            nz-tooltip>
                                            <img src="assets/images/icon/circle.svg" alt="circle-plus-icon" srcset=""
                                                class="pr-1" /> <u> THÊM KPI</u>
                                        </button>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
                            (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>