.chart-wrapper {
    position: relative;
    overflow: hidden;
    /* background: grey; */
    // border: 1px solid gray;
    height: 60vh;
    margin: 1rem 0;
    width: 100%;
    overflow: auto;
}

.chart-container {
    height: 100%;
    width: inherit;
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 100ms ease-in-out;
}

.box {
    position: absolute;
    // box-shadow: 2px 2px 19px #aaa;
    // -o-box-shadow: 2px 2px 19px #aaa;
    // -webkit-box-shadow: 2px 2px 19px #aaa;
    // -moz-box-shadow: 2px 2px 19px #aaa;
    border-radius: 6px;
    border: 0.5px solid #1672EC;
    opacity: 1;
    filter: alpha(opacity=50);
    text-align: center;
    position: absolute;
    background-color: #fff;
    font-size: 0.9em;
    width: 150px;
    height: 88px;
    flex-direction: column;
    transition: box-shadow 0.15s ease-in;
    z-index: 3;
}

.node {
    height: 100%;
    margin: 0 auto;
    transition: background-color 50ms linear;
    transition: color 50ms linear;
    background-clip: border-box;
    z-index: 1;
    cursor: move;
}
:host ::ng-deep .ant-switch-disabled{
    cursor: pointer;
  }
  :host ::ng-deep .ant-switch-handle{
    cursor: default;
  }
// .sourcePlaceholder {
//   cursor: pointer;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   width: 20px;
//   background: white;
//   z-index: 2;
// }

.targetPlaceholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.label {
    border: 1px solid grey;
    background: rgb(148, 27, 27);
    color: red !important;
    font-weight: bold;
    padding: 3px;
    font-size: 10px;
}

.label {
    /* border: 1px solid grey; */
    background: white;
    color: red;
    font-weight: bold;
    padding: 2px;
    font-size: 10px;
    cursor: pointer;
}


.jtk-endpoint {
    fill: "#9E9E9E";
    stroke: "none";
    z-index: 1;
}

/** Helpers */

.hidden {
    display: none;
}

.endpointSourceLabel {
    color: #1672EC;
}

.node-info {
    transition: all .75s ease;
}

.title p {
    color: rgba(33, 33, 33, 0.85);
    font-weight: 500;
    font-size: 16px;
}

.condition-group {
    border-radius: 8px;
    box-shadow: 0 0 16px #11111a1a;
}
.conditions{
    background: #F4F5FA;
    padding: 24px;
}
.conditions:first-child{
    border-radius: 8px 8px 0 0;
}
.top-line{
    margin-top: 0;
    margin-bottom: 24px;
}
.btn-circle{
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.delete{
    position: absolute;
    z-index: 5;
}
.ant-card-extra {
    padding: 0;
}
// .toggle .ant-checkbox-input{
//     display: none;

// }
:host ::ng-deep cdk-virtual-scroll-viewport.cdk-virtual-scroll-viewport{
    min-height: 250px !important;
  }
  :host ::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: unset;
  }

  :host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: unset;
  }
  //wfl
  .node-info {
    width: 153px;
    border-radius: 6px;
    text-align: center;
    height: 93px;
    margin: auto;
    padding: 8px;
}
:host ::ng-deep .btn:disabled{
    opacity: 1;
}
.node-info img {
    height: 32px;
    width: 32px;
}
.box p{
    color: rgba(158, 158, 158, 0.9);
    font-size: 12px;
    margin-bottom:0px ;
}
.node .name{
    color: rgba(33, 33, 33, 0.85);
    font-weight: 500;
    font-size: 13px;
}
.node .node-title{
    color: #1672EC;
    font-weight: 500;
    text-align: center;
}
 ::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
::ng-deep .ant-picker{
    border: 1px solid #d9d9d9 !important;
}
::ng-deep .jtk-endpoint-connected{
    visibility: hidden !important;
}
::ng-deep .leavePage .ant-btn-primary{
    background: #0060af !important;
  }
  ::ng-deep .ant-modal-confirm-btns .ant-btn{
    transition: unset !important;
  }
  @media (max-width: 900px) {
    ::ng-deep .ant-drawer-content-wrapper{
        width: 80% !important;
    }
 }
 .btn-save-wfl{
    float: right;
    margin-top: 20px;
 }
 .switch-disabled{
    opacity: 0.5;
  }
  