<div class="page-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="page-title">
                    <!-- <h5 >{{'model.workFlow.' + (workFLowId ? 'detail' : 'create') | translate }}<h5 class="ml-1"
                            *ngIf="workFLowId">{{workflowName}}</h5>
                    </h5> -->
                    <h5 *ngIf="workFLowId"> {{this.disableForm?'Chi tiết luồng xử lý':'model.workFlow.update'|
                        translate}} {{workflowName}}</h5>
                    <h5 *ngIf="!workFLowId">{{'model.workFlow.create'| translate}}</h5>
                </div>
                <div class="row">
                    <div [ngClass]="showInfoNode ? 'col-8' : 'col-12' ">
                        <nz-tabset [nzSelectedIndex]="nzSelectedIndex" [nzCanDeactivate]="canDeactivate">
                            <nz-tab nzTitle="Thông tin luồng" (nzClick)="loadInfoWfl()">
                                <div class="form">
                                    <div class="col-12">
                                        <form [formGroup]="workFlowInfoForm">
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'model.workFlow.name' | translate }}
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input formControlName="name" nz-input class=""
                                                        (change)="onChangeTitle()"
                                                        placeholder="{{ 'model.workFlow.name' | translate }}"
                                                        [disabled]="disableForm" #availableArea required>
                                                    <ng-container
                                                        *ngIf="workFlowInfoForm.get('name')?.touched || workFlowInfoForm.get('name')?.dirty">
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('name')?.hasError('required')">
                                                            <small>{{ 'model.workFlow.error.title' | translate
                                                                }}</small>
                                                        </span>
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('name')?.errors?.maxlength">
                                                            <small>{{ 'model.workFlow.error.maxLength' | translate:
                                                                {param: 100}
                                                                }}</small>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label nz-checkbox (ngModelChange)="onChangeChecked($event)"
                                                        [nzDisabled]="disableForm" formControlName="is_global">Toàn công
                                                        ty</label>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'model.workFlow.department' | translate }} <span
                                                            class="text-danger" *ngIf="!checked">*</span>
                                                    </label>
                                                    <nz-tree-select [nzNodes]="departmentTree" nzShowSearch
                                                        nzDropdownClassName="dept" (click)="scrollElementDeptIds()"
                                                        [nzDisabled]="checked||disableForm" [nzMultiple]="true"
                                                        [nzMaxTagCount]="5"
                                                        nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                                        formControlName="department_id" nzHideUnMatched #treeSelect
                                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                                    </nz-tree-select>
                                                    <ng-container
                                                        *ngIf="!checked&&(workFlowInfoForm.get('department_id')?.touched || workFlowInfoForm.get('department_id')?.dirty)">
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('department_id')?.hasError('required')">
                                                            <small>{{ 'model.workFlow.error.department' | translate
                                                                }}</small>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="col-12 mb-2 row  pr-0">
                                                    <label class="col-12 ml-0">Thời gian áp dụng
                                                    </label>
                                                    <div class="col-6">
                                                        <nz-date-picker [(ngModel)]="application_from"
                                                            [nzDisabled]="disableForm"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (ngModelChange)="onChangeTimeline()" nzShowTime
                                                            [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
                                                            nzPlaceHolder="Thời gian bắt đầu">
                                                        </nz-date-picker>
                                                    </div>
                                                    <div class="col-6 pr-0">
                                                        <nz-date-picker [(ngModel)]="application_to"
                                                            [nzDisabled]="disableForm"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (ngModelChange)="onChangeTimeline()" nzShowTime
                                                            (change)="onChangeTimeline()"
                                                            [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
                                                            nzPlaceHolder="Thời gian kết thúc"></nz-date-picker>
                                                        <span class="text-danger" *ngIf="dateInvalid">
                                                            <small>Thời gian kết thúc phải lớn hơn hoặc bằng thời gian
                                                                bắt đầu</small>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-2" formArrayName="conditions">
                                                    <div class="title mb-3">
                                                        <p>Các điều kiện phải được đáp ứng cho trigger để chạy</p>
                                                    </div>
                                                    <div class="condition-group">
                                                        <div class="conditions"
                                                            *ngFor="let condition of conditions().controls; let empIndex=index">
                                                            <div [formGroupName]="empIndex">
                                                                <hr class="top-line" *ngIf="empIndex>0">
                                                                <div class="col-12" *ngIf="empIndex!=0">
                                                                    <div class="row">
                                                                        <div class="col-8 mb-2">
                                                                            <label>{{ 'model.sla.create.condition' |
                                                                                translate}}
                                                                                <span class="text-danger">*</span>
                                                                            </label>
                                                                            <nz-select
                                                                                nzPlaceHolder="{{ 'model.sla.create.condition' | translate }}"
                                                                                nzAllowClear removeOptionTitle
                                                                                [nzDisabled]="empIndex  ==0||disableForm"
                                                                                formControlName="conditionName"
                                                                                (ngModelChange)="changeCodition($event, empIndex)">
                                                                                <nz-option
                                                                                    *ngFor="let item of (empIndex  ==0?listCondition:listConditionNoProduct)"
                                                                                    [nzCustomContent]="true"
                                                                                    [nzLabel]="(item?.name || '') | translate"
                                                                                    [nzValue]="item?.value">
                                                                                    <div container="body">
                                                                                        {{(item?.name || '') |
                                                                                        translate}}
                                                                                    </div>
                                                                                </nz-option>
                                                                            </nz-select>
                                                                            <ng-container
                                                                                *ngIf="condition.get('conditionName')?.touched || condition.get('conditionName')?.dirty ">
                                                                                <span class="text-danger"
                                                                                    *ngIf="condition.get('conditionName')?.hasError('required')">
                                                                                    <small>{{
                                                                                        'model.workFlow.error.product'
                                                                                        | translate }}</small>
                                                                                </span>
                                                                            </ng-container>
                                                                        </div>
                                                                        <div class="col-4 text-right">
                                                                            <button class="btn"
                                                                                (click)="removeCondition(empIndex)">
                                                                                <img src="assets/images/icon/deleteSLA.svg"
                                                                                    alt="circle-plus-icon" srcset=""
                                                                                    class="delete-all" /></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 mb-2">
                                                                    <label
                                                                        *ngIf="empIndex!=0">{{'model.sla.create.conditionInformation'
                                                                        |translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>

                                                                    <label
                                                                        *ngIf="empIndex==0">{{'model.workFlow.serviceProduct'
                                                                        |translate}}
                                                                        <span class="text-danger"
                                                                            *ngIf="!checkedProduct">*</span>
                                                                    </label>
                                                                    <div class="col-12 pl-0">
                                                                        <label nz-checkbox
                                                                            (ngModelChange)="onChangeProductAllChecked()"
                                                                            style="padding: 10px 0;"
                                                                            [nzDisabled]="disableForm"
                                                                            formControlName="product_all"
                                                                            *ngIf="empIndex==0">Tất cả sản phẩm dịch
                                                                            vụ</label>
                                                                    </div>
                                                                    <nz-tree-select style="width: 100%"
                                                                        *ngIf="condition.value.conditionName=='products'"
                                                                        [nzCheckStrictly]="true" #treeselect
                                                                        [(ngModel)]="serviceproduct"
                                                                        [nzDisabled]="condition.get('conditionInformation')?.disabled||disableForm"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [nzNodes]="conditionInforList[empIndex]"
                                                                        (ngModelChange)="onChangeProduct(empIndex)"
                                                                        nzShowSearch nzCheckable nzHideUnMatched
                                                                        #treeSelect
                                                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
                                                                        nzPlaceHolder="{{ 'model.sla.create.conditionchoose' | translate }}">
                                                                    </nz-tree-select>
                                                                    <nz-select [nzDisabled]="disableForm"
                                                                        (nzOnSearch)="filter($event, condition.value.conditionName)"
                                                                        *ngIf="condition.value.conditionName!='products'"
                                                                        nzPlaceHolder="{{ 'model.sla.create.conditionchoose' | translate }}"
                                                                        nzMode="multiple"
                                                                        formControlName="conditionInformation">
                                                                        <nz-option
                                                                            *ngFor="let item of conditionInforList[empIndex]"
                                                                            [nzCustomContent]="true"
                                                                            [nzLabel]="(item?.name || '') | translate"
                                                                            [nzValue]="item?.id">
                                                                            <div container="body" [animation]="false"
                                                                                [openDelay]="100" [closeDelay]="0"
                                                                                [ngbTooltip]="(item?.name || '') | translate"
                                                                                innerHtml="{{(item?.name || '') | highlight:condition.value.conditionName=='ticket_category'?ticket_category:ticket_priority}}">

                                                                            </div>
                                                                        </nz-option>
                                                                    </nz-select>
                                                                    <ng-container
                                                                        *ngIf="condition.get('conditionInformation')?.touched || condition.get('conditionInformation')?.dirty ">
                                                                        <span class="text-danger"
                                                                            *ngIf="condition.get('conditionInformation')?.hasError('required')">
                                                                            <small>{{
                                                                                'model.workFlow.error.product'
                                                                                | translate }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div style="margin:20px 5px 20px">
                                                        <button nz-button nzType="link" class="text-uppercase w-9"
                                                            (click)="addConditionForm()">
                                                            <img src="assets/images/icon/circle-plus-primary.svg"
                                                                alt="circle-plus-primary-icon" srcset="" />
                                                            <span class="ml-2">Thêm điều kiện</span>
                                                        </button>
                                                    </div> -->

                                                        <!-- add condition -->
                                                        <!-- <div class="text-center"
                                                            *ngIf="conditions().controls.length  !=3">
                                                            <button nz-button nzType="link"
                                                                class="text-uppercase w-9 border-0 bg-white"
                                                                (click)="addConditionForm()" [disabled]="disableForm">
                                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                                    alt="circle-plus-primary-icon" srcset="" />
                                                                <span class="ml-2">Thêm điều kiện mới</span>
                                                            </button>
                                                        </div> -->
                                                    </div>
                                                </div>
                                                <!-- <div class="col-12 mb-2">
                                                    <label>{{ 'model.ticket.serviceProduct' | translate }}
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <nz-select
                                                        nzPlaceHolder="{{ 'model.ticket.serviceProduct' | translate }}"
                                                        nzAllowClear
                                                        [nzDisabled]="workFlowInfoForm.get('product_id')?.disabled"
                                                        removeOptionTitle formControlName="product_id">
                                                        <nz-option *ngFor="let item of productList"
                                                            [nzCustomContent]="true"
                                                            [nzLabel]="(item?.name || '') | translate"
                                                            [nzValue]="item.id">
                                                            <div container="body" [animation]="false" [openDelay]="100"
                                                                [closeDelay]="0"
                                                                [ngbTooltip]="(item?.name || '') | translate">
                                                                {{(item?.name || '') | translate}}
                                                            </div>
                                                        </nz-option>
                                                    </nz-select>
                                                    <ng-container
                                                        *ngIf="workFlowInfoForm.get('product_id')?.touched || workFlowInfoForm.get('product_id')?.dirty">
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('product_id')?.hasError('required')">
                                                            <small>{{ 'model.ticket.error.required' | translate
                                                                }}</small>
                                                        </span>
                                                    </ng-container>
                                                </div> -->
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'product.status' | translate}}
                                                    </label><br>
                                                    <nz-switch [nzControl]="true" formControlName="status"
                                                        (click)="onUpdateStatus()" [nzDisabled]="disableForm"
                                                        [class]="disableForm||!workFlowInfoForm.value.status &&(workFlowSetup.nodes.length == 0 || workFlowSLA?.length == 0||workFlowInfoForm.invalid||!isUpdate)?'switch-disabled':''">
                                                    </nz-switch>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'model.ticket.description' | translate }}
                                                    </label>
                                                    <mb-editor [placeholder]="''" [maxLength]="500"
                                                        [isReadOnly]="disableForm"
                                                        [value]="workFlowInfoForm?.get('descriptions')?.value || ''"
                                                        (data)="onChangeData('descriptions', $event)">
                                                    </mb-editor>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-end">
                                            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                                [shapeType]="'radius'" [text]="'action.cancel'" (click)="onCancel()">
                                            </mbf-button>
                                            <button nz-button nzType="primary" class="btn-radius"
                                                [disabled]="disableForm" style="justify-content:space-evenly"
                                                (click)="canDeactivate(0,1)" nzShape="round">
                                                <img src="assets/images/icon/arrow-r.svg" alt="trash-icon" srcset="" />
                                                {{'action.continue'|translate}}</button>
                                        </div>
                                    </div>
                                </div>


                            </nz-tab>
                            <nz-tab nzTitle="Cấu hình luồng" [nzDisabled]="!workFLowId  &&this.step <2">
                                <div class="d-flex mr-3">
                                    <div class="mr-3" [style]="disableForm?'cursor:not-allowed':''" *ngIf="!disableForm">
                                        <button class="btn ant-btn-default btn-radius" (click)="addNode()"
                                            [disabled]="disableForm">
                                            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon"
                                                srcset="" />
                                            <span class="ml-2">Thêm Level</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="chart-wrapper">
                                    <div class="chart-container" #wrapper (mousewheel)="onMouseWheel($event)">
                                        <ng-container *ngFor="let node of workFlowSetup.nodes; let i = index">
                                            <div class="box" [id]="node.id" (click)="onClickNoode()"
                                                [ngStyle]="{ 'top.px': node.y, 'left.px': node.x }">
                                                <div class="node" (dblclick)="getNode(node)">
                                                    <div class="node-info">
                                                        <!-- <img src="assets/images/avatar1.png"> -->
                                                        <!-- <p class="name"> -->
                                                        <!-- <span *ngIf="getStringLenght(node.assignee?.name)>18" nz-tooltip [nzTooltipTitle]="node.assignee?.name || 'Chưa có người nhận'">{{commonUtil.limitWord(node.assignee?.name || 'Chưa có người nhận',16)}}</span>
                                                            <span *ngIf="getStringLenght(node.assignee?.name)<=18">{{node.assignee?.name || 'Chưa có người nhận'}}</span> -->
                                                        <!-- </p> -->
                                                        <div class="sourcePlaceholder"></div>
                                                        <div class="targetPlaceholder">
                                                        </div>
                                                    </div>
                                                    <div class="delete w-100"
                                                        [ngStyle]="{ 'bottom.px': 20, 'right.px': 0}">
                                                        <span style="cursor: default;"
                                                            *ngIf="node?.department_name?.length>=15" nz-tooltip [nzTooltipOverlayStyle]="styleTooltip"
                                                            [nzTooltipTitle]="node?.department_name_path">{{commonUtil.limitWordDes(node?.department_name,15)}}
                                                        </span>
                                                        <span
                                                            *ngIf="node?.department_name?.length<15">{{node?.department_name}}
                                                        </span>
                                                        <div style="cursor: default;">
                                                            <span class="node-title" *ngIf="node?.name?.length>=15"
                                                                nz-tooltip
                                                                [nzTooltipTitle]="node?.name">{{commonUtil.limitWordDes(node?.name,15)}}</span>
                                                            <span class="node-title"
                                                                *ngIf="node?.name?.length<15">{{node?.name}}</span>
                                                        </div>
                                                        <!-- <div class="node-title">{{commonUtil.limitWord(node?.name,16)}}
                                                        </div> -->
                                                    </div>
                                                    <div (click)="deleteNode(node)" class="delete ml-2" *ngIf="!disableForm"
                                                        [ngStyle]="{ 'top.px': 0, 'right.px': 0}">
                                                        <button class="btn btn-circle">
                                                            <i nz-icon nzType="close" nzTheme="outline"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <div class="box" [id]="node.id" (click)="onClickNoode()"
                                                    [ngStyle]="{ 'top.px': node.y, 'left.px': node.x }">
                                                    <div class="node d-flex" (dblclick)="getNode(node)">
                                                        <p style="padding:12px;width: 80%;">{{ node.name || "Node" + (i
                                                            + 1)
                                                            }}</p>
                                                        <div class="sourcePlaceholder"></div>
                                                        <div class="targetPlaceholder">
                                                        </div>
                                                    </div>
                                                    <div (click)="deleteNode(node)" class="delete ml-2"
                                                        [ngStyle]="{ 'top.px': 0, 'right.px': 0}">
                                                        <button class="btn btn-circle">
                                                            <i nz-icon nzType="close" nzTheme="outline"></i>
                                                        </button>
                                                    </div>
                                                </div> -->
                                        </ng-container>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-end">
                                            <!-- <button nz-button nzType="primary" class="btn-radius "
                                                *ngIf="!disableForm&&!workFLowId" style="justify-content:space-evenly"
                                                (click)="onSubmitConfigWorkFlow('tag')" nzShape="round">
                                                <img src="assets/images/icon/arrow-r.svg" alt="trash-icon" srcset="" />
                                                {{'action.save'|translate}}</button> -->
                                                <mbf-button id="createBuilding" *ngIf="!disableForm&&!workFLowId" [customClass]="'mr-2'" 
                                            [shapeType]="'radius'" [text]="'action.save'" (click)="onSubmitConfigWorkFlow('page')" [icon]="'save'"></mbf-button>
                                                <button nz-button nzType="primary" class="btn-radius "
                                                *ngIf="!disableForm&&workFLowId" style="justify-content:space-evenly"
                                                (click)="saveWorkFlow(1,2)" nzShape="round">
                                                <img src="assets/images/icon/arrow-r.svg" alt="trash-icon" srcset="" />
                                                {{'action.save'|translate}}</button>
                                            <mbf-button id="createBuilding" *ngIf="disableForm" [customClass]="'mr-2'" [type]="'default'"
                                            [shapeType]="'radius'" [text]="'action.close'" (click)="closeWorkflow()"></mbf-button>
                                        </div>
                                    </div>
                                </div>
                            </nz-tab>
                            <nz-tab nzTitle="SLA áp dụng" [nzDisabled]="!workFLowId  &&this.step <3">
                                <app-sla-internal [disabled]="disableForm" #sla></app-sla-internal>
                            </nz-tab>
                        </nz-tabset>
                        <!-- <div class="col-12 mt-3" *ngIf="nzSelectedIndex==2">
                            <div class="d-flex justify-content-end mr-2">
                                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                    [shapeType]="'radius'" [text]="!disableForm?'action.cancel':'action.close'"
                                    (click)="onCancel()">
                                </mbf-button>
                                <mbf-button id="createBuilding thu" [type]="'primary'" *ngIf="!disableForm"
                                    [icon]="workFLowId ? 'save' : 'plus-circle'" [shapeType]="'radius'"
                                    [text]="workFLowId ? 'action.save' :'action.create'"
                                    (click)="onSubmitConfigWorkFlow('page')"></mbf-button>
                            </div>
                        </div> -->

                    </div>
                    <nz-drawer [nzBodyStyle]="{ overflow: 'auto' }" [nzMaskClosable]="true" [nzWidth]="720"
                        [nzVisible]="visible" [nzTitle]="headerTpl" [nzFooter]="footerTpl" nzClosable="false"
                        (nzOnClose)="onCloseMask()">
                        <form [formGroup]="form">
                            <div class="row mr-0 ml-0">
                                <div class="col-12 mb-2">
                                    <label>{{ 'model.ticket.heading' | translate }}
                                        <span class="text-danger">*</span>
                                    </label>
                                    <input formControlName="name" nz-input class="" [disabled]="disableForm"
                                        placeholder="{{ 'model.ticket.heading' | translate }}" #availableArea required>
                                    <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                                        <span class="text-danger" *ngIf="form.get('name')?.errors?.required">
                                            <small>{{ 'model.workFlow.error.title' | translate }}</small>
                                        </span>
                                        <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                            <small>{{ 'model.workFlow.error.maxLength' | translate: {param: 100}
                                                }}</small>
                                        </span>
                                    </ng-container>
                                </div>
                                <div class="col-12 mb-2">
                                    <label>{{ 'model.workFlow.department' | translate }}
                                    </label>
                                    <nz-tree-select [nzNodes]="departmentNode" nzShowSearch (ngModelChange)="onChangeDepartment($event)"
                                        nzDropdownClassName="deptNode" (click)="scrollElementNode()"
                                        [nzDisabled]="form.get('department_id')?.disabled||disableForm"
                                        nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                        formControlName="department_id" nzHideUnMatched #treeSelect1
                                        [nzVirtualHeight]="!treeSelect1.inputValue ? '300px' : ''">

                                    </nz-tree-select>
                                </div>
                            </div>
                        </form>
                        <ng-template #headerTpl>
                            <div class="d-flex">
                                <div class="ant-card-title">
                                    {{workFLowId ? 'Thông tin level' :'Tạo mới thông tin level'}}
                                </div>
                                <div class="ant-card-extra">
                                    <a class="ml-3" (click)="close()">
                                        <img src="assets/images/icon/times.svg" alt="trash-icon" srcset="" />
                                    </a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template #footerTpl>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <div class="d-flex justify-content-end">
                                        <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                            [shapeType]="'radius'" [text]="disableForm?'action.close':'action.cancel'" (click)="close()">
                                        </mbf-button>
                                        <mbf-button *ngIf="!disableForm" id="createBuilding " [type]="'primary'" [shapeType]="'radius'"
                                            [disabled]="disableForm" [icon]="!addNodeStatus ? 'save' : 'plus-circle'"
                                            [shapeType]="'radius'"
                                            [text]="!addNodeStatus ? 'action.save' :'action.create'"
                                            (click)="confirmNode()"></mbf-button>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </nz-drawer>
                </div>
            </div>
        </div>
    </div>
</div>