<nz-footer class="backgroundFooter"  [style.background-image]="'url(' + url + '/assets/images/backgroundFooter.png )'">
    <div class="footer">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <img src="assets/images/icon/EtkEnduser.svg" height="55px" alt="">
                <p class="text-uppercase title">Kết nối với chúng tôi</p>
                <div class="action">
                    <a href="#"><img src="assets/images/icon/facebook.svg" alt=""></a>
                    <a href="#"><img src="assets/images/icon/youtube.svg" alt=""></a>
                    <a href="#"><img src="assets/images/icon/zalo.svg" alt=""></a>
                    <a href="#"><img src="assets/images/icon/tiktok.svg" alt=""></a>
                    <a href="#"><img src="assets/images/icon/instagram.svg" alt=""></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-info">
                    <p>Địa chỉ:  Tòa Thái Nam Building, 22D Dương Đình Nghệ, Yên Hòa, Cầu Giấy, Hà Nội</p>
                    <p>Hotline:  (+84) 936 110 116</p>
                    <p>Email:  contact-itc@mobifone.vn</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col-9 contact-mobi">
                    <button class="searchButton">
                        <img class="searchInputIcon text-center" src="assets/images/icon/contact.svg" alt="search-icon"
                            srcset="" />
                        <h6 class="text-uppercase">Liên hệ ngay</h6>
                    </button>
                </div>
            </div>
            <div class="col-12 copyright">
                <p>Copyright {{year}} Mobifone. All rights reserved.</p>
            </div>
        </div>
    </div>
</nz-footer>