.footer {
    color: #fff;
}

.action a {
    margin-right: 15px;
}

.title {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 0.0025em;
}

.footer-info {
    margin-top: 10px;
}

.searchButton h6 {
    margin-bottom: 0;
    color: #fff;
    margin-left: 1.5rem;
}

.searchButton {
    position: relative;
    background-color: #1672EC;
    border-radius: 18px;
    width: 198px;
    border: unset;
    height: 38px;
    margin: 40px;
    
}

.searchInputIcon {
    left: 1.8rem;
    top: 0.7rem;
}
.copyright { 
    text-align: center;
    padding-top: 22px;
}
.hide-desktop{
    display: none;
}
.backgroundFooter{
    background-repeat: no-repeat;
    height: 219px;
    background-size: cover;
    position: relative;
    width: 100%;
    bottom: 0;
}
@media (max-width: 1167px){
    .backgroundFooter{
        background-repeat: repeat-y;
        height:unset;
    }
    .searchButton{
        margin:15px 0;
    }
    .contact-mobi{
        padding-left: 0 !important;
    }
  }