<div class="create-department">
    <div *nzModalTitle>
        <span>XÁC NHẬN {{statusname}} TRẠNG THÁI</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form >
                <div class="row">
                    <div class="col-12 mb-2">
                        Bạn có chắc chắn muốn {{statusname}} trạng thái {{data.username}} không ?
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
            [text]="'action.cancel'"  (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [type]="'primary'" [icon]="'unlock'" [shapeType]="'radius'" *ngIf="!isClose"
            [text]="'action.unlock'"  (click)="onLock(1)" ></mbf-button>
            <mbf-button id="createBuilding" class="ant-btn-lock"  [icon]="'lock'" [shapeType]="'radius'" *ngIf="isClose"
            [text]="'action.lock'"  (click)="onLock(0)"  ></mbf-button>
        </div>
    </div>
</div>