<div class="create-department">
    <div *nzModalTitle>
        <span>Bạn muốn chuyển Level</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form >
                <div class="row">
                    <div class="col-12 mb-3">
                        Bạn có chắc chắn muốn {{data.name}}  không ?
                    </div>
                    <div class="col-12 mb-2">
                        <label>Ghi chú
                        </label>
                        <form [formGroup]="form">
                            <textarea formControlName="description" nz-input #availableArea  ></textarea>
                        </form>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
            [text]="'action.cancel'"  (click)="onCancel()"></mbf-button>
            
            <mbf-button id="createBuilding" class="ant-btn-lock"  [icon]="'default'" [shapeType]="'radius'" 
            [text]="'action.confirm'"  (click)="onSubmit()"  ></mbf-button>
        </div>
    </div>
</div>
