<nz-header>
  <div class="col-12 app-header align-items-center px-4">
    <div class="row">
      <div class="col-6">
        <div class="d-flex align-items-center">
          <div class="header-trigger" (click)="collapseMenu(!isCollapsed)">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </div>
          <div class="layout-header-title ml-2">
            <ng-container *ngFor="let item of breadcrum">
              <a [href]="item.path" class="breadcrum-header">{{item.title | translate}} </a>
              <i class="ml-2 mr-2 breadcrum-header" nz-icon nzType="right" nzTheme="outline"></i>
            </ng-container>
            {{title | translate}}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="header-right">
          <!-- <button class="btn-language" nz-button nz-popover nzPopoverTrigger="click" [nzPopoverContent]="languageTemplate">
            <img *ngIf="currentLanguage === VI" src="assets/images/icon/vietnam.png" alt="vi">
            <img *ngIf="currentLanguage === EN" src="assets/images/icon/english.png" alt="en">
          </button> -->
          <!-- <ng-template #languageTemplate>
            <div class="language-form">
              <p (click)="onChangeLanguage('vi')"><img src="assets/images/icon/vietnam.png" alt="vi">
                <span class="ml-2">vi</span>
              </p>
              <p (click)="onChangeLanguage('en')"><img src="assets/images/icon/english.png" alt="en">
                <span class="ml-2">en</span>
              </p>
            </div>
          </ng-template> -->
          <div class="d-flex align-items-center">
            <!-- <nz-badge [nzCount]="1" class="hide-mobile">
              <a><img src="assets/images/icon/comment.svg"></a>
            </nz-badge> -->
            <nz-badge [nzCount]="totalNotifi" class="notifi" [nzTitle]="null">
              <a><img src="assets/images/icon/notification-light.svg" nz-popover nzPopoverPlacement="bottomRight"
                  [nzPopoverOverlayClassName]="'popoverNotifi'" [nzPopoverTitle]="titleTemplate"
                  [(nzPopoverVisible)]="visibleNotify"
                  (nzPopoverVisibleChange)="change($event)"
                  [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"></a>
              <ng-template #titleTemplate>
                <div class="d-flex">
                  <div class="ant-card-title text-uppercase" style="color:#0060AF">
                    Thông báo
                  </div>
                  <div class="ant-card-extra">
                    <a (click)="onViewAll()" [class]="totalNotifi==0?'cursor-none':'text-notice'">
                      Đánh dấu tất cả đã xem <img src="assets/images/icon/t3-primary.svg" alt="trash-icon" srcset="" /> 
                    </a>
                  </div>
                </div>
              </ng-template>
              <ng-template #contentTemplate>
                <div class="list-notifi" id="box-noti" (scroll)="this.scrollNotify.next($event)">
                  <div *ngFor="let item of notifiList;" class="notification" [ngClass]="item.read_at?'notifi_read':''"
                  (click)="viewTicket(item)">
                    <div class=" w-100">
                      <span [innerHTML]="getTitleNotifi(item?.data)"></span>
                      <img *ngIf="!item.read_at" src="assets/images/icon/dot.svg" class="dot_notifi" alt="trash-icon"
                        srcset="" />
                    </div>
                    <div>
                      <span *ngIf="item?.data?.join_type == 1">
                        <a  [ngClass]="!item.read_at?'text-black':''"><b>
                            {{item?.data.content_ticket_title }} </b></a> {{ item?.data.content}}
                      </span>
                      <span *ngIf="item?.data?.join_type == 2">
                        {{ item?.data.content}} <a [ngClass]="!item.read_at?'text-black':''"
                          ><b>{{item?.data.content_ticket_title }} </b></a>
                      </span>
                    </div>
                    <div class="w-100" [ngClass]="item.read_at?'time-line':'time-line-read'">
                      <p style="float:right;"><i>{{item.readable_created_at }}</i></p>
                    </div>
                  </div>
                  <nz-spin nzSimple *ngIf="isLoading" class="text-center loading-scroll"></nz-spin>
                    <div *ngIf="notifiList.length==0" class="notification">
                      <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="'Bạn chưa có thông báo nào'">
                      </nz-empty>
                    </div>
                </div>
              </ng-template>
            </nz-badge>
          </div>
          <nz-divider nzType="vertical" class="hide-mobile"></nz-divider>
          <!-- <div class="avartar-user"> -->
          <div class="d-flex align-items-center mr-3 " nz-popover [(nzPopoverVisible)]="visible"
            nzPopoverTrigger="click" [nzPopoverContent]="dropdownTemplate" nzPopoverPlacement="bottomLeft"
            [nzPopoverOverlayClassName]="'dropdown-infor'">
            <div class="avatar">
              <a>
                <img class="avatar__image " [src]="imgFile ? urlgetway + imgFile :'assets/images/ava-default.jpg'"></a>
              <ng-template #dropdownTemplate>
                <div class="text-dropdown">
                  <p style="font-size: 16px;padding-left: 5px;border-bottom: 1px solid #E0E0E0;padding-bottom:12px;"><a
                      (click)="onUpdateProfile()"><img src="assets/images/profile.png" alt="" class="img-top"><span
                        class="ml-3">Thông tin
                        cá nhân</span></a></p>
                  <!-- <p *ngIf="!is_user_sync"
                    style="font-size: 16px;padding-left: 5px;padding-top: 11px;padding-left:8px;border-bottom: 1px solid #E0E0E0;padding-bottom:12px;">
                    <a (click)="onChangePassword()"><img src="assets/images/icon/key-pass.svg" alt=""
                        class="img-top"><span class="ml-3">Đổi mật
                        khẩu</span></a>
                  </p> -->
                  <p><button nz-button class="btn-login" nzType="default" (click)="logout()">ĐĂNG
                      XUẤT</button></p>
                </div>
              </ng-template>
            </div>
            <a>
              <div class="username pl-1 ml-2 hide-mobile">{{ currentUser?.name }}
              </div>
            </a>
          </div>
          <div class="d-flex align-items-center mr-3">
            <button class="btn ant-btn-default switch" (click)="toEndUser()">
              <img class="ml-1 icon-switch" src="assets/images/icon/arrow.svg" srcset="" />
              <span class="ml-3 text-switch hide-mobile">END USER</span>
            </button>
          </div>
          <!-- <a (click)="logout()"> <img src="assets/images/icon/logout.svg" alt="en"> </a> -->
        </div>
      </div>
    </div>
  </div>
</nz-header>