:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-trigger {
  /* height: 56px; */
  /* padding: 20px 24px; */
  font-size: 20px;
  cursor: pointer;
  transition: all .3s, padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

nz-header {
  padding: 0;
  width: 100%;
  z-index: 2;
  background: unset;
}

.app-header {
  height: 52px;
  padding: 0;
  background: #0060AF;
  color: #fff;
  /* box-shadow: 0 1px 4px rgba(0, 21, 41, .08); */
}

.ant-divider-vertical {
  height: 30px !important;
  border-left: 0.8px solid #ECECF3 !important;
  margin-top: 5px;
}

.header-right {
  display: flex;
  justify-content: right;
  align-items: center;
  float: right;
}

/* @media (max-width: 1775px) {
  .header-right {
    width: 20%;
  }
}

@media (max-width: 972px) {
  .header-right {
    width: 25%;
  }
} */

.ant-layout-header {
  height: 50px !important;
  line-height: 51px;

}

.app-header {
  position: fixed;
  z-index: 999;
  width: calc(100% - 320px);
}

::ng-deep .ant-layout-has-sider-collapsed .app-header {
  width: calc(100% - 80px);
}

nz-content {
  margin: 24px;
}

.nz-content-dashboard {
  margin: 0;
}

.inner-content {
  height: 100%;
}

.btn-logout {
  font-weight: 500;
  border-radius: 8px;
  min-width: 100px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #0054A5;
  color: #0054A5;
}

.btn-logout:hover {
  background: #0054A5;
  border: 1px solid #0054A5;
  color: #ffffff;
}

.btn-language {
  border: none;
  outline: none;
  position: relative;
  min-width: 0;
  padding: 5px 10px;
  top: -2px;
}

.language-form {
  cursor: pointer;
}

::ng-deep.ant-popover-inner {
  border-radius: 7px !important;
}

.layout-header-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.layout-header-title i {
  font-size: 12px;
}

.layout-header-title a {
  color: #ffffff;
  text-decoration: none;
}

.avatar {
  /* Rounded border */
  border-radius: 50%;
  position: relative;
  height: 30px;
  width: 30px;
}

.avatar__image {
  /* Rounded border */
  border-radius: 50%;
  position: absolute;

  /* Take full size */
  height: 100%;
  width: 100%;
}

:host ::ng-deep .ant-badge-count {
  min-width: 7px;
  height: 12px;
  padding: 0px 3px;
  font-size: 10px;
  line-height: 13px;
}

:host ::ng-deep .ant-badge {
  margin-right: 7px;
}

:host ::ng-deep .notifi .ant-badge-count {
  top: 4px;
  right: 3px;
}

.switch {
  background: rgba(255, 255, 255, 0.2);
}

.text-switch {
  color: white;
}

/* @media (max-width: 1775px){
  
  .header-right {
      width: 39%;
  }
} */
.ant-card-extra {
  padding: 5px 0;
  color: rgba(117, 117, 117, 0.85);
  font-size: 12px;

}

.ant-card-title {
  font-size: 16px;
  color: rgba(33, 33, 33, 0.85);
  font-weight: bold;
}

.dot_notifi {
  float: right;
  padding: 7px 0;
}


.text-bold {
  font-weight: 500;
}

.timeline {
  color: #A5ACB8;
}

.timeline p {
  margin-bottom: 0;
}

@media (max-width: 1167px) {
  .hide-mobile {
    display: none !important;
  }

  .username {
    line-height: 19px;
  }
}

/* ::ng-deep .ant-dropdown-menu {
  width: 215px !important;
} */

.img-top {
  margin-top: -3px;
}

.list-notifi {
  max-height: 50vh;
  overflow-y: auto;
}

::ng-deep .popoverNotifi .ant-popover-inner-content {
  padding: 0 !important;
}

::ng-deep .popoverNotifi {
  min-width: 400px;
}

::ng-deep .loading-scroll {
  position: absolute;
  bottom: 10px;
  right: 45%;
}
.cursor-none:hover{
  color: inherit;
}
.text-notice{
  color: #1890ff;
}