<div class="import">
    <div *nzModalTitle>
        <span>IMPORT DỮ LIỆU</span>
    </div>
    <div>
        <app-import [acceptTypeFiles]="['default']" [key]="'task'" [typeUpload]="'uploadGetFile'"
            (emitter)="handleLoadFile($event)" (emitterAmountError)="addEvent1($event)" (emitterError)="addEvent($event)">
        </app-import>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between" *nzModalFooter>
            <button nz-button nzShape="round" class="btn-radius btn-cancel" style="float:left;" nzType="default" (click)="exportTemplate()">TẢI FILE MẪU</button>
            <div class="d-flex justify-content-end">
                <button nz-button nzType="default" class="btn-radius btn-cancel" (click)="onCancel()" nzShape="round">
                    HỦY</button>
                <button nz-button nzType="primary" class="btn-radius" style="justify-content:space-evenly" 
                        (click)="handleOk()" nzShape="round">XÁC NHẬN</button>
            </div>
        </div>
    </div>
</div>