.title-fillter{
    color: rgba(117, 117, 117, 0.85);
}
::ng-deep .ant-drawer-header{
    background: #F4F5FA;
}
.module-fillter label{
    font-size: 12px;
    color: rgba(117, 117, 117, 0.85);
}
.module-fillter .btn-filter{
    box-shadow: 3px 5px 7px rgb(0 97 175 / 24%), 1px 2px 2px rgb(0 102 153 / 10%);
    border-radius: 71px;
    width: 100%;
    padding: 9px;
    font-weight: 500;
    background: #0060AF;
}
 ::ng-deep .ant-drawer-body {
    padding: 0px;
}
.date-filter label{
    min-width: 70px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
}
::ng-deep .ant-picker-range{
    height: 31px;
    width: 250px;
}
.date-filter .d-flex{
    justify-content: right!important;
}
.ant-btn-default{
    color: #0060AF !important;
}
:host ::ng-deep .ant-tabs>.ant-tabs-nav, .ant-tabs>div>.ant-tabs-nav{
    background: #fff;
}
:host ::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
    margin-left: 32px;
}
.container-fluid {
    margin-top: 0 !important;
}
th.ant-table-cell{
    padding:0 8px !important;
}

.td-number span{
    position: absolute;
    right: 20%;
}
.table-scroll-report ::ng-deep .ant-table-container{
    width: 2600px!important;
}
.date-filter .mat-date-range-input {
    top: -12px!important;
}
.des-report{
    display: initial;
}
.tag {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    height: 23px;
}
.tag span {
    font-weight: 400;
    font-size: 12px;
}
.tag-warning1 {
    font-weight: 400;
    color: #fff;
}
.ticket-code{
    color: #000;
    cursor: pointer;
}
::ng-deep .ant-picker-range-wrapper{
    width: 600px;
    display: block !important;
}
.small-picker{
    width: 222px;
}
::ng-deep .ant-picker-header{
    padding-left: 33px !important;
}
::ng-deep .ant-picker-body{
    padding-left: 33px !important;
}
::ng-deep .ant-picker-footer{
    padding-left: 8px !important;
}
