<div class="sticky-top dashboard">
  <div class="page-top ">
    <div class="d-inline date-filter w-100 ">
      <div class="d-flex  "> 
        <div class="mr-3">
          <div class="btn-group box-contact ">
            <label>Bộ lọc</label>
            <div nz-input class="box-tag quy" data-bs-toggle="dropdown"  >{{quy1}}  
              <span class="input-placeholder" *ngIf="!quy1">Chọn quý</span>
              <i nz-icon nzType="down" nzTheme="outline"></i>
            </div>
            <div class="dropdown-menu pd-0" style="width:150px; padding:16px; min-width: 150px;"> 
              <div >
                <div class="w-100 ">
                  <div [ngClass]="active1 === 1 ? 'bg1  pointer pb-1 mb-2' : ' pointer pb-1 mb-2'"  (click)="chooseQuy1(1,'Năm')"> Năm</div>
                  <div [ngClass]="active1 === 2 ? 'bg1  pointer pb-1 mb-2' : ' pointer pb-1 mb-2'"  (click)="chooseQuy1(2,'Quý')"> Quý </div>
                  <div [ngClass]="active1 === 3 ? 'bg1  pointer pb-1 mb-2' : ' pointer pb-1 mb-2'"  (click)="chooseQuy1(3,'Tháng')"> Tháng </div>
                  <div [ngClass]="active1 === 4 ? 'bg1  pointer pb-1 mb-2' : ' pointer pb-1 mb-2'"  (click)="chooseQuy1(4,'Thời gian')"> Thời gian </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="" *ngIf="active1 === 1">
          <nz-date-picker nzMode="year" nzFormat="yyyy" [(ngModel)]="yearFillter" class="month-picker"
            nzPlaceHolder="Chọn năm" (ngModelChange)="onSearchYear($event)" ></nz-date-picker>
        </div>
        <div class=""  *ngIf="active1 === 2">
          <div class="btn-group box-contact ">
            <div nz-input class="box-tag quy" nz-dropdown [nzDropdownMenu]="menu2"  nzTrigger="click"
              [(nzVisible)]="visible" [nzPlacement]="'bottomLeft'">{{quy}} <span *ngIf="quy"><span
                  style="color: rgba(117, 117, 117, 0.85)" class="pl-3">Năm</span> {{year}} </span>
              <span class="input-placeholder" *ngIf="!quy">Chọn quý</span><i nz-icon nzType="calendar" nzTheme="outline"></i>
            </div>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
              <div class="card" style="width:300px; padding: 16px 16px 30px 16px;">
                <div class="d-flex w-100 header mb-3">
                  <div class="inner-name pointer" (click)="prevYear()"> <i nz-icon nzType="double-left"
                      nzTheme="outline"></i></div>
                  <div class="inner-name text-center w-100"><b>{{today}}</b> </div>
                  <div class="inner-name pointer" (click)="nextYear()"> <i nz-icon nzType="double-right"
                      nzTheme="outline"></i> </div>
                </div>
                <div class="d-flex w-100 ">
                  <div [ngClass]="active === 1 ? 'bg1 inner-name w-100 pointer' : 'inner-name w-100 pointer'"  (click)="chooseQuy(1)"> Quý I</div>
                  <div [ngClass]="active === 2 ? 'bg1 inner-name w-100 pointer' : 'inner-name w-100 pointer'"  (click)="chooseQuy(2)"> Quý II</div>
                  <div [ngClass]="active === 3 ? 'bg1 inner-name w-100 pointer' : 'inner-name w-100 pointer'"  (click)="chooseQuy(3)"> Quý III </div>
                  <div [ngClass]="active === 4 ? 'bg1 inner-name w-100 pointer' : 'inner-name w-100 pointer'"  (click)="chooseQuy(4)"> Quý IV </div>
                </div>
              </div>
            </nz-dropdown-menu>
            <mat-icon matDatepickerToggleIcon *ngIf="quy" (click)="clearQuy()" class=""><i nz-icon nzType="close-circle" nzTheme="outline"></i></mat-icon>
          </div>
        </div>
        <div class=""  *ngIf="active1 === 3" >
          <nz-date-picker nzMode="month" nzFormat="MM-yyyy" [(ngModel)]="month" class="month-picker"
            nzPlaceHolder="Chọn tháng" (ngModelChange)="onSearchMonth($event)" ></nz-date-picker>
        </div>
        <div class="d-flex date-filter date-tg"  *ngIf="active1 === 4">
          <input type="text" 
          ngxDaterangepickerMd
          [locale]="{ applyLabel: 'ok', format: 'DD/MM/YYYY' }"
          [autoApply]="true"
          [ranges]="ranges"
          [alwaysShowCalendars]="true"
          [locale]="calendarLocale"
          [keepCalendarOpeningWithRange]="true"
          class="form-control"
          [(ngModel)]="selected"
          (change)="ngModelChange($event)"
          
          />
          <i nz-icon nzType="calendar" nzTheme="outline"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="ticket-overview d-flex justify-content-between">
    <div class="d-flex scroll-status">
      <div class="card-overview " *ngFor="let status of statusTicket;">
          <div class="d-flex">
            <span class="pr-3 bg-icon">
              <img *ngIf="status.key == 'violate_sla'" src="assets/images/icon/dash1.svg" height="13" alt="circle-plus-icon" srcset=""class="img-sticket">
              <img *ngIf="status.status_name == 'Chưa xử lý'" src="assets/images/icon/dash3.svg" height="13" alt="circle-plus-icon" srcset=""class="img-sticket">
              <img *ngIf="status.status_name == 'Đang xử lý'" src="assets/images/icon/dash2.svg" height="13" alt="circle-plus-icon" srcset=""class="img-sticket">
              <img *ngIf="status.status_name == 'Đã xử lý'" src="assets/images/icon/db4.svg" height="13" alt="circle-plus-icon" srcset=""class="img-sticket">
              <img *ngIf="status.status_name == 'Đóng'" src="assets/images/icon/db5.svg" height="13" alt="circle-plus-icon" srcset=""class="img-sticket">
              <img *ngIf="status.key == 'not_assign_wf'" src="assets/images/icon/db6.svg" height="13" alt="circle-plus-icon" srcset=""class="img-sticket">
            </span> 
            <div class=" w-100 mt-1">
                <h5 class="text-left mb-1" >{{ status?.ticket_count}}</h5>
                <div class="ticket-status text-left ">
                  <span class="cl1 text-left" >
                    {{ status?.status_name}}</span>
                </div>
            </div>
            <!-- <div class="ticket-status w-100 hide-12">
              <span class="cl1 text-left">
                {{ status?.status_name}}</span>
            </div> -->
          </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid page-body  dashboard">
  <div class="row">
    <div class="col-lg-12  mb-3 ">
      <div class="card-db ">
        <div class="title-charts pt-3 px-2">
          <div class="title">
            <p>Số lượng ticket phân theo sản phẩm dịch vụ</p>
          </div>
          <div class="float-right d-flex">
            <div class=" pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
                [nzMaxTagCount]="1" 
                [(ngModel)]="product_id"
                [nzNodes]="listProduct"
                (ngModelChange)="onChangeProduct($event)"
                nzShowSearch nzCheckable nzHideUnMatched
                #treeSelect
                [nzDropdownClassName]="'dropdown-product'"
                [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
                nzPlaceHolder="Loại sản phẩm">
             </nz-tree-select> 
             <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
            <div class=" pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
              [nzMaxTagCount]="1" 
              [(ngModel)]="department_id"
              [nzNodes]="listDepartment"
              (ngModelChange)="onChangeDepartment($event)"
              nzShowSearch nzCheckable nzHideUnMatched
              #treeSelect
              [nzDropdownClassName]="'dropdown-product'"
              [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
              nzPlaceHolder="Đơn vị">
              </nz-tree-select> 
              <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
          </div>
        </div>
        <hr>
        <div class="pb-3" style="padding-left: 19px;">Ticket</div>
        <div class="px-3 pb-3 row">
          <div class="colLarge"  *ngIf="count_product?.length">
              <div class="box" id="chart0" [style]="'width:'+width+'%'">
            
              <!-- <canvas class="hide-status 1"  *ngIf="count_product.length > 15" baseChart #canvas3 id="myChart2"  height="50px" [datasets]="barChartData0" [labels]="barChartLabels0" [options]="barChartOptions0"
              [legend]="barChartLegend0" [chartType]="barChartType" [colors]="barChartColors"></canvas> -->


              <canvas class="hide-status 2"    *ngIf="count_product.length < 16" baseChart #canvas3 id="myChart2"  height="100px" [datasets]="barChartData0" [labels]="barChartLabels0" [options]="barChartOptions0"
              [legend]="barChartLegend0" [chartType]="barChartType" [colors]="barChartColors"></canvas>

              <canvas class="hide-status 3"    *ngIf="count_product.length > 15" baseChart #canvas3 id="myChart2"  height="50px" [datasets]="barChartData0" [labels]="barChartLabels0" [options]="barChartOptions0"
                [legend]="barChartLegend0" [chartType]="barChartType" [colors]="barChartColors"></canvas>

              <canvas class="hide-12"  baseChart #canvas3 id="myChart2"  height="80px" [datasets]="barChartData0" [labels]="barChartLabels0" [options]="barChartOptions0"
              [legend]="barChartLegend0" [chartType]="barChartType" [colors]="barChartColors"></canvas>
              </div>
          </div>
          <div class="" *ngIf="!count_product?.length" >
            <div class="box" id="chart0" [style]="'width:'+100+'%'">
              <canvas   baseChart #canvas3 id="myChart2" [style]="'width:'+100+'%'"  height="70px" [datasets]="barChartData0" [labels]="barChartLabels0" [options]="barChartOptions0"
              [legend]="barChartLegend0" [chartType]="barChartType" [colors]="barChartColors"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6  mb-3 pr-2">
      <div class="card-db ">
        <div class="title-charts pt-3 px-2">
          <div class="title">
            <p>Số lượng ticket xử lý</p>
          </div>
          <div class="float-right d-flex">
            <div class=" pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
                [nzMaxTagCount]="1" 
                [(ngModel)]="product_id_sticket"
                [nzNodes]="listProduct"
                (ngModelChange)="onChangeProductT($event)"
                nzShowSearch nzCheckable nzHideUnMatched 
                [nzDropdownClassName]="'dropdown-product'"
                
                nzPlaceHolder="Loại sản phẩm">
             </nz-tree-select> 
             <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
            <div class=" pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
              #treeselect [nzMaxTagCount]="1" 
              [(ngModel)]="department_id_ticket"
              [nzNodes]="listDepartment"
              (ngModelChange)="onChangeDepartmentT($event)"
              nzShowSearch nzCheckable nzHideUnMatched 
              [nzDropdownClassName]="'dropdown-product'"
              [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
              nzPlaceHolder="Đơn vị">
              </nz-tree-select> 
              <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
          </div>
          
        </div>
        <hr>
        <div class="pb-3" style="padding-left: 19px;">Ticket</div>
        <div class="px-3 pb-3 row">
          <div class="colLarge" >
            <div class="box" id="chart2" [style]="'width:'+width1+'%'">
            <canvas *ngIf="width1==100" baseChart #canvas3 id="myChart2"    [style]="'width:'+width1+'%'" [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2"
            [legend]="barChartLegend" [chartType]="barChartType1" [colors]="lineChartColors"></canvas>

                <canvas *ngIf="width1!=100 && active1==4 && count_product1 < 90" baseChart #canvas3 id="myChart2 1"   height="100px" [style]="'width:'+width1+'%'" [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2"
              [legend]="barChartLegend" [chartType]="barChartType1" [colors]="lineChartColors"></canvas>

            <canvas *ngIf="width1!=100 && count_product1 > 89 "  baseChart #canvas3 id="myChart2 12"  height="50px" baseChart [style]="'width:'+width1+'%'" [datasets]="barChartData2" [labels]="barChartLabels2" [options]="barChartOptions2"
            [legend]="barChartLegend" [chartType]="barChartType1" [colors]="lineChartColors"></canvas>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6  mb-3 pl-2">
      <div class="card-db ">
        <div class="title-charts pt-3 px-2">
          <div class="title" >
            <p>Số lượng ticket đã tạo</p>
          </div>
          <div class="float-right d-flex">
            <div class=" pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
                 [nzMaxTagCount]="1" 
                [(ngModel)]="product_id_ticketC"
                [nzNodes]="listProduct"
                (ngModelChange)="onChangeProductTC($event)"
                nzShowSearch nzCheckable nzHideUnMatched
                
                [nzDropdownClassName]="'dropdown-product'"
                #treeselect
              
                nzPlaceHolder="Loại sản phẩm">
             </nz-tree-select> 
             <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
            <div class=" pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
              [nzMaxTagCount]="1" 
              [(ngModel)]="department_id_ticketC"
              [nzNodes]="listDepartment"
              (ngModelChange)="onChangeDepartmentTC($event)"
              nzShowSearch nzCheckable nzHideUnMatched
              
              [nzDropdownClassName]="'dropdown-product'"
              #treeselect 
           
              nzPlaceHolder="Đơn vị">
              </nz-tree-select> 
              <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
          </div>
          
        </div>
        <hr>
        <div class="pb-3" style="padding-left: 19px;">Ticket</div>
        <div class="px-3 pb-3 row">
          <div class="colLarge" >
            <div class="box" id="chart3" [style]="'width:'+width1+'%'">
            <canvas *ngIf="width1==100" baseChart #canvas3 id="myChart3"   [style]="'width:'+width1+'%'" [datasets]="barChartData3" [labels]="barChartLabels3" [options]="barChartOptions3"
            [legend]="barChartLegend" [chartType]="barChartType2" [colors]="lineChartColors3"></canvas>

            <canvas *ngIf="width1!=100 && active1==4 && count_product1 < 90" baseChart #canvas3 id="myChart3" height="100px"   [style]="'width:'+width1+'%'" [datasets]="barChartData3" [labels]="barChartLabels3" [options]="barChartOptions3"
            [legend]="barChartLegend" [chartType]="barChartType2" [colors]="lineChartColors3"></canvas>

            <canvas *ngIf="width1!=100 && count_product1 > 89"  baseChart #canvas3 id="myChart3"  height="50px" baseChart [style]="'width:'+width1+'%'" [datasets]="barChartData3" [labels]="barChartLabels3" [options]="barChartOptions3"
            [legend]="barChartLegend" [chartType]="barChartType2" [colors]="lineChartColors3"></canvas>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 mb-3">
      <div class="card-db">
        <div class="title-charts pt-3 px-3">
          <div class="title" >
            <p>Thống kê số lượng ticket theo mức độ ưu tiên</p>
          </div>
          <div class="float-right d-flex">
            <div class="float-right pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
                [nzMaxTagCount]="1" 
                [(ngModel)]="product_id_priority"
                [nzNodes]="listProduct"
                (ngModelChange)="onChangeProductPriority($event)"
                nzShowSearch nzCheckable nzHideUnMatched
                
                [nzDropdownClassName]="'dropdown-product'"
                #treeselect 
               
                nzPlaceHolder="Loại sản phẩm">
             </nz-tree-select> 
             <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
            <div class="float-right pr-2 pt-10" style="width:230px">
              <nz-tree-select style="width: 100%"
              [nzMaxTagCount]="1" 
              [(ngModel)]="department_id_priority"
              [nzNodes]="listDepartment"
              (ngModelChange)="onChangeDepartmentPriority($event)"
              nzShowSearch nzCheckable nzHideUnMatched
              
              [nzDropdownClassName]="'dropdown-product'"
              #treeselect
              [nzVirtualHeight]="!treeSelect.inputValue ? '600px' : ''"
              nzPlaceHolder="Đơn vị">
               </nz-tree-select> 
           <img src="assets/images/icon/down_ds.svg" class="img-sticket">
            </div>
          </div>
        </div>
        <hr>
        <div class="" style="padding-left: 19px;">Ticket</div>
        <div class="px-3 pb-3 colLarge" id="chart4">
          <canvas class="hide-status" baseChart [datasets]="barChartData4" height="90px" [labels]="barChartLabels4" [options]="barChartOptions4"
            [legend]="barChartLegend1" [chartType]="barChartType" [colors]="barChartColors4">
          </canvas>

          <canvas  class="hide-12" baseChart [datasets]="barChartData4" height="130px" [labels]="barChartLabels4" [options]="barChartOptions4"
          [legend]="barChartLegend1" [chartType]="barChartType" [colors]="barChartColors4">
        </canvas>
        </div>

      </div>
    </div>
  </div>
</div>
