.card-overview {
    background: #fff;
    padding: 17px 6px 0px 20px;
    position: static;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: rgba(33, 33, 33, 0.85);
    font-size: 14px;
    border-right: 1px solid #ececec;
    border-radius: 8px;
    margin-right: 12px;
    min-height: 84px;
}
.card-overview:last-child{
    margin-right: 0px!important;
}
.scroll-status{
    width: 100%;
    padding: 8px 1rem 0px 18px;
}
.date-filter label {
    min-width: 50px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 0px;
}

::ng-deep .ant-picker-range {
    height: 31px;
    width: 300px;
}

.date-filter .d-flex {
    justify-content: right !important;
}

.ant-btn-default {
    color: #0060AF !important;
}

::ng-deep .month-picker {
    width: 221px;
    height: 31px;
}

.card-overview h5 {
    font-weight: 500;
    font-size: 23px;
    color:#212121;
}
.card-db {
     box-shadow: unset!important
}
.quy {
    background: #F4F5FA;
    border: 1px solid #E0E0E0;
    border-radius: 6px;
    width: 150px;
    height: 32px;
    line-height: 32px;
    padding: 0px 10px;
    position: relative;
}
.box-contact .ant-dropdown-trigger{
    width: 221px;
}
.box-tag.quy{
    width: 150px;
}
.box-contact .mat-icon {
    position: absolute !important;
    right: 17px !important;
    top: 7px !important;
    font-size: 14px;
    opacity: 0.5;
    cursor: pointer;
}
.dropdown-menu {
    padding: 16px;
    width: 296px;
}

.pointer {
    cursor: pointer;
    padding: 5px 11px;
    font-size: 14px;
}

.inner-name.w-100 {
    padding: 3px;
    margin: 0px 6px;
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
}

.bg1 {
    background: #0060AF;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 4px 11px;


}

.card-db {
    border-radius: 12px;
    border: none;
    box-shadow: rgb(17 17 26 / 10%) 0px 0px 16px;
    background: #fff;
}

.title-charts {
    width: 100%
}

.title-charts .title {
    font-size: 16px;
    font-weight: 500;
    padding-left: 6px;
    display: inline-block;
}

.title-charts .title p {
    padding: 6px;
    color: #212121;
}

.quy .anticon-calendar {
    position: absolute;
    right: 8px;
    top: 8px;
    color: #afacac;
}

::ng-deep .month-picker, ::ng-deep .ant-picker-range {
    background: #F4F5FA;
}

:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 1px solid #e0e0e0;
    color: #212121;
}

:host ::ng-deep .ant-select-selection-placeholder {
    color: #212121;
}

:host ::ng-deep .ant-select-arrow .anticon>svg {
    color: #0060AF;
}

:host ::ng-deep .ant-select-multiple .ant-select-selection-item {
    background: #ECF5FF;
    border-radius: 8px;
}

:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: unset;
}
::ng-deep #chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: #fff;      
    color: #000;
    border-radius: 3px;
    border:1px solid #000;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.hide-12{
    display: none;
}
::ng-deep.chartjs-tooltip-key {
    display: inline-block;      
    margin-right: 5px;      
    width: 10px;
    height: 10px;			
    border-radius: 50%;
}
@media (min-width: 1040px){
    .col-lg-6 {
    flex: 0 0 50% !important;
    max-width: 50% !important;
}
}
@media (min-width: 992px){
   
   
}
.img-sticket{
    height: 50px;
}

@media (max-width: 1200px){
    .dashboard .col-lg-6 {
        flex: unset!important;
        max-width: unset!important;
    }
    .card-overview {
        padding: 5px;
        height: 92px;
    }
    .img-sticket{
        height: 37px;
    }
    .hide-status{
        display: none!important;
    }
    .colLarge .hide-12{
        display: block!important;
    }

}
@media (max-width: 730px)
{
    .dashboard .card-overview {
        width: 31% !important;
    }
    .card-overview {
        padding: 7px;
        height: 112px;
    }
}
.input-placeholder{
    color: #757575;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 200;
    font-size: 15px;
    opacity: 0.3;
    cursor: default;
}
.pt-10{
    padding-top: 4px;
}
.card-overview.mr-3:last-child{
    margin-right: 0px!important;
}
label{
    color: #000 !important;
}
.img-close{
    height: 20px;
}
.page-top.page-top-tickets{
    justify-content: flex-end;
    border-bottom: 1px solid #ececec;
}
.hide-12{
    display: none!important;
}
.ticket-status.hide-status {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 8px !important;
    line-height: 20px;
    color: black;
    padding-top: 2px;
    padding-left: 3px;
}
.colSmall{
    width: 100px;
}
.colLarge{
    max-width: 100%;
    overflow-x: scroll;
}
.colLarge::-webkit-scrollbar {  
    height: 8px;
}
#chart0{
    min-width: 100%;
}
.date-year{
    background-color: #F4F5FA;
    border: 1px solid #0060AF;
    color: #0060AF;
    height: 30px;
}
.noData{
    position: absolute;
    top: 47%;
    left: 28%;
}
.page-top {
    padding: 16px 20px 6px;
    background: #ECECF3;
}
.sticky-top {
    background: #ECECF3;
}
.mystyle{
    background: red;
}
::ng-deep .dropdown-product .ant-select-tree-switcher {
    width: 0px!important;;
}
::ng-deep .dropdown-product .ant-select-tree-treenode:first-child .ant-select-tree-switcher {
    width: 24px!important;
}
/* ::ng-deep .dropdown-product .ant-select-tree-switcher .ant-select-tree-switcher-icon svg{
    display: none;
} */
.barChart{
    width:1600px!important
}
.dropdown-menu.pd-0{
    box-shadow: 1px 2px 12px rgb(0 102 153 / 10%);
    border-radius: 8px;
    border: unset;
}
.date-filter input{
    height: 33px!important;
    background: #F4F5FA!important;
}
.title-charts ::ng-deep .ant-select-multiple .ant-select-selection-item {
    max-width: 131px!important;
    white-space: nowrap!important;
    display: inline-flex!important;
}
.title-charts ::ng-deep  .ant-select-multiple .ant-select-selector{
    height: 32px;
    display: block!important;
    overflow: hidden;
}
.title-charts ::ng-deep  .ant-select-selection-search{
    position: absolute;
}
.title-charts ::ng-deep .ant-select-multiple .ant-select-selector {
    flex-wrap: nowrap!important;
}
.box-tag .anticon-down{
    color: rgba(158, 158, 158, 0.9);
    font-size: 12px;
    position: absolute;
    right: 9px;
    top: 11px;
}
.title-charts  .pt-10{
    position: relative;
}
.title-charts   .pt-10 img{
    position: absolute;
    height: 8px!important;
    right: 15px;
    top: 16px;
}
.title-charts   .pt-10  ::ng-deep .ant-select-clear {
    right: 7px!important;
}
.date-tg .anticon-calendar{
    color: rgba(158, 158, 158, 0.9);
    position: absolute;
    top: 25px;
    right: 29px;
}