<div class="create-department detail-contact">
    <div *nzModalTitle>
        <span>Thông tin liên hệ</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form >
                <div class="row">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label>Khách hàng
                                </label>
                                <nz-select nzAllowClear nzShowSearch nzServerSearch formControlName="customer_id"
                                [nzDisabled]="form.get('customer_id')?.disabled"
                                (nzOnSearch)="cusQuestionUpdate.next($event)"
                                (nzScrollToBottom)="loadMoreCus()"
                                (ngModelChange)="changeCustomer($event)"
                                [nzDropdownRender]="renderTemplateCustomer">
                                <nz-option *ngFor="let item of customListSearch" [nzCustomContent]="true"
                                    [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                    <div container="body">
                                        {{(item?.phone || '') | translate}} <span *ngIf="item.phone"> - </span> {{(item?.name || '') | translate}}
                                    </div>
                                </nz-option>
                            </nz-select>
                                <ng-template #renderTemplateCustomer>
                                    <nz-spin *ngIf="isLoading"></nz-spin>
                                </ng-template>
                            </div>
                            
                            <div class="col-12 mb-2">
                                <label>
                                    Người đại diện
                                </label>
                                <div class="description pt-2">
                                    {{delegate_name}}
                                </div>
                            </div>
                            
                            <div class="col-12 mb-2">
                                <label>Người liên hệ</label>
                                <nz-select nzAllowClear                    
                                    removeOptionTitle formControlName="contact_id">
                                    <nz-option *ngFor="let item of contactList"
                                    [nzCustomContent]="true"
                                    [nzLabel]="(item?.name || '') | translate"
                                    [nzValue]="item.id">
                                    <div container="body">
                                        {{(item?.name || '') | translate}}
                                    </div>
                                    </nz-option>
                                </nz-select>
                            </div>
                            
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
            [text]="'action.close'"  (click)="onCancel()" ></mbf-button>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [icon]="'save'" [shapeType]="'radius'"
            [text]="'action.save'"  (click)="onSubmit()" ></mbf-button>
        </div>
    </div>
</div>