.description{
    border: 1px solid #d9d9d9;
    height: 35px;
    border-radius: 4px;
    padding: 0px 9px;
    line-height: 19px;
}
 .detail-contact ::ng-deep .ant-select-single .ant-select-selector .ant-select-selection-item {
    padding: 0;
    line-height: 30px;
    transition: all 0.3s;
}