<div class="page-top detail-ticket">
    <div class="page-url text-uppercase">
        <div class="d-flex align-items-center justify-content-start">
            <div class="menu-link-item"><a href="">
                    <p class="active">Danh sách yêu cầu</p>
                </a>
            </div>
            <div class="menu-link-item"><a (click)="onCreateTicket()">
                    <p>Gửi yêu cầu</p>
                </a>
            </div>
        </div>
    </div>
    <div class="page-action">
    </div>
</div>
<div class="page-body mb-5 mt-2 detail-ticket page-end-user">
    <div class="container-fluid mt-0">
        <div class="row">
            <div class="col-md-12 col-lg-9 px-2">
                <div class="card">
                    <div class="card-header d-flex">
                        <h6>Thông tin Ticket</h6>
                    </div>
                    <div class="card-body">
                        <div class="row px-3 pb-0">
                            <h5 class=" col-8 mb-3 pt-2"> PHIẾU YÊU CẦU {{ticketData.code}}</h5>
                            <div class="col-4 d-flex justify-content-end" style="float:right;">
                                <mbf-button
                                    *ngIf="ticketData?.ticket_status_type == 1 && ticketData?.require_id == infoUser?.id && ticketData?.is_reopen_ticket == 0"
                                    [type]="'default'" [text]="'HỦY TICKET'" (click)="onDelete(ticketId)">
                                </mbf-button>
                            </div>
                        </div>
                        <div class="form">
                            <div class="col-12">
                                <form [formGroup]="form">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="d-flex res-mobile">
                                                        <label>Tiêu đề
                                                        </label>
                                                        <div class="title">
                                                            <div class="d-flex">
                                                                <div class="col-md-10 title-tickets description"
                                                                    (click)="showDiscription1()"
                                                                    *ngIf="!isShowDescription1">
                                                                    <div class="">{{ticketData.title}}</div>
                                                                </div>
                                                                <div class="col-md-10    "
                                                                    *ngIf="isShowDescription1">
                                                                    <textarea nz-input class="w form-control"
                                                                        type="text" formControlName="title"></textarea>
                                                                    <ng-container
                                                                        *ngIf="form.get('title')?.touched || form.get('title')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="form.get('title')?.hasError('required')">
                                                                            {{ 'model.ticket.error.requiredTitle' |
                                                                            translate }}
                                                                        </span>
                                                                        <span class="text-danger"
                                                                            *ngIf="form.get('title')?.errors?.maxlength">
                                                                            <small>{{ 'model.ticket.error.maxLength' |
                                                                                translate :
                                                                                {param:
                                                                                LENGTH_VALIDATOR.TITLE_MAX_LENGTH.MAX}
                                                                                }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>


                                                                <div class="col-md-2 btn-edit"
                                                                    *ngIf="!form.get('title')?.disabled">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i>
                                                                    </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadDataById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                    <div class="d-flex res-mobile">
                                                        <label>Phân loại
                                                        </label>
                                                        <div class=" mt-2 ml-2">
                                                            {{ticketData.category_name}}
                                                        </div>
                                                    </div>
                                                    <div class="d-flex res-mobile">
                                                        <label>Sản phẩm dịch vụ
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            {{ticketData.product_name}}
                                                        </div>
                                                    </div>


                                                    <div class="d-flex res-mobile">
                                                        <label>SLA
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            <div class="tag tag-default"
                                                                *ngIf="ticketData?.resolution_time_require && ticketData.priority_name != '' && ticketData?.ticket_status_type !=4">
                                                                <span>{{slaTime}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex res-mobile">
                                                        <label>Người yêu cầu
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            {{ticketData.require_name}}
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-12 col-lg-6">
                                                    <div class="d-flex res-mobile">
                                                        <label>SLA còn lại
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            <div class=""
                                                                *ngIf="ticketData.ticket_status_type != 3 && ticketData.sla_id && ticketData.priority_name != '' && ticketData?.ticket_status_type !=4">
                                                                <span
                                                                    style="color:red;font-weight: 500;">{{timeSlaRemain}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex res-mobile">
                                                        <label>Thời gian tạo
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            {{ticketData.created_at| date:'dd/MM/yyyy HH:mm:ss '}}
                                                        </div>
                                                    </div>

                                                    <div class="d-flex res-mobile">
                                                        <label>Nguồn ticket
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            {{ticketData.source_name}}
                                                        </div>
                                                    </div>
                                                    <div class="d-flex res-mobile"
                                                        *ngIf="ticketData.source_icon != 'mail'">
                                                        <label>Người tạo
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            {{ticketData.created_by}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                    <div class="d-flex res-mobile">
                                                        <label>Trạng thái
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            <div *ngIf="ticketData?.state_id">
                                                                <div class="tag warning"
                                                                    [style]="'background:'+ticketData.state_color+'; color:' +ticketData.state_text_color ">
                                                                    {{ticketData.state_name}}</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-lg-6">
                                                    <div class="d-flex res-mobile">
                                                        <label>Độ ưu tiên
                                                        </label>
                                                        <div class=" mt-2  ml-2">
                                                            <div *ngIf="ticketData?.priority_name">
                                                                <div class="tag warning"
                                                                    [style]="'background:'+ticketData.priority_color">
                                                                    {{ticketData.priority_name}}</div>
                                                            </div>

                                                            <div *ngIf="ticketData.priority_name == '' ">
                                                                <div class="tag warning1"
                                                                    [style]="'background:#F4F5FA;color:#000'">Chưa
                                                                    xác định</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex res-mobile"
                                                    *ngIf="ticketData?.ticket_status_type ==4 && ticketData?.cancellation_reason">
                                                    <label>Lí do
                                                    </label>
                                                    <div class=" mt-2 pl-2">
                                                        {{ticketData.cancellation_reason}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="d-flex res-mobile">
                                                <label>Mô tả
                                                </label>
                                                <div class="title">
                                                    <div class="d-flex description-editor">
                                                        <div class="col-md-10  px-0" (click)="showDiscription()">
                                                            <div [innerHtml]="form?.get('description')?.value" nz-input
                                                                (click)="showDiscription()" *ngIf="!isShowDescription"
                                                                class=" title-tickets  description1">
                                                            </div>
                                                            <div class="show-desktop">
                                                                <mb-editor *ngIf="isShowDescription" [maxLength]="5000"
                                                                    [value]="form?.get('description')?.value"
                                                                    (data)="onChangeData('description', $event)"
                                                                    placeholder="{{ 'model.ticket.description' | translate }}">
                                                                </mb-editor>
                                                            </div>
                                                            <div class="show-mobile">
                                                                <textarea nz-input *ngIf="isShowDescription"
                                                                    formControlName="description">
                                                                </textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2  btn-edit"
                                                            *ngIf="!form.get('description')?.disabled">
                                                            <button class="btn btn-saveEditor" (click)="onSubmit()"><i
                                                                    nz-icon nzType="check" nzTheme="outline"></i>
                                                            </button>
                                                            <button class="btn editer" (click)="loadDataById()"><i
                                                                    nz-icon nzType="close" nzTheme="outline"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 mb-2 d-flex">
                                            <div class="col-md-2 col-sm-4">
                                            </div>
                                            <div class="mb-2 mr-4 ml-2">
                                                <span class="text-danger" *ngIf="isDescription">
                                                    <small>Độ dài không quá 5000 ký tự</small>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-flex res-mobile">
                                                <label>File đính kèm
                                                </label>
                                                <div class="title">
                                                    <div class="upload-detail file-icon col-md-2 ml-2 mb-2"
                                                        *ngFor="let data of dataFile"
                                                        (click)="download(data.url,data.original_file_name,data.id)"
                                                        target="_blank" download>
                                                        <div class="type-upload">
                                                            <span
                                                                style="color: #1890ff;text-align: center;">{{data.file_extension}}</span>
                                                        </div><br>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <span nzTooltipTitle="{{data?.original_file_name}}"
                                                                    nz-tooltip>{{commonUtil.limitWord(data?.original_file_name,10)}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12  upload " *ngIf="ticketData?.ticket_status_type == 1">
                                            <div class="d-flex res-mobile">
                                                <label>&nbsp;
                                                </label>
                                                <div class="title pl-2">
                                                    <div class="d-flex">
                                                        <div class="col-md-10 col-xm-12">
                                                            <div class="row">
                                                                <mbf-upload #upload [multiple]="true"
                                                                    [typeUpload]="'uploadToServer'" class="px-0"
                                                                    [acceptTypeFiles]="['default']" [key]="'task'"
                                                                    (emitter)="handleLoadFile($event)"
                                                                    (emitterUploading)="checkFileUploading()"
                                                                    (emitterError)="addEvent($event)"></mbf-upload>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 btn-edit mb-2">
                                                            <button class="btn btn-saveEditor" (click)="onSubmit()"><i
                                                                    nz-icon nzType="check" nzTheme="outline"></i>
                                                            </button>
                                                            <button class="btn editer" (click)="loadDataById()"><i
                                                                    nz-icon nzType="close" nzTheme="outline"></i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card advance-filter mt-2">
                    <div class="card-header">
                        <h6>Luồng xử lý </h6>
                    </div>
                    <div class="body-title">{{titleWorkflow}}</div>
                    <div class="cbody d-flex body-flow">
                        <div class="workflow d-flex align-items-center m-1"
                            *ngFor="let node of this.ticketData.excuting_level;">
                            <div class="node" (click)="getDetail(node)">
                                <div class="node-info" [ngClass]="node?.excute_info.process_type">
                                    <img class="image-info"
                                        [src]="node.assignee.avatar ? domainFile +node.assignee.avatar : 'assets/images/ava-default.jpg' ">
                                    <p class="name">
                                        <span *ngIf="getStringLenght(node.assignee?.name)>14" nz-tooltip
                                            [nzTooltipTitle]="node.assignee?.name || 'Chưa có người nhận'">{{commonUtil.limitWordDes(node.assignee?.name
                                            || 'Chưa có người nhận',14)}}</span>
                                        <span *ngIf="getStringLenght(node.assignee?.name)<=14">{{node.assignee?.name ||
                                            'Chưa có người nhận'}}</span>
                                    </p>
                                    <p>
                                        <span *ngIf="node?.department_name?.length>14" nz-tooltip
                                            [nzTooltipTitle]="node?.department_name">{{commonUtil.limitWordDes(node?.department_name,14)}}</span>
                                        <span *ngIf="node?.department_name?.length<=14">{{node?.department_name}}</span>
                                    </p>
                                    <i nz-icon nzType="eye" nzTheme="outline"
                                        *ngIf="node?.excute_info?.process_type != 'todo'"></i>
                                </div>
                                <div class="node-title">
                                    <span *ngIf="node?.node_name?.length>14" nz-tooltip
                                        [nzTooltipTitle]="node?.node_name">{{commonUtil.limitWordDes(node?.node_name,14)}}</span>
                                    <span *ngIf="node?.node_name?.length<=14">{{node?.node_name}}</span>
                                </div>
                            </div>
                            <div class="arrow mb-4 ml-1">
                                <img src="assets/images/icon/arrow-n.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-3 px-2">
                <div class="card advance-filter mb-3">
                    <div class="card-header">
                        <h6>Trao đổi ticket</h6>
                    </div>
                    <div class="cbody justify-content-center align-items-center p-0 ">
                        <div class=" mr-2">
                            <div class="w-100 input-comment p-3 scroll-timeline">
                                <ng-template let-comment ngFor [ngForOf]="listComment">
                                    <nz-comment [nzAuthor]="comment.author">
                                        <nz-avatar nz-comment-avatar nzIcon="user"
                                            [nzSrc]="domainFile + comment.avatarProfile">
                                        </nz-avatar>
                                        <nz-comment-content>
                                            <div class="d-flex" *ngIf="commentId!=comment.id">
                                                <div class="content-comment">
                                                    <p class="name-comment"><b>{{comment.user_name}}</b></p>
                                                    <p class="box-comment"><span
                                                            style="color:#1890ff">{{comment.tagged_users}}</span>
                                                        {{comment.content}}</p>
                                                    <p *ngIf="comment.files.data.length > 0">
                                                        <a class="mb-2 mr-2" *ngFor="let item of comment.files.data"
                                                            (click)="download(item.url,item.original_file_name,item.id)"
                                                            download target="_blank">
                                                            <img src="assets/images/icon/upload-file.svg"
                                                                alt="circle-plus-icon" srcset="" />
                                                            {{item?.original_file_name}}</a>
                                                    </p>
                                                </div>
                                                <span nz-button nzTrigger="click"
                                                    class="icon-more btn btn-default btn-circle"
                                                    *ngIf=" comment.user_name == infoUser.name" nz-dropdown
                                                    [nzDropdownMenu]="more"><i nz-icon nzType="more"
                                                        nzTheme="outline"></i> </span>
                                                <nz-dropdown-menu #more="nzDropdownMenu">
                                                    <ul nz-menu>
                                                        <li nz-menu-item> <button class="btn border-bottom w-100"
                                                                (click)="editComment(comment)">
                                                                <img src="assets/images/icon/edit.svg"
                                                                    alt="circle-plus-icon" srcset="" />
                                                                <span class="ml-2"> Sửa</span>
                                                            </button></li>
                                                        <li nz-menu-item> <button class="btn w-100"
                                                                (click)="deleteComment(comment.id)">
                                                                <img src="assets/images/icon/delete.svg"
                                                                    alt="circle-plus-icon" srcset="" />
                                                                <span class="ml-2"> Xóa</span>
                                                            </button></li>
                                                    </ul>
                                                </nz-dropdown-menu>
                                            </div>
                                            <textarea rows="3" nz-input [(ngModel)]="content"
                                                *ngIf="commentId==comment.id"></textarea>
                                            <div *ngIf="commentId==comment.id" class="d-flex" style="width:100%">
                                                <input type="text" disabled="true" class="mt-3 input-tag tag-comment"
                                                    style="width:13%;color:white;background-color: #1672EC;" nz-input
                                                    placeholder="@">
                                                <nz-select [(ngModel)]="tagUserComment" class="mt-3" style="width:87%"
                                                    [nzMaxTagCount]="5" nzPlaceHolder="Cán bộ liên quan" nzShowSearch
                                                    nzMode="multiple">
                                                    <nz-option *ngFor="let item of involvedUserList"
                                                        [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                        <div>
                                                            {{(item?.name || '') | translate}}
                                                        </div>
                                                    </nz-option>
                                                </nz-select>
                                            </div>
                                        </nz-comment-content>
                                        <p class="btn-reply pb-1 text-right" *ngIf="commentId!=comment.id">
                                            <i>{{comment.created_at |
                                                date:' HH:mm dd/MM/yyyy'}}</i> <a class="btn-reply pb-1 ml-2"
                                                (click)="showEditor(comment.id)">
                                                Trả
                                                lời</a>
                                            <a *ngIf="isShoweditor[comment.id]" class="btn-cancel pb-1 ml-2"
                                                (click)="closeComment(comment.id)">
                                                Hủy</a>
                                        </p>
                                        <p class="btn-reply pb-1 text-right" *ngIf="commentId==comment.id">
                                            <a class="btn-reply pb-1 ml-2" (click)="updateComment(comment.id)">
                                                Lưu</a>
                                            <a class="btn-cancel pb-1 ml-2" (click)="closeComment(comment.id)">
                                                Hủy</a>
                                        </p>

                                        <ng-container>
                                            <div *ngFor="let child of comment.replies.data">
                                                <nz-comment>
                                                    <nz-avatar nz-comment-avatar nzIcon="user"
                                                        [nzSrc]="domainFile+ child.avatarProfile">>
                                                    </nz-avatar>
                                                    <nz-comment-content>
                                                        <div class="d-flex" *ngIf="commentIdReply!=child.id">
                                                            <div class="content-comment">
                                                                <p class="name-comment"><b>{{child.user_name}}</b></p>
                                                                <span class=" box-comment"><span
                                                                        style="color:#1890ff">{{child.tagged_users}}</span>
                                                                    {{child.content}}</span>
                                                                <p *ngIf="child.files.data.length > 0">
                                                                    <a class="mb-2 mr-2"
                                                                        *ngFor="let item of child.files.data "
                                                                        (click)="download(item.url,item.original_file_name,item.id)"
                                                                        download target="_blank"><img
                                                                            src="assets/images/icon/upload-file.svg"
                                                                            alt="circle-plus-icon" srcset="" />
                                                                        {{item?.original_file_name}}</a>
                                                                </p>
                                                                <p class="btn-reply pb-1 text-right">
                                                                    <i>{{child.created_at |
                                                                        date:' HH:mm dd/MM/yyyy'}}</i>
                                                                </p>
                                                            </div>
                                                            <span nz-button nzTrigger="click"
                                                                class="icon-more btn btn-default btn-circle"
                                                                *ngIf="child.user_name == infoUser.name" nz-dropdown
                                                                [nzDropdownMenu]="more"><i nz-icon nzType="more"
                                                                    nzTheme="outline"></i> </span>
                                                            <nz-dropdown-menu #more="nzDropdownMenu">
                                                                <ul nz-menu>
                                                                    <li nz-menu-item>
                                                                        <button class="btn border-bottom w-100"
                                                                            (click)="editCommentReply(child)"> <img
                                                                                src="assets/images/icon/edit.svg"
                                                                                alt="circle-plus-icon" srcset="" />
                                                                            <span class="ml-2"> Sửa</span>
                                                                        </button>
                                                                    </li>
                                                                    <li nz-menu-item>
                                                                        <button class="btn w-100"
                                                                            (click)="deleteComment(child.id)"><img
                                                                                src="assets/images/icon/delete.svg"
                                                                                alt="circle-plus-icon" srcset="" />
                                                                            <span class="ml-2"> Xóa</span>
                                                                        </button>
                                                                    </li>
                                                                </ul>
                                                            </nz-dropdown-menu>
                                                        </div>
                                                        <textarea rows="3" nz-input [(ngModel)]="contentReply"
                                                            *ngIf="commentIdReply==child.id"></textarea>
                                                        <div *ngIf="commentIdReply==child.id" class="d-flex"
                                                            style="width:100%">
                                                            <input type="text" disabled="true" class="mt-3 tag-comment"
                                                                style="width:17%;color:white;background-color: #1672EC;"
                                                                nz-input placeholder="@">
                                                            <nz-select [(ngModel)]="tagUserReplyComment" class="mt-3"
                                                                style="width:83%" [nzMaxTagCount]="5"
                                                                nzPlaceHolder="Cán bộ liên quan" nzShowSearch
                                                                nzMode="multiple">
                                                                <nz-option *ngFor="let item of involvedUserList"
                                                                    [nzLabel]="(item?.name || '') | translate"
                                                                    [nzValue]="item.id">
                                                                    <div>
                                                                        {{(item?.name || '') | translate}}
                                                                    </div>
                                                                </nz-option>
                                                            </nz-select>
                                                        </div>
                                                        <p class="btn-reply pb-1 text-right"
                                                            *ngIf="commentIdReply==child.id">
                                                            <a class="btn-reply pb-1 ml-2"
                                                                (click)="updateReplyComment(child.id)">
                                                                Lưu</a>
                                                            <a class="btn-cancel pb-1 ml-2"
                                                                (click)="closeReplyComment(child.id)">
                                                                Hủy</a>
                                                        </p>
                                                    </nz-comment-content>
                                                </nz-comment>
                                            </div>
                                            <form [formGroup]="replyComment">
                                                <mbf-upload-comment class="mb-2"
                                                    *ngIf="isShoweditor[comment.id]" [multiple]="true"
                                                    [typeUpload]="'uploadToServer'" [acceptTypeFiles]="['default']"
                                                    [key]="'task'" (emitterComment)="handleLoadFileComment2($event)"
                                                    (emitterUploading)="checkFileUploading()"
                                                    (emitterErrorComment)="addEventComment($event, 1)"
                                                    (emitterAmountError)="addEvent2($event)">
                                                </mbf-upload-comment>
                                                <textarea (ngModelChange)="changeReplyComment($event)" nz-input class=""
                                                    formControlName="contentReply"
                                                    *ngIf="isShoweditor[comment.id]"></textarea>
                                                <div *ngIf="isShoweditor[comment.id]" class="d-flex" style="width:100%">
                                                    <input type="text" disabled="true" class="mt-3 input-tag tag-comment"
                                                        style="width:13%;color:white;background-color: #1672EC;"
                                                        nz-input placeholder="@">
                                                    <nz-select class="mt-3" style="width:87%" [nzMaxTagCount]="5"
                                                        nzPlaceHolder="Cán bộ liên quan" nzShowSearch nzAllowClear
                                                        nzMode="multiple" formControlName="tagged_users">
                                                        <nz-option *ngFor="let item of involvedUserList"
                                                            [nzLabel]="(item?.name || '') | translate"
                                                            [nzValue]="item.id">
                                                            <div>
                                                                {{(item?.name || '') | translate}}
                                                            </div>
                                                        </nz-option>
                                                    </nz-select>
                                                </div>
                                                <div class="mb-5">
                                                    <button nz-input nz-button class="mt-2" nzType="primary" style="float: right"
                                                        [disabled]="replyComment.get('contentReply')?.hasError('required') && !isDisableReply"
                                                        (click)="replySubmit(comment.id)" *ngIf="isShoweditor[comment.id]">
                                                        <img src="assets/images/icon/sent-comment.svg" alt="Union-icon"
                                                            srcset="" class="mr-2" />
                                                        Gửi
                                                    </button>
                                                </div>
                                            </form>
                                        </ng-container>
                                    </nz-comment>
                                </ng-template>

                            </div>
                        </div>
                        <div class="w-100 input-comment">
                            <form [formGroup]="formComment">
                                <nz-comment class="footer-comment">
                                    <nz-comment-content>
                                        <nz-form-item>
                                            <mbf-upload-comment #uploadComment class="mb-2" [multiple]="true"
                                                [typeUpload]="'uploadToServer'" [acceptTypeFiles]="['default']"
                                                [key]="'tasks'" (emitterComment)="handleLoadFileComment($event)"
                                                (emitterUploading)="checkFileUploading()"
                                                (emitterErrorComment)="addEventComment($event,0)"
                                                (emitterAmountError)="addEvent2($event)">
                                            </mbf-upload-comment>
                                            <textarea (ngModelChange)="changeComment($event)" nz-input
                                                formControlName="content" rows="4"
                                                placeholder="Viết nội dung bình luân"></textarea>
                                            <div class="d-flex" style="width:100%">
                                                <!-- <label class="mt-3" style="width:5%; min-width:10px">@</label> -->
                                                <input type="text" disabled="true" class="mt-3 tag-comment"
                                                    style="width:11%;color:white;background-color: #1672EC;" nz-input
                                                    placeholder="@">
                                                <!-- <input class="mt-3" style="width:89%" type="text" nz-input
                                                    placeholder="Cán bộ liên quan"> -->
                                                <nz-select class="mt-3 input-tag" style="width:89%" [nzMaxTagCount]="5"
                                                    nzPlaceHolder="Cán bộ liên quan" nzShowSearch nzMode="multiple"
                                                    formControlName="tagged_users">
                                                    <nz-option *ngFor="let item of involvedUserList"
                                                        [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                        <div>
                                                            {{(item?.name || '') | translate}}
                                                        </div>
                                                    </nz-option>
                                                </nz-select>
                                            </div>
                                            <ng-container
                                                *ngIf="formComment.get('content')?.touched || formComment.get('content')?.dirty">
                                                <span class="text-danger pl-2"
                                                    *ngIf="formComment.get('content')?.errors?.maxlength">
                                                    <small>Trao đổi không quá 500 ký tự</small>
                                                </span>

                                            </ng-container>
                                        </nz-form-item>
                                        <nz-form-item class="btn-sent-comment" style="float:right;">
                                            <button nz-input nz-button nzType="primary" class="mr-3"
                                                [nzLoading]="isLoadingComment"
                                                [disabled]="formComment.get('content')?.hasError('required') && !isDisable"
                                                (click)="commentSubmit()">
                                                <img src="assets/images/icon/sent-comment.svg" alt="Union-icon"
                                                    *ngIf="!isLoadingComment" srcset="" class="mr-2" />
                                                Gửi
                                            </button>
                                        </nz-form-item>
                                    </nz-comment-content>
                                </nz-comment>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
