.center {
  margin: auto;
  width: 1200px !important;
}

.warning {
  background: #FF8A00;
  color: #FFFFFF;
  width: 120px;
}

.tag {
  border-radius: 25px;
  padding: 3px 3px;
  height: 23px;
  width: 110px;
  line-height: 17px;
  text-align: center;
  font-size: 12px;
}

.label-ticket {
  color:#000;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
}

@media (max-width: 1167px) {
  .center {
    width: 100% !important;
  }
}

.title-tickets {
  max-width: 100%;
  border: 1px solid #fff;
}

.btn-edit {
  width: 110px;
  display: flex;
}
.btn-saveEditor {
  color: #1083e5;
  display: none;
  width: 30px;
  margin-right: 5px;
}
.title{
  width: 100%;
}
.editer {
  display: none;
  color: #ED1C24;
}

.title:hover .editer,
.title:hover .btn-saveEditor {
  display: block;
}

.upload:hover .editer,
.upload:hover .btn-saveEditor {
  display: block;
}


.description-editor:hover .editer,
.description-editor:hover .btn-saveEditor {
  display: block;
}

::ng-deep .description-time span {
  color: #1672EC;
  display: inline-block;
}

@media (max-width: 900px) {

  .detail-ticket .card-body .d-flex input,
  .detail-ticket ::ng-deep .ant-select-selector,
  .detail-ticket .description {
    border: 1px solid #d9d9d9 !important;
  }

  .detail-ticket .bg-1 ::ng-deep .ant-select-selector {
    border: 1px solid #fff !important;
    border-radius: 60px;
  }

  .detail-ticket .ant-select {
    max-width: 200px;
  }
}

.detail-ticket ::ng-deep .ant-tabs-nav-wrap {
  background-color: #fff !important;
  color: #000;
}

.detail-ticket ::ng-deep .ant-tabs-tab-btn {
  padding: 0px 13px;
}

.detail-ticket .card-footer .actions {
  justify-content: right !important;
}

.detail-ticket .card-footer {
  background: #fff;
}

.description {
  border-radius: 5px;
  /* padding: 5px 11px; */
  /* border: 1px solid #d9d9d9; */
  word-wrap:break-word;
  color: #000;
}

.detail-ticket .w-100:hover input,
.detail-ticket .w-100:hover ::ng-deep .ant-select-selector {
  border: 1px solid #d9d9d9 !important;
}

.w-100 {
  width: 100% !important;
}

.w-100:hover .bg-1 ::ng-deep .ant-select-selector {
  border: unset !important;
}

.w-100:hover .editer,
.w-100:hover .btn-saveEditor {
  display: block;
}

@media (max-width: 1167px) {
  .center {
    width: 100% !important;
  }
}

.body-title {
  color: #1672EC;
  font-size: 16px;
  font-weight: 600;
  margin: 32px;
}

.node-info {
  width: 153px;
  border: 1px solid #AAC5E8;
  border-radius: 6px;
  text-align: center;
  height: 93px;
  margin: auto;
  padding: 8px;
  position: relative;
}

.node-info img {
  height: 32px;
  width: 32px;
}

.node-info.processing {
  border: 2px solid #1672EC !important;
  background-color: #e9f5ff;
}

.body-flow {
  padding-top: 0px;
  padding-bottom: 40px;
  margin: auto;
  max-width: 100%;
  overflow-x: auto;
}

.workflow {
  margin: auto;
}

.workflow:last-child .arrow {
  display: none;
}

.workflow p {
  color: rgba(158, 158, 158, 0.9);
  font-size: 12px;
  margin-bottom: 0px;
}

.node .name {
  color: rgba(33, 33, 33, 0.85);
  font-weight: 600;
  font-size: 13px;
}

.node .node-title {
  color: #1672EC;
  font-weight: 600;
  text-align: center;
}

@media (max-width: 630px) {
  .col-xm {
    display: none !important;
  }

  .body-flow {
    width: 80%;
  }
}

@media (max-width: 1230px) {
  ::ng-deep .ant-modal {
    width: 50% !important;
  }
}

@media (max-width: 570px) {
  ::ng-deep .ant-modal {
    width: 83% !important;
  }
}

.page-top {
  justify-content: left;
  align-items: center;
  padding: 0 0 0 20px;
  background-color: #0060AF;
  height: 58px;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 54px;
}
.detail-ticket.page-end-user{
  padding-top: 120px;
}

.menu-link-item {
  margin: 17px 20px;
}

.menu-link-item a {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.btn-cancel {
  color: red;
}

.ant-input.ant-input-disabled {
  background-color: white;
}

.tag-default {
  background: #e9f5ff;
  color: #1672ec;
  width: auto;
}
.tag-warning1{
  width: 120px !important;
}

:host ::ng-deep .ant-input:hover {
  border: 1px solid #d9d9d9 !important;
}

:host ::ng-deep .ant-input:focus {
  box-shadow: unset !important;
  border: 1px solid #d9d9d9 !important;
}

.description-editor {
  margin-bottom: 20px;
}

.upload-detail {
  flex: none;
  order: 0;
  flex-grow: 0;
  border-radius: 2px;
  height: 65px;
  padding: 10px;
  width: 105px;
  float: left;
  background: #F4F5FA;
}

.type-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2px 4px;
  gap: 10px;
  position: absolute;
  width: 35px;
  height: 16px;
  left: 8px;
  top: 8px;
  border-radius: 1px;
}

@media (max-width: 1640px) {
  ::ng-deep .upload-detail {
    width: 250px !important;
  }
}

.ant-form-item:first-child {
  border-top: 1px solid #d9d9d9 !important;
}
.page-end-user .col-lg-3 {
  flex: 0 0 400px;
  max-width: 400px;
}
.page-end-user .col-lg-9 {
  flex: calc(100% - 400px);
  max-width: calc(100% - 400px);
}
.footer-comment textarea {
  border-radius: 0px;
  border-right: none !important;
  border-left: none !important;
}
.node-info i{
  position: absolute;
  top: 6px;
  right: 11px;
}
::ng-deep  .ant-comment-inner {
  padding: 3px 0;
}
.btn-reply.pb-1{
  font-size: 12px;
}
.footer-comment ::ng-deep  .ant-comment-avatar {
  display: none !important;
}
.upload-detail span{
  font-size: 12px;
}
.detail-ticket  ::ng-deep .dropzone {
  width: 100% !important;
}
.title-tickets{
  padding: 8px;
}
.item-tickets .col-md-10 {
  flex: calc(100% - 160px);
  max-width: calc(100% - 160px);
}
.item-tickets .col-md-2 {
  flex: 0 0 110px;
  max-width: 110px;
}
.title-tickets.description:hover{
  border: 1px solid #d9d9d9;
}
label{
  width: 140px;
  line-height: 40px;
  min-width: 140px;
  margin-bottom: 0px;
}
.image-info{
  height: 32px;
  width: 32px;
  border-radius: 20px !important;
}
.description1{
  min-height: 36px;
}
.node-info{
  cursor: pointer;
}
.content-comment{
  width: 97%;
}
.icon-more{
  padding-top: 10px;
  background-color: #fff !important;
  width: 28px;
  height: 28px;
}
.icon-more:hover{
  cursor:pointer;
}
.tag-comment::placeholder {
  color:white !important
}

.detail-ticket .ant-select {
  max-width: unset !important;
}
.description-editor img {
  max-width: 100% !important;
  height: auto !important;
}
::ng-deep .input-tag.ant-select .ant-select-selector ,::ng-deep .input-tag.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto!important;
}