<div class="page-top">
    <div class="page-title">
        <h5>Quản lý SLA nội bộ</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <form role="form" [formGroup]="searchForm">
                <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
                    formControlName="keyword" (keyup.enter)="onSearch($event)" />
            </form>
            <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                    alt="search-icon" srcset=""  />
        </div>
        <div class="delete ml-2">
            <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0" (click)="onDeleteAll(setOfCheckedId)">
                <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
            </button>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 responsive-table">
                <div class="card">
                    <nz-table #basicTable [nzData]="slaList"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                        <thead>
                            <tr>
                                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="updateAllChecked($event)">
                                </th>
                                <th style="width: 2%">#</th>
                                <th>Tiêu đề</th>
                                <th>Mô tả</th>
                                <th>Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of slaList; let i = index;">
                                <td [nzChecked]="setOfCheckedId.has(data.sla_internals_id)" [nzDisabled]="data.disabled"
                                    (nzCheckedChange)="onItemChecked(data.sla_internals_id, $event)"></td>
                                <td>{{(pageIndex - 1) * pageSize + i + 1}}</td> 
                                <!-- {{ (pageIndex - 1)*pageSize + customerIndex + 1 }} -->
                                <td><span  nzTooltipTitle="{{data?.title}}" nzTooltipPlacement="top" nz-tooltip>{{ commonUtil.limitWord(data.title, 40) }}</span></td>
                                <td><span  nzTooltipTitle="{{data?.description}}" nzTooltipPlacement="top" nz-tooltip  [innerHTML]="commonUtil.limitWord(data.description, 70)"></span></td>
                                <td>
                                    <div class="action-table">
                                        <mbf-button-action [action]="'edit'" *ngIf="data.sla_internals_id"
                                            nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="detail(data)">
                                        </mbf-button-action>
                                        <mbf-button-action  [action]="'delete'"
                                            nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="onDelete(data)" *ngIf="data.sla_internals_id">
                                        </mbf-button-action>
                                        <button class="btn" (click)="onCreate(data)"  *ngIf="!data.sla_internals_id"  nzTooltipTitle="Tạo mới" nzTooltipPlacement="top" nz-tooltip>
                                            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
                            (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>