//.ant-modal-title {
//  font-weight: bold;
//  font-size: 20px;
//  color: #000000;
//  text-align: center;
//}
//
//.ant-modal-body {
//  font-weight: 600;
//  font-size: 16px;
//  text-align: center;
//  color: #282828;
//}
//
//.ant-modal-footer {
//  text-align: center;
//}
//
//.ant-modal-close-x {
//  display: none;
//}
//
//.ant-modal-content {
//  padding: 15px;
//}

.content {
  color: #282828;
}
.btn-cancel{
  color: #9E9E9E !important;
  background: #F4F5FA !important;
}
.btn-cancel:hover{
  border-color: #9E9E9E !important;
}
:host ::ng-deep .ant-modal-header{
  padding: 16px 14px !important;
  background-color: #fff;
}
