<div class="page-body mb-5 page-end-user">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mt-0 center">
                    <div class="card-body row">
                        <div>
                            <h5 class="ml-3 mb-5">
                                <p>CHI TIẾT THÔNG TIN CÁ NHÂN</p>
                            </h5>
                        </div><br>
                        <div class="col-2 container" style="text-align:center">
                            <div class="box-image" >
                                <div [hidden]="checkActionUpload">
                                    <img id="preview-img"
                                        [src]="imgFile ? urlgetway+imgFile :'assets/images/ava-default.jpg'" alt="">
                                </div>
                                <mbf-upload-ava [multiple]="false" [typeUpload]="'uploadToServer'"
                                    class="px-0 camera-icon" [acceptTypeFiles]="['default']" [key]="'task'"
                                    (emitter)="handleLoadFile($event)" (emitterAction)="checkUpload($event)"
                                    (emitterError)="addEvent($event)">
                                </mbf-upload-ava>
                            </div>
                            <span style="display: inline-block" class="name-user mt-3 text-center ">{{nameUser}}</span>
                        </div><br><br>
                        <div class="col-10 info">
                            <div class="form">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 mb-2">
                                            <label>Tên tài khoản
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input nz-input formControlName="username" class="titleTicket"
                                                placeholder="Tên tài khoản" #availableArea required>
                                        </div>
                                        <div class="col-4 mb-2 mt-2">
                                            <label>Giới tính
                                            </label>
                                            <nz-radio-group formControlName="gender" class="mt-2 ml-1  d-flex">
                                                <label nz-radio nzValue="0">{{
                                                    'model.user.service.userGender.male' |
                                                    translate
                                                    }}</label>
                                                <label nz-radio nzValue="1">{{
                                                    'model.user.service.userGender.female' |
                                                    translate
                                                    }}</label>
                                                <label nz-radio nzValue="2">{{
                                                    'model.user.service.userGender.other' |
                                                    translate
                                                    }}</label>
                                            </nz-radio-group>
                                        </div>
                                        <div class="col-lg-12 mb-2">
                                            <div class="row">
                                                <div class=" col-lg-6">
                                                    <label>Email
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input formControlName="email"
                                                        (ngModelChange)="onChangeData('email')" nz-input class=""
                                                        placeholder="Email" #availableArea required>
                                                    <ng-container
                                                        *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
                                                        <span class="text-danger"
                                                            *ngIf="form.get('email')?.hasError('required')">
                                                            {{ 'model.user.error.required' | translate }}
                                                        </span>
                                                        <span class="text-danger"
                                                            *ngIf="form.get('email')?.errors?.isNotEmail">{{
                                                            'error.email' | translate }} </span>
                                                        <span class="text-danger"
                                                            *ngIf="form.get('email')?.errors?.maxlength">
                                                            {{ 'model.user.error.maxLength' | translate :
                                                            {param:
                                                            LENGTH_VALIDATOR.EMAIL_MAX_LENGTH.MAX} }}
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div>
                                                        <label>{{ 'model.user.phoneNumber' | translate }}
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                    </div>
                                                    <input (ngModelChange)="onChangeData('phone')"
                                                        formControlName="phone" nz-input class=""
                                                        placeholder="Số điện thoại">
                                                    <ng-container
                                                        *ngIf="form.get('phone')?.touched || form.get('phone')?.dirty">
                                                        <span class="text-danger"
                                                            *ngIf="form.get('phone')?.hasError('required')">
                                                            {{ 'model.user.error.required' | translate }}
                                                        </span>
                                                        <span class="text-danger"
                                                            *ngIf="form.get('phone')?.errors?.maxlength">
                                                            {{ 'model.user.error.maxLength' | translate :
                                                            {param:
                                                            LENGTH_VALIDATOR.PHONE_MAX_LENGTH.MAX} }}
                                                        </span>
                                                    </ng-container>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 mb-2">
                                            <div class="row">
                                                <div class="col-md-12 col-lg-6">
                                                    <label>{{ 'model.user.unit' | translate }}
                                                    </label>
                                                    <nz-tree-select [nzDisabled]="checkExistDept" [nzNodes]="nodes"
                                                        nzHideUnMatched nzShowSearch nzPlaceHolder="Đơn vị"
                                                        formControlName="department_id" nzHideUnMatched #treeSelect
                                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                                    </nz-tree-select>
                                                </div>
                                                <div class="col-md-12 col-lg-6">
                                                    <div>
                                                        <label>{{ 'model.user.userGroup' | translate }}
                                                        </label>
                                                    </div>
                                                    <nz-select [nzDisabled]="true" nzMode="multiple"
                                                        nzShowSearch nzAllowClear nzPlaceHolder="Chọn nhóm người dùng"
                                                        formControlName="userGroupIds">
                                                        <nz-option class="user-group" *ngFor="let item of groupUserList"
                                                            [nzCustomContent]="true" [nzValue]="item.id"
                                                            [ngbTooltip]="item.name" [nzLabel]="item.name">
                                                            {{item?.name}}</nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="d-flex justify-content-end">
                                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                    [shapeType]="'radius'" [text]="'Đóng'" (click)="onClose()">
                                </mbf-button>
                                <mbf-button id="createBuilding" [type]="'primary'" [shapeType]="'radius'"
                                    [icon]="'save'" [text]="'Lưu'" (click)="onSubmit()">
                                </mbf-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>