:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: unset;
}

:host ::ng-deep .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: unset;
}

#preview-img {
  height: 120px;
  width: 120px;
  border-radius: 79px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.box-image {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 79px;
  flex: none;
  order: 0;
  flex-grow: 0;
  right: -50px;
}

.camera-icon {
  bottom: -15px;
  right: 1px;
  position: absolute;
}

.name-user {
  width: 190px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: #0060AF;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  left: 30px;
}
.info {
  border-left: 1px solid #dbdbdb;
}
@media (max-width: 1384px) {
  .ava{
    position: relative;
    left: -2px;
  }

}
/* @media (max-width: 1300px) {
  .info {
    margin-left: 1px;
    margin-top: 50px;
  }
} */
@media (max-width: 1330px) {
  .ava {
    position: relative;
    left: -24px;
  }
  .info {
    margin-left: 1px;
    margin-top: 50px;
  }
}

@media (max-width: 1130px) {
  .info {
    margin-left: 1px;
  }
}
@media (max-width: 400px) {
  .button-profile {
    position: relative;
    left: 34px;
    bottom: 19px;
  }
}