<div class="page-top  page-top-tickets">
  <div class="page-title">
    <h5>DANH SÁCH NGUỒN TICKET</h5>
  </div>
  <div class="actions">
    <div class="searchInputWrapper">
      <div class="w-100">
        <!-- <form role="form" [formGroup]="searchForm"> -->
          <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm" #keyword
          (keyup.enter)="onSearch($event)" />
        <!-- </form> -->
        <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
          srcset="" />
      </div>
      <div class="main-fillter pl-3"  nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
        <img  src="assets/images/icon/main-fillter.svg" alt=""  srcset="" />
      </div>
      <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
        <div class="d-flex dropdown-fillter">
          <div class="delete ml-2" *hasRoles="auth.TICKET_SOURCE_CONFIG.DELETE">
            <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0" nz-tooltip nzTooltipTitle="Xóa"
              (click)="onMultiDelete(setOfCheckedId)">
              <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
            </button>
          </div>
          <div class="create ml-2" *hasRoles="auth.TICKET_SOURCE_CONFIG.CREATE">
            <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
              <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
              <span style="color:#0060AF" class="ml-2">Tạo mới</span>
            </button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
    <!-- <div class="refesh ml-2">
      <button class="btn ant-btn-default btn-circle">
        <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" (click)="onRefresh()" />
      </button>
    </div> -->
    <!-- <div class="export ml-2">
        <button class="btn ant-btn-default btn-circle">
          <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
        </button>
      </div> -->
    <div class="d-flex">
      <div class="delete ml-2" *hasRoles="auth.TICKET_SOURCE_CONFIG.DELETE">
        <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
          (click)="onMultiDelete(setOfCheckedId)" nz-tooltip nzTooltipTitle="Xóa">
          <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
        </button>
      </div>
      <div class="create ml-2" *hasRoles="auth.TICKET_SOURCE_CONFIG.CREATE">
        <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
          <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
          <span style="color:#0060AF" class="ml-2">Tạo mới</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="page-body page-product">
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 responsive-table">
        <div class="card">
          <nz-table #basicTable [nzData]="ticketSourceList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
           >
            <thead>
              <tr>
                <th style="width: 3%"  [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                  (nzCheckedChange)="updateAllChecked($event)">
                </th>
                <th class="text-center">#</th>
                <th class="text-left">Nguồn ticket</th>
                <th class="text-left">Ghi chú</th>
                <th class="text-center">Loại nguồn Ticket</th>
                <th class="text-center">
                  Thao tác
                </th>
                <!-- <th class="text-left">
                  <a class="mr-3 float-right"><img src="assets/images/icon/menu.svg"></a>
                </th> -->
              </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
              <tr *ngFor="let item of basicTable.data; let i = index" cdkDrag cdkDragLockAxis="y">
                <td class="col-sm text-center" [nzChecked]="setOfCheckedId.has(item.id)" [nzDisabled]="item.disabled"
                  (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
                <td class="col-sm text-center">{{(pageIndex - 1) * pageSize + i + 1}}</td>
                <td class="col-md text-left mr-2" >
                  <span nzTooltipTitle="{{item?.name}}" nz-tooltip>{{commonUtil.limitWord(item.name,40)}}</span>
                  </td>
                <td class="col-md text-left">
                  <span nz-tooltip [nzTooltipTitle]="commonUtil.extractContent(item.note)"
                    > {{commonUtil.extractContent(item.note)}}</span>
                </td>
                <td class="col-md text-center" ><i (click)="onUpdate(item)" nz-icon nzType="{{item.type}}"></i></td>
                <td class="col-md  text-center">
                  <div class="action-table">
                    <a *hasRoles="auth.TICKET_SOURCE_CONFIG.UPDATE">
                      <mbf-button-action [action]="'edit'" nzTooltipTitle="{{'action.update' | translate}}" 
                        nzTooltipPlacement="top" nz-tooltip (click)="onUpdate(item)">
                      </mbf-button-action>
                    </a>
                    <a *hasRoles="auth.TICKET_SOURCE_CONFIG.DELETE">
                      <mbf-button-action [action]="'delete'" nzTooltipTitle="{{'action.delete' | translate}}" [disable]="item.check_can_edit==0"
                        nzTooltipPlacement="top" nz-tooltip (click)="onDelete(item)">
                      </mbf-button-action>
                    </a>
                  </div>
                </td>
                <!-- <td></td> -->
              </tr>
            </tbody>
          </nz-table>
          <div class="p-3">
            <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
              (onChange)="onQuerySearch($event)">
            </mb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>