::ng-deep .nz-disable-td {
    display: none !important;
}

::ng-deep table .ant-input {
    border: none !important;
}

::placeholder {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}



.ant-table-tbody>tr>td>span {
    margin-top: 4px;
}

:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: unset;
}

:host ::ng-deep .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: unset;
}
.ant-table-tbody > tr > td {
    padding: 3px 6px  !important;
}
:host ::ng-deep .ant-table-header{
    overflow: auto !important;
}
:host ::ng-deep .ant-table-header table{
    table-layout: auto;
}
@media (max-width: 1300px) {
    .table-scroll-report ::ng-deep .ant-table-container {
     width: 1250px !important;
 
   }
   .table-scroll-report {
     overflow: auto;
   }
 }