<div class="create-department">
    <div *nzModalTitle>
        <span>{{ ('model.user-group.' + action.event) | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user-group.code' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="code" nz-input class=""
                            placeholder="{{ 'model.user-group.code' | translate }}" #availableArea required>
                        <ng-container *ngIf="form.get('code')?.touched || form.get('code')?.dirty">
                            <span class="text-danger" *ngIf="form.get('code')?.hasError('required')">
                                <small>{{ 'model.user-group.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('code')?.errors?.maxlength">
                                <small>{{ 'model.user-group.error.maxLength' | translate:
                                    {param:LENGTH_VALIDATOR.CODECUS_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('code')?.hasError('pattern')">
                                <small>{{ 'model.user-group.error.pattern' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('code')?.errors?.hasExisted">
                                <small>{{ 'model.user-group.error.hasExisted' | translate : {param:
                                    'model.user-group.code' | translate} }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user-group.name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="name" nz-input class=""
                            placeholder="{{ 'model.user-group.name' | translate }}" #availableArea required>
                        <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                <small>{{ 'model.user-group.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                <small>{{ 'model.user-group.error.maxLength' | translate:
                                    {param:LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('pattern')">
                                <small>{{ 'model.user-group.error.pattern' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>

                    <div class="col-12 mb-2">
                        <label>{{ 'model.user-group.assign-role' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select nzPlaceHolder="{{ 'model.user-group.assign-role' | translate }}" nzAllowClear
                            [nzDisabled]="actionEvent === viewEvent" removeOptionTitle formControlName="roleIds"
                            nzMode="multiple" required>
                            <nz-option *ngFor="let item of roles" [nzCustomContent]="true"
                                [nzLabel]="(item?.display_name || '') | translate" [nzValue]="item.id">
                                {{(item?.display_name || '') | translate}}
                            </nz-option>
                        </nz-select>
                        <ng-container *ngIf="form.get('roleIds')?.touched || form.get('roleIds')?.dirty">
                            <span class="text-danger" *ngIf="form.get('roleIds')?.hasError('required')">
                                <small>{{ 'model.user-group.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user-group.description' | translate }}
                        </label>
                        <textarea formControlName="description" nz-input class=""
                            placeholder="{{ 'model.user-group.description' | translate }}" #availableArea></textarea>
                        <ng-container *ngIf="form.get('description')?.touched || form.get('description')?.dirty">
                            <span class="text-danger" *ngIf="form.get('description')?.errors?.maxlength">
                                <small>{{ 'model.user-group.error.maxLength' | translate:
                                    {param:LENGTH_VALIDATOR.TICKET_DESCRIPTION_LENGTH.MAX} }}</small>
                            </span>
                        </ng-container>
                    </div>

                    <div class="col-12 py-2" *ngIf="isUpdate">
                        <span style="text-transform: uppercase; font-size: 16px;"><b>{{ 'model.user-group.user' | translate }}</b>
                        </span><br>
                        <label>{{ 'model.user-group.user-description' | translate }}</label>
                        <div class="table-scroll-report">
                        <nz-table [nzData]="users">
                            <thead>
                                <tr>
                                    <th class="text-left pl-2">Tên tài khoản</th>
                                    <th class="text-left pl-2">Họ tên</th>
                                    <th class="text-left pl-2">Email</th>
                                    <th class="text-left pl-2">Số điện thoại</th>
                                    <th class="text-left pl-2">Đơn vị trực thuộc</th>
                                    <th class="text-left" >Đơn vị được phép truy cập</th>
                                    <th class="text-left"  *ngIf="actionEvent !== viewEvent"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of users;">
                                    <td ><span nz-tooltip nzTooltipTitle="{{ data.user_username }}">{{ commonUlti.limitWord(data.user_username,15) }}</span></td>
                                    <td ><span nz-tooltip nzTooltipTitle="{{ data.user_name }}">{{ commonUlti.limitWord(data.user_name,15) }}</span></td>
                                    <td ><span nz-tooltip nzTooltipTitle="{{ data.user_email }}">{{ commonUlti.limitWord(data.user_email,15) }}</span></td>
                                    <td >{{ data.phone }}</td>
                                    <td ><span nz-tooltip nzTooltipTitle="{{ data.user_department }}">{{ commonUlti.limitWord(data.user_department,15) }}</span></td>
                                    <td class="text-left">
                                        <span *ngFor="let item of data?.departments">{{ item?.dept_name
                                            }}<br></span>
                                    </td>
                                    <td *ngIf="actionEvent !== viewEvent" class="text-center">
                                        <div class="action-table">
                                            <mbf-button-action [action]="'edit'"
                                                nzTooltipTitle="{{'action.update' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onUpdate(data)">
                                            </mbf-button-action>
                                            <mbf-button-action [action]="'delete'"
                                                nzTooltipTitle="{{'action.delete' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onDelete(data)">
                                            </mbf-button-action>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                        <div class="p-3">
                            <mb-pagination [pageIndex]="userQuery.pageIndex" [pageSize]="userQuery.pageSize" [total]="total"
                              (onChange)="onQuerySearch($event)">
                            </mb-pagination>
                          </div>
                        </div>
                    </div>
                    <div  *ngIf="actionEvent !== viewEvent&&isUpdate" class="text-center">
                        <a nz-button nzType="link" class="border-0 bg-white text-uppercase btn-radius"
                                        (click)="onAddUser()">
                                        <img src="assets/images/icon/circle-plus-primary.svg"
                                            alt="circle-plus-primary-icon" srcset="" />
                                        <span class="ml-2">Thêm tài khoản</span>
                                    </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="(actionEvent !== viewEvent) ? 'action.cancel' : 'action.close'" (click)="onCancel()">
            </mbf-button>
            <div *hasRoles="auth.GROUP.UPDATE">
                <mbf-button *ngIf="!isDetail" id="createBuilding" [type]="'primary'" [icon]="isUpdate?'save':'plus-circle'" [shapeType]="'radius'"
                    [text]="isUpdate ? 'Lưu': 'action.create_short'" [isLoading]="isLoading" 
                    (click)="(actionEvent !== viewEvent) ? onSubmit() : onSwitchUpdate()"></mbf-button>
            </div>
        </div>
    </div>
</div>