<div class="page-top page-top-tickets">
  <div class="page-title">
    <h5>{{'model.user.title' | translate }}</h5>
  </div>
  <div class="actions">
    <div class="searchInputWrapper">
      <div class="w-100">
        <form role="form" [formGroup]="searchForm">
          <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
            formControlName="keyword" (keyup.enter)="onSearch($event)" />
        </form>
        <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
          srcset="" />
      </div>
      <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
        <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
      </div>
      <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
        <div class="d-flex dropdown-fillter">
          <!-- <div class="refesh ml-2">
            <button class="btn ant-btn-default btn-circle">
              <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
            </button>
          </div> -->
          <div class="export ml-2">
            <button class="btn ant-btn-default btn-circle" nz-tooltip [nzTooltipTitle]="'Export'" (click)="exportData()">
              <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
            </button>
          </div>
          <div class="delete ml-2">
            <button *hasRoles="auth.USER.DELETE" nz-tooltip [nzTooltipTitle]="'Xóa'" class="btn ant-btn-default btn-circle"
              [disabled]="setOfCheckedId.size === 0" (click)="onDelete(setOfCheckedId)">
              <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
            </button>
          </div>
          <div class="create ml-2">
            <button *hasRoles="auth.USER.CREATE" nz-tooltip [nzTooltipTitle]="'Tạo mới'" class="btn ant-btn-default btn-radius" (click)="onCreate()">
              <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
              <span style="color:#0060AF" class="ml-2">Tạo mới</span>
            </button>
          </div>
          <div class="filter ml-2">
            <button class="btn ant-btn-default btn-circle" nz-tooltip [nzTooltipTitle]="'Lọc'" (click)="onFilter()">
              <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
            </button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
    <!-- <div class="refesh ml-2">
      <button class="btn ant-btn-default btn-circle" (click)="onRefresh()">
        <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" />
      </button>
    </div> -->
    <div class="d-flex">
      <!-- <div class="refesh ml-2">
        <button class="btn ant-btn-default btn-circle">
          <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
        </button>
      </div> -->
      <div class="export ml-2">
        <button class="btn ant-btn-default btn-circle" nz-tooltip [nzTooltipTitle]="'Export'" (click)="exportData()">
          <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
        </button>
      </div>
      <div class="export ml-2">
        <button *hasRoles="auth.USER.ASSIGN_GROUP" nz-tooltip [nzTooltipTitle]="'Gán nhóm'" class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
          (click)="onGroupUserList(setOfCheckedId)">
          <img src="assets/images/icon/groupIcon.svg" alt="download-icon" srcset="" />
        </button>
      </div>
      <div class="delete ml-2">
        <button *hasRoles="auth.USER.DELETE" nz-tooltip [nzTooltipTitle]="'Xóa'" class="btn ant-btn-default btn-circle"
          [disabled]="setOfCheckedId.size === 0" (click)="onMultiDelete(setOfCheckedId)">
          <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
        </button>
      </div>
      <div class="create ml-2">
        <button *hasRoles="auth.USER.CREATE" nz-tooltip [nzTooltipTitle]="'Tạo mới'" class="btn ant-btn-default btn-radius" (click)="onCreate()">
          <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
          <span style="color:#0060AF" class="ml-2">Tạo mới</span>
        </button>
      </div>
      <div class="filter ml-2">
        <button class="btn ant-btn-default btn-circle" nz-tooltip [nzTooltipTitle]="'Lọc'" (click)="onFilter()">
          <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="page-body responsive-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="card h-100 departmenttree">
          <div class="card-header d-flex">
            <h6>Cây đơn vị</h6>
            <div class="ant-card-extra">
              <a (click)="onRefresh()"><img src="assets/images/icon/resetFilter.svg" alt="trash-icon" srcset=""></a>
            </div>
          </div>
          <div class="cbody p-3">
            <div class="tree">
              <nz-tree [nzData]="nodes" nzCheckable nzMultiple [nzCheckedKeys]="defaultCheckedKeys"
                [nzExpandedKeys]="defaultExpandedKeys" [nzSelectedKeys]="defaultSelectedKeys"
                (nzCheckBoxChange)="nzEvent($event)">
              </nz-tree>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="card">
          <div class="">
            <nz-table #basicTable [nzData]="userList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
              [nzTableLayout]="'auto'" nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
              <thead>
                <tr>
                  <th class="text-left" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="updateAllChecked($event)">
                  </th>
                  <th class="text-left" nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="1">{{
                    'model.user.fullName' | translate }}</th>
                  <th class="text-center" nzColumnKey="username" [nzSortFn]="true" [nzSortPriority]="2">{{
                    'model.user.username' | translate }}</th>
                  <th class="text-center">{{
                    'model.user.phoneNumber' | translate }}</th>
                  <th class="text-center" nzColumnKey="email" [nzSortFn]="true" [nzSortPriority]="4">{{
                    'model.user.email'
                    | translate }}</th>
                  <th class="text-center" nzColumnKey="department_name" [nzSortFn]="true" [nzSortPriority]="5">{{
                    'model.user.unit' | translate }}</th>
                  <th class="text-center">{{ 'model.user.userGroup'
                    | translate }}</th>
                  <th class="text-center pr-3">{{ 'model.user.status' | translate }}</th>
                  <th class="text-center pr-3" *hasRoles="auth.USER.UPDATE || auth.USER.UPDATE || auth.USER.DELETE || auth.USER.ASSIGN_GROUP">{{ 'model.user.action' | translate }}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of userList;let userIndex = index;">
                  <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                  <td class="text-left"><a (click)="onDetail(data)" nzTooltipTitle="{{data.name}}"
                      nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(data.name,20)}}</a></td>
                  <td class="text-left">
                    <a (click)="onDetail(data)" nzTooltipTitle="{{data.username}}" nzTooltipPlacement="top" nz-tooltip>
                      {{
                      commonUtil.limitWord(data.username, 20) }}</a>
                  </td>
                  <td class="text-right"><a (click)="onDetail(data)">{{data.phone}}</a></td>
                  <td class="text-left"><a (click)="onDetail(data)">{{data.email}}</a></td>
                  <td class="text-left"><a (click)="onDetail(data)" nzTooltipTitle="{{data.department_name_path}}" [nzTooltipOverlayStyle]="styleTooltip"
                      nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(data.department_name,40)}}</a></td>
                  <td style="padding-left: 0 !important;">
                    <!-- <div *ngIf="data?.userGroups?.data.length>0">
                    <span class="badge-table">{{data?.userGroups?.data[0].name}}</span>
                  </div> -->
                    <span *ngIf="data?.userGroups?.data.length>0" nz-tooltip
                      [nzTooltipTitle]="data?.userGroups?.data[0].name"
                      class="badge-table">{{commonUtil.limitWord(data?.userGroups?.data[0]?.name,20)}}</span>
                    <a nz-popover nzPopoverTitle="" [nzPopoverContent]="HtmlContent"
                      [nzPopoverOverlayClassName]="'htmlPopover'" *ngIf="data?.userGroups?.data.length>1"
                      class="badge-table"> +
                      {{data?.userGroups?.data.length - 1}}</a>

                    <!-- <ng-template #HtmlContent>
                    <div *ngFor="let item of getDepartName(data?.userGroups?.data);">
                      {{item.name}}</div>
                  </ng-template>
                  <div *ngIf="data?.userGroups?.data.length>1" style="margin-top:9px" class="badge-table" [nzTooltipPlacement]="'right'">
                    <span [ngbTooltip]="HtmlContent" [tooltipClass]="'ngTemplateTips'" placement="bottom"
                      contentType="template" class="badge-table"> + {{data?.userGroups?.data.length - 1}}</span>
                  </div> -->
                    <ng-template #HtmlContent>
                      <div>
                        <div *ngFor="let item of getDepartName(data?.userGroups?.data);" class="badge-table"
                          [nzTooltipPlacement]="'right'" nz-tooltip [nzTooltipTitle]="item?.name">
                          {{commonUtil.limitWord(item.name,20)}}</div>
                      </div>
                    </ng-template>
                  </td>
                  <td class="text-center">
                    <nz-switch *hasRoles="auth.USER.LOCK" [(ngModel)]="data.status" [nzControl]="true" [nzDisabled]="data.disabled"
                      (click)="onSwitch(data)"></nz-switch>
                  </td>
                  <td class="text-center" *hasRoles="auth.USER.UPDATE || auth.USER.UPDATE || auth.USER.DELETE || auth.USER.ASSIGN_GROUP">
                    <button style="border:unset;background-color:unset;width:30px" nz-dropdown nzTrigger="click"
                      [nzDropdownMenu]="menu">
                      <img src="assets/images/ba-cham.svg" alt="">
                    </button>
                  </td>
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <ul nz-menu>
                      <a *hasRoles="auth.USER.UPDATE">
                        <li nz-menu-item (click)="onUpdate(data)"><img src="assets/images/icon/edit.svg"
                            alt="">&nbsp;Cập
                          nhật</li>
                      </a>
                      <a *hasRoles="auth.USER.ASSIGN_GROUP">
                        <li nz-menu-item (click)="onGroupUser(data)"><img src="assets/images/icon/group.svg"
                            alt="">&nbsp;Gán vào nhóm</li>
                      </a>
                      <a *hasRoles="auth.USER.DELETE">
                        <li *ngIf="(!is_user_sync || !data.sync_code) && !data.disabled" nz-menu-item (click)="onDelete(data)"><img
                            src="assets/images/icon/delete.svg" alt="">&nbsp;Xóa
                        </li>
                      </a>
                    </ul>
                  </nz-dropdown-menu>
                </tr>
              </tbody>
            </nz-table>
            <div class="p-3">
              <mb-pagination [pageIndex]="userQuery.pageIndex" [pageSize]="userQuery.pageSize" [total]="total"
                (onChange)="onQuerySearch($event)">
              </mb-pagination>
            </div>
            <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right"
              [nzTitle]="resetFilter" (nzOnClose)="onClose()">
              <ng-template #resetFilter class="d-flex">
                <div class="row">
                  <div class="col-9">
                    <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
                  </div>
                  <div class="col-3" style="text-align: right; padding-right: 40px;">
                    <a (click)="onResetFilter()"><img src="assets/images/icon/resetFilter.svg" alt=""></a>
                  </div>
                </div>
              </ng-template>
              <ng-container *nzDrawerContent>
                <div class="col-12  module-fillter mt-4">
                  <div class="row">
                    <div class="col-12 mb-2">
                      <label>Đơn vị
                      </label>
                      <nz-tree-select [nzNodes]="nodes" nzHideUnMatched nzShowSearch (ngModelChange)="onChangeDepartment($event)"
                        nzPlaceHolder="Đơn vị" [(ngModel)]="department_id" n nzHideUnMatched #treeSelect
                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"></nz-tree-select>
                    </div>
                    <div class="col-12 mb-2">
                      <label>Nhóm người dùng
                      </label>
                      <nz-select nzShowSearch nzAllowClear [(ngModel)]="userGroupId"
                        nzPlaceHolder="Chọn nhóm người dùng" (ngModelChange)="onChangeGroupUser($event)">
                        <nz-option *ngFor="let item of groupUserList" [nzCustomContent]="true" [nzValue]="item.id"
                          [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                          {{item?.name}}</nz-option>
                      </nz-select>
                    </div>
                    <div class="col-12 mb-2">
                      <label>Trạng thái
                      </label>
                      <nz-select nzAllowClear [(ngModel)]="status" nzPlaceHolder="Chọn trạng thái"
                        (ngModelChange)="onChangeStatus($event)">
                        <nz-option [nzCustomContent]="true" [nzLabel]="'Đóng'" [nzValue]='"0"' #availableArea required>
                          Đóng</nz-option>
                        <nz-option [nzCustomContent]="true" [nzLabel]="'Mở'" [nzValue]='"1"' #availableArea required>
                          Mở</nz-option>
                      </nz-select>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col-12">
                      <button class="btn btn-primary btn-filter" (click)="onFilterData()"><b>ÁP DỤNG</b></button>
                    </div>
                  </div>
                </div>
              </ng-container>
            </nz-drawer>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
