.btn.btn-primary.filter {
  width: 100%;
  border-radius: 18px;
}

:host ::ng-deep.ant-drawer-title {
  display: flex;
}

.ant-card-extra {
  padding: 0;
}

.departmenttree {
  max-height: 78vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #E0E0E0;
  border-radius: 15px;
}

.ant-table-tbody>tr>td {
  text-align: left;
  padding: 5px;
}

.ant-table-tbody>tr>th {
  text-align: center;
}

::ng-deep .htmlPopover .ant-popover-inner-content .badge-table:last-child {
  margin-right: 0 !important;
  margin-bottom: 0 !important;

}

::ng-deep .htmlPopover .ant-popover-inner-content .badge-table {
  margin-bottom: 5px;
  height: 24px;
}

::ng-deep .htmlPopover .ant-popover-arrow {
  border-color: transparent #AAC5E8 #AAC5E8 transparent !important;
}

::ng-deep .htmlPopover .ant-popover-inner-content {
  padding: 6px 4px !important;
  background: #AAC5E8 !important;
  border-radius: 2px;
  max-width: 400px;
}

.badge-table {
  color: black !important;
}

@media (max-width: 1300px) {
  .table-scroll-report ::ng-deep .ant-table-container {
    width: 1600px !important;

  }

  .table-scroll-report {
    overflow: auto;
  }
}