label {
    width: 150px;
    line-height: 40px;
}

.detail-task input,
.detail-task ::ng-deep .ant-select-selector,
.detail-task textarea {
    border: 1px solid #fff !important;
    width: 100%;
}

.btn-edit {
    width: 50px;
}

::ng-deep .ant-select-arrow {
    display: none;
}

.detail-task .w-100:hover input,
.detail-task .w-100:hover ::ng-deep .ant-select-selector {
    border: 1px solid #d9d9d9 !important;
}

.input-comment textarea {
    border: 1px solid #d9d9d9 !important;
}

.color2 {
    color: #ED1C24;
}

.color2 img {
    margin-top: -4px;
}

.bg-main {
    background: #1672EC;
    color: #fff !important;
}

.w-100 {
    width: 100% !important;
}

li {
    list-style: none;
    font-size: 14px;
}

.mission li p {
    color: rgba(117, 117, 117, 0.85);
    font-size: 12px;
}

.mission li i {
    font-size: 10px;
    color: rgba(117, 117, 117, 0.85);
}

.mission li {
    border-bottom: 1px solid rgba(117, 117, 117, 0.4);
    padding: 19px 0px 5px;
}

.mission li:last-child {
    border-bottom: none;
}

::ng-deep .ant-timeline-item-head-blue {
    border: 1px solid #AAC5E8;
}

::ng-deep .ant-timeline-item-content {
    background: #F4F5FA;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 21px;
    padding: 6px 13px;
    top: -13px;
    min-height: auto !important;
}

::ng-deep .ant-timeline-item-tail {
    height: calc(100% - -62px);
    top: -15px;
}

.btn-reply {
    color: rgba(117, 117, 117, 0.85);
    font-size: 12px;
    margin-top: -12px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 10px;
}

.scroll ul {
    height: 300px;
    overflow-y: scroll;
    padding-right: 13px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E0E0E0;
}

.btn-reply span {
    color: #1672EC;
}

.tags {
    display: flex;
}

.tag {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    height: 23px;
}

.tag span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.tag-default {
    background: #e9f5ff;
    color: #1672ec;
}

.tag-primary {
    background: #32a4ff;
    color: #ffffff;
}

.tag-warning {
    background: #ff8a00;
    color: #ffffff;
}

.tag-danger {
    background: #ed1c24;
    color: #ffffff;
}

.process-pep span {
    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0025em;
}

.btn-saveEditor {
    position: absolute;
    right: 15px;
    top: -11px;
    color: #1083e5;
    display: none;
}

.description {
    border: 1px solid #fff !important;
    border-radius: 5px;
    padding: 3px 5px;
    width: 100%;
}

.description:hover {
    border: 1px solid #d9d9d9 !important;
}

.editer {
    position: absolute;
    top: 10px;
    right: 15px;
    display: none;
    color: #ED1C24;
}

.w-100:hover .editer,
.w-100:hover .btn-saveEditor {
    display: block;
}
::ng-deep .ant-picker{
    border: 1px solid #d9d9d9 !important;
}