<div class="page-body mb-5 detail-task">
    <div class="container-fluid mt-0">
        <div class="row">
            <div class="card">
                <h4 class="mt-3">{{taskData.name}}</h4>
                <div class="row">
                    <!-- <div class="col-9 mt-3">
                        <div class="card">
                            <div class="card-header">
                                <h6>Thông tin Task</h6>
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <div class="col-12">
                                        <form [formGroup]="form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Tiêu đề
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <input nz-input class="" formControlName="name"
                                                                placeholder="Tiêu đề" #availableArea
                                                                (blur)="onSubmit()">
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"   (click)="onSubmit()"><i  nz-icon nzType="check" nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"   (click)="loadTaskById()"><i nz-icon nzType="close" nzTheme="outline"></i> </button>
                                                                </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Phân loại
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <input nz-input class="" formControlName="type"
                                                                #availableArea (blur)="onSubmit()">
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Trạng thái
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <input nz-input class="" formControlName="status"
                                                                #availableArea>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Tiến độ
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <input nz-input class="" formControlName="progress"
                                                                #availableArea>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Độ ưu tiên
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class=" w-100 col-10">
                                                            <nz-select formControlName="priority" nzShowSearch
                                                                nzAllowClear (ngModelChange)="onSubmit()">
                                                                <nz-option *ngFor="let item of ticketPriorityList"
                                                                    [nzValue]="item.id" [nzLabel]="item.name"
                                                                    [ngbTooltip]="item.name">{{item.name}}
                                                                </nz-option>
                                                            </nz-select>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Thời gian bắt đầu
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss"
                                                                formControlName="start_time" (nzOnOk)="onOk($event)"
                                                                (ngModelChange)="onSubmit()"></nz-date-picker>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Thời gian hoàn thành
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss"
                                                                formControlName="end_time" (nzOnOk)="onOk($event)"
                                                                (ngModelChange)="onSubmit()"></nz-date-picker>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Người giao
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <nz-select formControlName="reporter_id" nzShowSearch
                                                                nzAllowClear (ngModelChange)="onSubmit()">
                                                                <nz-option *ngFor="let item of userList"
                                                                    [nzValue]="item.id" [nzLabel]="item.name"
                                                                    [ngbTooltip]="item.name">
                                                                    {{item.name}}
                                                                </nz-option>
                                                            </nz-select>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Người thực hiện
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <nz-select formControlName="assignee_id" nzShowSearch
                                                                nzAllowClear (ngModelChange)="onSubmit()">
                                                                <nz-option *ngFor="let item of userList"
                                                                    [nzValue]="item.id" [nzLabel]="item.name"
                                                                    [ngbTooltip]="item.name">
                                                                    {{item.name}}
                                                                </nz-option>
                                                            </nz-select>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>Mô tả
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <mb-editor [placeholder]="''" formControlName="description"
                                                                [value]="form?.get('description')?.value || ''"
                                                                (data)="onChangeData('description', $event)">
                                                            </mb-editor>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <div class="col-2">
                                                            <label>File đính kèm
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                        </div>
                                                        <div class="w-100 col-10">
                                                            <nz-upload nzType="drag" [nzMultiple]="true"
                                                                nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                                                                (nzChange)="handleChange($event)">
                                                                <p class="ant-upload-drag-icon">
                                                                    <i nz-icon nzType="inbox"></i>
                                                                </p>
                                                                <p class="ant-upload-text">Click or drag file to
                                                                    this area to upload</p>
                                                                <p class="ant-upload-hint">
                                                                    Support for a single or bulk upload.
                                                                    Strictly prohibit from
                                                                    uploading company data or other band files
                                                                </p>
                                                            </nz-upload>
                                                            <img src="assets/images/icon/edit.svg" class="editer">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-9">
                        <div class="card">
                            <div class="card-header">
                                <h6>Thông tin Ticket</h6>
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <div class="col-12">
                                        <form [formGroup]="form">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="d-flex">
                                                        <label>Tiêu đề
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <input nz-input class="" formControlName="name"
                                                                    placeholder="Tiêu đề" #availableArea>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Phân loại
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <input nz-input class="" formControlName="type"
                                                                    #availableArea>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Trạng thái
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <input nz-input class="" formControlName="status"
                                                                    #availableArea>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Tiến độ
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <input nz-input class="" formControlName="progress"
                                                                    #availableArea>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Độ ưu tiên
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <nz-select formControlName="priority" nzShowSearch
                                                                    nzAllowClear>
                                                                    <nz-option *ngFor="let item of ticketPriorityList"
                                                                        [nzValue]="item.id" [nzLabel]="item.name"
                                                                        [ngbTooltip]="item.name">{{item.name}}
                                                                    </nz-option>
                                                                </nz-select>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Thời gian bắt đầu
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <nz-date-picker nzShowTime
                                                                    nzFormat="dd-MM-yyyy HH:mm:ss"
                                                                    formControlName="start_time"
                                                                    (nzOnOk)="onOk($event)"></nz-date-picker>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Thời gian hoàn thành
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <nz-date-picker nzShowTime
                                                                    nzFormat="dd-MM-yyyy HH:mm:ss"
                                                                    formControlName="end_time" (nzOnOk)="onOk($event)">
                                                                </nz-date-picker>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Người giao
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <nz-select formControlName="reporter_id" nzShowSearch
                                                                    nzAllowClear>
                                                                    <nz-option *ngFor="let item of userList"
                                                                        [nzValue]="item.id" [nzLabel]="item.name"
                                                                        [ngbTooltip]="item.name">
                                                                        {{item.name}}
                                                                    </nz-option>
                                                                </nz-select>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <div class="d-flex">
                                                        <label>Người thực hiện
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <nz-select formControlName="assignee_id" nzShowSearch
                                                                    nzAllowClear>
                                                                    <nz-option *ngFor="let item of userList"
                                                                        [nzValue]="item.id" [nzLabel]="item.name"
                                                                        [ngbTooltip]="item.name">
                                                                        {{item.name}}
                                                                    </nz-option>
                                                                </nz-select>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>Mô tả
                                                        </label>
                                                        <div class="w-100">
                                                            <div class="d-flex">
                                                                <div [innerHtml]="description" nz-input (click)="showDiscription()" *ngIf="!isShowDescription" class="description">
                                                                </div>
                                                                <mb-editor  *ngIf="isShowDescription" [value]="form?.get('description')?.value"
                                                                    (data)="onChangeData('description', $event)"
                                                                    placeholder="Mô tả">
                                                                </mb-editor>
                                                                <div class="btn-edit">
                                                                    <button class="btn btn-saveEditor"
                                                                        (click)="onSubmit()"><i nz-icon nzType="check"
                                                                            nzTheme="outline"></i> </button>
                                                                    <button class="btn editer"
                                                                        (click)="loadTaskById()"><i nz-icon
                                                                            nzType="close" nzTheme="outline"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 ">
                                                    <div class="d-flex">
                                                        <label>File đính kèm
                                                        </label>
                                                        <div class="w-100">
                                                            <div>
                                                                <mbf-upload [acceptTypeFiles]="['image']" [key]="'task'"></mbf-upload>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="card advance-filter mt-3">
                            <div class="card-header">
                                <h6>Task liên quan</h6>
                            </div>
                            <div class="cbody p-3">
                                <div class="scroll">
                                    <ul class="mission pl-0">
                                        <li *ngFor=" let item of taskRelateList">
                                            <h6><img src="assets/images/icon/circle_check.svg" alt="Union-icon"
                                                    srcset="" class="mr-2" />
                                                {{item.name}}</h6>
                                            <p class="mb-0" [innerHtml]="item.description"> </p>
                                            <div class="text-right"><i> {{item.end_time | date:' HH:mm dd/MM/yyyy'}}</i>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>