ul {
  padding: 0 20px;
  height: 100%;
  background: #ffffff;
}

span {
  color: #282828;
}

li>.anticon:hover {
  color: #1890ff;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #ffffff;
  border-radius: 4px;
  background: #0060AF;
}
.ant-menu-submenu-inline .ant-menu-item-selected{
  background-color: #1672EC!important;
  border-radius: 4px;
}
.ant-menu-submenu-inline .ant-menu-item-selected a{
  color: white !important;
}
.ant-menu-item-custom-selected {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.ant-menu-submenu-selected, .ant-menu-light .ant-menu-submenu-active {
  color: #1672EC;
}

.ant-menu-sub.ant-menu-inline {
  background: none;
}

.ant-menu-item-selected>i {
  color: #ffffff;
}

.ant-menu-item-selected {
  background: #1672EC;
}

.ant-menu-submenu-open {
  color: #282828;
}

.ant-menu-submenu-active {
  color: #282828;
}

.ant-menu-submenu-open>.ant-menu-submenu-active {
  color: #1672EC;
}


.li-padding-left {
  padding-left: 28px !important;
}

::ng-deep .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #1672EC;
  border-radius: 4px;
  text-decoration: none;
}

.ant-menu-item-selected a:hover {
  border-radius: 4px;
}

.ant-menu-item-selected a {
  color: white;
}

.cdk-overlay-container {
  background-color: #1672EC !important;
}
::ng-deep .ant-menu-item-selected img{
  filter: invert(1);
  margin-top: -5px;
}
::ng-deep .ant-menu-item img{
  margin-top: -5px;
}
.ant-menu-inline .ant-menu-item::after{
  border-right: unset;
}
::ng-deep  .ant-menu-submenu-popup>.ant-menu {
  background-color: #fff;
  border-radius: 12px!important;
}
::ng-deep .ant-menu-item-selected:hover a,::ng-deep .ant-menu-item-selected a{
  text-decoration: none;
}
