<!-- <ng-container>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menus }"></ng-container>
        <ng-template #menuTpl let-menus>
            <ng-container *ngFor="let menu of menus">
                <ng-container *ngIf="!menu.children || menu.children.length === 0">
                    <li nzMatchRouter nz-menu-item [nzPaddingLeft]="menu.level * 10"  [nzTooltipTitle]="isCollapsed ? (menu.title | translate): '' " nz-tooltip *hasRoles="menu.authorities">
                        <img *ngIf="menu?.image" [src]="renderPathImageIcon(menu?.image)" />
                        <span class="ml-2"><a [routerLink]="menu.path">{{ menu.title | translate }}</a></span>
                    </li>
                    
                </ng-container>

                <ng-container *ngIf="menu.children">
                    <li [ngClass]="isCollapsed ? 'ant-menu-item-custom-selected' : ''" nz-submenu
                        [nzPaddingLeft]="menu.level * 10" [nzTitle]="menu.title | translate" [nzIcon]="menu.icon"
                        [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''" *hasRoles="menu.authorities">
                        <ul>
                            <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }">
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
            </ng-container>
        </ng-template>
    </ul>
</ng-container> -->
<div class="wrapper">
    <ul nz-menu nzMode="inline" nzTheme="light" [nzInlineCollapsed]="isCollapsed">
        <ng-container *ngFor="let menu of menus">
                <ng-container *ngIf="!menu.children || menu.children.length === 0">
                    <li nzMatchRouter nz-menu-item [nzPaddingLeft]="menu.level * 10"  [nzTooltipTitle]="isCollapsed ? (menu.title | translate): '' " nz-tooltip *hasRoles="menu.authorities">
                        <img *ngIf="menu?.image" [src]="renderPathImageIcon(menu?.image)" />
                        <span class="ml-2"><a [routerLink]="menu.path">{{ menu.title | translate }}</a></span>
                    </li>
                </ng-container>
                <ng-container *ngIf="menu.children">
                    <li [ngClass]="isCollapsed ? 'ant-menu-item-custom-selected' : ''" nz-submenu   [nzOpen]="checkExpand(menu.children)"
                        [nzPaddingLeft]="menu.level * 5" [nzTitle]="menu.title | translate" [nzIcon]="menu.icon"
                        [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''" *hasRoles="menu.authorities">
                        <ul>
                            <ng-container *ngFor="let menu of menu.children">
                                <ng-container *ngIf="!menu.children || menu.children.length === 0">
                                    <li nzMatchRouter nz-menu-item [nzPaddingLeft]="menu.level * 5"  [nzTooltipTitle]="isCollapsed ? (menu.title | translate): '' " nz-tooltip *hasRoles="menu.authorities">
                                        <img *ngIf="menu?.image" [src]="renderPathImageIcon(menu?.image)" />
                                        <span class="ml-2"><a [routerLink]="menu.path">{{ menu.title | translate }}</a></span>
                                    </li>
                                </ng-container>
                                <ng-container *ngIf="menu.children">
                                    <li [ngClass]="isCollapsed ? 'ant-menu-item-custom-selected' : ''" nz-submenu [nzOpen]="checkExpand(menu.children)"
                                        [nzPaddingLeft]="menu.level * 5" [nzTitle]="menu.title | translate" [nzIcon]="menu.icon"
                                        [nzTooltipTitle]="isCollapsed ? 'Navigation One' : ''" *hasRoles="menu.authorities">
                                        <ul>
                                            <ng-container *ngFor="let menu of menu.children">
                                                <ng-container *ngIf="!menu.children || menu.children.length === 0">
                                                    <li style="padding-right:10px" nzMatchRouter nz-menu-item [nzPaddingLeft]="menu.level * 5" [nzTooltipPlacement]="'right'"  [nzTooltipTitle]="isCollapsed ? (menu.title | translate): '' " nz-tooltip *hasRoles="menu.authorities">
                                                        <img *ngIf="menu?.image" [src]="renderPathImageIcon(menu?.image)" />
                                                        <span class="ml-2"><a [routerLink]="menu.path">{{ menu.title | translate }}</a></span>
                                                    </li>
                                                </ng-container>
                                            </ng-container>
                                        </ul>
                                    </li>
                                </ng-container>
                            </ng-container>
                        </ul>
                    </li>
                </ng-container>
        </ng-container>
    </ul>
  </div>