<div class="create-department">
    <div *nzModalTitle>
        <span>{{ ('model.department.' + action.event) | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div id="myDiv"></div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.code' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input (ngModelChange)="deptcodeExist.next($event)" formControlName="dept_code" nz-input
                            class="" placeholder="{{ 'model.department.code' | translate }}" #availableArea required>
                        <ng-container *ngIf="form.get('dept_code')?.touched || form.get('dept_code')?.dirty">
                            <span class="text-danger" *ngIf="form.get('dept_code')?.errors?.required">
                                <small>{{ 'model.department.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('dept_code')?.hasError('min')">
                                <small>{{ 'model.department.error.mindepartmentNumber' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('dept_code')?.errors?.maxlength">
                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                    LENGTH_VALIDATOR.CODECUS_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <small class="text-danger" *ngIf="form.get('dept_code')?.errors?.isBlank">
                                {{ 'model.department.error.required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="form.get('dept_code')?.errors?.isNotCode">
                                {{ 'model.department.error.notCode' | translate }}
                            </small>
                            <span class="text-danger" *ngIf="formInvalid.dept_code">
                                <small> {{ 'model.user.error.hasExisted' | translate : {param:
                                    'model.user.username' | translate} }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.name' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="dept_name" nz-input class=""
                            placeholder="{{ 'model.department.name' | translate }}" #availableArea required>
                        <ng-container *ngIf="form.get('dept_name')?.touched || form.get('dept_name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('dept_name')?.errors?.required">
                                <small>{{ 'model.department.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('dept_name')?.errors?.maxlength">
                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                    LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <small class="text-danger" *ngIf="form.get('dept_name')?.errors?.isBlank">
                                {{ 'model.department.error.required' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="form.get('dept_name')?.errors?.pattern">
                                {{ 'model.department.error.notCode' | translate }}
                            </small>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.parentName' | translate }}
                        </label>
                        <nz-tree-select
                            [nzDisabled]="this.action.event === actionToShowData[1] || selectedDepartment.sync_code"
                            [nzNodes]="nodes" nzHideUnMatched nzShowSearch nzPlaceHolder="Đơn vị"
                            formControlName="parent_id" n nzHideUnMatched #treeSelect
                            [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"></nz-tree-select>

                    </div>

                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.province' | translate }}
                        </label>
                        <nz-select nzShowSearch nzPlaceHolder="{{ 'model.department.province' | translate }}"
                            nzAllowClear [nzDisabled]="form.get('province_id')?.disabled" removeOptionTitle
                            formControlName="province_id" (ngModelChange)="onChangeProvice()">
                            <nz-option *ngFor="let item of provices" [nzCustomContent]="true"
                                [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                                    [ngbTooltip]="(item?.name  ||'') | translate">{{(item?.name || '') | translate}}
                                </div>
                            </nz-option>
                        </nz-select>
                    </div>

                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.district' | translate }}
                        </label>
                        <nz-select nzShowSearch nzPlaceHolder="{{ 'model.department.district' | translate }}"
                            nzAllowClear [nzDisabled]="form.get('district_id')?.disabled" removeOptionTitle
                            formControlName="district_id" (ngModelChange)="onChangeDistrict()">
                            <nz-option *ngFor="let item of districts" [nzCustomContent]="true"
                                [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                                    [ngbTooltip]="(item?.name || '') | translate">{{(item?.name || '') | translate}}
                                </div>
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.ward' | translate }}
                        </label>
                        <nz-select nzShowSearch nzPlaceHolder="{{ 'model.department.ward' | translate }}" nzAllowClear
                            [nzDisabled]="form.get('ward_id')?.disabled" removeOptionTitle formControlName="ward_id">
                            <nz-option *ngFor="let item of wards" [nzCustomContent]="true"
                                [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                <div container="body" [animation]="false" [openDelay]="100" [closeDelay]="0"
                                    [ngbTooltip]="(item?.name || '') | translate">{{(item?.name || '') | translate}}
                                </div>
                            </nz-option>
                        </nz-select>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.department.detailAddress' | translate }}
                        </label>
                        <input formControlName="address" nz-input class=""
                            placeholder="{{ 'model.department.detailAddress' | translate }}" #availableArea>
                        <ng-container *ngIf="form.get('address')?.touched || form.get('address')?.dirty">
                            <span class="text-danger" *ngIf="form.get('address')?.errors?.maxlength">
                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                    LENGTH_VALIDATOR.ADDRESS_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <small class="text-danger" *ngIf="form.get('address')?.errors?.pattern">
                                {{ 'model.department.error.notCode' | translate }}
                            </small>
                        </ng-container>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container *ngIf="!isShowView">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                    [text]="'action.'+ action.includedButton" (click)="onCancel()"></mbf-button>
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [icon]="action.icon"
                    [shapeType]="'radius'" [text]="'action.'+ action.buttonTitle" (click)="onSubmit()"></mbf-button>
            </ng-container>

            <ng-container *ngIf="isShowView">
                <!-- <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                    [text]="'action.'+ action.buttonTitle" (click)="onSubmit()"></mbf-button> -->
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [shapeType]="'radius'"
                    [icon]="action.icon" [text]="'action.'+ action.includedButton" (click)="onCancel()"></mbf-button>
            </ng-container>
        </div>
    </div>
</div>