::placeholder{
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
.box-tag{
    position: relative;
    height: 36px;
    border: 1px solid #e0e0e0;
}
.box-tag input {
    border: unset!important;
    height: 32px;
}  
.box-contact ::ng-deep .dropdown-menu{
    width: 100%;
    padding: 0px;
}
.box-contact {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #e0e0e0;
}
.box-contact ::ng-deep .inner-name{
    position: static;
    width: 100%;
    text-align: center;
    color: rgba(33, 33, 33, 0.85);
    padding: 0px 10px;
    line-height: 20px;
}
.box-contact  .header{
    background: #F4F5FA;  
    font-weight: 500;
}
.box-contact .dropdown-menu .w-100.active{
    background: #0060AF!important;

}


::ng-deep .scroll-contact{
    overflow-x: auto;
    height: 400px;
}
.list-tag{
    padding-left: 10px;
    position: absolute;
}
.closeDepartment{
    position: absolute;
    top: 13px;
    right: 14px;
}
.box-contact input {
    border:unset!important;
}
.box-contact input:focus {
  box-shadow: unset!important;
}
.scroll-contact{
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
    border-radius: 6px;
    background-color: #fff;
}
:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    color: #3e4550 !important;
}