:host ::ng-deep .ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow{
    text-align: right;
    right:16px;
    left: unset;
}
:host ::ng-deep.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-extra{
    float: left;
    margin-right:15px
}
:host ::ng-deep .ant-collapse>.ant-collapse-item>.ant-collapse-header{
    padding: 12px 16px 12px 15px;
    font-weight: 500;
    background-color: #F4F5FA;
}
:host ::ng-deep .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content, .ant-collapse-ghost>.ant-collapse-item>.ant-collapse-content{
    margin-left: 10px;
    background-color: #fff;
}
:host ::ng-deep .ant-checkbox-group-item{
    font-weight: 400;
    width: 32%;
    margin-bottom: 12px;
}
:host ::ng-deep .ant-checkbox-group{
    width: 100%;
}
:host ::ng-deep .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content>.ant-collapse-content-box{
    padding-bottom: 4px;
}
.invalid{
    border-color: red;
}
:host ::ng-deep .ant-collapse-borderless>.ant-collapse-item {
    border-bottom: 0;
    margin-bottom: 1.5px;
}
:host ::ng-deep .ant-collapse-borderless{
    max-height: 380px;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 15px;
  }
  ::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    border-radius: 15px;
  }