<div class="create-department">
    <div *nzModalTitle>
        <span>{{ ('model.role.' + actionNow.event) | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <nz-tabset #tabs>
                <nz-tab [nzTitle]="'model.role.roleInfo'| translate">
                    <form [formGroup]="roleForm" role="form">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label>{{ 'model.role.code' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input formControlName="name" nz-input
                                    [class]="roleForm.get('name')?.touched || roleForm.get('name')?.dirty ? getClassInvalid('name'):'null'"
                                    placeholder="{{ 'model.role.code' | translate }}" #availableArea required>
                                <ng-container *ngIf="roleForm.get('name')?.touched || roleForm.get('name')?.dirty">
                                    <span class="text-danger" *ngIf="roleForm.get('name')?.errors?.required">
                                        <small>{{ 'model.role.error.required' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="roleForm.get('name')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.CODECUS_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <small class="text-danger" *ngIf="roleForm.get('name')?.errors?.isBlank">
                                        {{ 'model.role.error.required' | translate }}
                                    </small>
                                    <small class="text-danger" *ngIf="roleForm.get('name')?.errors?.pattern">
                                        {{ 'model.role.error.codeInvalid' | translate }}
                                    </small>
                                    <small class="text-danger" *ngIf="roleForm.get('name')?.errors?.hasExisted">
                                        {{ 'model.role.error.codeExist' | translate }}
                                    </small>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.role.name' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input formControlName="display_name" nz-input class=""
                                    placeholder="{{ 'model.role.name' | translate }}" #availableArea required>
                                <ng-container
                                    *ngIf="roleForm.get('display_name')?.touched || roleForm.get('display_name')?.dirty">
                                    <span class="text-danger" *ngIf="roleForm.get('display_name')?.errors?.required">
                                        <small>{{ 'model.role.error.required' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="roleForm.get('display_name')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.NAME_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <small class="text-danger" *ngIf="roleForm.get('display_name')?.errors?.pattern">
                                        {{ 'model.role.error.nameInvalid' | translate }}
                                    </small>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.role.description' | translate }}
                                </label>
                                <textarea rows="6" nz-input formControlName="description"></textarea>
                                <span class="text-danger" *ngIf="roleForm.get('description')?.errors?.maxlength">
                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                        {param:lengthValidator.DES_MAX_LENGTH.MAX} }}</small>
                                </span>
                            </div>
                        </div>
                    </form>
                </nz-tab>

                <nz-tab [nzTitle]="'model.role.permission'| translate">
                    <nz-collapse [nzBordered]="false">
                        <nz-collapse-panel #p *ngFor="let property of groupName;" [nzHeader]="property"
                            [nzExpandedIcon]="expandedIcon" [nzExtra]="extraTpl">
                            <nz-checkbox-group [(ngModel)]="listPermission[property]"
                                (ngModelChange)="updateSingleChecked(property)"
                                [nzDisabled]="actionNow.event === viewEvent"></nz-checkbox-group>
                            <ng-template #expandedIcon let-active>
                                <i nz-icon class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 0 : 180">
                                    <img src="assets/images/icon/arrow-right.svg" alt="trash-icon" srcset="" /></i>
                            </ng-template>
                            <ng-template #extraTpl>

                                <label nz-checkbox [(ngModel)]="allChecked[property]"
                                    [nzDisabled]="actionNow.event === viewEvent"
                                    (ngModelChange)="updateAllChecked(property)"
                                    [nzIndeterminate]="indeterminate[property]"></label>
                            </ng-template>
                        </nz-collapse-panel>
                    </nz-collapse>
                </nz-tab>
            </nz-tabset>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container *ngIf="actionNow.event !== viewEvent">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                    [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                <mbf-button id="createBuilding" [type]="'primary'" [icon]="isUpdate?'save':'plus-circle'"
                    [shapeType]="'radius'" [isLoading]="isLoading" 
                    [text]="isUpdate?'action.save':'action.create_short'" (click)="onSubmit()"></mbf-button>
            </ng-container>
            <ng-container *ngIf="actionNow.event === viewEvent">
                <mbf-button *hasRoles="auth.ROLE.UPDATE" id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                    [text]="'action.view'" (click)="onUpdate()"></mbf-button>
            
                <mbf-button id="createBuilding" [customClass]="'mr-2'"  [icon]="'close-circle'" [type]="'primary'" [shapeType]="'radius'"
                [text]="'action.close'" (click)="onCancel()"></mbf-button>
            </ng-container>
        </div>
    </div>
</div>