.title-fillter{
    color: rgba(117, 117, 117, 0.85);
}
::ng-deep .ant-drawer-header{
    background: #F4F5FA;
}
.module-fillter label{
    font-size: 12px;
    color: rgba(117, 117, 117, 0.85);
}
.module-fillter .btn-filter{
    box-shadow: 3px 5px 7px rgb(0 97 175 / 24%), 1px 2px 2px rgb(0 102 153 / 10%);
    border-radius: 71px;
    width: 100%;
    padding: 9px;
    font-weight: 500;
    background: #0060AF;
}
 ::ng-deep .ant-drawer-body {
    padding: 0px;
}
.date-filter label{
    min-width: 70px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
}
::ng-deep .ant-picker-range{
    height: 31px;
    width: 300px;
}
.date-filter .d-flex{
    justify-content: right!important;
}
.ant-btn-default{
    color: #0060AF !important;
}
:host ::ng-deep .ant-tabs>.ant-tabs-nav, .ant-tabs>div>.ant-tabs-nav{
    background: #fff;
}
:host ::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap, .ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap{
    margin-left: 32px;
}
.container-fluid {
    margin-top: 0 !important;
}
.ant-table-thead > tr > th{
    padding:0 8px !important;
}
// #0000000f
.col-value{
    position: relative;
}
 .col-value::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1px;
    height: 1.6em;
    background-color: #E0E0E0;
    transform: translateY(-50%);
    transition: background-color .3s;
    content: "";
}

.td-number span{
    position: absolute;
    right: 32%;
}
@media (max-width: 1300px) {
    .table-scroll-report ::ng-deep .ant-table-container {
     width: 1600px !important;
 
   }
   .table-scroll-report {
     overflow-x: auto;
   }
 }
 .table-scroll-report{
    overflow-y: hidden !important;
 }
 .date-filter .mat-date-range-input {
    top: -12px!important;
}
