<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="d-inline date-filter mb-3">
                    <div class="d-flex  ">
                      <label>Thời gian:</label>
                      <!-- <mat-form-field appearance="fill">
                        <mat-date-range-input  [rangePicker]="picker" >
                          <input matStartDate [(ngModel)]="start_date" placeholder="dd-mm-yyyy"  (blur)="onSearchDate($event)" (dateChange)="onSearchDate($event)">
                          <input matEndDate [(ngModel)]="end_date" placeholder="dd-mm-yyyy"  (blur)="onSearchDate( $event)" (dateChange)="onSearchDate($event)">
                        </mat-date-range-input>
                        <mat-icon matDatepickerToggleIcon *ngIf="start_date || end_date" (click)="clearDate($event)" class="close-datepicker"><i nz-icon nzType="close-circle" nzTheme="outline"></i></mat-icon>
                        <mat-datepicker-toggle matSuffix [for]="picker">
                          <mat-icon matDatepickerToggleIcon><i nz-icon nzType="calendar" nzTheme="outline"></i></mat-icon>
                        </mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                      </mat-form-field> -->

                      <input type="text" 
                      ngxDaterangepickerMd
                      [locale]="{ applyLabel: 'ok', format: 'DD/MM/YYYY' }"
                      [autoApply]="true"
                      [ranges]="ranges"
                      [alwaysShowCalendars]="true"
                      [locale]="calendarLocale"
                      [keepCalendarOpeningWithRange]="true"
                      class="form-control"
                      [(ngModel)]="selected"
                      (change)="ngModelChange($event)"
                      />
                    </div>
                  </div>
                <div class="col-12">
                    <div class="card">
                        <div class="table-scroll-report">
                        <nz-table #basicTable nzOuterBordered  [nzData]="data">
                            <thead>
                                <tr>
                                    <th style="width:5%" class="text-center">#</th>
                                    <th class="pl-2 text-left"> Đơn vị</th>
                                    <th class="pl-2 text-left"> Sản phẩm dịch vụ</th>
                                    <th class="pl-2 text-left">Yêu cầu đã xử lý</th>
                                    <th [colspan]="2" class="text-left">Yêu cầu đã xử lý đạt KPI</th>
                                    <th [colspan]="2" class="text-left">Yêu cầu quá hạn</th>
                                    <th><a class="ml-2"><img src="assets/images/icon/menu.svg"></a></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <td class="text-left"> Số lượng</td>
                                    <td class="text-left">Tỷ lệ (%)</td>
                                    <td class="text-left">Số lượng</td>
                                    <td class="text-left">Tỷ lệ (%)</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item  of data; let i=index;">
                                    <td class="text-center">{{ (reportQuery.pageIndex - 1)*reportQuery.pageSize + i + 1 }}</td>
                                    <td class="text-left" [nzTooltipTitle]="common.extractContent(item?.department_name_path)" nzTooltipPlacement="topLeft" nz-tooltip [nzTooltipOverlayStyle]="styleTooltip">
                                        {{common.limitWord(item.department_name, 20) }}
                                    </td>
                                    <td class="text-left">{{common.limitWord(item.product_name, 20) }}</td>
                                    <td class="text-left"><span>{{item.total_request_handled}}</span></td>
                                    <td class="text-left"><span>{{item.is_on_time}}</span></td>
                                    <td class="text-left"><span>{{item.rate_on_time}}</span></td>
                                    <td class="text-left"><span>{{item.is_out_date}}</span></td>
                                    <td class="text-left"><span>{{item.rate_out_date}}</span></td>
                                    <td></td>
                                </tr>
                                <tr *ngIf="data?.lenght==0"> <nz-empty></nz-empty></tr>
                            </tbody>
                        </nz-table>
                        </div>
                        <div class="p-3">
                            <mb-pagination [pageIndex]="reportQuery.pageIndex" [pageSize]="reportQuery.pageSize" [total]="total"
                              (onChange)="onQuerySearch($event)">
                            </mb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
