/** Core CSS */
:root {
  --cdkVirtualScrollViewport: 64px;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  line-height: 1.5715;
  background: #ECECF3;
  font-feature-settings: 'tnum'
}
.description-editor img {
  max-width: 100% !important;
  height: auto !important;
}
// @font-face {
//   font-family: medium-arial;
//   src: url("../font/SFD-Bold.woff2") format("woff");
// }
.ant-picker-input>input[disabled],.ant-radio-disabled+span {
  color: rgb(67 61 61);
}
.date-filter input{
  width: 221px;
}
.app-layout-admin  .ant-layout{
  margin-left: 320px;
}
.ng-dropdown-panel {
  opacity: 1;
  background: #fff;
  padding-left: 5px;
  border: 1px solid #ccc;
  margin-left: -13px;
  margin-top: 8px;

}
.ng-select{
  background: #F4F5FA !important;
}
.ant-menu-item a {
  color: #000000d9;
  text-decoration: none!important;
}
p {
  margin-bottom: 0px !important;
}
.page-end-user h5{
  font-weight: 600;
  font-size: 18px;
}
.ant-table-thead > tr > th:first-child{
  min-width: 60px;
  max-width: 60px;
  width: 60px!important;
}
section.content {
  border-radius: 10px;
  background: #fff;
  padding: 24px;
}
.date-filter input{
  height: 31px !important;
  font-size: 14px;
}
input{
  color: #000;
}
label {
  font-weight: 400;
  color: rgb(102 100 100);
  font-size: 14px;

}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  padding: 8px 24px;
  font-size: 14px;
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option:hover{
  background-color: #f5f5f5;
}
.ng-dropdown-panel {
  border: unset!important; 
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  border-radius: 12px;
}
.ant-select-selection-placeholder {
  font-size: 15px;
  font-style: italic;
  color: #ddd9d9;
}
.page-title h5 {
  color: rgba(33, 33, 33, 0.85);
  font-size: 20px;
}

.text-primary {
  color: #1672EC !important;
}

.text-default {
  color: #F8F8F8 !important;
}

/** Sidebar */

.ant-menu {
  font-weight: 400;
  font-size: 14px;
}

.ant-layout.ant-layout-has-sider>.ant-layout,
.ant-layout.ant-layout-has-sider>.ant-layout-content {
  width: calc(100% - 320px);
  margin-left: 320px;
  display: block;
  height: 100%;
  background: #ECECF3;
}

.ant-layout-has-sider-collapsed {
  margin-left: 80px !important;
}

.ant-layout-sider-custom {
  background: #ffffff !important;
}

.ant-menu-sub.ant-menu-inline {
  background: #ffffff !important;
}

.ant-notification-notice {
  cursor: pointer;
}

/** Table */
.ant-table-pagination {
  display: none;
}

// .ant-table-container {
//   margin-top: 10px;
// }

.ant-table-title {
  padding: 0;
}

.ant-table-title p {
  font-size: 24px;
}

/** Input */
.ant-input:hover {
  border-color: #1672EC;
}

.ant-input-affix-wrapper {
  padding: 0 11px 0 0;
  border-radius: 5px;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: #1672EC;
}

.ant-input {
  position: relative;
  display: inline-block;
  padding: 5px 11px !important;
  font-size: 14px;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  transition: all .3s;
}

.ant-picker {
  box-sizing: border-box;
  margin: 0;
  color: rgba(0, 0, 0, .85);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  padding: 7px 11px;
  width: 100%;
  border-radius: 5px;
  align-items: center;
  background: #fff;
  border: 1px solid #d9d9d9;
  transition: border .3s, box-shadow .3s;
}

.ant-picker:hover {
  border-color: #1672EC;
}

.ant-select {
  width: 100%;
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector:hover {
  border-color: #1672EC;
}

.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  padding: 0;
  transition: all .3s;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  padding: 0;
  transition: all .3s;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;

}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 5px;
}

.ant-select-dropdown {
  border-radius: 12px;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: #1672EC;
  color: #ffffff;
}

.ant-select-item,
.ant-select-item-empty {
  border-radius: 4px;
  margin: 5px 15px;
}

.cdk-virtual-scroll-viewport {
  min-height: 99px !important;
}

.ant-select-item-option-content {
  flex: auto;
  overflow: hidden;
  white-space: nowrap;
  padding: 5px;
  text-overflow: ellipsis;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) .ant-select-item-option-state {
  color: #ffffff;
}

.ant-input-affix-wrapper {
  padding: 0 11px 0 11px;
}

.ant-input.ant-input-disabled {
  color: #3e4550;
}

/** Button */
nz-button-group {
  margin: 0 8px 8px 0;
}

button {
  outline: none !important;
}

button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-btn {
  position: relative;
  white-space: nowrap;
  text-align: center;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  user-select: none;
  font-weight: 300;
  height: 38px;
  min-width: 120px;
  color: #0060AF;
  background: #F4F5FA;
  border-radius: 35px;
  border: 1px solid #F4F5FA;
}

.ant-btn:focus {
  color: #1672EC;
  border: 1px solid #1672EC;
}

.ant-btn:active {
  color: #0060AF;
  border: 1px solid #0060AF;
}

.ant-btn:hover {
  color: #0060AF;
}

.ant-btn-primary[disabled] {
  background: #0060AF;
  color: #ffffff;
  border: 1px solid #0060AF;
}

.ant-btn:hover {

  border: unset;
  background: #F4F5FA;
}

.ant-btn-primary[disabled]:hover {
  background: #0060AF;
  color: #ffffff;
  border: 1px solid #0060AF;
}

.ant-btn-primary {
  background: #0060AF;
  color: #ffffff;
}

.ant-btn-primary:focus {
  background: #0060AF;
  color: #ffffff;
}

.ant-btn-primary:active {
  background: #0060AF;
  color: #ffffff;
}

.ant-btn-primary:hover {
  background: #0060AF;
  color: #ffffff;
}

.ant-btn-default {
  background: #F4F5FA;
  color: #0060AF;
}

.btn-default {
  color: #0060AF !important;
  background-color: #F4F5FA !important;
}

.ant-switch-checked {
  background-color: #0060AF;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #0060AF;
  border-color: #0060AF;
}

.tickets-page .ant-checkbox-disabled.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: #fff;
}
.ant-radio-checked .ant-radio-inner {
  border-color: #0060AF;
}

.ant-radio-inner::after {
  background-color: #0060AF;
}

.ant-radio-checked::after {
  border-color: #0060AF;
}

.ant-tabs-tab+.ant-tabs-tab {
  color: rgba(53, 53, 56, 0.5);
  font-weight: 400;
}

.ant-tabs-tab-btn {
  color: #000;
  font-weight: 400;
}

// .ant-btn-primary:focus {
//   background: #F4F5FA;
//   color: #333;
// }

// .ant-btn-primary:active {
//   background: #F4F5FA;
//   color: #333;
// }

.btn {
  font-size: 14px !important;
}

.btn-circle {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-radius {
  border-radius: 71px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  border:unset!important;
}

// .btn-radius:hover{
//   border: 0px;
// }

/** Icon */
.anticon {
  vertical-align: 2px;
}

.icon {
  cursor: pointer;
}

.icon-edit {
  color: #1890ff;
}

.icon-delete {
  color: rgba(220, 46, 46, 0.85);
}

.icon-primary {
  color: #1672EC;
}

.icon-default {
  color: #F8F8F8;
}

/** Modal */
.ant-modal-header {
  border: none;
  border-radius: 10px 10px 0 0;
  background: #F4F5FA;
}

.ant-modal-body {
  padding: 24px 24px 0;
  font-size: 14px;
  line-height: 1.5715;
  word-wrap: break-word;
}

.ant-modal-footer {
  padding: 32px 16px;
  border: none;
  border-radius: 0 0 10px 10px;
}

.ant-modal-content {
  border-radius: 10px;
}

.ant-modal-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #353538;
  opacity: 0.6;
  text-transform: uppercase;
}

/** Tab */
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #0060AF !important;
}

.ant-tabs-tab-active {
  color: #0060AF !important;
}

.ant-tabs-tab-disabled {
  color: #CECECE !important;
}

.ant-tabs-ink-bar {
  position: absolute;
  background: #0060AF;
  pointer-events: none;
}

.ant-tabs-nav-list {
  font-weight: 600;
}.w-140{
  width: 110px;
}

.ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab {
  border-radius: 5px 5px 0 0;
}

/** Card */
.ant-card.ant-card-bordered {
  border-radius: 5px;
}

/** Table */
.ant-table {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: 'tnum';
  position: relative;
  border-radius: 14px;
}

.ant-table table {
  table-layout: auto;
  border-collapse: unset;
  // border: 0.6px solid #CECECE;
  box-sizing: border-box;
  border-radius: 14px;
}

.ant-table-thead>tr>th {
  background: #F4F5FA;
  font-weight: 700;
  color: #202224;
  padding: 0;
  // font-size: 14px;
  height: 55px;

  span {
    font-size: 14px;
  }
}
.ant-tree .ant-tree-treenode {
  padding: 0px 0 15px;
}
.ant-table-tbody>tr>td {
  box-sizing: border-box;
  // border-top: 0.6px solid #CECECE;
  //border-radius: 0 0 14px 14px;
  font-size: 14px;
  padding: 0;
  height: 55px;
  border-bottom: none;
  font-weight: 400;
  color: #000000;

  .td-data {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.ant-menu-submenu  i{
  font-size: 16px!important;
  margin-left: 9px;
}
.ant-table-title+.ant-table-container table>thead>tr:first-child th:first-child {
  border-radius: 14px 0 0 0;
}

.ant-table-title+.ant-table-container table>thead>tr:first-child th:last-child {
  border-radius: 0 14px 0 0;
}
.ant-table-container table>thead>tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

.ant-table-container table>thead>tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

table tr td {
  background-color: #fff;
}

table tr:nth-child(2n) td {
  background-color: #F4F5FA;
}
.ant-radio-inner::after {
  background-color: #0060AF !important;
}
// tbody tr:last-child td:first-child {
//   border-bottom-left-radius: 14px;
// }

// tbody tr:last-child td:last-child {
//   border-bottom-right-radius: 14px;
// }

/** File Upload */
.ant-upload-drag {
  height: 200px !important;
}

.ant-upload {
  height: 200px !important;
}


// Card
.card {
  border-radius: 6px;
  border: none;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.card-header {
  background: #F4F5FA !important;
  color: #757575;
  border-radius: 6px 6px 0px 0px!important;
  padding: 11px 20px 4px 20px;
  height: 38px;
}
.ant-select {
  color: #000;
}
.card-header h6 {
  color: #0e0d0d;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}

//filter
.advance-filter label {
  color: #000;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.004em;
}

.badge-table {
  height: 16px;
  background: #E4F1FF;
  padding: 4px 6px;
  border-radius: 8px;
  margin-right: 5px;
}

.ant-table-tbody>tr>td {
  padding: 3px 8px !important;
  ;
}

.main-fillter,
.tag-mobile {
  display: none;
}

.show-mobile {
  display: none;
}

.page-product .ant-table-thead>tr>th {
  padding: 16px 8px !important;
}

.size-of-pagination {
  margin-top: 8px !important;
}

.sticky-top {
  background: #fff;
  z-index: 99;
  top: 52px;
}

.dropdown-fillter {
  display: none !important;
}

.scroll-fillter-top {
  overflow-x: auto;
  position: absolute;
  width: 100%;
  padding: 0px 10px !important;
}

.scroll-fillter-top.fillter-top .ticket-overview {
  width: 3700px;
  justify-content: left !important;
}

.mr-100.tickets-page {
  margin-top: 171px;
}

.scroll-fillter-top.fillter-top .card-overview {
  width: 180px;
}
.ant-btn-dangerous.ant-btn-primary:hover{
  color: #fff;
  background: #ff4d4f!important;
  border-color: #ff4d4f!important;
  text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
  box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}
.wrapper li:hover img {
  filter: invert(37%) sepia(65%) saturate(2484%) hue-rotate(199deg) brightness(110%) contrast(83%)!important;
}
.ant-popover-inner-content p:hover img {
  filter: invert(37%) sepia(65%) saturate(2484%) hue-rotate(199deg) brightness(110%) contrast(83%)!important;
}
.ant-popover-inner-content p:hover span {
  color: #1890ff;
}
.wrapper li.ant-menu-item-selected:hover img{
  filter: invert(1)!important;

}
 .dropdown-infor .ant-dropdown-menu {
  width: 250px !important;
  padding: 16px;
  box-shadow: 1px 2px 12px rgb(0 102 153 / 10%);
  border-radius: 4px;
}

.app-header{
  position: sticky;
  z-index: 999;
  width: 100%;
}
 .dropdown-infor  .ant-dropdown-menu-item {
  padding: 5px 10px;
  padding: 13px 6px;
  border-bottom: 1px solid #E0E0E0;
}
.dropdown-infor li:hover span{
  color: #1890ff!important;
}
.dropdown-infor li:hover, .dropdown-infor li:hover {
  background-color: unset;
}.dropdown-infor .btn-login:hover{
  border: 1px solid #0060AF;
  color: #0060AF;
}
.btn-login{
  width: 100%;
  position: relative;
  bottom: 6px;
  text-align: center;
  margin-top: 26px;
}
#datepicker .anticon-close-circle{
  display: none!important;
}
.mat-typography {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif!important;
}
.md-drppicker .ranges ul li button.active {
  background-color: unset!important;
  color: #409eff!important;
}
.md-drppicker td.active {
  background-color: #409eff!important;
}
.md-drppicker td.off, .md-drppicker td.off.end-date, .md-drppicker td.off.in-range, .md-drppicker td.off.start-date {
  background-color: #fff!important;
}
.md-drppicker th {
  color: #000!important;
  font-weight: 400!important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple{
  background-color: unset!important;
  border: 2px solid #f44336!important;
  border-radius: 4px!important;
}
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple::after{
  content: "Nhập theo đúng định dạng dd/mm/yyyy và ngày tới không được lớn hơn ngày hiện tại";
  position: absolute;
  top: 33px;
  left: 0px;
  color: red;
  font-size: 11px;
}
.md-drppicker.double{
  width: 598px !important;
  right: 0px !important;
  top: 52px !important;
  left: unset !important;
}
.date-filter.d-flex .md-drppicker.double{
  right: 45px !important;
  top: 82px !important;
}
.mat-form-field.mat-focused  .mat-form-field-ripple,.mat-form-field-ripple {
  background-color: unset!important;
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
  display: none!important;
}
.mat-form-field-appearance-fill .mat-form-field-ripple {
  bottom: -19px!important;
  height: 30px!important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 4px!important;
  padding: 0px 5px !important;
  border: 1px solid #ccc!important;
  height: 31px;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background: #F4F5FA!important;
}
.mat-date-range-input input::placeholder { 
  font-size: 14px!important;
  color: rgba(0,0,0,.85)!important;
}
.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0px;
}
.mat-date-range-input {
  width: 100%;
  position: absolute;
  width: 100%;
  top: -19px;
}
.ant-select-multiple .ant-select-selection-search-input {
  min-width: 200px;
}
.close-datepicker{
  position: absolute !important;
  right: -7px !important;
  top: -14px !important;
  font-size: 14px;
  opacity: 0.5;
  cursor: pointer;
}
.mat-datepicker-toggle  .mat-icon{
  font-size: 14px!important;
  margin-top: -15px!important;
}
.sticky-top  .mat-date-range-input {
  top: -12px!important;
}
.mat-form-field:not(.mat-form-field-appearance-legacy) .mat-form-field-suffix .mat-icon-button {
  height: 29px!important;
  width: 29px!important;
}
.mat-form-field-wrapper {
  padding-bottom: 0px;
}
@media (max-width: 1700px) {
  .dashboard .card-overview {
    padding: 10px!important;
}
.card-overview h5,.fillter-top .ticket-overview h5.text-left span {
  font-size: 20px!important;
}
  .check-all {
    font-size: 13px;
  }
  .fillter-top .card-overview .inner-over {
    display: none;
}
  .date-filter nz-range-picker {
    width: 232px;
  }

}
.display-mobile{
  display: none !important;
}
@media (max-width: 1400px) {
 .dashboard .img-sticket{
    height: 39px!important;
  }
  .dashboard .title-charts {
    display: inline-block!important;
  }
  .dashboard .scroll-status{
    display: unset!important;
  }
  .dashboard .card-overview {
    width: 32.4% !important;
    display: inline-block;
  }
  .card-overview:nth-child(3){
    margin-right: 0px!important;
}
  .dashboard .col-lg-6{
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
@media (max-width: 1200px) {
  .date-filter .d-flex {
    top: 118px!important;
}
.dashboard.sticky-top {
  z-index: 0!important;
  top: 0px!important;
  position: relative!important;
  height: auto!important;
}
  .display-mobile{
    position: absolute;
    bottom: 11px;
    right: 17px;
    display: block !important;
  }
  .detail-ticket .col-md-12.col-lg-9,
  .detail-ticket .col-md-12.col-lg-3 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .body-flow {
    width: 676px;
  }

  .page-body.tickets-page {
    margin-top: 10px;
  }

  .fillter-top .ticket-overview {
    width: 1100px;
  }

  .fillter-top {
    overflow-x: auto;
    position: absolute;
    width: 100%;
    padding: 0px 10px !important;
  }

  .tickets-page .header {
    display: block !important;
  }

  .card-overview {
    height: 72px;
  }

  .sticky-top .fillter-top .justify-content-between {
    justify-content: left !important;
    padding-top: 19px;
  }

  .dropdown-fillter.d-flex {
    display: flex !important;
  }

  .tag-mobile.right-header .box-tag .tags {
    justify-content: right !important;
  }

  .tickets-page .card-ticket {
    border-radius: 0px !important;
    margin-bottom: 5px !important;
  }

  .tickets-page .col-12 {
    padding-right: 5px;
    padding-left: 5px;
  }

  .searchInput {
    width: 100% !important;
    height: 36px !important;
  }

  .page-top .actions {
    justify-content: left !important;
    display: block !important;
  }

  .searchInputWrapper {
    display: flex;
  }

  .responsive-body {
    display: block !important;
    width: 100% !important;
    overflow-x: auto !important;
    position: absolute;
  }

  .responsive-body .container-fluid {
    width: 1800px !important;
  }

  .searchInputIcon {
    height: 20px;
  }

  .check-all,
  .fillter-top img,
  .fillter-top i,
  .dropdown-fillter button span {
    display: none !important;
  }

  .fillter-top .card-overview {
    height: auto !important;
    margin-right: 10px !important;
    padding: 10px 6px 6px 0px !important;
  }

  .page-top.page-top-tickets .d-flex,
  .show-desktop {
    display: none !important;
  }
  .show-desktop1 {
    display: none !important;
  }

  .dropdown-fillter {
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    background: #ffff;
    padding: 11px 5px;
    border-radius: 5px;
  }

  .page-top .actions button span,
  .tickets-page .right-header .box-tag,
  .vertical-tickets {
    display: none !important;
  }

  .page-top,
  .main-fillter,
  .tag-mobile.right-header .box-tag,
  .tag-mobile,
  .show-mobile {
    display: block !important;

  }

  .mobile-filler-right {
    position: absolute;
    top: 50px;
    right: 0px;
    flex: 0 0 300px !important;
    max-width: 300px !important;
    z-index: 9999;
  }

  .tickets-page .col-9 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .detail-ticket .ant-select,
  .title-tickets {
    max-width: 200px;
  }

  .actions.scroll-level {
    display: flex !important;
    justify-content: left !important;
  }

  .page-top .actions.scroll-level button span {
    display: block !important;
    text-transform: initial;
  }
}
// .mobile-filler-right{
//   position: absolute;
//   top: 50px;
//   right:0px;
//   flex: 0 0 300px!important;
//   max-width: 300px!important;
//   z-index: 9999;
// }
// .tickets-page .col-9 {
//   flex: 0 0 100%;
//   max-width: 100%;
// }
.detail-ticket .ant-select,.title-tickets {
  max-width: 200px;
}
.actions.scroll-level{
  display: flex!important;
  justify-content: left !important;
}

.ant-btn.ant-btndefault:active,  .ant-btn.ant-btndefault:focus{
  background: #F4F5FA!important;
}
.table-scroll-report{
  overflow: auto;
}
.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background: #1672EC!important;
  color: #ffffff!important;
}
.title-charts  .ant-select-selection-placeholder {
  font-style: inherit!important;
}
::ng-deep .module-fillter .ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto!important;
}
::ng-deep .cdk-virtual-scroll-viewport {
  min-height: 150px!important;
}
.ant-drawer-close {
  color: rgba(0,0,0,.75);
}
.module-fillter .down-search{
  position: absolute;
  right: 25px;
  top: 38px;
  color: rgba(0,0,0,.25);
}
 .ant-drawer-close{
  width: 30px;
  height: 30px;
  top: 14px!important;
  right: 12px!important;
  text-align: center;
  padding: 0px!important;
}
.des-report{
  height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  display: -webkit-box;
  max-width: 100%;
}
.title-fillter{
  color: rgba(117, 117, 117, 0.85);
}
 .ant-drawer-header{
  background: #F4F5FA;
}
.module-fillter label{
  font-size: 14px;
  color: rgba(117, 117, 117, 0.85);
}
.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector,.ant-select-disabled.ant-select-multiple .ant-select-selection-item  {
  color: #3e4550;
}
.module-fillter .btn-filter{
  box-shadow: 3px 5px 7px rgb(0 97 175 / 24%), 1px 2px 2px rgb(0 102 153 / 10%);
  border-radius: 71px;
  width: 100%;
  padding: 9px;
  font-weight: 500;
  background: #0060AF;
}
 .ant-drawer-body {
  padding: 0px;
}
.module-fillter  .ant-select-selector{
  background: #F4F5FA!important;
}
@media (max-width: 1160px){
  .ant-layout-header .header-right {
    margin-top: 8px!important;
}
}
@media (max-width: 991px){
  .dashboard .card-overview {
    width: 32% !important;
}
.dashboard .page-top{
  padding: 16px 20px 6px!important;
}
  .detail-ticket label.w-120 {
    width: 140px !important;
    min-width: 140px !important;
}
.title .code-ticket {
  display: block !important;
}
.page-end-user .col-lg-9,.page-end-user .col-lg-3 {
  flex: 100%!important;
  max-width: 100%!important;
}

}
@media (max-width: 900px){
  .menu-sidebar[_ngcontent-exv-c189] {
    position: absolute;
}
.ant-layout.ant-layout-has-sider > .ant-layout {
  width: calc(100% - 80px);
  margin-left: 80px;
}
.ant-layout .header-trigger{
  margin-left: 240px;
}
.ant-layout.ant-layout-has-sider-collapsed .header-trigger{
  margin-left: 0px!important;
}

  .date-filter .d-flex {
    top: 89px !important;
}
  .sticky-top {
    height: 225px !important;
}

  .card-overview h5  {
    font-size: 20px !important;
}
  .hide-mobile{
    display: none!important;
  }
  .tickets-page .footer,  .tickets-page .footer .left-footer{
    display: block!important;
  }

  .tickets-page .footer .tag {
    margin: 10px 0px !important;
    max-width: 184px !important;
  }
.footer .time-created  .tag{
  margin-right: 5px!important;
}
  .tickets-page .footer .time-created {
    margin-top: 10px;
  }

  .tickets-page .footer .time-limit {
    margin-left: 0px !important;
  }

  .detail-ticket .ant-select,
  .title-tickets {
    max-width: 100% !important;
  }

  .ant-modal {
    width: 97% !important;
  }

  .ant-modal-body {
    padding: 10px;
  }

  .modal-delete .content {
    padding: 0px 15px;
  }


  .responsive-table {
    overflow: auto;
  }

  .responsive-table .card {
    width: 1300px;
  }

  .page-top {
    padding: 10px !important;
  }

  .table-responsive .ant-table-container {
    width: 1500px;
  }

  .page-top .page-title h5 {
    font-size: 18px !important;
    margin-bottom: 15px;
    font-weight: 500!important;
  }

  .tag-mobile.right-header .box-tag .tags {
    justify-content: right !important;
  }

  .fillter-top .card-overview {
    width: auto !important;
    padding: 3px 16px !important;
    margin-bottom: 0px!important;
  }

  .card-overview span {
    font-size: 14px !important;
  }

.card-ticket .check-box {
  margin-right: 15px;
}
.card-ticket{
  padding: 12px!important;
}
.title h5 {
  font-size: 14px;
}
.code-ticket span {
  font-size: 12px;
}
.right-header{
   min-width: auto;
}
.tickets-page .header {
  display: block!important;
}
.description {
  margin-bottom: 0px!important;
  min-height: 35px;
}
.process-pep .d-flex{
  display: inline-block!important;
  margin-top: 0px!important;
}
.card-ticket .check-box {
  margin-top: 41px!important;
}
.detail-ticket .card-body{
  padding: 10px 0px;
}
.detail-ticket label {
  min-width: 110px!important;
  width: 110px!important;
  font-size: 12px!important;
}
.detail-ticket b{
  font-size: 12px!important;
}
.detail-ticket .tag-warning1{
  font-size: 12px!important;
}
.detail-ticket .col-md-12 .res-mobile{
  display: block!important;
}
.detail-ticket .text-right.color2{
  text-align: left!important;
}
}

@media (max-width: 1200px) {
  .box-contact .dropdown-menu .w-100.header {
    display: none !important
  }
  .sticky-top {
    height: 250px;
  }
  
  .box-contact .dropdown-menu .w-100 {
    height: auto !important;
    line-height: 29px !important;
    display: inline-block !important;
    border-bottom: 1px solid #efe2e2;
  }

  .box-contact .inner-name {
    width: auto !important;
    text-align: left;
    padding: 0px 5px;
    display: inline-block;
    font-size: 13px;
  }
  .title .code-ticket {
    display: block!important;
}
.page-end-user .header {
  display: block!important;
}
}

@media (max-width: 630px) {
  .sticky-top {
    height: 213px;
}
  .detail-ticket label {
    min-width: 140px !important;
}
  .actions.scroll-level button span{
    display: block!important;
    text-transform: initial;
    font-size: 12px;
  }
  .table-history .ant-table-container {
    width: 880px;
  }

  .description-editor {
    display: block !important;
  }

  .page-top .actions .d-flex {
    justify-content: center !important;
  }

  .body-flow {
    width: 276px;
  }

  .title .code-ticket {
    display: block !important;
  }

  .breadcrum-header {
    display: none !important;
  }

  .btn-record {
    float: right;
    margin-bottom: 10px;
  }

}
@media (max-width: 550px) {

  .popoverNotifi {
    width: 400px !important;
    min-width: unset!important;
}
.popoverNotifi .ant-popover-arrow{
  display: none !important;
}
.notification {
  font-size: 13px!important;
}
}
@media (max-width: 400px) {
  .popoverNotifi {
    width: 300px !important;
}
}
.highlighted-text {
  color: black;
  font-weight: 700;
}

.action-table {
  justify-content: center;
}

// .ant-checkbox-indeterminate .ant-checkbox-inner::after{
//   background-color: #0060AF;
// }
.ant-btn-default:hover{
  color: #0060AF;
}
.ant-select-tree .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected{
  background-color: rgb(22 114 236) !important;
  color: white !important;
}
//notifi
.list-notifi {
  max-height: 50vh;
  overflow-y: auto;
  max-width: 530px;
  overflow-x: hidden;
}
::ng-deep .popoverNotifi .ant-popover-inner-content{
  padding-right: 0;
}
::ng-deep .popoverNotifi {
  min-width: 400px;
}
.notification b{
  font-weight: 600 ;
}
.notification .text-black{
  font-weight: 600 
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 15px;
}
::-webkit-scrollbar-thumb {
  background: #aaa; 
  border-radius: 15px;
}
.notification {
  font-size: 14px;
  padding: 12px 13px 28px 15px;
  cursor: pointer;
}

.text-bold {
  font-weight: 600;
}

.timeline {
  color: #A5ACB8;
}

.timeline p {
  margin-bottom: 0;
}
.cursor-none{
  cursor: default;
  color: inherit;
}
.notification:hover {
  background: linear-gradient(0deg, rgba(39, 39, 39, 0.1), rgba(39, 39, 39, 0.1)), #FFFFFF;
}
.dot_notifi {
  float: right;
  padding: 7px 0;
}
.notifi_read {
  color: rgba(33, 33, 33, 0.7);
}
small{
  font-size: 14px;
}
.time-line-read {
  font-weight: 600;
  color: #0060AF;
}
// .description-editor table th { 
//   text-align: inherit; 
// padding: 10px; 
// background-color: #66a5d9; 
// border-width: 1px;
// } 
// .description-editor table tr td { 
//   background-color: #fff; 
//   padding: 10px; 
//   border-width: 1px; 
// } 

//  .description-editor  tr { 
//   border-color: inherit; 
//   border-style: solid; 
//   border-width: 1px; 
//   padding: 5px; 
// } 

// .description-editor table { 
// margin: 10px 0px 0px 0px; 
//   border-collapse: collapse; 
//   width: 100%; 
// }
.description-editor table {
  width: unset !important;
}
#chartjs-tooltip{
  opacity: 0;
}
