.searchInputWrapper {
  position: relative;
}

.searchInput {
    width: 360px;
    height: 40px;
    padding: 0 3rem;
    border-radius: 2rem;
    border: 1px solid #E0E0E0;
    background: #F4F5FA;
  transition: transform 0.1s ease-in-out;
}

::placeholder {
    color: #353538;
    opacity: 0.4;
    font-weight: 400;
    font-size: 16px;
    font-style: italic;
}

/* hide the placeholder text on focus */
:focus::placeholder {
  text-indent: -999px;
}

.searchInput:focus {
  outline: none;
  transform: scale(1.0);
  transition: all 0.1s ease-in-out;
}

.searchInputIcon {
  position: absolute;
  left: 0.8rem;
  top: 10px;
  color: #d7d0d0;
  transition: all 0.1s ease-in-out;
  height: 20px;
}

.container:focus-within > .searchInputWrapper > .searchInputIcon {
  right: 0.2rem;
}
