<div class="import">
    <div *nzModalTitle>
        <i nz-icon nzType="question-circle" nzTheme="twotone" [nzTwotoneColor]="'#ffc107'"
            style="font-size: 22px; margin-right: 15px;"></i>
        <span>CẢNH BÁO</span>
    </div>
    <div>
        <label for="" style="color:red">Dữ liệu import bị lỗi, bạn có muốn tải file lỗi về không ?</label>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <button nz-button nzType="default" class="btn-radius btn-cancel" (click)="onCancel()" nzShape="round">
                HỦY</button>
            <button nz-button nzType="primary" class="btn-radius" style="justify-content:space-evenly"
                    (click)="handleOk()" nzShape="round">TẢI VỀ</button>
        </div>
    </div>
</div>