<div class="page-top page-top-tickets">
  <div class="page-title">
    <h5>{{'model.user-group.title' | translate }}</h5>
  </div>
  <div class="actions">
    <div class="searchInputWrapper">
      <div class="w-100">
        <!-- <form role="form" [formGroup]="searchForm"> -->
        <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm" #keyword
          (keyup.enter)="onSearch($event)" />
        <!-- </form> -->
        <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
          srcset="" />
      </div>
      <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
        <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
      </div>
      <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
        <div class="d-flex dropdown-fillter">
          <div class="refesh ml-2">
            <button class="btn ant-btn-default btn-circle" (click)="onRefresh()">
              <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" />
            </button>
          </div>
          <div class="export ml-2">
            <button class="btn ant-btn-default btn-circle" (click)="exportData()">
              <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
            </button>
          </div>
          <div class="delete ml-2" *hasRoles="auth.GROUP.DELETE">
            <button class="btn ant-btn-default btn-circle" nz-tooltip [nzTooltipTitle]="'Xóa'" [disabled]="setOfCheckedId.size === 0"
              (click)="onDelete(setOfCheckedId)">
              <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
            </button>
          </div>
          <div class="create ml-2" *hasRoles="auth.GROUP.CREATE">
            <button class="btn ant-btn-default btn-radius" nz-tooltip [nzTooltipTitle]="'Tạo mới'" (click)="onCreate()">
              <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
              <span style="color:#0060AF" class="ml-2">Tạo mới</span>
            </button>
          </div>
          <div class="filter ml-2">
            <button class="btn ant-btn-default btn-circle">
              <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
            </button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
    <div class="d-flex ">
      <!-- <div class="refesh ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="onRefresh()">
          <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" />
        </button>
      </div> -->
      <!-- <div class="import ml-2">
        <button class="btn ant-btn-default btn-circle">
          <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
        </button>
      </div>
      <div class="export ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="exportData()">
          <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
        </button>
      </div> -->
      <div class="delete ml-2" *hasRoles="auth.GROUP.DELETE">
        <button class="btn ant-btn-default btn-circle" nz-tooltip [nzTooltipTitle]="'Xóa'" [disabled]="setOfCheckedId.size === 0"
          (click)="onMultiDelete(setOfCheckedId)">
          <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
        </button>
      </div>
      <div class="create ml-2" *hasRoles="auth.GROUP.CREATE">
        <button class="btn ant-btn-default btn-radius" nz-tooltip [nzTooltipTitle]="'Tạo mới'" (click)="onCreate()">
          <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
          <span style="color:#0060AF" class="ml-2">Tạo mới</span>
        </button>
      </div>
      <!-- <div class="filter ml-2">
        <button class="btn ant-btn-default btn-circle">
          <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
        </button>
      </div> -->
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <!-- <div class="col-3">
        <div class="card">
          <div class="card-header">
            <h6>Cây đơn vị</h6>
          </div>
          <div class="cbody p-3">
            <div class="action-tree d-flex justify-content-between align-items-center">
              <div class="left-action">
                <div class="delete ml-2">
                  <button class="btn">
                    <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
                  </button>
                </div>
              </div>
              <div class="right-action">
                <button class="btn">
                  <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                  <span class="ml-2">Tạo mới</span>
                </button>
              </div>
            </div>
            <div class="tree">
              <nz-tree [nzData]="nodes" nzCheckable nzMultiple [nzCheckedKeys]="defaultCheckedKeys"
                [nzExpandedKeys]="defaultExpandedKeys" [nzSelectedKeys]="defaultSelectedKeys" (nzCheckBoxChange)="nzEvent($event)">
              </nz-tree>
            </div>
          </div>
        </div>
      </div> -->
      <div class="col-12">
        <div class="card">
          <nz-table [nzData]="userGroupList"  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
              <tr>
                <th class="text-center" [nzChecked]="checked" [nzIndeterminate]="indeterminate" style="width:5%"
                  (nzCheckedChange)="updateAllChecked($event)">
                </th>
                <th class="text-center" style="width: 5%">#</th>
                <th class="text-left" style="width: 20%" nzColumnKey="code" [nzSortFn]="true" [nzSortPriority]="2">{{
                  'model.user-group.code' | translate }}
                </th>
                <th class="text-left" style="width: 20%" nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="1">{{
                  'model.user-group.name' | translate }}
                </th>
                <th>{{ 'model.user-group.description' | translate }}</th>
                <th  class="text-center" style="width:8%">{{ 'model.user-group.action' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of userGroupList;let i = index">
                <td class="text-center" style="padding: 1 !important;" [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled||!data.check_can_edit" 
                  (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                  <td class="text-center">{{ (pageIndex - 1)*pageSize + i + 1 }}</td>
                <td (click)="onDetail(data)"><span nz-tooltip [nzTooltipTitle]="data.code">{{ commonUtil.limitWord(data.code,
                  20) }}</span></td>
                <td (click)="onDetail(data)">
                  <span nz-tooltip [nzTooltipTitle]="data.name">{{ commonUtil.limitWord(data.name,
                    25) }}</span>
                </td>
                <td style="padding: 0 !important;" (click)="onDetail(data)">
                  <span nz-tooltip
                    [nzTooltipTitle]="commonUtil.extractContent(data?.description)">{{commonUtil.limitWord(commonUtil.extractContent(data?.description),
                    100)}}</span>
                </td>
                <td class="text-center">
                  <div class="action-table">
                    <mbf-button-action *hasRoles="auth.GROUP.UPDATE" [action]="'edit'"
                      nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top" nz-tooltip
                      (click)="onUpdate(data)">
                    </mbf-button-action>
                    <a *hasRoles="auth.GROUP.DELETE">
                      <mbf-button-action *ngIf="data.dept_code !== 'TCT'" [action]="'delete'"
                        nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top" nz-tooltip [disable]="data.check_can_edit==0"
                        (click)="onDelete(data)">
                      </mbf-button-action>
                    </a>
                  </div>
                </td>
                
              </tr>
            </tbody>
          </nz-table>
          <div class="p-3">
            <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
              (onChange)="onQuerySearch($event)">
            </mb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>