<div class="create-department">
    <div *nzModalTitle>
        <span>Tạo mới nhiệm vụ con</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>Tiêu đề
                            <span class="text-danger">*</span>
                        </label>
                        <input nz-input class="" formControlName="name" placeholder="Tiêu đề"
                            #availableArea>
                            <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                                <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                    <small>{{ 'product.error.required' | translate }}</small>
                                </span>
                                <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                    <small>{{ 'model.department.error.maxLength' | translate : {param:
                                        LENGTH_VALIDATOR.CODECUS_MAX_LENGTH.MAX} }}</small>
                                </span>
                            </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>Thuộc ticket
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select formControlName="ticket_id" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let item of ticketList" [nzValue]="item.id"
                                [nzLabel]="item.title" [ngbTooltip]="item.title">{{item.title}}
                            </nz-option>
                        </nz-select>
                        <ng-container *ngIf="form.get('ticket_id')?.touched || form.get('ticket_id')?.dirty">
                            <span class="text-danger" *ngIf="form.get('ticket_id')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-6 mb-2">
                        <!-- <label>Phân loại<img src="" alt="">
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select formControlName="type">
                            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
                        </nz-select> -->
                    </div>
                    <div class="col-12 mb-2">
                        <label>Độ ưu tiên
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select formControlName="priority" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let item of ticketPriorityList" [nzValue]="item.id"
                                [nzLabel]="item.name" [ngbTooltip]="item.name">{{item.name}}
                            </nz-option>
                        </nz-select>
                        <ng-container *ngIf="form.get('priority')?.touched || form.get('priority')?.dirty">
                            <span class="text-danger" *ngIf="form.get('priority')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-6 mb-2">
                        <label>Thời gian bắt đầu
                            <span class="text-danger">*</span>
                        </label>
                        <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss"   [nzDisabledDate]="disabledStartDate"  [(ngModel)]="startValue"
                            formControlName="start_time" (nzOnOk)="onOk($event)"></nz-date-picker>
                            <ng-container *ngIf="form.get('start_time')?.touched || form.get('start_time')?.dirty">
                                <span class="text-danger" *ngIf="form.get('start_time')?.hasError('required')">
                                    <small>{{ 'product.error.required' | translate }}</small>
                                </span>
                            </ng-container>
                    </div>
                    <div class="col-6 mb-2">
                        <label>Thời gian hoàn thành
                            <span class="text-danger">*</span>
                        </label>
                        <nz-date-picker nzShowTime nzFormat="dd-MM-yyyy HH:mm:ss" #endDatePicker  [(ngModel)]="endValue"  [nzDisabledDate]="disabledEndDate"
                            formControlName="end_time" (nzOnOk)="onOk($event)"></nz-date-picker>
                            <ng-container *ngIf="form.get('end_time')?.touched || form.get('end_time')?.dirty">
                                <span class="text-danger" *ngIf="form.get('end_time')?.hasError('required')">
                                    <small>{{ 'product.error.required' | translate }}</small>
                                </span>
                            </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>Ngày công
                            <span class="text-danger">*</span>
                        </label>
                        <input nz-input class="workDay"  formControlName="progress" #availableArea>
                        <ng-container *ngIf="form.get('progress')?.touched || form.get('progress')?.dirty">
                            <span class="text-danger" *ngIf="form.get('progress')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-6 mb-2">
                        <label>Người giao việc
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select formControlName="reporter_id" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let item of userList" [nzValue]="item.id"
                                [nzLabel]="item.name" [ngbTooltip]="item.name">{{item.name}}
                            </nz-option>
                        </nz-select>
                        <ng-container *ngIf="form.get('reporter_id')?.touched || form.get('reporter_id')?.dirty">
                            <span class="text-danger" *ngIf="form.get('reporter_id')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-6 mb-2">
                        <label>Người thực hiện
                            <span class="text-danger">*</span>
                        </label>
                        <nz-select formControlName="assignee_id" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let item of userList" [nzValue]="item.id"
                                [nzLabel]="item.name" [ngbTooltip]="item.name">{{item.name}}
                            </nz-option>
                        </nz-select>
                        <ng-container *ngIf="form.get('assignee_id')?.touched || form.get('assignee_id')?.dirty">
                            <span class="text-danger" *ngIf="form.get('assignee_id')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>Mô tả
                        </label>
                        <mb-editor
                        [value]="form?.get('description')?.value || ''"
                        (data)="onChangeData('description', $event)"></mb-editor>
                        <ng-container *ngIf="form?.get('description')?.touched || form?.get('description')?.dirty">
                            <span class="text-danger" *ngIf="form?.get('description')?.errors?.maxlength">
                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                    LENGTH_VALIDATOR.IDS_MAX_LENGTH.MAX} }}</small>
                            </span>
                        </ng-container>

                    </div>
                    <div class="col-12 mb-2">
                        <label>File đính kèm
                        </label>
                        <nz-upload nzType="drag" [nzMultiple]="true"
                            nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                            (nzChange)="handleChange($event)">
                            <p class="ant-upload-drag-icon">
                                <img src="assets/images/icon/uploadfile.svg" alt="Union-icon" srcset="" />
                            </p>
                            <p class="ant-upload-text">Select a file or drag and drop here</p>
                            <p class="ant-upload-hint">
                                JPG, PNG or PDF, file size no more than 15MB
                            </p>
                        </nz-upload>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [type]="'primary'" [icon]="'plus-circle'" [shapeType]="'radius'"
                [text]=" 'action.create'" (click)="onSubmit()"></mbf-button>
        </div>
    </div>
</div>
