::ng-deep .ant-upload.ant-upload-drag {
    background: #ffff;
    border: 1px dashed #E0E0E0;
    border-radius: 10px;
}
::ng-deep  .ant-upload {
    height: 158px !important;
}
::ng-deep .ant-picker{
    border: 1px solid #d9d9d9 !important;
}