<div class="page-top">
    <div class="page-title">
        <h5>BÁO CÁO THỐNG KÊ KPI</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
                [(ngModel)]="queryFilter.keyword" (keyup.enter)="onSearch()" />
                <a (keyup.enter)="onSearch()"><img class="searchInputIcon" src="assets/images/icon/search.svg" alt="search-icon" srcset="" /></a>
            </div>
        </div>
        <div class="d-flex ">
            <div class="export ml-2">
                <button class="btn ant-btn-default btn-radius" (click)="exportData()">
                    <span class="ml-2 mr-2">XUẤT BÁO CÁO</span>
                    <img src="assets/images/icon/file.svg" alt="circle-plus-icon" srcset="" />
                </button>
            </div>
            <div class="filter ml-2">
                <button class="btn ant-btn-default btn-circle" (click)="openFillter()" nz-tooltip nzTooltipTitle="Lọc">
                    <img src="assets/images/icon/fillter-icon.svg" alt="filter-icon" srcset="" />
                </button>
            </div>
            <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right"
                (nzOnClose)="close()" [nzTitle]="resetFilter">
                <ng-template #resetFilter class="d-flex">
                    <div class="row">
                        <div class="col-9">
                            <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
                        </div>
                        <div class="col-3" style="text-align: right;padding-right: 40px;">
                            <a><img src="assets/images/icon/resetFilter.svg" alt=""></a>
                        </div>
                    </div>
                </ng-template>
                <ng-container *nzDrawerContent>
                    <div class="col-12 module-fillter mt-4">
                        <div class="row">
                            <div class="col-12 mb-2">
                                <label>Sản phẩm dịch vụ</label>
                                <nz-select [(ngModel)]="queryFilter.product_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn sản phẩm dịch vụ">
                                    <nz-option *ngFor="let item of productList" [nzCustomContent]="true"
                                        [nzValue]="item.id" [nzLabel]="item.name"
                                        #availableArea required>
                                        {{item?.name}}</nz-option>
                                </nz-select>
                            </div>
                            <div class="col-12 mb-2 ">
                                <label>Đơn vị </label>
                                <nz-tree-select [nzNodes]="deptList" nzShowSearch
                                        nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                        [(ngModel)]="queryFilter.department_id" nzHideUnMatched #treeSelect
                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                    </nz-tree-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mt-3">
                                <button class="btn btn-primary btn-filter" (click)="onFilterData()">ÁP DỤNG</button>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </nz-drawer>
        </div>
    </div>

</div>
<div class="page-body" >
    <nz-tabset [(nzSelectedIndex)]="selectedIndex" (nzSelectedIndexChange)="onChangeIndex($event)">
        <nz-tab nzTitle="Thống kê theo năm" >
            <app-statistical-year #year [queryFilter]="queryFilter"></app-statistical-year>
        </nz-tab>
        <nz-tab nzTitle="Thống kê theo tháng" >
            <app-statistical-month #month [queryFilter]="queryFilter"></app-statistical-month>
        </nz-tab>
        <nz-tab [nzTitle]="'Thống kê KPI xử lý'">
            <app-statistical-kpi #kpi [queryFilter]="queryFilter"></app-statistical-kpi>
        </nz-tab>
    </nz-tabset>

</div>