.title-fillter {
    color: rgba(117, 117, 117, 0.85);
}

::ng-deep .ant-drawer-header {
    background: #F4F5FA;
}



.module-fillter .btn-filter {
    box-shadow: 3px 5px 7px rgb(0 97 175 / 24%), 1px 2px 2px rgb(0 102 153 / 10%);
    border-radius: 71px;
    width: 100%;
    padding: 9px;
    font-weight: 500;
    background: #0060AF;
}

::ng-deep .ant-drawer-body {
    padding: 0px;
}

::ng-deep .module-fillter .ant-select-selector {
    background: #F4F5FA !important;
}

.date-filter label {
    min-width: 70px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
}

::ng-deep .ant-picker-range {
    height: 31px;
    width: 300px;
}

.date-filter .d-flex {
    justify-content: right !important;
}

.ant-btn-default {
    color: #0060AF !important;
}

:host ::ng-deep .ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
    background: #fff;
}

:host ::ng-deep .ant-tabs>.ant-tabs-nav .ant-tabs-nav-wrap,
.ant-tabs>div>.ant-tabs-nav .ant-tabs-nav-wrap {
    margin-left: 32px;
}

.container-fluid {
    margin-top: 0 !important;
}

::ng-deep .ant-drawer-close {
    color: rgb(76 76 77)
}

::ng-deep .module-fillter .ant-select-selector {
    background: #fff !important;
}

@media (max-width: 1200px) {
    .searchInputWrapper{
        width: 90%;
    }
    .page-top .actions {
        display: flex !important;
    }
}