.create-category .pull-right{
    float: right;
}
.create-category{
    border-bottom: 1px solid #ECECF3;
    height: 44px;
    line-height: 44px;
}
.border-bottom{
    border-bottom: 1px solid #ECECF3;
}
.create-category .pull-right button{
    color: #0060AF;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
    padding: 0px 12px;
}
.delete-all{
    margin-top: -4px;
}
::ng-deep .ant-tree-node-content-wrapper   {
    width: 100%;
}
// ::ng-deep .ant-tree-node-content-wrapper  i {
//     position: absolute;
//     right: -6px;
//     top: 6px;
// }
::ng-deep .tree-product .ant-tree-node-content-wrapper span{
    float: right;
}


//  ::ng-deep .cdk-overlay-pane   .ant-dropdown {
//     left: 167px!important;
// }
.w-120{
    min-width: 120px;
}
.detail{
    cursor: pointer;
}
.ant-table-tbody > tr > td{
    text-align: left;
    padding: 3px;
  }
  ::ng-deep .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected,   ::ng-deep .ant-tree .ant-tree-node-content-wrapper:hover {
    background-color: #fff!important;
}
.col-lg-3 {
    flex: 400px;
    max-width: 400px;
}
.col-lg-9 {
    flex: 0 0 calc(100% - 400px);
    max-width: calc(100% - 400px);
}
::ng-deep .ant-tree .ant-tree-node-content-wrapper {
    padding: 0px 0px;
}
::ng-deep .tree-product .ant-tree-node-content-wrapper span i{
    position: absolute;
    top: 6px;
    right: -7px;
}
::ng-deep .page-product .ant-table-column-sorters {
    padding: 0px 0px!important;
}
::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
:host ::ng-deep .btn-radius :hover {
    color: #0060AF !important;
    border: none;
  }