<div class="page-top page-top-tickets">
  <div class="page-title">
    <h5>{{'sidebar.service_products_management' | translate }}</h5>
  </div>
  <div class="actions">
    <div class="searchInputWrapper">
      <div class="w-100">
        <form role="form" [formGroup]="searchForm">
          <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
            formControlName="keyword" (keyup.enter)="onSearch($event)" />
        </form>
        <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
        srcset="" />
      </div>
      <div class="main-fillter pl-3"  nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
        <img  src="assets/images/icon/main-fillter.svg" alt=""  srcset="" />
      </div>
      <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
        <div class="d-flex dropdown-fillter">
          <div class="export ml-2">
            <button class="btn ant-btn-default btn-circle"  (click)="exportData()">
              <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
            </button>
          </div>
          <div class="refesh ml-2">
            <button class="btn ant-btn-default btn-circle" (click)="showImport()">
              <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
            </button>
          </div>
          <nz-modal nzWidth="800px" [(nzVisible)]="isVisible" nzTitle="IMPORT DỮ LIỆU" [nzContent]="modalContent"
            [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
            <ng-template #modalTitle>IMPORT DỮ LIỆU</ng-template>
            <ng-template #modalContent>
              <mbf-upload [acceptTypeFiles]="['default']" [key]="'task'" [typeUpload]="'uploadGetFile'"
                (emitter)="handleLoadFile($event)">
              </mbf-upload>
            </ng-template>
            <ng-template #modalFooter>
              <div class="row">
                <div class="col-3">
                  <button style="float:left;" nz-button nzType="default" (click)="exportTemplate()">TẢI FILE MẪU</button>
                </div>
                <div class="col-9">
                  <button nz-button nzType="default" (click)="handleCancel()">HỦY</button>
                  <button nz-button nzType="primary" (click)="handleOk()">XÁC NHẬN</button>
                </div>
              </div>
            </ng-template>
          </nz-modal>
          <div class="delete ml-2">
            <button *hasRoles="auth.PRODUCT.DELETE" class="btn ant-btn-default btn-circle" (click)="onDeleteAll(setOfCheckedId)" [disabled]="setOfCheckedId.size === 0" >
              <img src="assets/images/icon/trash.svg" alt="trash-icon" />
            </button>
          </div>
          <div class="create ml-2">
            <button *hasRoles="auth.PRODUCT.CREATE" class="btn ant-btn-default btn-radius" (click)="onCreate()">
              <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
              <span style="color:#0060AF" class="ml-2">Tạo mới</span>
            </button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
    <!-- <div class="refesh ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="onRefresh()" >
          <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset=""  />
        </button>
      </div> -->
    <div class="d-flex">
      <!-- <div class="export ml-2">
        <button class="btn ant-btn-default btn-circle"  (click)="exportData()">
          <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
        </button>
      </div> -->
      <!-- <div class="refesh ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="showImport()">
          <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
        </button>
      </div> -->
      <nz-modal nzWidth="800px" [(nzVisible)]="isVisible" nzTitle="IMPORT DỮ LIỆU" [nzContent]="modalContent"
        [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
        <ng-template #modalTitle>IMPORT DỮ LIỆU</ng-template>
        <ng-template #modalContent>
          <mbf-upload [acceptTypeFiles]="['default']" [key]="'task'" [typeUpload]="'uploadGetFile'"
            (emitter)="handleLoadFile($event)">
          </mbf-upload>
        </ng-template>
        <ng-template #modalFooter>
          <div class="row">
            <div class="col-3">
              <button style="float:left;" nz-button nzType="default" (click)="exportTemplate()">TẢI FILE MẪU</button>
            </div>
            <div class="col-9">
              <button nz-button nzType="default" (click)="handleCancel()">HỦY</button>
              <button nz-button nzType="primary" (click)="handleOk()">XÁC NHẬN</button>
            </div>
          </div>
        </ng-template>
      </nz-modal>
      <div class="delete ml-2" nz-tooltip nzTooltipTitle="Xóa">
        <button *hasRoles="auth.PRODUCT.DELETE" class="btn ant-btn-default btn-circle" (click)="onDeleteAll(setOfCheckedId)" [disabled]="setOfCheckedId.size === 0" >
          <img src="assets/images/icon/trash.svg" alt="trash-icon" />
        </button>
      </div>
      <div class="create ml-2" >
        <button *hasRoles="auth.PRODUCT.CREATE" class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
          <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
          <span style="color:#0060AF" class="ml-2">Tạo mới</span>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="page-body responsive-body page-product">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-3 mb-3">
        <div class="card">
          <div class="card-header">
            <h6 style="display: inline-block;">Cây danh mục sản phẩm</h6>
            <div  class="ant-card-extra py-0">
              <a (click)="onRefresh()"><img src="assets/images/icon/resetFilter.svg" alt="trash-icon" srcset="" ></a>
            </div>
          </div>
          <div class="create-category">
            <span class="pl-4" style="position: relative;left:15px">
              <label  nz-checkbox [(ngModel)]="checkedAll" (ngModelChange)="checkAllCategory($event)"
                [nzIndeterminate]="indeterminateC">
                
              </label>
              <button  class="btn"  (click)="deleteAllCategory(allKeyTree)" [disabled]="!showDelete">
                <img src="assets/images/icon/deleteAll.svg" alt="circle-plus-icon" srcset="" class="delete-all"
                />
              </button>
              
            </span>
            <span class="pull-right">
              <button class="btn" (click)="createCategory()"  *hasRoles="auth.CATEGORY.CREATE">
                <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" class="ml-2"><span class="ml-2">TẠO
                  MỚI DANH MỤC</span>
              </button>
            </span>
          </div>
          <div class="cbody p-3">
            <div class="tree">
              <div class="tree">
                <nz-tree [nzData]="nodeCategory" nzCheckable nzMultiple #categoryTree 
                  [nzCheckedKeys]="defaultCheckedKeys" [nzExpandedKeys]="defaultExpandedKeys"
                  [nzSelectedKeys]="defaultSelectedKeys" (nzCheckBoxChange)="nzEvent($event)"
                  [nzTreeTemplate]="nzTreeTemplate" class="tree-product">
                </nz-tree>
                <ng-template #nzTreeTemplate let-node>
                  {{node.title}}
                  <span nz-button nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu"><i nz-icon nzType="more"
                      nzTheme="outline"></i> </span>
                  <nz-dropdown-menu #menu="nzDropdownMenu" >
                    <ul nz-menu >
                      <li nz-menu-item><button class="btn border-bottom w-100"
                           (click)="onViewCate(node.origin)">
                          <img src="assets/images/icon/view.svg" alt="circle-plus-icon" srcset="" />
                          <span class="ml-2"> Xem</span>
                        </button></li>
                      <li nz-menu-item> <button class="btn border-bottom w-100" 
                          (click)="updateCategory(node.origin)">
                          <img src="assets/images/icon/edit.svg" alt="circle-plus-icon" srcset="" />
                          <span class="ml-2"> Sửa</span>
                        </button></li>
                      <li nz-menu-item> <button class="btn w-100" (click)="deleteCategory(node.origin)">
                          <img src="assets/images/icon/delete.svg" alt="circle-plus-icon" srcset="" />
                          <span class="ml-2"> Xóa</span>
                        </button></li>
                    </ul>
                  </nz-dropdown-menu>
                </ng-template>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-9 pl-0">
        <div class="card">
            <div >
              <nz-table #basicTable [nzData]="productList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
              [nzTableLayout]="'auto'" nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)"
              [nzNoResult]="noDataResult">
              <thead>
                <tr>
                  <th  class="text-center" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="updateAllChecked($event)"></th>
                  <th>#</th>
                  <th nzColumnKey="code" [nzSortFn]="true" [nzSortPriority]="1">{{ 'product.code' | translate }}</th>
                  <th nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="2">{{ 'product.name' | translate }}</th>
                  <th nzColumnKey="parent_name" >{{ 'product.parent' | translate }}
                  </th>
                  <th nzColumnKey="category_name">{{ 'product.category' | translate
                    }} </th>
                  <th class="text-center">{{ 'product.status' | translate }}</th>
                  <th class="w-120 text-center">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of productList; let i = index">
                  <td  class="text-center" [nzChecked]="setOfCheckedId.has(item.id)" [nzDisabled]="item.disabled"
                    (nzCheckedChange)="onItemChecked(item.id, $event)"></td>
                  <td>{{(productQuery.pageIndex - 1) * productQuery.pageSize + i + 1}}</td>
                  <td><span (click)="onView(item)">{{item.code}}</span></td>
                  <td><span  (click)="onView(item)" class="detail" nzTooltipTitle="{{item?.name}}"
                      nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(item?.name, 20)}}</span></td>
                  <td>
                    <span  nzTooltipTitle="{{item.parent_name}}" nzTooltipPlacement="top" nz-tooltip>{{ commonUtil.limitWord(item.parent_name, 30) }}</span>
                  </td>
                  <td>
                    <span  nzTooltipTitle="{{item.category_name}}" nzTooltipPlacement="top" nz-tooltip>{{ commonUtil.limitWord(item.category_name, 30) }}</span>
                  <td class="text-center">
                    <nz-switch *hasRoles="auth.PRODUCT.LOCK" [(ngModel)]="item.status"  [nzControl]="true" (click)="onSwitch(item)"></nz-switch>
                  </td>
                  <td class="w-120 text-center">
                    <div class="action-table">
                      <a *hasRoles="auth.PRODUCT.UPDATE">
                        <mbf-button-action [disable]="!item.check_can_edit"  [action]="'edit'"
                          nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top" nz-tooltip
                          (click)="onUpdate(item)">
                        </mbf-button-action>
                      </a>
                      <a *hasRoles="auth.PRODUCT.DELETE">
                        <mbf-button-action [disable]="!item.check_can_edit"  [action]="'delete'"
                          nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top" nz-tooltip
                          (click)="onDelete(item)">
                        </mbf-button-action>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </nz-table>
            <div class="p-3">
              <mb-pagination [pageIndex]="productQuery.pageIndex" [pageSize]="productQuery.pageSize" [total]="total"
                (onChange)="onQuerySearch($event)">
              </mb-pagination>
            </div>
            <ng-template #noDataResult>
              <mb-no-data></mb-no-data>
            </ng-template>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>