:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: unset;
}

:host ::ng-deep .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: unset;
}

#preview-img {
  height: 120px;
  width: 120px;
  border-radius: 79px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
}

.box-image {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 79px;
  flex: none;
  order: 0;
  flex-grow: 0;
  right: -75px;
}

.camera-icon {
  bottom: -15px;
  right: 1px;
  position: absolute;
}

.name-user {
  width: 190px;
  height: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.0125em;
  text-transform: uppercase;
  color: #0060AF;
  flex: none;
  order: 1;
  flex-grow: 0;
  position: absolute;
  left: 60px;
}

.info {
  border-left: 1px solid #dbdbdb;
}

@media (max-width: 1400px) {
  .info {
    margin-left: 1px;
    margin-top: 50px;
  }
}

@media (max-width: 1130px) {
  .info {
    margin-left: 1px;
  }
}
@media (max-width: 280px) {
  .info {
    position: relative;
    left: 42px;
  }
}

.page-top {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #0060AF;
  display: flex;
  margin-top: 58px;
  height: 58px;
}

.page-action {
  width: 100%;
  margin-top: 6px;
  justify-content: space-around;
}

.page-title {
  margin-left: 12px;
}

.page-top.p-0 {
  height: 58px;
}

.menu-link-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F4F5FA;
  margin-bottom: 0;
  margin-left: 20px;
}

@media (max-width: 1210px) {
  .menu-link-item p {
    margin-top: 20px;
    position: absolute;
    left: 3px;
    margin-bottom: 0;
  }
}
:host ::ng-deep .card {
  margin-bottom: 30px !important;
}