<div class="create-user">
    <div *nzModalTitle>
        <span>{{ ('model.user.managerUser.' + action.event) | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div id="myDiv"></div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.username' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input (ngModelChange)="usernameExist.next($event)" formControlName="username" nz-input class=""
                            placeholder="Tài khoản" #availableArea required>
                        <ng-container *ngIf="form.get('username')?.touched || form.get('username')?.dirty ">
                            <span class="text-danger" *ngIf="form.get('username')?.hasError('required')">
                                {{ 'model.user.error.required' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('username')?.errors?.maxlength">
                                {{ 'model.user.error.name' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('username')?.hasError('pattern')">{{
                                'model.user.error.name' | translate }} </span>
                            <span class="text-danger" *ngIf="formInvalid.username">
                                {{ 'model.user.error.hasExisted' | translate : {param:
                                'model.user.username' | translate} }}
                            </span>
                        </ng-container>

                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.fullName' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input  formControlName="name" nz-input class=""
                            placeholder="Họ tên" #availableArea required>
                        <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                {{ 'model.user.error.required' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                {{ 'model.user.error.fullName' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('pattern')">{{
                                'error.name' | translate }} </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.email' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input (ngModelChange)="emailExist.next($event)" formControlName="email" nz-input class=""
                            placeholder="Email" #availableArea required>
                        <ng-container *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
                            <span class="text-danger" *ngIf="form.get('email')?.hasError('required')">
                                {{ 'model.user.error.required' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('email')?.errors?.isNotEmail">{{
                                'error.email' | translate }} </span>
                            <span class="text-danger" *ngIf="form.get('email')?.errors?.maxlength">
                                {{ 'model.user.error.maxLength' | translate : {param:
                                LENGTH_VALIDATOR.EMAIL_MAX_LENGTH.MAX} }}
                            </span>
                            <span class="text-danger" *ngIf="formInvalid.email">
                                {{ 'model.user.error.hasExisted' | translate : {param:
                                'model.user.email' | translate} }}
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.phoneNumber' | translate }}
                            <span class="text-danger">*</span>
                        </label>
                        <input (ngModelChange)="phoneExist.next($event)" formControlName="phone" nz-input
                            class="" placeholder="Số điện thoại">
                        <ng-container *ngIf="form.get('phone')?.touched || form.get('phone')?.dirty">
                            <span class="text-danger" *ngIf="form.get('phone')?.hasError('required')">
                                {{ 'model.user.error.required' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('phone')?.errors?.maxlength">
                                {{ 'model.user.error.maxLength' | translate : {param:
                                LENGTH_VALIDATOR.PHONE_MAX_LENGTH.MAX} }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('phone')?.errors?.isNotNumberPhone">{{
                                'model.user.error.isPhoneNumber' | translate }} </span>
                            <span class="text-danger" *ngIf="formInvalid.phone">
                                {{ 'model.user.error.hasExisted' | translate : {param:
                                'model.user.phoneNumber' | translate} }}
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-lg-12 mb-2 row">
                        <div class="col-md-12 col-lg-6">
                            <label>{{ 'model.user.dayOfBirth' | translate }}
                            </label>
                            <nz-date-picker formControlName="birth" [nzDisabled]="isDetail" [nzFormat]="dateFormat"
                                (ngModelChange)="onChange($event)"></nz-date-picker>
                        </div>
                        <div class="col-md-12 col-lg-6">
                            <div>
                                <label>{{ 'model.user.gender' | translate }}
                                </label>
                            </div>
                            <nz-radio-group class="mt-2 justify-content-between d-flex" formControlName="gender"
                                [nzDisabled]="isDetail">
                                <label nz-radio nzValue="0">{{ 'model.user.service.userGender.male' | translate
                                    }}</label>
                                <label nz-radio nzValue="1">{{ 'model.user.service.userGender.female' | translate
                                    }}</label>
                                <label nz-radio nzValue="2">{{ 'model.user.service.userGender.other' | translate
                                    }}</label>
                            </nz-radio-group>
                        </div>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.address' | translate }}
                        </label>
                        <input formControlName="address" nz-input class="" placeholder="Địa chỉ">
                        <ng-container *ngIf="form.get('address')?.touched || form.get('address')?.dirty">
                            <span class="text-danger" *ngIf="form.get('address')?.errors?.maxlength">
                                {{ 'model.user.error.address' | translate }}
                            </span>
                            <span class="text-danger" *ngIf="form.get('address')?.hasError('pattern')">{{
                                'error.address' | translate }} </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.unit' | translate }}
                        </label>
                        <nz-tree-select (click)="scrollElementNode()" [nzNodes]="departmentList" [nzDisabled]="isDetail"
                        nzDropdownClassName="deptNode"
                         nzHideUnMatched nzShowSearch
                        nzPlaceHolder="Đơn vị" formControlName="department_id" n nzHideUnMatched #treeSelect
                        [nzVirtualHeight]="!treeSelect.inputValue ? '500px' : ''"></nz-tree-select>
                    </div>
                    <div class="col-12 mb-2" *ngIf="isUpdate && userRole ==1 || !isCreate">
                        <label>Super Admin
                        </label><br>
                        <label nz-checkbox [nzDisabled]="isDetail" formControlName="is_super_admin"></label>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'model.user.userGroup' | translate }}
                        </label>
                        <nz-select [nzDisabled]="isDetail" nzMode="multiple" nzShowSearch nzAllowClear
                            nzPlaceHolder="Chọn nhóm người dùng" formControlName="userGroupIds">
                            <nz-option class="user-group" *ngFor="let item of groupUserList" [nzCustomContent]="true"
                                [nzValue]="item.id" [ngbTooltip]="item.name" [nzLabel]="item.name">
                                {{item?.name}}</nz-option>
                        </nz-select>
                    </div>
                    <div class="col-12 mb-2" *ngIf="isUpdate || isDetail || !isDetail">
                        <label>{{ 'model.user.permission' | translate }}
                        </label>
                        <nz-select nzMode="multiple" nzShowSearch nzAllowClear formControlName="role_ids">
                            <nz-option *ngFor="let item of roleList" [nzCustomContent]="true" [nzValue]="item.id"
                                [ngbTooltip]="item.display_name" [nzLabel]="item.display_name">
                                {{item?.display_name}}</nz-option>
                        </nz-select>
                    </div>
                    <div class="col-12 mb-2">
                        <div><label for="">{{ 'model.user.status' | translate }}</label></div>
                        <nz-switch [nzDisabled]="isDetail || selectedUser.disabled" formControlName="status"></nz-switch>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <div class="d-flex" *hasRoles="auth.USER.UPDATE">
                <ng-container *ngIf="action.event !== viewEvent">
                    <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                        [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                    <mbf-button id="createBuilding" [type]="'primary'" [icon]="action.event=='update'?'save':'plus-circle'" [isLoading]="isLoading"
                        [shapeType]="'radius'" [disabled]="action.event === viewEvent "
                        [text]="action.event=='update'?'action.save':'action.create_short'" (click)="onSubmit()">
                    </mbf-button>
                </ng-container>
            </div>

           <div class="d-flex" *hasRoles="auth.USER.UPDATE">
            <ng-container *ngIf="action.event === viewEvent">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"    [isLoading]="isLoading"
                    [text]="'action.view'" (click)="onUpdate()"></mbf-button>

                <mbf-button id="createBuilding" [customClass]="'mr-2'" [icon]="'close-circle'" [type]="'primary'"
                    [shapeType]="'radius'" [text]="'action.close'" (click)="onCancel()"></mbf-button>
            </ng-container>
           </div>
        </div>
    </div>
</div>
