nz-date-picker {
  margin: 0 8px 12px 0;
}
:host ::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: unset;
}
:host ::ng-deep .ant-select-multiple.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  height: unset;
}
.checkbox{
  display: block !important;
}
::ng-deep .font-highlight{
  color: black !important;
  font-weight: 600 !important;
}
::ng-deep .ant-picker{
  border: 1px solid #d9d9d9 !important;
}