::ng-deep .ant-popover-arrow {
    display: none !important;
}

.box-tag {
    position: relative;
    height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;  
}
.disabled {
    background-color: #f5f5f5;
}
.list-tag {
    position: absolute;
    top: 37px;
    left: 25px;
}
.box-contact .dropdown-menu{
    width: 100%;
    padding: 5px 0px 5px 20px;
}
.box-contact .dropdown-menu .w-100{
    line-height: 40px;
    cursor: pointer;
}
.box-contact .inner-name{
    position: static;
    width: 100%;
    color: rgba(33, 33, 33, 0.85);
    padding: 0px 20px;
}
.box-contact  .header{
    background: #F4F5FA;  
    font-weight: 500;
}
.box-contact .dropdown-menu .w-100.active{
    background: #0060AF!important;

}
.box-contact .dropdown-menu .w-100.active .inner-name{
    color: white;
}
.box-contact .dropdown-menu .w-100:hover{
    background: #F4F5FA;
}
.scroll-contact{
    overflow-x: auto;
    height: 400px;
}
::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
::ng-deep .cdk-virtual-scroll-viewport{
    height: 210px!important;
}
.box-tag input{
    border: unset!important;
    height: 32px;
}
.box-tag ::ng-deep  .ant-input:focus {
    box-shadow:unset!important; 
}
.hide-customer .box-contact::after{
    content: "";
    background-color: #f5f5f5;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99;
    border: 1px solid #d9d9d9;
    cursor:not-allowed ;
}
