<div class="page-body mb-5 create-tickets">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="page-title mb-2">
                            <h5>Tạo mới Ticket</h5>
                        </div>
                        <div class="form">
                            <div class="col-lg-12 px-0">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-lg-12 mb-2">
                                            <label>{{ 'model.ticket.heading' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input formControlName="title" nz-input class=""
                                                [class]="form.get('title')?.touched || form.get('title')?.dirty ? getClassInvalid('title'):'null'"
                                                (ngModelChange)="checkTitle()"
                                                placeholder="{{ 'model.ticket.heading' | translate }}" #availableArea
                                                required>
                                            <ng-container
                                                *ngIf="form.get('title')?.touched || form.get('title')?.dirty && !errorTitle">
                                                <span class="text-danger"
                                                    *ngIf="form.get('title')?.hasError('required')&& !errorTitle">
                                                    <small>{{ 'model.ticket.error.requiredTitle' | translate }}</small>
                                                </span>
                                                <span class="text-danger" *ngIf="form.get('title')?.errors?.maxlength">
                                                    <small>{{ 'model.ticket.error.maxLength' | translate :
                                                        {param: ticketTitleMaxLenght} }}</small>
                                                </span>
                                                <small class="text-danger" *ngIf="form.get('title')?.errors?.pattern">
                                                    Tiêu đề không đúng định dạng
                                                </small>

                                            </ng-container>
                                            <small class="text-danger" *ngIf="errorTitle">
                                                {{ 'model.ticket.error.requiredTitle' | translate }}
                                            </small>

                                        </div>
                                        <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.ticket.serviceProduct' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <!-- <nz-select nzPlaceHolder="{{ 'model.ticket.serviceProduct' | translate }}"
                                                nzAllowClear [nzDisabled]="form.get('product_id')?.disabled"
                                                removeOptionTitle formControlName="product_id">
                                                <nz-option *ngFor="let item of productList" [nzCustomContent]="true"
                                                    [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                    <div container="body" [animation]="false" [openDelay]="100"
                                                        [closeDelay]="0" [ngbTooltip]="(item?.name || '') | translate">
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select> -->
                                            <nz-tree-select nzShowSearch nzHideUnMatched nzAllowClear [nzNodes]="nodes"
                                               
                                                nzShowSearch nzPlaceHolder="Sản phẩm dịch vụ"
                                                [class]="form.get('product_id')?.touched || form.get('product_id')?.dirty ? getClassInvalid('product_id'):'null'"
                                                formControlName="product_id" #treeSelect
                                                [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                            </nz-tree-select>
                                            <ng-container
                                                *ngIf="form.get('product_id')?.touched || form.get('product_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('product_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.requiredProduct' | translate
                                                        }}</small>
                                                </span>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.ticket.classify' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.classify' | translate }}"
                                                [class]="form.get('category_id')?.touched || form.get('category_id')?.dirty ? getClassInvalid('category_id'):'null'"
                                                nzAllowClear [nzDisabled]="form.get('category_id')?.disabled"
                                                removeOptionTitle formControlName="category_id">
                                                <nz-option *ngFor="let item of ticketCategoryList"
                                                    [nzCustomContent]="true" [nzLabel]="(item?.name || '') | translate"
                                                    [nzValue]="item.id">
                                                    <div>
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select>
                                            <ng-container
                                                *ngIf="form.get('category_id')?.touched || form.get('category_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('category_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.requiredCategory' | translate
                                                        }}</small>
                                                </span>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.ticket.priority' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.priority' | translate }}"
                                                [class]="form.get('priority_id')?.touched || form.get('priority_id')?.dirty ? getClassInvalid('priority_id'):'null'"
                                                nzAllowClear [nzDisabled]="form.get('priority_id')?.disabled"
                                                removeOptionTitle formControlName="priority_id">
                                                <nz-option *ngFor="let item of ticketPriorityList"
                                                    [nzCustomContent]="true" [nzLabel]="(item?.name || '') | translate"
                                                    [nzValue]="item.id">
                                                    <div>
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select>
                                            <ng-container
                                                *ngIf="form.get('priority_id')?.touched || form.get('priority_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('priority_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.requiredPriority' | translate
                                                        }}</small>
                                                </span>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.ticket.requestSender' | translate }}
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.requestSender' | translate }}"
                                                nzShowSearch nzAllowClear nzServerSearch
                                                (nzOnSearch)="userQuestionUpdate.next($event)"
                                                [nzDropdownRender]="renderTemplateUser"
                                                (nzScrollToBottom)="loadMoreUser()"
                                                [nzDisabled]="form.get('require_id')?.disabled" removeOptionTitle
                                                formControlName="require_id">
                                                <nz-option *ngFor="let item of userList" [nzCustomContent]="true"
                                                    [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                    <div>
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select>
                                            <ng-template #renderTemplateUser>
                                                <nz-spin *ngIf="isLoadingUser"></nz-spin>
                                            </ng-template>
                                            <ng-container
                                                *ngIf="form.get('require_id')?.touched || form.get('require_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('require_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.required' | translate }}</small>
                                                </span>
                                            </ng-container>
                                        </div>
                                        <!-- <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.ticket.resourceTicket' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.resourceTicket' | translate }}"
                                                nzAllowClear [nzDisabled]="form.get('source_id')?.disabled"
                                                removeOptionTitle formControlName="source_id">
                                                <nz-option *ngFor="let item of ticketSourceList"
                                                    [nzCustomContent]="true" [nzLabel]="(item?.name || '') | translate"
                                                    [nzValue]="item.id">
                                                    <div container="body" [animation]="false" [openDelay]="100"
                                                        [closeDelay]="0" [ngbTooltip]="(item?.name || '') | translate">
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select>
                                            <ng-container
                                                *ngIf="form.get('source_id')?.touched || form.get('source_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('source_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.required' | translate }}</small>
                                                </span>
                                            </ng-container>
                                        </div> -->

                                        <div  [ngClass]=" showCustomer ? 'col-md-12  col-lg-12 mb-2' :'col-md-12  col-lg-12 mb-2' ">
                                            <div class="d-flex">
                                                <label class="pr-3">{{ 'model.ticket.custommer' | translate }} </label>
                                                <div class="text-right">
                                                    <a class="color-primary" (click)="onCreateCustomer()" >Thêm mới khách
                                                        hàng</a>
                                                </div>
                                            </div>
                                            <!-- <nz-select nzPlaceHolder="{{ 'model.ticket.custommer' | translate }}"
                                                nzAllowClear [nzDisabled]="form.get('customer_id')?.disabled"
                                                removeOptionTitle formControlName="customer_id"
                                                (ngModelChange)="changeCustomer($event)">
                                                <nz-option *ngFor="let item of customerList" [nzCustomContent]="true"
                                                    [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                    <div>
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select> -->
                                            <div class="btn-group box-contact w-100">
                                                <div nz-input class="box-tag  w-100" data-bs-toggle="dropdown">
                                                    <form role="form" [formGroup]="searchForm">
                                                        <input nz-input formControlName="keyword" *ngIf="showSearch"
                                                            (blur)="onExisted()" (keydown)="onSearch()" />
                                                    </form>

                                                </div>
                                                <div class="dropdown-menu"  >
                                                    <div class="row w-100 header">
                                                        <div class="col-lg-10 inner-name"> Tên đơn vị/ Họ tên </div>
                                                        <!-- <div class="col-lg-2 inner-name">Số điện thoại </div>
                                                        <div class="col-lg-2 inner-name"> Email </div> -->
                                                    </div>
                                                    <div [ngClass]="customerList.length >= 7 ? 'scroll-contact':'' "
                                                        (scroll)="onScroll($event)"   >
                                                        <ng-container *ngFor="let item of customerList;">
                                                            <div class="row w-100 "
                                                                [ngClass]="statusCT1 === item.id ? 'active d-flex w-100' : 'd-flex w-100'"
                                                                (click)="onItemCheckedCustomer(item, checkedItem)">
                                                                <div class="col-lg-10 inner-name">
                                                                    {{item.name}}</div>
                                                                <!-- <div class="col-lg-2 inner-name">
                                                                    {{item.phone}}</div>
                                                                <div class="col-lg-2 inner-name">
                                                                    {{item.email}}</div> -->
                                                            </div>
                                                        </ng-container>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="list-tag">
                                                <nz-tag *ngFor="let item of setCustomerChecked" nzMode="closeable"
                                                    (nzOnClose)="onRemoveTagCustomer(item)">
                                                    {{item.name}}

                                                </nz-tag>
                                                <!-- <nz-tag *ngIf="cusHasCreatedId" nzMode="closeable" (nzOnClose)="onRemoveTagCustomer(cusHasCreatedId)">
                                                    {{cusHasCreatedName}}
                                                </nz-tag> -->

                                            </div>

                                        </div>
                                        <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.ticket.deputy' | translate }}
                                                <!-- <span class="text-danger">*</span> -->
                                            </label>
                                            <input nz-input formControlName="deputy" />
                                        </div>

                                        <div class="col-md-12  col-lg-6 mb-2">
                                            <label>{{ 'model.customer.contactPerson' | translate }}
                                                <!-- <span class="text-danger">*</span> -->
                                            </label>
                                            <div>
                                                <div *ngIf="!enableContactSelectBox" nz-input class="box-tag disabled">
                                                </div>
                                                <!-- <div nz-popover *ngIf="enableContactSelectBox" nzPopoverTrigger="click"
                                                    nz-input class="box-tag" [nzPopoverContent]="contentTemplate"
                                                    nzPopoverPlacement="bottom">
                                                </div> -->
                                                <div class="btn-group box-contact w-100" *ngIf="enableContactSelectBox">
                                                    <div nz-input class="box-tag  w-100" data-bs-toggle="dropdown">
                                                    </div>
                                                    <div class="dropdown-menu">
                                                        <div class="d-flex w-100 header">
                                                            <div class="inner-name"> Họ tên</div>
                                                            <div class="inner-name">Số điện thoại </div>
                                                            <div class="inner-name"> Email </div>
                                                        </div>
                                                        <div [ngClass]="contactList.length >= 7 ? 'scroll-contact':'' ">
                                                            <ng-container *ngFor="let item of contactList;">
                                                                <div class="d-flex w-100 "
                                                                    [ngClass]="statusCT === item.id ? 'active d-flex w-100' : 'd-flex w-100'"
                                                                    (click)="onItemChecked(item, checkedItem)">
                                                                    <div class="inner-name" nz-tooltip
                                                                        [nzTooltipTitle]="item.name">
                                                                        {{commonUtil.limitWord(item.name,15)}}</div>
                                                                    <div class="inner-name">
                                                                        {{commonUtil.limitWord(item.phone,11)}}</div>
                                                                    <div class="inner-name" nz-tooltip
                                                                        [nzTooltipTitle]="item.email">
                                                                        {{commonUtil.limitWord(item.email,20)}}</div>
                                                                </div>
                                                            </ng-container>
                                                        </div>
                                                        <div class="text-center mb-4">
                                                            <a nz-button nzType="link" style="background-color: #fff;"
                                                                class="border-0 text-uppercase"
                                                                (click)="onCreateContact()">
                                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                                    alt="circle-plus-primary-icon" srcset="" />
                                                                <span class="ml-2 mt-3">Thêm người liên hệ</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="list-tag">
                                                    <nz-tag *ngFor="let item of setUserChecked" nzMode="closeable"
                                                        (nzOnClose)="onRemoveTagUser(item)">
                                                        {{commonUtil.limitWord(item.name,15)}}
                                                    </nz-tag>
                                                </div>
                                                <ng-container>
                                                    <div class="d-flex justify-content-between">
                                                        <div>
                                                            <ng-container
                                                                *ngIf="form.get('contact_id')?.touched || form.get('contact_id')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="form.get('contact_id')?.hasError('required')">
                                                                    <small>{{ 'model.ticket.error.required' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </div>
                                                        <div class="text-right" *ngIf="enableContactSelectBox">
                                                            <a class="color-primary" (click)="onCreateContact()">Thêm
                                                                mới liên hệ</a>
                                                        </div>
                                                    </div>
                                                </ng-container>


                                                <ng-template #contentTemplate>
                                                    <div class="card page-product">
                                                        <div class="table-area">
                                                            <nz-table #basicTable nzWidth="850px" [nzData]="contactList"
                                                                [nzScroll]="{  x: '850px', y: '500px'}">
                                                                <thead>
                                                                    <tr>
                                                                        <th class="text-center" width="80">#</th>
                                                                        <th class="text-left">Họ tên</th>
                                                                        <th class="text-center">Số điện thoại</th>
                                                                        <th class="text-left">Email</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let item of contactList;">
                                                                        <td [nzChecked]="setOfCheckedId.has(item.id)"
                                                                            [nzDisabled]="item.disabled"
                                                                            (nzCheckedChange)="onItemChecked(item, $event)">
                                                                        </td>
                                                                        <td class="text-left">{{ item.name }}</td>
                                                                        <td class="text-center">{{ item.phone }}</td>
                                                                        <td class="text-left">{{ item.email }}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="text-center" colspan="4"
                                                                            style="background-color: #fff;">
                                                                            <a nz-button nzType="link"
                                                                                style="background-color: #fff;"
                                                                                class="border-0 text-uppercase"
                                                                                (click)="onCreateContact()">
                                                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                                                    alt="circle-plus-primary-icon"
                                                                                    srcset="" />
                                                                                <span class="ml-2 mt-3">Thêm người liên
                                                                                    hệ</span>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </nz-table>
                                                        </div>
                                                        <div class="p-3">
                                                            <mb-pagination [pageIndex]="userQuery.pageIndex"
                                                                [pageSize]="userQuery.pageSize" [total]="total"
                                                                (onChange)="onQuerySearch($event)">
                                                            </mb-pagination>
                                                        </div>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>

                                        <!-- <div class="col-12 mb-2" *ngIf="showDepartment">
                                            <label> Đơn vị
                                            </label>
                                            <nz-tree-select [nzNodes]="nodeDapartment" nzShowSearch nzPlaceHolder="Đơn vị"
                    formControlName="department_id"  nzHideUnMatched #treeSelect [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"></nz-tree-select>
                                        </div> -->

                                        <!-- <div class="col-6 mb-2">
                                            <label>{{ 'model.ticket.state' | translate }}
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.state' | translate }}"
                                                nzAllowClear [nzDisabled]="form.get('state_id')?.disabled"
                                                removeOptionTitle formControlName="state_id">
                                                <nz-option *ngFor="let item of ticketStateList" [nzCustomContent]="true"
                                                    [nzLabel]="(item?.name ||'') | translate" [nzValue]="item.id">
                                                    <div container="body" [animation]="false" [openDelay]="100"
                                                        [closeDelay]="0" [ngbTooltip]="(item?.name || '') | translate">
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select>
                                            <ng-container
                                                *ngIf="form.get('state_id')?.touched || form.get('state_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('state_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.required' | translate }}</small>
                                                </span>
                                            </ng-container>
                                        </div> -->

                                        <div class="col-lg-12 mb-2">
                                            <label>{{ 'model.ticket.description' | translate }}
                                            </label>

                                            <div >
                                                <mb-editor [placeholder]="''" [maxLength]="5000"
                                                    [value]="form?.get('description')?.value || ''"
                                                    (data)="onChangeData1('description', $event)">
                                                </mb-editor>
                                            </div>
                                            

                                            <span class="text-danger" *ngIf="isShowDescription">
                                                <small>Độ dài không quá 5000 ký tự</small>
                                            </span>
                                        </div>
                                        <div class="col-lg-12">
                                            <label>File đính kèm
                                            </label>
                                            <mbf-upload [acceptTypeFiles]="['default']" [multiple]="true"
                                                [typeUpload]="'uploadToServer'" [key]="'task'"
                                                (emitterUploading)="checkFileUploading()"
                                                (emitter)="handleLoadFile($event)" (emitterAmountError)="addEvent2($event)" (emitterError)="addEvent($event)">
                                            </mbf-upload>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="d-flex justify-content-end">
                                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                    [shapeType]="'radius'" [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                                <mbf-button id="createBuilding" [type]="'primary'" [icon]="'plus-circle'"
                                    [shapeType]="'radius'" [text]="'action.create'" (click)="onSubmit()"></mbf-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-4">
                <div class="card advance-filter">
                    <div class="card-header">
                        <h6>Thông tin liên hệ</h6>
                    </div>
                    <div class="cbody d-flex justify-content-center align-items-center p-3">
                        <div class="">
                            <div class="icon">
                                <img src="assets/images/avatar_default.svg" alt="" srcset="">
                            </div>
                            <button class="btn">Thêm Liên hệ</button>
                        </div>

                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>
