.title-fillter{
    color: rgba(117, 117, 117, 0.85);
}
::ng-deep .ant-drawer-header{
    background: #F4F5FA;
}

.module-fillter .btn-filter{
    box-shadow: 3px 5px 7px rgb(0 97 175 / 24%), 1px 2px 2px rgb(0 102 153 / 10%);
    border-radius: 71px;
    width: 100%;
    padding: 9px;
    font-weight: 500;
    background: #0060AF;
}
 ::ng-deep .ant-drawer-body {
    padding: 0px;
}
::ng-deep .module-fillter  .ant-select-selector{
    background: #F4F5FA!important;
}
.date-filter label{
    min-width: 70px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
}
::ng-deep .ant-picker-range{
    height: 31px;
    width: 300px;
}
.date-filter .d-flex{
    justify-content: right!important;
}
.tag {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    height: 23px;
}
.tag span {
    font-weight: 400;
    font-size: 12px;
}
.tag-warning1 {
    font-weight: 400;
    color: #fff;
}
.table-scroll-report ::ng-deep .ant-table-container{
    width: 2600px!important;
}
::ng-deep .module-fillter .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: auto!important;
}
::ng-deep .cdk-virtual-scroll-viewport {
    min-height: 150px!important;
}
::ng-deep .ant-drawer-close {
    color: rgba(0,0,0,.75);
}
.module-fillter .anticon-down{
    position: absolute;
    right: 25px;
    top: 38px;
    color: rgba(0,0,0,.25);
}
 ::ng-deep .ant-drawer-close{
    width: 30px;
    height: 30px;
    top: 14px!important;
    right: 12px!important;
    text-align: center;
    padding: 0px!important;
}
.des-report{
    height: 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    display: -webkit-box;
    max-width: 100%;
}
.date-filter .mat-date-range-input {
    top: -12px!important;
}
.ticket-code{
    color: #000;
    cursor: pointer;
}
