::ng-deep .ant-select-selection-placeholder {
    font-size: 15px;
    font-style: italic;
    color: #ddd9d9;
}
.detail-pr p{
    color: rgba(117, 117, 117, 0.85);
    font-size: 12px;
}
.detail-pr p i{
   font-weight: 600;
}
.description {
    border: 1px solid #d7d2d2 !important;
    border-radius: 5px;
    padding: 3px 11px;
    width: 100%;
    background: #f5f5f5;
    cursor: not-allowed;
    min-height: 75px;
    color: #cfbfbf;
}
::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}