<div class="create-department">
    <div *nzModalTitle>
        <span>{{ ( 'product.' + action.event) | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div id="myDiv"></div>
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'product.code' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input  formControlName="code" nz-input  class="" (ngModelChange)="codeExist.next($event)"
                            placeholder="{{ 'product.code' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('code')?.touched || form.get('code')?.dirty">
                            <span class="text-danger" *ngIf="form.get('code')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('code')?.errors?.maxlength">
                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                    LENGTH_VALIDATOR.CODECUS_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <small class="text-danger" *ngIf="form.get('code')?.errors?.isNotCode">
                                {{ 'model.department.error.notCode' | translate }}
                            </small>
                            <small class="text-danger" *ngIf="form.get('code')?.errors?.isBlank">
                                {{ 'model.department.error.required' | translate }}
                            </small>
                            <span class="text-danger" *ngIf="formInvalid.code">
                                {{ 'model.user.error.hasExisted' | translate : {param:
                                'product.code' | translate} }}
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'product.name' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="name" nz-input class=""
                            placeholder="{{ 'product.name' | translate}}" #availableArea
                             required>
                        <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                    LENGTH_VALIDATOR.TITLE_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <small class="text-danger" *ngIf="form.get('name')?.errors?.pattern">
                                {{ 'category.error.nameInvalid' | translate }}
                            </small>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'product.parent' | translate}}
                        </label>
                        <nz-tree-select [nzNodes]="nodes" nzShowSearch nzPlaceHolder="{{'product.parent' | translate }}" nzShowSearch
                        [nzDisabled]="form.get('parent_id')?.disabled"
                        formControlName="parent_id" nzHideUnMatched #parentSelect [nzVirtualHeight]="!parentSelect.inputValue ? '300px' : ''"></nz-tree-select>
                        <ng-container *ngIf="form.get('parent_id')?.touched || form.get('parent_id')?.dirty">
                            <!-- <span class="text-danger" *ngIf="form.get('parent_id')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('parent_id')?.hasError('maxLength')">
                                <small>{{ 'product.error.nameMaxLength' | translate }}</small>
                            </span> -->
                        </ng-container>
                    </div>

                    <div class="col-12 mb-2">
                        <label>{{ 'product.category' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <nz-tree-select [nzNodes]="nodeCategory"  nzPlaceHolder="{{'product.category' | translate }}" nzShowSearch
                        [nzDisabled]="form.get('category_id')?.disabled"
                        formControlName="category_id" nzHideUnMatched #categorySelect [nzVirtualHeight]="!parentSelect.inputValue ? '300px' : ''"></nz-tree-select>
                        
                         <ng-container *ngIf="form.get('category_id')?.touched || form.get('category_id')?.dirty">
                            <span class="text-danger" *ngIf="form.get('category_id')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('category_id')?.hasError('maxLength')">
                                <small>{{ 'product.error.nameMaxLength' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'product.status' | translate}}
                        </label><br>
                        <nz-switch  formControlName="status"  (click)="onSwitch()"  [nzDisabled]="form.get('status')?.disabled"></nz-switch>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'product.description' | translate}}
                        </label>
                        <div [innerHtml]="description" nz-input *ngIf="action.event=='view'"
                            
                            class="description">
                        </div>

                        <mb-editor [value]="form?.get('description')?.value || ''"  *ngIf="action.event!='view'" [maxLength]="500"
                            (data)="onChangeData('description', $event)"
                                placeholder="{{ 'product.description' | translate}}"  ></mb-editor>

                        <span class="text-danger" *ngIf="isShowDescription">
                            <small>Độ dài không quá 500 ký tự</small>
                        </span> 
                    </div>
                    <div class="col-12 mb-2 detail-pr" *ngIf="action.event=='view'">
                        <p class="mb-0">Tạo bởi: <i>Super Admin</i> lúc {{selectedProduct.created_at  | date:' HH:mm dd/MM/yyyy' }}</p>
                        <p class="mb-0">Cập nhật lần cuối bởi : <i>Super Admin</i> lúc {{selectedProduct.updated_at  | date:' HH:mm dd/MM/yyyy'}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container *ngIf="!isShowView">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.'+ action.includedButton" (click)="onCancel()"></mbf-button>
                <mbf-button id="createBuilding" [type]="'primary'" [icon]="isUpdate?'save':'plus-circle'" [shapeType]="'radius'"  [isLoading]="isLoading"
                [text]="'action.'+ action.buttonTitle" (click)="onSubmit()"></mbf-button>
            </ng-container>
      
            <ng-container *ngIf="isShowView">
                <mbf-button [disabled]="!selectedProduct.check_can_edit" id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [isLoading]="isLoading"
                    [shapeType]="'radius'" [text]="'action.'+ action.buttonTitle" (click)="onSubmit()"></mbf-button>
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'primary'" [shapeType]="'radius'" [icon]="action.icon"  
                    [text]="'action.'+ action.includedButton" (click)="onCancel()"></mbf-button>
            </ng-container>
        </div>
    </div>
</div>