<div class="page-body">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="page-title">
                    <h5>{{'model.workFlow.clone'| translate}}</h5>
                </div>
                <div class="row">
                    <div [ngClass]="'col-12' ">
                        <nz-tabset>
                            <nz-tab nzTitle="Thông tin luồng">
                                <div class="form">
                                    <div class="col-12">
                                        <form [formGroup]="workFlowInfoForm">
                                            <div class="row">
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'model.workFlow.name' | translate }}
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <input formControlName="name" nz-input class=""
                                                        (change)="onChangeTitle()"
                                                        placeholder="{{ 'model.workFlow.name' | translate }}"
                                                        #availableArea required>
                                                    <ng-container
                                                        *ngIf="workFlowInfoForm.get('name')?.touched || workFlowInfoForm.get('name')?.dirty">
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('name')?.hasError('required')">
                                                            <small>{{ 'model.ticket.error.required' | translate
                                                                }}</small>
                                                        </span>
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('name')?.errors?.maxlength">
                                                            <small>{{ 'model.workFlow.error.maxLength' | translate:
                                                                {param: 100}
                                                                }}</small>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label nz-checkbox (change)="onChangeChecked($event)"
                                                        formControlName="is_global">Toàn công
                                                        ty</label>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'model.workFlow.department' | translate }} <span
                                                            class="text-danger" *ngIf="!checked">*</span>
                                                    </label>
                                                    <nz-tree-select [nzNodes]="departmentTree" nzShowSearch
                                                        nzDropdownClassName="dept" 
                                                        [nzDisabled]="checked"
                                                        nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                                        formControlName="department_id" nzHideUnMatched #treeSelect
                                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                                    </nz-tree-select>
                                                    <ng-container
                                                        *ngIf="!checked&&(workFlowInfoForm.get('department_id')?.touched || workFlowInfoForm.get('department_id')?.dirty)">
                                                        <span class="text-danger"
                                                            *ngIf="workFlowInfoForm.get('department_id')?.hasError('required')">
                                                            <small>{{ 'model.ticket.error.required' | translate
                                                                }}</small>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="col-12 mb-2 row  pr-0">
                                                    <label class="col-12 ml-0">Thời gian áp dụng
                                                    </label>
                                                    <div class="col-6">
                                                        <nz-date-picker [(ngModel)]="application_from"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (ngModelChange)="onChangeTimeline()" nzShowTime
                                                            [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
                                                            nzPlaceHolder="Thời gian bắt đầu">
                                                        </nz-date-picker>
                                                    </div>
                                                    <div class="col-6 pr-0">
                                                        <nz-date-picker [(ngModel)]="application_to"
                                                            [ngModelOptions]="{standalone: true}"
                                                            (ngModelChange)="onChangeTimeline()" nzShowTime
                                                            (change)="onChangeTimeline()"
                                                            [nzFormat]="'dd/MM/yyyy HH:mm:ss'"
                                                            nzPlaceHolder="Thời gian kết thúc"></nz-date-picker>
                                                        <span class="text-danger" *ngIf="dateInvalid">
                                                            <small>Thời gian kết thúc phải lớn hơn hoặc bằng thời gian
                                                                bắt đầu</small>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="col-12 my-2" formArrayName="conditions">
                                                    <div class="title">
                                                        <p>Các điều kiện phải được đáp ứng cho trigger để chạy</p>
                                                    </div>
                                                    <div class="condition-group">
                                                        <div class="conditions"
                                                            *ngFor="let condition of conditions().controls; let empIndex=index">
                                                            <div [formGroupName]="empIndex">
                                                                <hr class="top-line" *ngIf="empIndex>0">
                                                                <div class="col-12" *ngIf="empIndex!=0">
                                                                    <div class="row">
                                                                        <div class="col-8 mb-2">
                                                                            <label>{{ 'model.sla.create.condition' |
                                                                                translate}}
                                                                                <span class="text-danger">*</span>
                                                                            </label>
                                                                            <nz-select
                                                                                nzPlaceHolder="{{ 'model.sla.create.condition' | translate }}"
                                                                                nzAllowClear removeOptionTitle
                                                                                [nzDisabled]="empIndex  ==0"
                                                                                formControlName="conditionName"
                                                                                (ngModelChange)="changeCodition($event, empIndex)">
                                                                                <nz-option
                                                                                    *ngFor="let item of (empIndex  ==0?listCondition:listConditionNoProduct)"
                                                                                    [nzCustomContent]="true"
                                                                                    [nzLabel]="(item?.name || '') | translate"
                                                                                    [nzValue]="item?.value">
                                                                                    <div container="body"
                                                                                        [animation]="false"
                                                                                        [openDelay]="100"
                                                                                        [closeDelay]="0"
                                                                                        [ngbTooltip]="(item?.name || '') | translate">
                                                                                        {{(item?.name || '') |
                                                                                        translate}}
                                                                                    </div>
                                                                                </nz-option>
                                                                            </nz-select>
                                                                            <ng-container
                                                                                *ngIf="condition.get('conditionName')?.touched || condition.get('conditionName')?.dirty ">
                                                                                <span class="text-danger"
                                                                                    *ngIf="condition.get('conditionName')?.hasError('required')">
                                                                                    <small>{{
                                                                                        'model.sla.create.error.required'
                                                                                        | translate }}</small>
                                                                                </span>
                                                                            </ng-container>
                                                                        </div>
                                                                        <div class="col-4 text-right">
                                                                            <button class="btn"
                                                                                (click)="removeCondition(empIndex)">
                                                                                <img src="assets/images/icon/deleteSLA.svg"
                                                                                    alt="circle-plus-icon" srcset=""
                                                                                    class="delete-all" /></button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="col-12 mb-2">
                                                                    <label
                                                                        *ngIf="empIndex!=0">{{'model.sla.create.conditionInformation'
                                                                        |translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <label
                                                                        *ngIf="empIndex==0">{{'model.workFlow.serviceProduct'
                                                                        |translate}}
                                                                        <span class="text-danger"
                                                                            *ngIf="!checkedProduct">*</span>
                                                                    </label>
                                                                    <div class="col-12 pl-0">
                                                                        <label nz-checkbox
                                                                            (ngModelChange)="onChangeProductAllChecked()"
                                                                            style="padding: 10px 0;"
                                                                            formControlName="product_all"
                                                                            *ngIf="empIndex==0">Tất cả sản phẩm dịch
                                                                            vụ</label>
                                                                    </div>
                                                                    <nz-tree-select style="width: 100%"
                                                                        *ngIf="condition.value.conditionName=='products'"
                                                                        [nzCheckStrictly]="true"
                                                                        [(ngModel)]="serviceproduct"
                                                                        [nzDisabled]="condition.get('conditionInformation')?.disabled"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [nzNodes]="conditionInforList[empIndex]"
                                                                        (ngModelChange)="onChangeProduct(empIndex)"
                                                                        nzShowSearch nzCheckable nzHideUnMatched
                                                                        #treeSelect
                                                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
                                                                        nzPlaceHolder="{{ 'model.sla.create.conditionchoose' | translate }}">
                                                                    </nz-tree-select>
                                                                    <nz-select
                                                                        (nzOnSearch)="filter($event, condition.value.conditionName)"
                                                                        *ngIf="condition.value.conditionName!='products'"
                                                                        nzPlaceHolder="{{ 'model.sla.create.conditionchoose' | translate }}"
                                                                        nzMode="multiple"
                                                                        formControlName="conditionInformation">
                                                                        <nz-option
                                                                            *ngFor="let item of conditionInforList[empIndex]"
                                                                            [nzCustomContent]="true"
                                                                            [nzLabel]="(item?.name || '') | translate"
                                                                            [nzValue]="item?.id">
                                                                            <div container="body" [animation]="false"
                                                                                [openDelay]="100" [closeDelay]="0"
                                                                                [ngbTooltip]="(item?.name || '') | translate"
                                                                                innerHtml="{{(item?.name || '') | highlight:condition.value.conditionName=='ticket_category'?ticket_category:ticket_priority}}">

                                                                            </div>
                                                                        </nz-option>
                                                                    </nz-select>
                                                                    <ng-container
                                                                        *ngIf="condition.get('conditionInformation')?.touched || condition.get('conditionInformation')?.dirty ">
                                                                        <span class="text-danger"
                                                                            *ngIf="condition.get('conditionInformation')?.hasError('required')">
                                                                            <small>{{ 'model.sla.create.error.required'
                                                                                | translate }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="text-center"
                                                            *ngIf="conditions().controls.length  !=3">
                                                            <button nz-button nzType="link"
                                                                class="text-uppercase w-9 border-0 bg-white"
                                                                (click)="addConditionForm()">
                                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                                    alt="circle-plus-primary-icon" srcset="" />
                                                                <span class="ml-2">Thêm điều kiện mới</span>
                                                            </button>
                                                        </div> -->
                                                    </div>
                                                </div>

                                                <div class="col-12 mb-2">
                                                    <label>{{ 'product.status' | translate}}
                                                    </label><br>
                                                    <nz-switch [nzControl]="true" formControlName="status" (click)="onUpdateStatus(data)" [class]="!data?.status &&(data?.steps?.data.length == 0 || data?.sla_internal_list.length == 0)?'switch-disabled':''">
                                                    </nz-switch>
                                                </div>
                                                <div class="col-12 mb-2">
                                                    <label>{{ 'model.ticket.description' | translate }}
                                                    </label>
                                                    <mb-editor [placeholder]="''" [maxLength]="500"
                                                        [value]="workFlowInfoForm?.get('descriptions')?.value || ''"
                                                        (data)="onChangeData('descriptions', $event)">
                                                    </mb-editor>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <div class="d-flex justify-content-end">
                                            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                                [shapeType]="'radius'" [text]="'action.cancel'" (click)="onCancel()">
                                            </mbf-button>
                                            <mbf-button id="createBuilding" [type]="'primary'" [icon]=" 'plus-circle' "
                                                [shapeType]="'radius'" [text]="'action.create'" (click)="onClone()"></mbf-button>
                                        </div>
                                    </div>
                                </div>
                            </nz-tab>
                        </nz-tabset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>