::ng-deep.ck.ck-toolbar.ck-toolbar_grouping {
  padding: 5px 0 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
}

::ng-deep.ck.ck-editor__main > .ck-editor__editable {
  word-break: break-all;
  border-radius: 0 0 5px 5px !important;
  min-height: 150px !important;
  max-height: 300px !important;
}

::ng-deep.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
  outline: none;
  box-shadow: none;
}

::ng-deep.ck-read-only {
  background: #f5f5f5 !important;
}

span {
  font-size: 11px;
}
.editor-height{
  min-height: 200px!important;
}
