<div class="row editor-height">
  <div class="col-12">
    <div [id]="idEditor" [innerHTML]="value"></div>
  </div>
  <div class="col-12 text-right" *ngIf="!noMaxLength" >
    <span [ngClass]="getClass()">{{ commonUlti.extractContent(value)?.length + '/' +  maxLength }}</span>
  </div>
  <!-- <div class="col-12 text-right pr-4" *ngIf="noMaxLength" >
    <span [ngClass]="getClass()">{{ commonUlti.extractContent(value)?.length}}</span>
  </div> -->
</div>
