<div class="create-department">
    <div *nzModalTitle>
        <span>{{ ( 'ticket-priority.' + action.event) | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-priority.name' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="name" nz-input class=""
                            placeholder="{{ 'ticket-priority.name' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                <small>{{ 'product.error.maxLength' | translate :
                                    {param: LENGTH_VALIDATOR.NAME_MAX_LENGTH.MAX} }}</small>
                            </span>
                            <span class="text-danger" *ngIf="form.get('name')?.hasError('pattern')"><small>{{
                                    'product.error.pattern' | translate }}</small> </span>
                            <span class="text-danger" *ngIf="form.get('name')?.errors?.hasExisted">
                                <small>{{ 'model.ticket.error.hasExisted' | translate : {param:
                                    'model.ticket.name' | translate} }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-priority.color' | translate}}
                            <span class="text-danger">*</span>
                        </label>
                        <input formControlName="color" nz-input class="" type="color"
                            placeholder="{{ 'ticket-priority.color' | translate}}" #availableArea required>
                        <ng-container *ngIf="form.get('color')?.touched || form.get('color')?.dirty">
                            <span class="text-danger" *ngIf="form.get('color')?.hasError('required')">
                                <small>{{ 'product.error.required' | translate }}</small>
                            </span>
                        </ng-container>
                    </div>
                    <div class="col-12 mb-2">
                        <div><label for="">{{ 'ticket-priority.status' | translate }}</label></div>
                        <nz-switch formControlName="status" [nzDisabled]="isDetail"></nz-switch>
                    </div>
                    <div class="col-12 mb-2">
                        <label>{{ 'ticket-priority.note' | translate}}
                        </label>
                        <div [innerHtml]="note" nz-input *ngIf="action.event=='view'" class="note">
                        </div>
                        <mb-editor [value]="form?.get('note')?.value || ''" *ngIf="action.event!='view'"
                            [maxLength]="500" (data)="onChangeData('note', $event)"
                            placeholder="{{ 'ticket-source.note' | translate}}"></mb-editor>
                        <!-- <mb-editor [value]="form?.get('note')?.value || ''" (data)="onChangeData('note', $event)"
                            placeholder="{{ 'ticket-source.note' | translate}}"></mb-editor> -->
                        <span class="text-danger" *ngIf="form.get('note')?.errors?.maxlength">
                            <small>Độ dài tối da 500 ký tự</small>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <!-- <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [type]="'primary'" [icon]="'plus-circle'" [shapeType]="'radius'"
                [text]="isUpdate ? 'Lưu': 'action.create'" (click)="onSubmit()"></mbf-button>
        </div> -->
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container *ngIf="action.event !== viewEvent">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                    [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                <mbf-button id="createBuilding" [type]="'primary'"
                    [icon]="action.event=='update'?'save':'plus-circle'" [shapeType]="'radius'"
                    [disabled]="action.event === viewEvent" [isLoading]="isLoading"  
                    [text]="action.event=='update'?'action.save':'action.create_short'" (click)="onSubmit()">
                </mbf-button>
            </ng-container>
            <ng-container *ngIf="action.event === viewEvent">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                    [text]="'action.view'" (click)="onUpdate()"></mbf-button>

                <mbf-button id="createBuilding" [customClass]="'mr-2'" [icon]="'close-circle'" [type]="'primary'"
                    [shapeType]="'radius'" [text]="'action.close'" (click)="onCancel()"></mbf-button>
            </ng-container>
        </div>
    </div>
</div>