
<div class="login">
  <div class="center">
    <div class="container">
      <section class="content">
        <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="submitForm()">
          <div class="row">
            <div class="col-12 logo">
              <img src="assets/images/full-logo.svg" alt="login">
            </div>
            <div class="col-12 mt-2 mb-2 text-left">
              <label>{{ 'model.login.username' | translate }}:</label>
              <input type="text" nz-input formControlName="userName" [maxLength]="LENGTH_VALIDATOR.USERNAME_MAX_LENGTH.MAX"
                     [placeholder]="'model.login.placeholder.username' | translate"/>
              <ng-container *ngIf="loginForm.get('userName')?.touched || loginForm.get('userName')?.dirty">
                <span class="text-danger" *ngIf="loginForm.get('userName')?.hasError('required')">
                  <small>{{ 'model.login.error.username' | translate }}</small>
                </span>
              </ng-container>
            </div>
            <div class="col-12 mt-2 mb-2 text-left">
              <label>{{ 'model.login.password' | translate }}:</label>
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input formControlName="password" nz-input
                       [type]="passwordVisible ? 'text' : 'password'"
                       [placeholder]="'model.login.placeholder.password' | translate"/>
              </nz-input-group>
              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                   (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
              <ng-container *ngIf="loginForm.get('password')?.touched || loginForm.get('password')?.dirty">
                <span class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')">
                  <small>{{ 'model.login.error.password' | translate }}</small>
                </span>
              </ng-container>
            </div>
            <div class="col-12 mt-2 mb-2 text-left">
              <label nz-checkbox formControlName="rememberMe">
                <span>{{ 'model.login.remember' | translate }}</span>
              </label>
            </div>
            <div class="col-12 mt-2 login-button">
              <button nz-button [nzType]="'primary'"
               [disabled]="this.loginForm.invalid || isLoading">
                {{ 'model.login.msg' | translate }}
              </button>
            </div>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
