.login {
  width: 100%;
  height: 100%;
  // background-image: url("../../../assets/images/login.png");
  background-color: #ffffff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

section.content {
  border-radius: 24px;
  background: #fff;
  padding: 60px;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  section.content {
    border-radius: 24px;
    background: #fff;
    padding: 60px;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 414px) {
  section.content {
    border-radius: 24px;
    background: #fff;
    padding: 24px;
    width: 100%;
    margin: 0 auto;
  }

  .logo img {
    width: 80%;
  }
}

i {
  cursor: pointer;
  font-size: 18px;
}

.ant-input-affix-wrapper {
  padding: 0 11px 0 0;
  height: 50px;
  border-radius: 12px;
}

label {
  font-weight: bold;
  font-size: 16px;
}

input {
  border-radius: 12px;
  height: 48px;
}

.logo {
  padding-bottom: 40px;
}

button {
  height: 50px;
  width: 75%;
}

.login-button {
  padding-top: 30px;
}

small {
  font-weight: 600;
}
:host ::ng-deep .ant-btn-primary{
  background: #0060af !important;
}
:host ::ng-deep  .ant-btn-primary:hover{
  background: #0060af !important;
}
