<div class="page-top">
  <div class="page-title">
    <h5>{{'model.workFlow.title' | translate }}</h5>
  </div>
  <div class="actions">
    <div class="searchInputWrapper">
      <div class="w-100">
        <form role="form" [formGroup]="searchForm">
          <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
            formControlName="keyword" (keyup.enter)="onSearch($event)" />
        </form>
        <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
          srcset="" />
      </div>
    </div>
    <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1" [nzPlacement]="'bottomRight'">
      <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
    </div>
    <nz-dropdown-menu #menu1="nzDropdownMenu" >
      <div class="d-flex dropdown-fillter">
        <div class="delete ml-2" *hasRoles="auth.SYSTEM_WORKFLOW.DELETE">
          <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
            (click)="onDeleteMulti(setOfCheckedId)">
            <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
          </button>
        </div>
        <div class="create ml-2" *hasRoles="auth.SYSTEM_WORKFLOW.CREATE">
          <button class="btn ant-btn-default btn-radius" (click)="onCreate()">
            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
            <span style="color:#0060AF" class="ml-2">Tạo mới</span>
          </button>
        </div>
        <div class="filter ml-2">
          <button class="btn ant-btn-default btn-circle" (click)="openFillter()">
            <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
          </button>
        </div>
      </div>
    </nz-dropdown-menu>
    <!-- <div class="refesh ml-2">
      <button class="btn ant-btn-default btn-circle" (click)="onRefresh()">
        <img src="assets/images/icon/Union.svg" alt="Union-icon" srcset="" />
      </button>
    </div>
    <div class="export ml-2">
      <button class="btn ant-btn-default btn-circle">
        <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
      </button>
    </div> -->
    <div class="hide-mobile">
      <div class="delete ml-2" *hasRoles="auth.SYSTEM_WORKFLOW.DELETE">
        <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
          (click)="onDeleteMulti(setOfCheckedId)" nz-tooltip nzTooltipTitle="Xóa">
          <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
        </button>
      </div>
      <div class="create ml-2" *hasRoles="auth.SYSTEM_WORKFLOW.CREATE">
        <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
          <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
          <span style="color:#0060AF" class="ml-2">Tạo mới</span>
        </button>
      </div>
      <div class="filter ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="openFillter()" nz-tooltip nzTooltipTitle="Lọc">
          <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
        </button>
      </div>
    </div>
  </div>
</div>
<div class="page-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="table-scroll-report">
          <nz-table #basicTable [nzData]="departmentList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            (nzQueryParams)="onQueryParamsChange($event)" [nzNoResult]="noDataResult">
            <thead>
              <tr>
                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                  (nzCheckedChange)="updateAllChecked($event)">
                </th>
                <th class="text-center">#</th>
                <th nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="1">Luồng xử lý</th>
                <th>Sản phẩm dịch vụ</th>
                <th>Áp dụng từ</th>
                <th>Áp dụng đến</th>
                <th>SLA áp dụng</th>
                <th>Mô tả</th>
                <th class="text-center">Trạng thái</th>
                <th class="text-center">Thao tác</th>
              </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
              <tr *ngFor="let data of departmentList; let i = index" cdkDrag cdkDragLockAxis="y">
                <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled||!data.check_can_edit" 
                  (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                <td (click)="onView(data)">{{ (workflowQuery.pageIndex - 1)*workflowQuery.pageSize +
                  i + 1 }}</td>
                <td class="col-xm" ><a [routerLink]="'/admin/workflow-configuration/view/'+ data.id" class="btn text-left"  nz-tooltip [nzTooltipTitle]="data.name">{{ commonUtil.limitWord(data.name,25) }}</a></td>
                <td (click)="onView(data)" *ngIf="!data?.check_all_products">
                  <span *ngIf="data?.product_list_name?.length>0" nz-tooltip
                    [nzTooltipTitle]="(data?.product_list_name)[0]?.name"
                    class="badge-table">{{commonUtil.limitWord((data?.product_list_name)[0]?.name,15)}}</span>
                  <a nz-popover nzPopoverTitle="" [nzPopoverContent]="proContent"
                    [nzPopoverOverlayClassName]="'htmlPopover'" *ngIf="data?.product_list_name?.length>1"
                    class="badge-table"> +
                    {{data?.product_list_name?.length - 1}}</a>
                  <ng-template #proContent>
                    <div>
                      <div *ngFor="let pro of getServiceProducts(data?.product_list_name);" class="badge-table"
                        nz-tooltip [nzTooltipTitle]="pro?.name" [nzTooltipPlacement]="'right'">
                        {{commonUtil.limitWord(pro.name,15)}}</div>
                    </div>
                  </ng-template>
                </td>
                <td (click)="onView(data)" *ngIf="data?.check_all_products">Tất cả sản phẩm dịch vụ</td>
                <td (click)="onView(data)">{{data?.application_from |date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td (click)="onView(data)">{{data?.application_to |date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td (click)="onViewSLA(data)" [style.cursor]="'pointer'">
                  <span *ngIf="data?.sla_internal_list?.length>0" nz-tooltip
                    [nzTooltipTitle]="(data?.sla_internal_list)[0]?.title"
                    class="badge-table">{{commonUtil.limitWord((data?.sla_internal_list)[0]?.title,15)}}</span>


                  <a nz-popover nzPopoverTitle="" [nzPopoverContent]="slaContent"
                    [nzPopoverOverlayClassName]="'htmlPopover'" *ngIf="data?.sla_internal_list.length>1"
                    class="badge-table"> +
                    {{data?.sla_internal_list?.length - 1}}</a>
                  <ng-template #slaContent>
                    <div>
                      <span *ngFor="let sla of getServiceProducts(data?.sla_internal_list);" class="badge-table"
                        nz-tooltip [nzTooltipTitle]="sla.title">
                        {{commonUtil.limitWord(sla.title,20)}}</span>
                    </div>
                  </ng-template>
                </td>
                <td (click)="onView(data)" class="des-td" >
                  <span nz-tooltip [nzTooltipTitle]="commonUtil.extractContent(data.descriptions)" [nzTooltipPlacement]="i + 1 === workflowQuery.pageSize ? 'top' : 'bottom'">
                    {{commonUtil.limitWordDes(commonUtil.extractContent(data.descriptions),20)}}</span>
                  </td>
                <td class="text-center">
                  <div>
                    <nz-switch [nzControl]="true" [(ngModel)]="data.status" (click)="onUpdateStatus(data)" [class]="!data?.status &&(data.steps?.data.length == 0 || data?.sla_internal_list.length == 0)?'switch-disabled':''"></nz-switch>
                  </div>
                </td>
                <td class="text-center">
                  <div class="action-table">
                    <a  [routerLink]="'/admin/workflow-configuration/detail/'+data.id"  *ngIf="data.check_can_edit">
                      <mbf-button-action *hasRoles="auth.SYSTEM_WORKFLOW.UPDATE" [action]="'edit'" 
                        nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top" nz-tooltip
                        >
                      </mbf-button-action>
                    </a>
                    <span *ngIf="!data.check_can_edit">
                        <mbf-button-action *hasRoles="auth.SYSTEM_WORKFLOW.UPDATE" [action]="'edit'"  [disable]="!data.check_can_edit"
                      nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top" nz-tooltip
                      >
                      </mbf-button-action>
                    </span>
                    <a *hasRoles="auth.SYSTEM_WORKFLOW.DELETE">
                      <mbf-button-action *ngIf="data.dept_code !== 'TCT'" [action]="'delete'" [disable]="!data.check_can_edit"
                        nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top" nz-tooltip
                        (click)="onDelete(data)">
                      </mbf-button-action>
                    </a>
                    <mbf-button-action [action]="'clone'"
                      nzTooltipTitle="{{'action.clone' | translate}}" nzTooltipPlacement="top" nz-tooltip
                      (click)="onClone(data)">
                    </mbf-button-action>
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
          <div class="p-3">
            <mb-pagination [pageIndex]="workflowQuery.pageIndex" [pageSize]="workflowQuery.pageSize" [total]="total"
              (onChange)="onQuerySearch($event)">
            </mb-pagination>
          </div>
        </div>
        <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right" [nzTitle]="resetFilter"
          (nzOnClose)="onClose()">
          <ng-template #resetFilter class="d-flex">
            <div class="row">
              <div class="col-9">
                <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
              </div>
              <div class="col-3" style="float:right;">
                <a (click)="onResetFilter()"><img src="assets/images/icon/resetFilter.svg" alt=""></a>
              </div>
            </div>
          </ng-template>
          <ng-container *nzDrawerContent>
            <div class="col-12  module-fillter mt-4">
              <div class="row">
                <!-- <div class="col-12 mb-2">
                  <label>Đơn vị
                  </label> -->
                  <!-- <nz-select [(ngModel)]="department_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn đơn vị"
                    (ngModelChange)="onChangeDepartment($event)">
                    <nz-option *ngFor="let item of deptList" [nzCustomContent]="true" [nzValue]="item.id"
                      [ngbTooltip]="item.dept_name" [nzLabel]="item.dept_name">
                      {{item?.dept_name}}</nz-option>
                  </nz-select> -->
                  <!-- <nz-tree-select [nzNodes]="deptList" nzHideUnMatched nzShowSearch (ngModelChange)="onChangeDepartment($event)"
                  nzPlaceHolder="Đơn vị" [(ngModel)]="department_id" n nzHideUnMatched #treeSelect
                  [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"></nz-tree-select>
                </div> -->
                <div class="col-12 mb-2">
                  <label>Sản phẩm dịch vụ
                  </label>
                  <nz-select [(ngModel)]="product_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn sản phẩm dịch vụ"
                    (ngModelChange)="onChangeServiceProduct($event)">
                    <nz-option *ngFor="let item of productList" [nzCustomContent]="true" [nzValue]="item.id"
                      [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                      {{item?.name}}</nz-option>
                  </nz-select>
                </div>
              </div><br>
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary btn-filter" (click)="onFilterData()"><b>ÁP DỤNG</b></button>
                </div>
              </div>
            </div>
          </ng-container>
        </nz-drawer>
        <ng-template #noDataResult>
          <mb-no-data></mb-no-data>
        </ng-template>
      </div>
    </div>
  </div>
</div>