.chart-wrapper {
  position: relative;
  overflow: hidden;
  /* background: grey; */
  // border: 1px solid gray;
  height: 70vh;
  margin: 1rem 0;
  width: 100%;
  overflow: auto;
}
a {
  color: #000!important;
}
.chart-container {
  height: 100%;
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 100ms ease-in-out;
}

.box {
  position: absolute;
  // box-shadow: 2px 2px 19px #aaa;
  // -o-box-shadow: 2px 2px 19px #aaa;
  // -webkit-box-shadow: 2px 2px 19px #aaa;
  // -moz-box-shadow: 2px 2px 19px #aaa;
  border-radius: 6px;
  border: 0.5px solid #1672EC;
  opacity: 1;
  filter: alpha(opacity=50);
  text-align: center;
  position: absolute;
  background-color: #fff;
  font-size: 0.9em;
  width: 150px;
  height: 88px;
  flex-direction: column;
  transition: box-shadow 0.15s ease-in;
  z-index: 3;
}

.node {
  height: 100%;
  margin: 0 auto;
  padding: 12px;
  transition: background-color 50ms linear;
  transition: color 50ms linear;
  background-clip: border-box;
  z-index: 1;
  cursor: move;
}

// .sourcePlaceholder {
//   cursor: pointer;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   top: 0;
//   width: 20px;
//   background: white;
//   z-index: 2;
// }

.targetPlaceholder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.label {
  border: 1px solid grey;
  background: rgb(148, 27, 27);
  color: red !important;
  font-weight: bold;
  padding: 3px;
  font-size: 10px;
}

.label {
  /* border: 1px solid grey; */
  background: white;
  color: red;
  font-weight: bold;
  padding: 2px;
  font-size: 10px;
  cursor: pointer;
}

.label.success {
  border-color: green;
  color: green;
}

.label.error {
  border-color: red;
  color: red;
}

.connection path {
  stroke: #58b7f6;
  stroke-width: 1px;
}

.connection.success path {
  stroke: green;
  stroke-width: 1px;
}

.connection.error path {
  stroke: red;
  stroke-width: 1px;
}

.connection path.jtk-overlay {
  fill: #58b7f6;
}

.connection.success path.jtk-overlay {
  fill: green;
}

.connection.error path.jtk-overlay {
  fill: red;
}

.jtk-endpoint {
  fill: "#9E9E9E";
  stroke: "none";
  z-index: 1;
}

/** Helpers */

.hidden {
  display: none;
}

.endpointSourceLabel {
  color: #1672EC;
}

.node-info {
  transition: all .75s ease;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

.btn.btn-primary.filter {
  width: 100%;
  border-radius: 18px;
}

:host ::ng-deep .tooltip-inner {
  background-color: #AAC5E8 !important;
  color: #1672EC !important;
  font-weight: 400;
  padding: 6px 2px 6px 6px !important;
}

:host ::ng-deep .bs-tooltip-bottom .arrow::before,
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {

  border-bottom-color: #AAC5E8 !important;
}

:host ::ng-deep .badge-table {
  padding: 2px 6px;
  min-height: 24px;
  margin-bottom: 4px;
  height: unset;
  color: #1672EC !important;
  font-weight: 400;
}

:host ::ng-deep .tooltip-inner .badge-table:last-child {
  margin-bottom: 0 !important;
}

:host ::ng-deep .tooltip-inner {
  overflow-y: auto;
  display: block;
}

:host ::ng-deep .cdk-drag-preview {
  display: table;
}

tr.cdk-drag.cdk-drag-preview {
  display: table;
}

:host ::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

:host ::ng-deep .ngTemplateDes .tooltip-inner {
  background-color: black !important;
  color: white !important;
}

:host ::ng-deep .ngTemplateDes .arrow::before {
  border-bottom-color: black !important;
}

.ant-table-tbody>tr>td {
  padding: 3px 0px !important;
}

.ant-table-tbody>tr>th {
  padding: 6px !important;
}

.action-table {
  display: inline-block;
}

.col-xm {
  width: 18%;
}

:host ::ng-deep .bs-tooltip-top .arrow::before {
  border-top-color: #AAC5E8 !important;
}

::ng-deep .font-highlight {
  color: black !important;
  font-weight: 600 !important;
}

::ng-deep .htmlPopover .ant-popover-arrow {
  border-color: transparent #AAC5E8 #AAC5E8 transparent !important;
}

::ng-deep .htmlPopover .ant-popover-inner-content {
  padding: 6px 4px !important;
  color: #1672EC !important;
  background: #AAC5E8 !important;
  border-radius: 2px;
}

::ng-deep .htmlPopover .ant-popover-inner-content .badge-table:last-child {
  margin-right: 0 !important;
  margin-bottom: 0 !important;

}

::ng-deep .htmlPopover .ant-popover-inner-content .badge-table {
  margin-bottom: 5px;
  height: 24px;
}


.hide-mobile {
  display: flex;
}

@media (max-width: 1239px) {
  .responsive-table .card {
    width: 1300px;
  }
}

@media (max-width: 1200px) {
  .searchInputWrapper {
    width: 95%;
  }

  .page-top .actions {
    display: flex !important;
  }

  .hide-mobile {
    display: none !important;
  }
}

:host ::ng-deep .btn-radius :hover {
  color: #0060AF !important;
  border: none;
}
:host ::ng-deep .ant-switch-disabled{
  cursor: pointer;
}
:host ::ng-deep .ant-switch-handle{
  cursor: default;
}
@media (max-width: 1300px) {
   .table-scroll-report ::ng-deep .ant-table-container {
    width: 1600px !important;

  }
  .table-scroll-report {
    overflow: auto;
  }
}
.des-td{
    max-width: 14%;
    width: 13%;
}
.switch-disabled{
  opacity: 0.5;
}
