label {
    width: 140px;
    line-height: 40px;
    min-width: 140px;
    margin-bottom: 0px;
}

.detail-ticket input,
// .detail-ticket ::ng-deep .ant-select-selector,
.detail-ticket textarea ,.description-editor .description {
    border: 1px solid #fff !important;
    width: 100%;
    overflow: auto;
}
.detail-ticket .boder-1 ::ng-deep .ant-select-selector  {
    border: 1px solid #d9d9d9 !important;
    color: #000;
}
.btn-edit {
    width: 110px;
    display: flex;
}

::ng-deep .ant-select-arrow {
    display: none;
}

.detail-ticket .w-100:hover input,
.detail-ticket .w-100:hover ::ng-deep .ant-select-selector,.description-editor:hover .description {
    border: 1px solid #d9d9d9 !important;
}

.input-comment textarea {
    border: 1px solid #d9d9d9 !important;
}
.bg3{
    color: white;
    border-radius: 35px;
    padding: 7px;
    width: 140px;
    text-align: center;
}
.color2 {
    color: #ED1C24;
    font-weight: 600;
}

.color2 img {
    margin-top: -4px;
}

.bg-main {
    background:#0060AF;
    color: #fff !important;
}

.w-100 {
    width: 100% !important;
}

li {
    list-style: none;
    font-size: 14px;
}

.mission li p {
    color: rgba(117, 117, 117, 0.85);
    font-size: 12px;
}

.mission li i {
    font-size: 10px;
    color: rgba(117, 117, 117, 0.85);
}

.mission li {
    border-bottom: 1px solid rgba(117, 117, 117, 0.4);
    padding: 19px 0px 5px;
}

.mission li:last-child {
    border-bottom: none;
}

::ng-deep .ant-timeline-item-head-blue {
    border: 1px solid #AAC5E8;
}

.title-timeline {
    border-radius: 21px;
    padding: 6px 13px;
    top: -17px;
    min-height: auto !important;
    background: #4694FC;
    color: #fff;
    font-size: 14px;
}

::ng-deep .ant-timeline-item-head {
    background: #4694FC;
    top: 6px;
}

::ng-deep .ant-timeline-item-tail {
    height: calc(100% - -62px);
    top: -15px;
}

.btn-reply {
    color:#000;
    font-size: 13px;
    margin-top: -12px;
    text-align: right;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #E0E0E0;
    border-radius: 10px;
}

.scroll ul {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 13px;
}

.scroll-timeline {
    max-height: 600px;
    overflow-y: scroll;
    padding-right: 13px;
    margin-right: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #E0E0E0;
}

.btn-reply span {
    color: #0060AF;
}

.tags {
    display: flex;
}

.tag {
    border-radius: 12px;
    // width: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    height: 23px;
    // text-align: center;
}

.tag span {
    font-size: 14px;
    line-height: 14px;
}

.tag-default {
    background: #e9f5ff;
    color: #1672ec;
}

.tag-primary {
    background: #32a4ff;
    color: #ffffff;
}
.tag-warning1 {
    color: white;
    border-radius: 35px;
    padding: 2px 7px 4px 7px;
    height: 23px;
    width: 130px;
}

.tag-warning2 {
    background: rgba(255, 211, 58, 0.3);
    color: #FFA800;
    font-weight: 400;
    border: 1px solid #FFA800;
}

.tag-warning {
    background: #ff8a00;
    color: #ffffff;
}

.tag-danger {
    background: #ed1c24;
    color: #ffffff;
}

.process-pep span {
    color: #212121;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0025em;
}

.btn-saveEditor {
    color: #1083e5;
    display: none;
    width: 30px;
    margin-right: 5px;
    color: #000;
}
.detail-ticket ::ng-deep  .ant-input-disabled, .ant-input[disabled],.detail-ticket ::ng-deep   .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: #fff!important;
    color: #000;
}
.detail-ticket ::ng-deep  .tag-comment.ant-input-disabled{
    background-color: #1672EC !important;
}
.tag-comment::placeholder {
    color:white !important
  }
.detail-ticket ::ng-deep .bg-1 .ant-input-disabled,.detail-ticket ::ng-deep .bg-1 .ant-input[disabled],.detail-ticket ::ng-deep   .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background-color: unset !important;
}
.description {
    // border: 1px solid #fff !important;
    border-radius: 5px;
    padding: 5px 11px;
    width: 100%;
    // word-break: break-all;
    min-height: 35px;
}

// .description:hover {
//     // border: 1px solid #d9d9d9 !important;
// }
.bg-1 ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    background-color: unset !important;
    color: #fff !important;
    box-shadow:unset
}
.bg-1 ::ng-deep .ant-select-selector {
    border: unset !important;
    height: 25px;
    width: 140px;
}
 .w-100:hover .bg-1  ::ng-deep .ant-select-selector{
    border: unset !important;
}
.bg-1 {
    
    border-radius: 35px;
    width: 140px;
    border:1px solid #ccc;
    height: 25px;

}
.bg-1 .ant-select{
    border-radius: 35px;
    color: #fff;
    text-align: center;
    height: 25px;
    width: 140px;
}
.editer {
    display: none;
    color: #ED1C24;
}

.w-100:hover .editer,
.w-100:hover .btn-saveEditor {
    display: block;
}

::ng-deep .description-time span {
    color: #0060AF;
    display: inline-block;
}

.pointer {
    cursor: pointer;
}

.scroll-timeline p.text-right {
    font-size: 11px;
    color: #000;
}

//wfl
.node-info {
    width: 160px;
    border: 1px solid #AAC5E8;
    border-radius: 6px;
    text-align: center;
    height: 93px;
    margin: auto;
    padding: 8px 0px;
    position: relative;
}
.node-info i{
    position: absolute;
    top: 6px;
    right: 11px;
}
.node-info img {
    height: 32px;
    width: 32px;
}
.workflow{
    margin: auto;
    cursor: pointer;
}
.workflow:last-child .arrow{
    display: none;
}
.workflow p{
    color: rgba(158, 158, 158, 0.9);
    font-size: 12px;
    margin-bottom:0px ;
}
.node .name{
    color: rgba(33, 33, 33, 0.85);
    font-weight: 600;
    font-size: 13px;
}
.node .node-title{
    color: #1672EC;
    font-weight: 600;
    text-align: center;
}
.body-flow{
    padding-top: 0px;
    padding-bottom: 20px;
    margin: auto;
    max-width: 100%;
    overflow-x: auto;
}
.body-title{
    color: #1672EC;
    font-size: 16px;
    font-weight: 600;
    margin: 20px;
}
.time-over {
    color: rgba(237, 28, 36, 0.7);
  }
  ::-webkit-scrollbar {
    height: 8px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 15px;
  }
::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    border-radius: 15px;
  }
.node-info.processing{
    border:2px solid #1672EC !important;
    background-color: #e9f5ff;
}
label.w-120{
    width: 120px;
    min-width: 120px; 
}
.btn-sent-comment{
    float: right;
}
.footer-comment ::ng-deep .ant-comment-avatar{
    display: none!important;
}
.footer-comment textarea{
    border-radius: 0px;
    border-right: none!important;
    border-left:  none!important;
}
.name-comment{
    color: #000;
    font-weight: 600;
    font-size: 14px;
}
.p12{
    padding-left: 12px;
}


@media (max-width: 900px){
    .detail-ticket .card-body .d-flex input,
    .detail-ticket ::ng-deep .ant-select-selector,
    .detail-ticket .description {
        border: 1px solid #d9d9d9 !important;
    }
    .detail-ticket .bg-1 ::ng-deep .ant-select-selector{
        border: 1px solid #fff !important;
        border-radius: 60px;
    }
    .detail-ticket .ant-select {
        max-width: 200px;
    }
    .show-desktop{
        width: 95%;
    }
    .description-editor{
        margin-bottom: 20px;
    }
    .task-mt{
        margin-top: 15px;
    }
    .body-flow {
        width: 476px;
    }
    .description-editor .show-mobile{
        width: 100%;
    }
}
.detail-ticket ::ng-deep .ant-tabs-nav-wrap{
    background: #F4F5FA !important;
    color: #757575;
}
.detail-ticket ::ng-deep  .ant-tabs-tab-btn{
    padding: 0px 13px;
}
.detail-ticket .card-footer .actions {
    justify-content: right!important;
}
.detail-ticket .card-footer{
    background: #fff;
}
::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
.box-comment{
    word-break: break-all;
}
.detail-ticket .ant-select,.title-tickets {
    max-width: 300px;
}
.detail-ticket .ant-select,.title-tickets1 {
    max-width:100%;
}
.bg-change ::ng-deep .ant-select{
    background: unset!important;
}
::ng-deep  .ant-comment-inner {
    padding: 5px 0;
}
.box-file{
    background: #F4F5FA;
    border-radius: 2px;
    height: 65px;
    padding: 10px;
    width: 130px;
    float: left;
}
.desmail{
    // display: -webkit-box;
    max-height: 77px;
    font-size: 14px;
    line-height: 19px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}
.box-file span{
    font-size: 12px;
}
.box-file p{
    color:#000; 
    font-size: 12px;
}
.description-time{
    color: #000;
}
.w-90{
    width: 90%;
}
::ng-deep  .ant-form-item:first-child{
    border-top: 1px solid #d9d9d9 !important;
}
::ng-deep  .ant-form-item  .mb-2{
    margin-bottom: 0px!important;
}
::ng-deep   .droprity{
    min-width: 180px
}
::ng-deep .ant-modal-confirm-btns .ant-btn{
    transition: unset !important;
  }

.description-editor ::ng-deep img{
    max-width: 100%!important;
    height: auto!important;
}
  @media (max-width: 2080px) {
   .detail-ticket ::ng-deep .dropzone {
      width: 100% !important;
    }
  }
.btn-edit-contact{
    position: absolute;
    right: -4px;
    top: 2px; 
}
.description.mt-2{
    margin-top: 5px!important;
}
.name-file{
    padding: 1px 4px;
}
.bg-1 ::ng-deep  .ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 22px;
}
.bg-1 .btn-edit {
    margin-top: -6px;
}
.card-header.d-flex{
        justify-content: space-between;
}
.load-more{
    width: 100%;
    margin-left: 35%;
}
.table-responsive-mail{
    overflow: auto; 
}
.table-responsive-mail ::ng-deep .ant-table-container{
    width: 1392px;
}
.des-log span{
    display: -webkit-box;
    max-width: 100%;
    max-height: 56px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 19px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    word-break: break-word;
    text-align: justify;
}
.image-info{
    height: 32px;
    width: 32px;
    border-radius: 20px !important;
}
.btn-close-ticket{
    width: 128px;
}
u{
    color: #1672EC;
    font-size: 12px;
    cursor: pointer;
}
.history-mail {
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 10px;
    color: #212121;
    font-size: 12px;
}
.history-mail p .name-send{
    color: #757575;
}
.history-mail p  b {
    font-weight: 600;
}
.user-name ::ng-deep .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 100%;
    height: 35px;
    padding: 0 11px;
}
::ng-deep  .ant-tabs-tab-disabled{
    display: none;
}
.to-mail{
    background: #F4F5FA;
    padding: 10px;
}
.to-mail ::ng-deep .ant-select-selector{
    background: #F4F5FA;
    border:1px solid #F4F5FA!important;
}
.item-history-mail:hover{
    cursor: pointer;
}
.itemcc{
    position: relative;
    max-width: 300px;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.itemcc .btn-group-cc{
    right: 10px;
    top: 1px;
    background: #F4F5FA;
    height: 36px;
    line-height: 36px;
    text-align: center;
    position: absolute;
}
.to-mail  input{
    background: #F4F5FA!important;
    border: 1px solid #d9d9d9!important;
    height: 35px;
}
.name-send{
    min-width: 67px;
    display: inline-block;
}
.page-title a {
    text-transform: capitalize;
}
.item-history-mail p{
    padding-bottom: 3px;
}
.btn-cancel{
    color: red;
}
.ptop-3{
    padding-left: 3px;
}
li.ant-dropdown-menu-item {
    clear: both;
    padding: 5px 32px;
    font-size: 14px;
    line-height: 22px;
    white-space: nowrap;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
li.ant-dropdown-menu-item:last-child{
    border-bottom: unset!important;
}
.item-mail{
    border: 1px solid #ccc;
    padding: 4px 11px;
    margin-right: 6px;
    border-radius: 15px;
    margin-bottom: 4px!important;
    display: inline-block;
}
::ng-deep .input-tag.ant-select .ant-select-selector ,::ng-deep .input-tag.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: auto!important;
}
.tab-note{
    display: flex;
    background: #F4F5FA !important;
    font-size: 14px;
}
.tab-note div {
    padding-right: 59px;
    padding: 16px;
    cursor: pointer;
}
.cart-tab{
    border-radius: unset!important;
    box-shadow: unset!important;
}
.active-tab{
    color: #0060af!important;
    border-bottom: 3px solid #0060af;
}
.ant-form-item{
    display: block!important;
}
