<div class="upload">
    <div>
        <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
            <div class="text-wrapper">
                    <input type="file" [accept]="acceptFiles" class="fileComment" name="fileComment" id="fileComment" (change)="openFile($event)" [multiple]="multiple ? 'multiple' : ''"
              >
            <label for="fileComment" class="mb-0 px-2 pt-3">
              <img src="assets/images/icon/upload-file.svg" alt=""> Attach file
            </label>
            </div>
        </div>
    </div>
    <div class="show-file-area mt-3 pb-2">
        <div class="d-flex pt-2" *ngFor="let f of filesComment; let ind = index">
            <div class="div mr-3">
                <i nz-icon [nzType]="f.icon" nzTheme="outline" style="font-size: 38px"></i>
            </div>
            <div class="div w-75">
                <div class="w-100 d-flex justify-content-between">
                    <div class="text-truncate">
                        <span>{{f.name}}</span>
                    </div>
                    <div  class="fileItemIconDiv ml-2" (click)="openConfirmDialog(f);">
                        <div class="size-info">{{formatBytes(f.size)}}</div>
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    </div>
                </div>
                <span class="text-danger" *ngIf="f.error">{{f.error}}</span>
                <nz-progress *ngIf="!f.error" [nzPercent]="f?.progress" [nzStatus]="f?.state" [nzShowInfo]="false"></nz-progress>
            </div>
        </div>
        <span class="text-danger pl-2" *ngIf="filesComment.length > 5">{{checkAmountFileUpload}}</span>
        <span class="text-danger pl-2" *ngIf="errorMail">{{checkFileUpload}}</span>
    </div>
</div>
