.image-upload>input {
  display: none;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.dropzone {
  display: table;
  width: 100%;
  /* background-color: #eee;
  border: dotted 1px #aaa; */
  border: none !important;
}

input[type="file"] {
  display: none;
}

.textLink {
  background-color: #f45e61;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textLink::before {
  content: "\f093";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: large;
  margin-right: 10px;
}

.text-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}


.fileItem {
  width: calc(25% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 10px;
  display: block;
  position: relative;
  float: left;
  border: 2px dashed #778899;
  border-radius: 5px;
  transition: .3s ease;
}

.fileItem:hover {
  border: 2px solid #c33838;
  background-color: #c33838bf;
}

.fileItem:hover .fileItemIcon::before {
  content: "\f00d";
  color: whitesmoke;
}

.fileItem:hover .fileItemText {
  color: whitesmoke;
}

.fileItemIconDiv {
  text-align: center;
}

.fileItemIcon::before {
  font-style: normal;
  content: "\f15b";
  color: #778899;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fileItemText {
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

.select-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: rgba(33, 33, 33, 0.85);
}

.accept-file {
  color: rgba(158, 158, 158, 0.9);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0 !important;
}

::ng-deep.ant-progress-bg {
  height: 4px !important;
  border-radius: unset !important;
}

.size-info {
  color: #1672EC;
  border: 1px solid #1672EC;
  border-radius: 4px;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 11px;
  margin-right: 8px;
  width: 75px;

}
.fileItemIconDiv.ml-2{
  position: relative;
  display: flex;
}
.fileItemIconDiv.ml-2 i{
  margin-top: 9px;
}
.upload {
  width: 100%;
}
::ng-deep .ant-form-item .mb-2{
  width: 100%;
}
@media (max-width: 2080px) {
  :host::ng-deep .dropzone {
    width: 80% !important;
  }
}
@media (max-width: 1750px) {
  :host::ng-deep .dropzone {
    width: 60% !important;
  }
}
@media (max-width: 1400px) {
  :host::ng-deep .dropzone {
    width: 50% !important;
  }
}
@media (max-width: 1900px) {
  :host::ng-deep .show-file-area {
    width: 80% !important;
  }
}
@media (max-width: 1960px) {
  :host::ng-deep .upload-file {
    width: 80% !important;
  }
}
@media (max-width: 1700px) {
  :host::ng-deep .upload-file {
    width: 60% !important;
  }
}
@media (max-width: 1410px) {
  :host::ng-deep .upload-file {
    width: 40% !important;
  }
}


