:host {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-layout {
  height: 100%;
}
::ng-deep.container-fluid {
  margin-top: 15px;
}
.menu-sidebar {
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: auto;
  height: 100% !important;
  box-shadow: unset;
  flex: 0 0 320px;
  max-width: 320px;
  min-width: 320px;
  width: 320px;

}

.menu-sidebar::-webkit-scrollbar {
  display: none;
}

/* //.menu-sidebar.ant-layout-sider-collapsed {
  //  overflow: hidden;
  //} */

.trigger:hover {
  color: #1890ff;
}

.sidebar-logo {
  text-align: center;
  position: relative;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  background: #ffffff;
  transition: all 0.3s;
}

.sidebar-logo-default {
  display: inline-block;
  height: 36px;
  width: 36px;
  vertical-align: middle;
}

.sidebar-logo-resize {
  display: inline-block;
  /* //height: 64px;
    //width: 64px; */
  vertical-align: middle;
}

.sidebar-logo h1 {
  display: inline-block;
  margin: 0 0 0 20px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

nz-content {
  margin: 24px;
}

.nz-content-dashboard {
  margin: 0;

}

.inner-content {
  height: 100%;
}

.btn-logout {
  font-weight: 600;
  border-radius: 8px;
  min-width: 100px;
  height: 35px;
  background: #ffffff;
  border: 1px solid #0054a5;
  color: #0054a5;
}

.btn-logout:hover {
  background: #0054a5;
  border: 1px solid #0054a5;
  color: #ffffff;
}

.btn-language {
  border: none;
  outline: none;
  position: relative;
  min-width: 0;
  padding: 5px 10px;
  top: -2px;
}

.language-form {
  cursor: pointer;
}

::ng-deep.ant-popover-inner {
  border-radius: 7px !important;
}

::ng-deep.page-top {
  background: #ffffff;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page-title h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    color: #212121;
    text-transform: uppercase;
    margin-bottom: 0px;
  };
  .actions {
    display: flex;
    justify-content: space-between;
  }
}
