<nz-layout class="app-layout app-layout-admin">
    <nz-sider class="menu-sidebar ant-layout-sider-custom"
              nzCollapsible
              nzWidth="320px"
              nzBreakpoint="xxl"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a (click)="navigateDashboard()">
          <img height="55px" [ngClass]="isCollapsed ? 'sidebar-logo-default' : 'sidebar-logo-resize'"
               [src]="isCollapsed ? 'assets/images/icon/logo-eticket.svg':'assets/images/icon/logo-eticket.svg'"
               alt="logo">
        </a>
      </div>
      <app-sidebar [isCollapsed]="isCollapsed"></app-sidebar>
    </nz-sider>
    <nz-layout [ngClass]="isCollapsed ? 'ant-layout-has-sider-collapsed' : ''">
        <app-ad-header [title]="title" [breadcrum]="breadcrum" [currentUser]="currentUser" [isCollapsed]="isCollapsed" [unread]="unread" (collapsedEvent)="collapse($event)"></app-ad-header>
      <nz-content class="nz-content-dashboard">
        <div class="inner-content">
          <nz-spin [nzSpinning]="loadingService?.isLoading | async" [nzTip]="'common.spinningTip' | translate">
            <router-outlet></router-outlet>
          </nz-spin>
          <!-- <router-outlet></router-outlet> -->
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
  