.content {
    color: #282828;
}
.btn-cancel{
    color: #9E9E9E !important;
    background: #F4F5FA !important;
}
.btn-cancel:hover{
    border-color: #9E9E9E !important;
}
:host ::ng-deep .ant-modal-header{
    padding: 16px 14px !important;
    background-color: #fff;
}
.btn-confirm{
    background: #0060af !important;
}
.btn-confirm:hover{
    background: #0060af !important;
}
