<div class="create-department modal-delete" [style]="{ top: '20px' }">
    <div *nzModalTitle class="modal-title">
        <i nz-icon nzType="question-circle" nzTheme="twotone" [nzTwotoneColor]="'#ffc107'" style="font-size: 22px; margin-right: 15px;"></i>
        <span>{{ title | translate }}</span>
    </div>
    <div>
        <p class="content" [innerHTML]="showContent()"></p>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container>
                <button nz-button nzType="primary" class="btn-radius btn-cancel mr-2" (click)="cancel()" nzShape="round">
                    {{'action.cancel'|translate}}</button>
                <button nz-button nzType="primary" class="btn-radius btn-confirm" (click)="handle()" nzShape="round">
                    {{'action.confirm'|translate}}</button>
            </ng-container>
        </div>
    </div>
</div>
