:host ::ng-deep .nz-disable-td {
    display: none !important;
}

:host ::ng-deep table .ant-input {
    border: none !important;
}

::placeholder {
    color: #757575;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

:host ::ng-deep table input::placeholder {
    text-align: center;
}

.ant-table-tbody>tr>td {
    padding: 2px;
}
.list-ticket .ant-table-tbody>tr>td {
    padding-left: 0px !important;
    padding-right: 10px !important;
}

.ant-table-tbody>tr>th {
    padding: 9px;
}

.ant-btn>span {
    margin-top: 4px;
}

:host ::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: unset !important;
}

:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: unset !important;
    padding: 4px !important;
}

:host ::ng-deep label.ant-radio-wrapper{
    font-size: 14px !important;
    color: rgba(33, 33, 33, 0.85) !important;
}
.create-department{
    max-height: 78vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 15px;
  }
::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    border-radius: 15px;
  }
  .col-ant{
    width: 27%;
  }
  :host ::ng-deep .ant-radio-checked .ant-radio-inner {
    border-color: #0060AF !important;
}
:host ::ng-deep .ant-radio-inner::after{
    background-color: #0060AF !important;
}
:host ::ng-deep .ant-tabs-top>.ant-tabs-nav::before{
    border: none !important;
}
.ant-btn-link:hover {
    background: none;
}
::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
:host ::ng-deep .ant-btn-primary:hover{
    color:#ffffff !important ;
}
// :host ::ng-deep .btn-radius:active {
//     border: 0px !important;
// }