
<div class="create-department">
    <div *nzModalTitle>
        <span>{{ ('model.customer.'+ actionNow.event) | translate }}</span>
    </div>
    <nz-tabset>
        <nz-tab nzTitle="{{ ('model.customer.info') | translate }}">
            <div class="form">
                <div class="col-12">
                    <form [formGroup]="form">
                        <div id="myDiv"></div>
                        <div class="row" >
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.customerCode' | translate }}
                                    <!-- <span class="text-danger">*</span> -->
                                </label>
                                <input formControlName="code" nz-input (ngModelChange)="codeExist.next($event)"
                                    [class]="form.get('code')?.touched || form.get('code')?.dirty ? getClassInvalid('code'):'null'"
                                    placeholder="{{ 'model.customer.customerCode' | translate }}" >
                                <ng-container *ngIf="form.get('code')?.touched || form.get('code')?.dirty">
                                    <small class="text-danger" *ngIf="form.get('code')?.hasError('required')">{{
                                        'model.department.error.required' | translate }}
                                    </small>
                                    <small class="text-danger" *ngIf="form.get('code')?.errors?.maxlength">{{
                                        'model.customer.error.maxLength' | translate:
                                        {param:lengthValidator.CODECUS_MAX_LENGTH.MAX} }}
                                    </small>
                                    <small class="text-danger" *ngIf="form.get('code')?.errors?.isBlank">
                                        {{ 'model.department.error.required' | translate }}
                                    </small>
                                    <small class="text-danger" *ngIf="form.get('code')?.errors?.isNotCode">
                                        {{ 'model.customer.error.codeInvalid' | translate }}
                                    </small>
                                    <small class="text-danger" *ngIf="formInvalid.code">{{
                                        'model.customer.error.codeExist' | translate }}</small>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.name' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input formControlName="name" nz-input
                                    [class]="form.get('name')?.touched || form.get('name')?.dirty ? getClassInvalid('name'):'null'"
                                    placeholder="{{ 'model.customer.name' | translate }}" #availableArea required>
                                <ng-container *ngIf="form.get('name')?.touched || form.get('name')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('name')?.hasError('required')">
                                        <small>{{ 'model.department.error.required' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('name')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.VALUE_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <small class="text-danger" *ngIf="form.get('name')?.errors?.pattern">
                                        {{ 'model.customer.error.nameInvalid' | translate }}
                                    </small>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.serviceProduct' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <div style=" position: relative">
                                    <nz-tree-select style="width: 100%;" [(ngModel)]="serviceproduct"
                                        [nzDefaultExpandAll]="false" #treeSelect
                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"
                                        [ngModelOptions]="{standalone: true}" [nzNodes]="listProduct" nzHideUnMatched
                                        nzAllowClear #availableArea required [nzDisabled]="actionNow.event === viewEvent"
                                        nzShowSearch nzCheckable
                                        nzPlaceHolder="{{ 'model.customer.serviceProduct' | translate }}">
                                    </nz-tree-select>
                                    <i nz-icon nzType="down" style="position: absolute; right: 10px; top:10px"
                                        *ngIf="serviceproduct?.length==0" nzTheme="outline"></i>
                                </div>
                                <ng-container *ngIf="form.get('serviceproduct')?.touched || form.get('serviceproduct')?.dirty">
                                    <span class="text-danger" *ngIf="serviceproduct?.length==0">
                                        <small>{{ 'model.department.error.required' | translate }}</small>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.tax' | translate }}
                                </label>
                                <input formControlName="tax" nz-input  (ngModelChange)="taxExist.next($event)"
                                    [class]="form.get('tax')?.touched || form.get('tax')?.dirty ? getClassInvalid('tax'):'null'"
                                    placeholder="{{ 'model.customer.tax' | translate }}">
                                <ng-container *ngIf="form.get('tax')?.touched || form.get('tax')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('tax')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.CODE_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('tax')?.hasError('pattern')">
                                        <small>{{ 'model.customer.error.taxInvalid' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="formInvalid.tax">
                                        <small>{{ 'model.customer.error.taxExist' | translate }}</small>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.phone' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input formControlName="phone" nz-input (ngModelChange)="phoneExist.next($event)"
                                    [class]="form.get('phone')?.touched || form.get('phone')?.dirty ? getClassInvalid('phone'):'null'"
                                    placeholder="{{ 'model.customer.phone' | translate }}" #availableArea required>
                                <ng-container *ngIf="form.get('phone')?.touched || form.get('phone')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('phone')?.hasError('required')">
                                        <small>{{ 'model.department.error.required' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('phone')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.PHONE_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('phone')?.errors?.isNotNumberPhone">
                                        <small>{{ 'model.customer.error.phoneInvalid' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="formInvalid.phone">
                                        <small>{{ 'model.customer.error.phoneExist' | translate }}</small>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>Email
                                    <span class="text-danger">*</span>
                                </label>
                                <input formControlName="email" type="email" nz-input (ngModelChange)="emailExist.next($event)"
                                    [class]="form.get('email')?.touched || form.get('email')?.dirty ? getClassInvalid('email'):'null'"
                                    placeholder="Email" required>
                                <ng-container *ngIf="form.get('email')?.touched || form.get('email')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('email')?.errors?.isNotEmail">
                                        <small>{{ 'model.customer.error.emailInvalid' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('email')?.hasError('required')">
                                        <small>{{ 'model.department.error.required' | translate }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('email')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.EMAIL_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="formInvalid.email">
                                        <small>{{ 'model.customer.error.emailExist' | translate }}</small>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.address' | translate }}
                                </label>
                                <input formControlName="address" nz-input
                                    [class]="form.get('address')?.touched || form.get('address')?.dirty ? getClassInvalid('address'):'null'"
                                    placeholder="{{ 'model.customer.address' | translate }}" #availableArea>
                                <ng-container *ngIf="form.get('address')?.touched || form.get('address')?.dirty">
                                    <span class="text-danger" *ngIf="form.get('address')?.errors?.maxlength">
                                        <small>{{ 'model.customer.error.maxLength' | translate:
                                            {param:lengthValidator.ADDRESS_MAX_LENGTH.MAX} }}</small>
                                    </span>
                                    <span class="text-danger" *ngIf="form.get('address')?.errors?.pattern">
                                        <small>{{ 'model.customer.error.addressInvalid' | translate }}</small>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="col-12 mb-2">
                                <label>{{ 'model.customer.customerType' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <nz-radio-group formControlName="customertype" class=" d-flex m-2"
                                    [nzDisabled]="actionNow.event === viewEvent">
                                    <label nz-radio nzValue="{{type.value}}" *ngFor="let type of customerType;">{{type.label|
                                        translate}}</label>
                                </nz-radio-group>
                            </div>
                            <div class="col-12 mb-2" *ngIf="source == 'customer'">
                                <nz-tabset>
                                    <nz-tab nzTitle="{{ 'model.customer.contactPerson' | translate }}">
                                        <form role="form" [formGroup]="contactForm">
                                            <nz-table>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-ant">{{ 'model.customer.fullname' | translate
                                                            }}</th>
                                                        <th class="text-center col-ant">{{ 'model.customer.phone' | translate }}
                                                        </th>
                                                        <th class="text-center col-ant">{{ 'model.customer.email' | translate }}
                                                        </th>
                                                        <th style="width:100px" *ngIf="actionNow.event !== viewEvent"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let data1 of contact; let indexContact = index;"
                                                        style="height: 40px;">
                                                        <td class="pl-3 text-center"
                                                            *ngIf="!(canEdit && indexContact == contactEditId)">
                                                            <span *ngIf="data1?.name?.length>=30" nz-tooltip
                                                                [nzTooltipTitle]="data1?.name">{{commonUntil.limitWord(data1?.name,30)
                                                                }}</span>
                                                            <span *ngIf="data1?.name?.length<30">{{data1?.name}}</span>
                                                        </td>
                                                        <td class="pl-3" *ngIf="canEdit && indexContact == contactEditId">
                                                            <input nz-input
                                                                placeholder="{{ 'model.customer.fullnameInput' | translate }}"
                                                                formControlName="nameedit" nzBorderless />
        
                                                        </td>
                                                        <td class="pl-3 text-center"
                                                            *ngIf="!(canEdit && indexContact == contactEditId)">
                                                            {{data1.phone}}
                                                        </td>
                                                        <td class="pl-3" *ngIf="(canEdit && indexContact == contactEditId)">
                                                            <input nz-input
                                                                placeholder="{{ 'model.customer.phoneInput' | translate }}"
                                                                formControlName="phoneedit" nzBorderless />
                                                        </td>
                                                        <td class="pl-3 text-center"
                                                            *ngIf="!(canEdit && indexContact == contactEditId)">
                                                            <span *ngIf="data1?.email?.length>=30" nz-tooltip
                                                                [nzTooltipTitle]="data1?.email">{{commonUntil.limitWord(data1?.email,30)
                                                                }}</span>
                                                            <span *ngIf="data1?.email?.length<30">{{data1?.email}}</span>
                                                        </td>
                                                        <td class="pl-3" *ngIf="(canEdit && indexContact == contactEditId)">
                                                            <input nz-input
                                                                placeholder="{{ 'model.customer.emailInput' | translate }}"
                                                                formControlName="emailedit" nzBorderless />
                                                        </td>
                                                        <td *ngIf="actionNow.event !== viewEvent">
                                                            <div class="action-table">
                                                                <mbf-button-action [action]="'edit-dark'"
                                                                    *ngIf="!(canEdit && indexContact == contactEditId)"
                                                                    nzTooltipTitle="{{'action.edit' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip
                                                                    (click)="onEditRowContact(data1, indexContact)">
                                                                </mbf-button-action>
                                                                <mbf-button-action [action]="'check-icon'"
                                                                    *ngIf="(canEdit && indexContact == contactEditId)"
                                                                    style="margin-right: 10px"
                                                                    nzTooltipTitle="{{'action.update' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip
                                                                    (click)="onUpdateRowContact(data1, isUpdate? data1?.id : indexContact)">
                                                                </mbf-button-action>
                                                                <mbf-button-action [action]="'close-icon'"
                                                                    *ngIf="(canEdit && indexContact == contactEditId)"
                                                                    nzTooltipTitle="{{'action.cancel' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip
                                                                    (click)="onCancelRowContact()">
                                                                </mbf-button-action>
                                                                <mbf-button-action [action]="'delete'"
                                                                    nzTooltipTitle="{{'action.delete' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip
                                                                    (click)="onDeleteRowContact(!isUpdate?indexContact:data1?.id)">
                                                                </mbf-button-action>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="vertical-align: top;"
                                                        *ngIf="contactForm.status=='INVALID'&&!canAddContact">
                                                        <td>
                                                            <ng-container
                                                                *ngIf="contactForm.get('nameedit')?.touched || contactForm.get('nameedit')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('nameedit')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.CODE_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('nameedit')?.errors?.pattern">
                                                                    <small>{{ 'model.customer.error.nameInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td>
                                                            <ng-container
                                                                *ngIf="contactForm.get('phoneedit')?.touched || contactForm.get('phoneedit')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('phoneedit')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.PHONE_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('phoneedit')?.errors?.isNotNumberPhone">
                                                                    <small>{{ 'model.customer.error.phoneInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td>
                                                            <ng-container
                                                                *ngIf="contactForm.get('emailedit')?.touched || contactForm.get('emailedit')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('emailedit')?.errors?.isNotEmail"><small>{{
                                                                        'error.email' | translate }}</small> </span>
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('emailedit')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.EMAIL_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="canAddContact&&actionNow.event !== viewEvent">
                                                        <td>
                                                            <input nz-input
                                                                placeholder="{{ 'model.customer.fullnameInput' | translate }}"
                                                                formControlName="name" nzBorderless />
                                                        </td>
                                                        <td><input nz-input
                                                                placeholder="{{ 'model.customer.phoneInput' | translate }}"
                                                                formControlName="phone" nzBorderless />
                                                        </td>
                                                        <td><input nz-input
                                                                placeholder="{{ 'model.customer.emailInput' | translate }}"
                                                                formControlName="email" nzBorderless />
                                                        </td>
                                                        <td>
                                                            <div class="action-table">
                                                                <mbf-button-action [action]="'edit-dark'" [disable]="true"
                                                                    nzTooltipTitle="{{'action.update' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip>
                                                                </mbf-button-action>
                                                                <mbf-button-action [action]="'delete'" [disable]="true"
                                                                    nzTooltipTitle="{{'action.delete' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip>
                                                                </mbf-button-action>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="vertical-align: top;"
                                                        *ngIf="contactForm.status=='INVALID'&&canAddContact&&actionNow.event !== viewEvent">
                                                        <td>
                                                            <ng-container
                                                                *ngIf="contactForm.get('name')?.touched || contactForm.get('name')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('name')?.errors?.maxlength">
                                                                    <small>{{ 'error.maxLength' | translate:
                                                                        {param:lengthValidator.CODE_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('name')?.errors?.pattern">
                                                                    <small>{{ 'model.customer.error.nameInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td>
                                                            <ng-container
                                                                *ngIf="contactForm.get('phone')?.touched || contactForm.get('phone')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('phone')?.errors?.maxlength">
                                                                    <small>{{ 'error.maxLength' | translate:
                                                                        {param:lengthValidator.PHONE_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('phone')?.errors?.isNotNumberPhone">
                                                                    <small>{{ 'model.customer.error.phoneInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td>
                                                            <ng-container
                                                                *ngIf="contactForm.get('email')?.touched || contactForm.get('email')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('email')?.errors?.isNotEmail">
                                                                    <small>{{'error.email' | translate }} </small></span>
                                                                <span class="text-danger"
                                                                    *ngIf="contactForm.get('email')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.EMAIL_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td></td>
                                                    </tr>
                                                    <tr *ngIf="actionNow.event !== viewEvent">
                                                        <td class="text-center" colspan="4" style="background-color: #fff;">
                                                            <a nz-button nzType="link" class="border-0 bg-white text-uppercase"
                                                                (click)="onAddContact()">
                                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                                    style="margin-top: -4px;" alt="circle-plus-primary-icon"
                                                                    srcset="" />
                                                                <span class="ml-2">{{ 'model.customer.addAcccount' | translate
                                                                    }}</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </form>
                                    </nz-tab>
                                    <nz-tab nzTitle="Người đại diện" *ngIf="form.value.customertype == 2">
                                        <form [formGroup]="delegateForm">
                                            <nz-table>
                                                <thead>
                                                    <tr>
                                                        <th class="text-center col-ant" style="width:100px">{{
                                                            'model.customer.fullname' | translate
                                                            }}</th>
                                                        <th class="text-center col-ant" style="width:100px">{{
                                                            'model.customer.phone' | translate }}
                                                        </th>
                                                        <th class="text-center col-ant">{{ 'model.customer.email' | translate }}
                                                        </th>
                                                        <!-- <th class="text-center col-ant">{{ 'model.customer.address' | translate
                                                            }}</th> -->
                                                        <th style="width: 100px;"
                                                            *ngIf="canEditDelegate||isUpdate||actionNow.event !== viewEvent">
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngIf="!canEditDelegate&&isUpdate && delegateId">
                                                        <td class="text-center">
                                                            <span *ngIf="delegate?.name?.length>=30" nz-tooltip
                                                                [nzTooltipTitle]="delegate?.name">{{commonUntil.limitWord(delegate?.name,30)
                                                                }}</span>
                                                            <span *ngIf="delegate?.name?.length<30">{{delegate?.name}}</span>
                                                        </td>
                                                        <td class="text-center">{{delegate?.phone}}</td>
                                                        <td class="text-center">
                                                            <span *ngIf="delegate?.email?.length>=30" nz-tooltip
                                                                [nzTooltipTitle]="delegate?.email">{{commonUntil.limitWord(delegate?.email,30)
                                                                }}</span>
                                                            <span *ngIf="delegate?.email?.length<30">{{delegate?.email}}</span>
                                                        </td>
                                                        <!-- <td class="text-center">
                                                            <span *ngIf="delegate?.address?.length>=30" nz-tooltip
                                                                [nzTooltipTitle]="delegate?.address">{{commonUntil.limitWord(delegate?.address,30)
                                                                }}</span>
                                                            <span
                                                                *ngIf="delegate?.address?.length<30">{{delegate?.address}}</span>
                                                        </td> -->
                                                        <td>
                                                            <div class="action-table" *ngIf="actionNow.event !== viewEvent">
                                                                <mbf-button-action [action]="'edit-dark'"
                                                                    nzTooltipTitle="{{'action.update' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip
                                                                    (click)="onEditRowDelegate()">
                                                                </mbf-button-action>
                                                                <mbf-button-action [action]="'delete'"
                                                                    nzTooltipTitle="{{'action.delete' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip
                                                                    (click)="onDeleteDelegate(delegate?.id)">
                                                                </mbf-button-action>
                                                            </div>
                                                        </td>
                                                    </tr>
        
                                                    <tr
                                                        *ngIf="canEditDelegate||!isUpdate||!delegateId&&actionNow.event !== viewEvent">
                                                        <td>
                                                            <input nz-input
                                                                placeholder="{{ 'model.customer.fullnameInput'| translate }}"
                                                                formControlName="name" nzBorderless />
                                                        </td>
        
                                                        <td>
                                                            <input nz-input
                                                                placeholder="{{ 'model.customer.phoneInput'| translate }}"
                                                                formControlName="phone" nzBorderless />
                                                        </td>
        
                                                        <td><input nz-input
                                                                placeholder="{{ 'model.customer.emailInput' | translate }}"
                                                                formControlName="email" nzBorderless />
                                                        </td>
        
                                                        <!-- <td><input nz-input
                                                                placeholder="{{ 'model.customer.addressInput'| translate }}"
                                                                formControlName="address" nzBorderless />
                                                        </td> -->
                                                        <td *ngIf="isUpdate||actionNow.event !== viewEvent">
                                                            <div class="action-table">
                                                                <mbf-button-action [action]="'delete'" [disable]="true"
                                                                    nzTooltipTitle="{{'action.delete' | translate}}"
                                                                    nzTooltipPlacement="top" nz-tooltip>
                                                                </mbf-button-action>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr style="vertical-align: top;">
                                                        <td class="text-center" style="background:#fff;">
                                                            <ng-container
                                                                *ngIf="delegateForm.get('name')?.touched || delegateForm.get('name')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('name')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.CODE_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('name')?.errors?.pattern">
                                                                    <small>{{ 'model.customer.error.nameInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td class="text-center" style="background:#fff;">
                                                            <ng-container
                                                                *ngIf="delegateForm.get('phone')?.touched || delegateForm.get('phone')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('phone')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.PHONE_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('phone')?.errors?.isNotNumberPhone">
                                                                    <small>{{ 'model.customer.error.phoneInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td>
                                                        <td class="text-center" style="background:#fff;">
                                                            <ng-container
                                                                *ngIf="delegateForm.get('email')?.touched || delegateForm.get('email')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('email')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.EMAIL_MAX_LENGTH.MAX} }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('email')?.errors?.isNotEmail">
                                                                    <small>{{'error.email' | translate }} </small></span>
                                                            </ng-container>
                                                        </td>
                                                        <!-- <td class="text-center" style="background:#fff;">
                                                            <ng-container
                                                                *ngIf="delegateForm.get('address')?.touched || delegateForm.get('address')?.dirty">
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('address')?.errors?.maxlength">
                                                                    <small>{{ 'model.customer.error.maxLength' | translate:
                                                                        {param:lengthValidator.ADDRESS_MAX_LENGTH.MAX}
                                                                        }}</small>
                                                                </span>
                                                                <span class="text-danger"
                                                                    *ngIf="delegateForm.get('address')?.errors?.pattern">
                                                                    <small>{{ 'model.customer.error.addressInvalid' | translate
                                                                        }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </td> -->
                                                        <td style="background:#fff;"></td>
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </form>
                                    </nz-tab>
                                </nz-tabset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </nz-tab>
        <nz-tab nzTitle="{{ ('model.customer.tickets') | translate }}" *ngIf="actionNow.event === viewEvent" >
            <div style="min-height:68vh">
            <nz-table class="list-ticket" #basicTable [nzData]="listTicket"
            [nzTableLayout]="'auto'" nzShowPagination nzShowSizeChanger [nzScroll]="{ x: '400px' }">
                <thead>
                    <tr>
                        <th class="text-center">#</th>
                        <th>{{ 'model.customer.ticketCode' | translate }}
                        </th>
                        <th>{{ 'model.customer.ticketTitle' | translate }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listTicket; let i = index">
                        <td class="text-center"> {{(ticketQuery.pageIndex - 1) * ticketQuery.pageSize + i + 1}}</td>
                        <td><a (click)="viewTicket(item.id)"><span nz-tooltip [nzTooltipTitle]="item.code">{{commonUntil.limitWordDes(item.code,25)}}</span></a></td>
                        <td style="width:50%">
                            <a (click)="viewTicket(item.id)"> <span nz-tooltip [nzTooltipTitle]="item.title">{{commonUntil.limitWordDes(item.title,25)}}</span></a>
                        </td>
                    </tr>
                    
                </tbody>
            </nz-table>
            <nz-empty nzNotFoundImage="simple" *ngIf="listTicket?.length==0"></nz-empty>
            <div class="p-3">
                <mb-pagination [pageIndex]="ticketQuery.pageIndex" [pageSize]="ticketQuery.pageSize" [total]="total"
                  (onChange)="onQuerySearch($event)">
                </mb-pagination>
              </div>
              </div>
        </nz-tab>
    </nz-tabset>
    
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <ng-container *ngIf="actionNow.event !== viewEvent">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                    [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                <mbf-button id="createBuilding" [type]="'primary'" [isLoading]="isLoading"  
                    [icon]="actionNow.event=='update'?'save':'plus-circle'" [shapeType]="'radius'"
                    [disabled]="actionNow.event === viewEvent"
                    [text]="actionNow.event=='update'?'action.save':'action.create_short'" (click)="onSubmit()">
                </mbf-button>
            </ng-container>
            <ng-container *ngIf="actionNow.event === viewEvent">
                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                    [text]="'action.view'" (click)="onUpdate()"></mbf-button>

                <mbf-button id="createBuilding" [customClass]="'mr-2'" [icon]="'close-circle'" [type]="'primary'"
                    [shapeType]="'radius'" [text]="'action.close'" (click)="onCancel()"></mbf-button>
            </ng-container>
        </div>
    </div>
</div>