<div class="page-top page-top-tickets">
    <div class="page-title">
        <h5>{{'model.sla.title' | translate }}</h5>
        <div class="note">
            <i nz-icon nzType="info-circle" nzTheme="outline" class="mr-2"></i>
            <i>SLA phù hợp đầu tiên sẽ được áp dụng cho ticket có điều kiện phù hợp</i>
        </div>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <form role="form" [formGroup]="searchForm">
                    <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
                        formControlName="keyword" (keyup.enter)="onSearch($event)" />
                </form>
                <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                    alt="search-icon" srcset="" />
            </div>

            <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
                <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
            </div>
            <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
                <div class="d-flex dropdown-fillter">
                    <div class="delete ml-2" *hasRoles="auth.SLA.DELETE">
                        <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
                            (click)="onMultiDelete(setOfCheckedId)">
                            <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
                        </button>
                    </div>
                    <div class="create ml-2" *hasRoles="auth.SLA.CREATE">
                        <button class="btn ant-btn-default btn-radius" (click)="onCreate()">
                            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                            <span style="color:#0060AF" class="ml-2">Tạo mới</span>
                        </button>
                    </div>
                    <div class="filter ml-2">
                        <button class="btn ant-btn-default btn-circle" (click)="openFillter()">
                            <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
                        </button>
                    </div>
                </div>
            </nz-dropdown-menu>
        </div>
        <div class="d-flex">
            <div class="delete ml-2" *hasRoles="auth.SLA.DELETE" nz-tooltip nzTooltipTitle="Xóa">
                <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"  
                    (click)="onMultiDelete(setOfCheckedId)">
                    <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
                </button>
            </div>
            <div class="create ml-2" *hasRoles="auth.SLA.CREATE">
                <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
                    <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                    <span style="color:#0060AF" class="ml-2">Tạo mới</span>
                </button>
            </div>
            <div class="filter ml-2" nz-tooltip nzTooltipTitle="Lọc">
                <button class="btn ant-btn-default btn-circle" (click)="openFillter()">
                    <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-body page-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <nz-table #basicTable [nzData]="slaList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                        [nzNoResult]="noDataResult">
                        <thead>
                            <tr>
                                <th style="width: 3%" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="updateAllChecked($event)">
                                </th>
                                <th class="text-center" style="width: 3%">#</th>
                                <th>Tiêu đề</th>
                                <th>Sản phẩm dịch vụ</th>
                                <th>Mô tả</th>
                                <th class="text-center w-140">Trạng thái</th>
                                <th class="text-center w-140">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                            <tr *ngFor="let data of slaList; let i = index" cdkDrag cdkDragLockAxis="y">
                                <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled ||!data.check_can_edit"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                <td class="text-center">{{(pageIndex - 1) * pageSize + i + 1}}</td>
                                <!-- {{ (pageIndex - 1)*pageSize + customerIndex + 1 }} -->
                                <td><a [routerLink]="'/admin/sla-management/detail/'+ data.id" nzTooltipTitle="{{data?.title}}" nzTooltipPlacement="top" nz-tooltip >{{
                                        commonUtil.limitWord(data.title, 40) }}</a></td>
                                <td  *ngIf="!data?.check_all_products">
                                    <a *ngIf="data?.product_list_name?.length>0" (click)="onView(data)"
                                        class="badge-table ">{{(data?.product_list_name)[0]?.name}}</a>
                                    <ng-template #HtmlContent>
                                        <div *ngFor="let product of getServiceProducts(data?.product_list_name);"
                                            class="badge-table ">{{product.name}}</div>
                                    </ng-template>

                                    <span [ngbTooltip]="HtmlContent" [tooltipClass]="'ngTemplateTips'"
                                        *ngIf="data?.product_list_name.length>1"
                                        [placement]="i + 1 === pageSize ? 'top' : 'bottom'" contentType="template"
                                        class="badge-table"> + {{data?.product_list_name?.length -
                                        1}}</span>
                                </td>
                                <td *ngIf="data?.check_all_products">Tất cả sản phẩm dịch vụ</td>
                                <td><a [nzTooltipTitle]="commonUtil.extractContent(data?.description)" (click)="onView(data)"
                                        nzTooltipPlacement="top" nz-tooltip>
                                        {{commonUtil.limitWord(commonUtil.extractContent(data.description),20)}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    <div>
                                        <nz-switch *hasRoles="auth.SLA.LOCK" [(ngModel)]="data.status" 
                                            [nzControl]="true" (click)="onUpdateStatus(data)"></nz-switch>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <div class="action-table">
                                        <mbf-button-action *hasRoles="auth.SLA.UPDATE" [action]="'edit'" [disable]="!data.check_can_edit"
                                            nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="onUpdate(data)">
                                        </mbf-button-action>
                                        <a *hasRoles="auth.SLA.DELETE">
                                            <mbf-button-action *ngIf="data.dept_code !== 'TCT'" [action]="'delete'" [disable]="!data.check_can_edit"
                                                nzTooltipTitle="{{'action.delete' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onDelete(data)">
                                            </mbf-button-action>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
                            (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                    <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right"
                        [nzTitle]="resetFilter" (nzOnClose)="onClose()">
                        <ng-template #resetFilter class="d-flex">
                            <div class="row">
                                <div class="col-9">
                                    <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
                                </div>
                                <div class="col-3" style="text-align: right; padding-right: 40px;" >
                                    <a (click)="onResetFilter()"><img src="assets/images/icon/resetFilter.svg"
                                            alt=""></a>
                                </div>
                            </div>
                        </ng-template>
                        <ng-container *nzDrawerContent>
                            <div class="col-12 module-fillter mt-4">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <label>Sản phẩm dịch vụ
                                        </label>
                                        <nz-select [(ngModel)]="product_id" nzShowSearch nzAllowClear
                                            nzPlaceHolder="Chọn sản phẩm dịch vụ"
                                            (ngModelChange)="onChangeServiceProduct($event)">
                                            <nz-option *ngFor="let item of productList" [nzCustomContent]="true"
                                                [nzValue]="item.id" [ngbTooltip]="item.name" [nzLabel]="item.name"
                                                #availableArea required>
                                                {{item?.name}}</nz-option>
                                        </nz-select>
                                    </div>
                                </div><br>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-filter" (click)="onFilterData()"><b>ÁP
                                                DỤNG</b></button>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </nz-drawer>
                    <ng-template #noDataResult>
                        <mb-no-data></mb-no-data>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>