<div class="page-top">
    <div class="page-title">
        <h5>{{'DANH SÁCH TRIGGER' | translate }}</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <form role="form" [formGroup]="searchForm">
                    <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
                        formControlName="keyword" (keyup.enter)="onSearch($event)" />
                </form>
                <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                    alt="search-icon" srcset="" />
            </div>
        </div>

        <div class="delete ml-2">
            <button class="btn ant-btn-default btn-circle" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu2" nz-tooltip nzTooltipTitle="Sắp xếp"
                [nzClickHide]="false" [(nzVisible)]="visible" [nzPlacement]="'bottomLeft'">
                <img src="assets/images/icon/share.svg" alt="trash-icon" srcset="" />
            </button>
            <nz-dropdown-menu #menu2="nzDropdownMenu">
                <div class="card" style="width:300px">
                    <div class="card-header d-flex">
                        <div class="ant-card-title">
                            Sắp xếp
                        </div>
                        <div class="ant-card-extra">
                            <a (click)="onResetSearch()">
                                <img src="assets/images/icon/resetFilter.svg" alt="trash-icon" srcset="" />
                            </a>
                            <a class="ml-3" (click)="visible = false">
                                <img src="assets/images/icon/times.svg" alt="trash-icon" srcset="" />
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <nz-radio-group [(ngModel)]="orderBy" (ngModelChange)="onChangeOrderBy($event)">
                            <label nz-radio *ngFor="let orderBy of listOrderBy;"
                                [nzValue]="orderBy.value">{{orderBy.label}}</label>
                        </nz-radio-group>
                        <hr>
                        <nz-radio-group [(ngModel)]="sortBy" (ngModelChange)="onChangeSortBy($event)">
                            <label nz-radio *ngFor="let sortBy of listSortBy;"
                                [nzValue]="sortBy.value">{{sortBy.label}}</label>
                        </nz-radio-group>
                    </div>
                </div>
            </nz-dropdown-menu>
        </div>
        <div class="main-fillter p-2" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1"
            [nzPlacement]="'bottomRight'">
            <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
        </div>
        <nz-dropdown-menu #menu1="nzDropdownMenu">
            <div class="d-flex dropdown-fillter">
                <div class="delete ml-2" *hasRoles="auth.TRIGGER.DELETE">
                    <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
                        (click)="onDeleteAll(setOfCheckedId)">
                        <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
                    </button>
                </div>
                <div class="create ml-2" *hasRoles="auth.TRIGGER.CREATE">
                    <button class="btn ant-btn-default btn-radius" (click)="onCreate()">
                        <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                        <span style="color:#0060AF" class="ml-2">Tạo mới</span>
                    </button>
                </div>
            </div>
        </nz-dropdown-menu>
        <div class="hide-mobile">

            <div class="delete ml-2" *hasRoles="auth.TRIGGER.DELETE">
                <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0" nz-tooltip nzTooltipTitle="Xóa"
                    (click)="onDeleteAll(setOfCheckedId)">
                    <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
                </button>
            </div>
            <div class="create ml-2" *hasRoles="auth.TRIGGER.CREATE">
                <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
                    <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                    <span style="color:#0060AF" class="ml-2">Tạo mới</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="table-scroll-report">
                        <nz-table #basicTable [nzTableLayout]="'auto'" [nzData]="triggerList"
                            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" nzShowPagination
                            nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
                            <thead>
                                <tr>
                                    <th class="text-center" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                        (nzCheckedChange)="onAllChecked($event)"></th>
                                    <th class="text-center">#</th>
                                    <th>Tên trigger</th>
                                    <th>Thời gian tạo</th>
                                    <th>Thời gian cập nhật gần nhất</th>
                                    <th>Mô tả</th>
                                    <th class="text-center">Trạng thái</th>
                                    <th class="text-center">Thao tác</th>
                                </tr>
                            </thead>
                            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                                <tr *ngFor="let data of triggerList; let triggerIndex = index;" cdkDrag
                                    cdkDragLockAxis="y">
                                    <td class="col-xs text-center" style="padding: 0 !important;"
                                        [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled"
                                        (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                    <td class="text-center col-xs">{{ (pageIndex - 1)*pageSize + triggerIndex + 1 }}
                                    </td>
                                    <td class="col-lg"><a [routerLink]="'/admin/trigger/detail/'+ data.id">{{ data.title }}</a></td>
                                    <td class="col-md">{{ data.created_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td class="col-md">{{ data.updated_at | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                                    <td class="col-lg">
                                        <!-- <ng-template #HtmlDescription>
                                            <div [innerHtml]="data.descriptions">
                                            </div>
                                        </ng-template> -->

                                        <!-- <span [ngbTooltip]="HtmlDescription" [tooltipClass]="'ngTemplateDes'"
                                            nzTooltipPlacement="top" >
                                            {{commonUtil.limitWord(commonUtil.extractContent(data.descriptions),30)}}</span> -->
                                        <span [nzTooltipPlacement]="['top']" nz-tooltip [nzTooltipTitle]="commonUtil.extractContent(data.descriptions)">{{commonUtil.limitWordDes(commonUtil.extractContent(data.descriptions),45)}}</span>

                                    </td>
                                    <td class="text-center col-sm">
                                        <div>
                                            <nz-switch *hasRoles="auth.TRIGGER.LOCK" [(ngModel)]="data.status"
                                                (click)="onUpdateStatus(data)"></nz-switch>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="action-table col-sm d-inline">
                                            <mbf-button-action *hasRoles="auth.TRIGGER.UPDATE" [action]="'edit'"
                                                nzTooltipTitle="{{'action.update' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onUpdate(data)">
                                            </mbf-button-action>
                                            <mbf-button-action *hasRoles="auth.TRIGGER.DELETE" [action]="'delete'"
                                                nzTooltipTitle="{{'action.delete' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onDelete(data)">
                                            </mbf-button-action>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
                            (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>