.ant-card-extra {
    padding: 0;
}

:host ::ng-deep .card-body .ant-radio-wrapper {
    margin-bottom: 8px;
    font-weight: 400;
}

.card-header:first-child {
    height: 40px;
}
a {
    color: #000!important;
  }
:host ::ng-deep .cdk-drag-preview {
    display: table;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 4px;
}

:host ::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

:host ::ng-deep .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.col-xs {
    width: 3%;
}

.col-sm {
    width: 10%;
}

.col-lg {
    width: 20%;
}
.col-md{
    width: 15%;
}
.col-xl {
    width: 25%;
}
.ant-table-tbody>tr>td {
    padding: 3px 8px 3px 6px !important;
}

th.ant-table-cell {
    padding: 6px !important;
}

:host ::ng-deep .btn-radius :hover {
    color: #0060AF !important;
    border: none;
}
.hide-mobile{
    display: flex;
}
@media (max-width: 1300px) {
    .table-scroll-report ::ng-deep .ant-table-container {
     width: 1600px !important;

   }
   .table-scroll-report {
     overflow: auto;
   }
 }
 @media (max-width: 1200px) {
    .searchInputWrapper {
      width: 95%;
    }

    .page-top .actions {
      display: flex !important;
    }

    .hide-mobile {
      display: none !important;
    }
  }

  :host ::ng-deep .btn-radius :hover {
    color: #0060AF !important;
    border: none;
  }
