.ant-card-extra{
    padding: 0;
}
.departmenttree{
    max-height: 78vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 8px;
  }
  
::-webkit-scrollbar-track {
    border-radius: 15px;
  }
::-webkit-scrollbar-thumb {
    background: #E0E0E0; 
    border-radius: 15px;
  }
:host ::ng-deep .ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected{
  background-color: #fff;
}
.ant-table-tbody > tr > td{
  text-align: left;
  padding: 3px 8px 3px 16px !important;
}
table tr:nth-child(n) td {
  background-color: #fff;
}
:host ::ng-deep .btn-radius :hover {
  color: #0060AF !important;
  border: none;
}
