<div class="page-top page-top-tickets">
  <div class="page-title">
    <h5>{{'model.department.title' | translate }}</h5>
  </div>
  <div class="actions">
    <div class="searchInputWrapper">
      <div class="w-100">
        <form role="form" [formGroup]="searchForm">
          <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
            formControlName="keyword" (keyup.enter)="onSearch($event)" />
        </form>
        <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg" alt="search-icon"
          srcset="" />
      </div>
      <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
        <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
      </div>
      <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
        <div class="d-flex dropdown-fillter">
          <div class="refesh ml-2">
            <button class="btn ant-btn-default btn-circle">
              <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
            </button>
          </div>
          <div class="export ml-2">
            <button class="btn ant-btn-default btn-circle" (click)="exportData()" nz-tooltip nzTooltipTitle="Export">
              <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
            </button>
          </div>
          <div class="delete ml-2" *ngIf="!is_department_sync">
            <button *hasRoles="auth.DEPARTMENT.DELETE" class="btn ant-btn-default btn-circle"
              [disabled]="setOfCheckedId.size === 0" (click)="onDelete(setOfCheckedId)">
              <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
            </button>
          </div>
          <div *ngIf="!is_department_sync" class="create ml-2">
            <button *hasRoles="auth.DEPARTMENT.CREATE" class="btn ant-btn-default btn-radius" (click)="onCreate()">
              <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
              <span style="color:#0060AF" class="ml-2">Tạo mới</span>
            </button>
          </div>
        </div>
      </nz-dropdown-menu>

    </div>
    <div class="d-flex">
      <!-- <div class="refesh ml-2">
        <button class="btn ant-btn-default btn-circle">
          <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
        </button>
      </div> -->
      <div class="export ml-2">
        <button class="btn ant-btn-default btn-circle" (click)="exportData()"  nz-tooltip nzTooltipTitle="Export">
          <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
        </button>
      </div>
      <div class="delete ml-2" *ngIf="!is_department_sync">
        <button *hasRoles="auth.DEPARTMENT.DELETE" class="btn ant-btn-default btn-circle"
          [disabled]="setOfCheckedId.size === 0" (click)="onDeleteAll(setOfCheckedId)">
          <img src="assets/images/icon/trash.svg" alt="trash-icon" srcset="" />
        </button>
      </div>
      <div class="create ml-2" *ngIf="!is_department_sync">
        <button class="btn ant-btn-default btn-radius" (click)="onCreate()">
          <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
          <span style="color:#0060AF" class="ml-2">Tạo mới</span>
        </button>
      </div>
    </div>
    <!-- <div class="filter ml-2">
      <button class="btn ant-btn-default btn-circle">
        <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
      </button>
    </div> -->
  </div>
</div>
<div class="page-body  responsive-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3 pr-0">
        <div class="card h-100">
          <div class="card-header d-flex">
            <h6>Cây đơn vị</h6>
            <div class="ant-card-extra">
              <a (click)="onRefresh()"><img src="assets/images/icon/resetFilter.svg" alt="trash-icon" srcset=""></a>
            </div>
          </div>
          <div class="cbody p-3 departmenttree">

            <div class="tree">
              <nz-tree [nzData]="nodes" (nzCheckBoxChange)="nzEvent($event)" nzCheckable nzMultiple
                [nzCheckedKeys]="defaultCheckedKeys" [nzExpandedKeys]="defaultExpandedKeys"
                [nzSelectedKeys]="defaultSelectedKeys">
              </nz-tree>
            </div>
          </div>
        </div>
      </div>
      <div class="col-9">
        <div class="card">
          <nz-table #basicTable [nzData]="departmentList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            (nzQueryParams)="onQueryParamsChange($event)" [nzNoResult]="noDataResult">
            <thead>
              <tr>
                <!-- <th class="text-center" [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                  (nzCheckedChange)="updateAllChecked($event)">
                </th> -->
                <th class="text-center">#</th>
                <th nzColumnKey="dept_code" [nzSortFn]="true" [nzSortPriority]="2">Mã đơn vị</th>
                <th nzColumnKey="dept_name" [nzSortFn]="true" [nzSortPriority]="1">Tên đơn vị</th>
                <th nzColumnKey="parent_name" [nzSortFn]="true" [nzSortPriority]="3">Đơn vị cấp trên</th>
                <th class="text-center" style="width:98px"> </th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of departmentList; let i = index">
                <td class="text-center" style="padding: 8px !important">{{ (departmentQuery.pageIndex -
                  1)*departmentQuery.pageSize + i + 1 }}</td>
                <td><span nzTooltipTitle="{{data?.dept_code}}" nz-tooltip>{{ commonUtil.limitWord(data.dept_code,20)
                    }}</span></td>
                <td (click)="onView(data)"><a nzTooltipTitle="{{data?.dept_name}}" nzTooltipPlacement="top"
                    nz-tooltip>{{data?.dept_name}}</a></td>
                <td><span >{{data?.parent_name}}</span></td>
                <td class="text-center pl-0" style="width:98px">
                  <div class="action-table d-flex">
                    <a *hasRoles="auth.DEPARTMENT.UPDATE">
                      <mbf-button-action *ngIf="!is_department_sync" [action]="'edit'"
                        (click)="onUpdate(data)">
                      </mbf-button-action>
                    </a>
                    <a *hasRoles="auth.DEPARTMENT.DELETE">
                      <mbf-button-action *ngIf="data.dept_code !== 'TCT' && !is_department_sync" [action]="'delete'"
                        nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top" nz-tooltip
                        (click)="onDelete(data)">
                      </mbf-button-action>
                    </a>
                  </div>
                </td>

              </tr>
            </tbody>
          </nz-table>
          <div class="p-3">
            <mb-pagination [pageIndex]="departmentQuery.pageIndex" [pageSize]="departmentQuery.pageSize" [total]="total"
              (onChange)="onQuerySearch($event)">
            </mb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noDataResult>
  <mb-no-data></mb-no-data>
</ng-template>