<div class="upload d-flex box-image">
    <div class="show-file-area pb-2">
        <div class="d-flex pt-2 " *ngFor="let f of files; let ind = index">
            <img id="preview-img" *ngIf="imgFile" [src]="imgFile">
        </div>
    </div>
    <div class="mt-4 ml-4">
        <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
            <div class="text-wrapper">
                <input type="file" [accept]="acceptFiles" class="fileAva" name="fileAva" id="fileAva"
                    (change)="openFile($event)" [multiple]="multiple ? 'multiple' : ''">
                <label for="fileAva" class="mb-0 camera">
                    <img src="assets/images/icon/camera.svg" alt="">
                </label>
            </div>
        </div>
    </div>
</div>