.text-wrapper {
  display: table-cell;
  vertical-align: middle;

}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}

.dropzone {
  height: 43px;
  display: table;
  width: 40%;
  background-color: #eee;
  border: hidden !important;
  border-radius: 30px !important;
}

input[type="file"] {
  display: none;
}

.textLink {
  background-color: #f45e61;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.textLink::before {
  content: "\f093";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
  font-size: large;
  margin-right: 10px;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  text-align: center;
}


.fileItem {
  width: calc(25% - 6px);
  overflow: hidden;
  height: fit-content;
  margin: 3px;
  padding: 10px;
  display: block;
  position: relative;
  float: left;
  border: 2px dashed #778899;
  border-radius: 5px;
  transition: .3s ease;
}

.fileItem:hover {
  border: 2px solid #c33838;
  background-color: #c33838bf;
}

.fileItem:hover .fileItemIcon::before {
  content: "\f00d";
  color: whitesmoke;
}

.fileItem:hover .fileItemText {
  color: whitesmoke;
}

.fileItemIconDiv {
  text-align: center;
}

.fileItemIcon::before {
  font-style: normal;
  content: "\f15b";
  color: #778899;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.fileItemText {
  text-align: center;
  margin-top: 10px;
  height: 40px;
}

.select-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
  color: rgba(33, 33, 33, 0.85);
}

.accept-file {
  color: rgba(158, 158, 158, 0.9);
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0 !important;
}

::ng-deep.ant-progress-bg {
  height: 4px !important;
  border-radius: unset !important;
}

.size-info {
  color: #1672EC;
  border: 1px solid #1672EC;
  border-radius: 4px;
  padding: 6px 10px;
  font-weight: 600;
  font-size: 11px;
}

#preview-img {
  height: 120px;
  width: 120px;
  border-radius: 79px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: relative;
  /* margin-left: 80px; */
}

.box-image {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 79px;
  flex: none;
  order: 0;
  flex-grow: 0;
  bottom: 20px;
}
/* 
.none-icon {
  bottom: 88px;
  right: -10px;
  position: absolute;
  top: -9px;
} */
.camera {
  bottom: -11px;
  right: 1px;
  position: absolute;
}