.col-xs {
    width: 7%;
}

.col-sm {
    width: 10%;
}

.col-md {
    width: 20%;
}

:host ::ng-deep .cdk-drag-preview {
    display: table;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    padding: 4px;
}

tr.cdk-drag.cdk-drag-preview {
    display: table;
}

:host ::ng-deep .cdk-drag-placeholder {
    opacity: 0;
}

:host ::ng-deep .cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.th-action {
    margin-bottom: 0;
    margin-top: 10px;
    width: 80%;
}

:host ::ng-deep .btn-radius :hover {
    color: #0060AF !important;
    border: none;
}