<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="d-inline date-filter mb-3">
                    <div class="d-flex  ">
                      <label>Thời gian:</label>
                      <nz-date-picker nzMode="year" style="width:300px; height: 31px;" [(ngModel)]="date" nzPlaceHolder="Chọn năm" (ngModelChange)="onChangeDate()"></nz-date-picker>

                    </div>
                  </div>
                <div class="col-12">
                    <div class="card">
                        <div class="table-scroll-report">
                        <nz-table #basicTable nzOuterBordered  [nzData]="data">
                            <thead>
                                <tr>
                                    <th class="text-center" style="width: 5%;">#</th>
                                    <th class="text-left"> Đơn vị</th>
                                    <th class="text-left">Sản phẩm dịch vụ</th>
                                    <th class="text-left">Chỉ tiêu</th>
                                    <th class="text-left">KPI năm {{getYear()}}(%)</th>
                                    <th class="text-left" ><span>Yêu cầu đã xử lý</span></th>
                                    <th class="text-left"><span>Yêu cầu đã xử lý đạt KPI</span></th>
                                    <th class="text-left"><span>Kết quả(%)</span></th>
                                    <th>Đánh giá</th>
                                    <th><a class="ml-2"><img src="assets/images/icon/menu.svg"></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item  of data; let i=index;">
                                    <td class="text-center">{{ (reportQuery.pageIndex - 1)*reportQuery.pageSize + i + 1 }}</td>
                                    <td class="text-left" [nzTooltipTitle]="common.extractContent(item?.department_name_path)" nzTooltipPlacement="topLeft" nz-tooltip [nzTooltipOverlayStyle]="styleTooltip">
                                        {{common.limitWord(item.department_name, 20) }}
                                    </td>
                                    <td class="text-left">{{common.limitWord(item.product_name, 20) }}</td>
                                    <td class="text-left">{{item.quota}}</td>
                                    <td class="text-left"><span>{{item.kpi_year}}</span></td>
                                    <td class="text-left"><span>{{item.total_request_handled}}</span></td>
                                    <td class="text-left"><span>{{item.is_on_time}}</span></td>
                                    <td class="text-left"><span>{{item.rate_on_time}}</span></td>
                                    <td class="text-left"><span></span></td>
                                    <td></td>
                                </tr>
                                <tr *ngIf="data?.lenght==0"> <nz-empty></nz-empty></tr>
                            </tbody>
                        </nz-table>
                        </div>
                        <div class="p-3">
                            <mb-pagination [pageIndex]="reportQuery.pageIndex" [pageSize]="reportQuery.pageSize" [total]="total"
                              (onChange)="onQuerySearch($event)">
                            </mb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
