<nz-header class="header-end-user">
  <div class="app-header d-flex justify-content-between align-items-center px-4 vertical-center sticky-top">
    <div class="d-flex justify-content-center align-items-center">
      <a (click)="onPage()"><img src="assets/images/icon/EtkEnduser.svg"  height="55px" alt="" class="img"></a>
    </div>
    <div class="header-right">
      <!-- <div class="menu-link-item">
                <nz-badge [nzCount]="0" nzShowZero>
                    <a class="head-example"><img src="assets/images/icon/message.svg" alt="en"></a>
                </nz-badge>
            </div> -->
      <div class="menu-link-item">
        <nz-badge [nzCount]="totalNotifi" class="notifi" [nzTitle]="null">
          <a><img src="assets/images/icon/notification.svg" nz-popover nzPopoverPlacement="bottomRight"
              [nzPopoverOverlayClassName]="'popoverNotifi'" [nzPopoverTitle]="titleTemplate"
              [(nzPopoverVisible)]="visibleNotify"
                  (nzPopoverVisibleChange)="change($event)"
              [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click"></a>
          <ng-template #titleTemplate>
            <div class="d-flex">
              <div class="ant-card-title text-uppercase">
                Thông báo
              </div>
              <div class="ant-card-extra">
                <a (click)="onViewAll()" [class]="totalNotifi==0?'cursor-none':'text-notice'">
                  Đánh dấu tất cả đã xem <img src="assets/images/icon/t3-primary.svg" alt="trash-icon" srcset="" />
                </a>
              </div>
            </div>
          </ng-template>
          <ng-template #contentTemplate>
            <div class="list-notifi" id="box-noti" (scroll)="this.scrollNotify.next($event)">
              <div *ngFor="let item of notifiList;" class="notification" [ngClass]="item.read_at?'notifi_read':''"
                    (click)="viewTicket(item)">
                    <div class=" w-100">
                      <span [innerHTML]="getTitleNotifi(item?.data)"></span>
                      <img *ngIf="!item.read_at" src="assets/images/icon/dot.svg" class="dot_notifi" alt="trash-icon"
                        srcset="" />
                    </div>
                    <div>
                      <span *ngIf="item?.data?.join_type == 1">
                        <a (click)="viewTicket(item)" [ngClass]="!item.read_at?'text-black':''"><b>
                            {{item?.data.content_ticket_title }} </b></a> {{ item?.data.content}}
                      </span>
                      <span *ngIf="item?.data?.join_type == 2">
                        {{ item?.data.content}} <a [ngClass]="!item.read_at?'text-black':''"
                          (click)="viewTicket(item)"><b>{{item?.data.content_ticket_title }} </b></a>
                      </span>
                    </div>
                    <div class="w-100" [ngClass]="item.read_at?'time-line':'time-line-read'">
                      <p style="float:right;"><i>{{item.readable_created_at }}</i></p>
                    </div>
                  </div>
              <nz-spin nzSimple *ngIf="isLoading" class="text-center"></nz-spin>
              <div *ngIf="notifiList.length==0" class="notification">
                <nz-empty nzNotFoundImage="simple" [nzNotFoundContent]="'Bạn chưa có thông báo nào'"></nz-empty>
              </div>
            </div>
          </ng-template>
        </nz-badge>
      </div>
      <nz-divider nzType="vertical"></nz-divider>
      <div class="d-flex mr-2 align-items-center justify-content-center" nz-popover [(nzPopoverVisible)]="visible"
        nzPopoverTrigger="click" [nzPopoverContent]="dropdownTemplate" [nzPopoverPlacement]="checkAdmin?'bottomLeft':'bottomRight'"
        [nzPopoverOverlayClassName]="'dropdown-infor'">
        <div class="avatar mr-2">
          <a>
            <img class="avatar__image " [src]="imgFile ? urlgetway + imgFile : 'assets/images/ava-default.jpg'"> </a>
          <ng-template #dropdownTemplate>
            <div class="text-dropdown">
              <p style="font-size: 16px;padding-left: 5px;border-bottom: 1px solid #E0E0E0;padding-bottom:12px;"><a
                  (click)="onUpdateProfile()"><img src="assets/images/profile.png" alt="" class="img-top"><span
                    class="ml-3">Thông tin
                    cá nhân</span></a></p>
              <!-- <p *ngIf="!is_user_sync"
                style="font-size: 16px;padding-left: 5px;padding-top: 11px;padding-left:8px;border-bottom: 1px solid #E0E0E0;padding-bottom:12px;">
                <a (click)="onChangePassword()"><img src="assets/images/icon/key-pass.svg" alt="" class="img-top"><span
                    class="ml-3">Đổi mật
                    khẩu</span></a>
              </p> -->
              <p><button nz-button class="btn-login" nzType="default" (click)="logout()">ĐĂNG
                  XUẤT</button></p>
            </div>
          </ng-template>
        </div>
        <a class="hide-mobile">
          <div class="username">{{ currentUser?.name }}</div>
        </a>
      </div>
      <div class="d-flex  align-items-center admin-page" *ngIf="checkAdmin">
        <button class="btn ant-btn-default switch" (click)="toAdmin()">
          <img class="ml-1 icon-switch" src="assets/images/icon/arrowBlue.svg" srcset="" />
          <span class="ml-3 text-switch hide-mobile">ADMIN</span>
        </button>
      </div>
      <!-- <a (click)="logout()"> <img src="assets/images/icon/logout-primary.svg" alt="en"> </a> -->
    </div>

  </div>

</nz-header>