nz-header {
    background-color: white;
}

.title {
    color: #1672EC;
}

.vertical-center {
    padding: 6px 10px;
    height: 100%;
}

h5 {
    font-size: 15px;
    line-height: 3;
    font-weight: 700;
}

h5.active {
    font-weight: 500;
}

.menu-link-item {
    margin: 0 10px;
}

.btn-topbar {
    font-family: 'Roboto';
    box-shadow: 2px 4px 5px rgba(186, 231, 254, 0.15);
    border-radius: 71px;
}

.ant-layout-header {
    padding: 0 10px;
}

.avatar {
    border-radius: 50%;
    position: relative;
    height: 36px;
    width: 36px;
}

.ant-divider-vertical {
    height: 37px !important;
    border-left: 0.8px solid #ECECF3 !important;
}

.avatar__image {
    border-radius: 50%;
    position: absolute;
    height: 100%;
    width: 100%;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: 400;
    font-size: 16px;
    color: #1672EC;
    line-height: 17px;
}

.switch {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #1672EC;
    border-radius: 11px;
}

.text-switch {
    color: #1672EC;
}
.ant-layout-header {
    height: 56px;
    padding: 0 0 0  50px;
    color: rgba(0,0,0,.85);

}
@media (max-width: 1775px) {

    .header-right {
        width: 39%;
        justify-content: end;
    }
    .admin-page{
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    
}

@media (max-width: 1000px) {
    .header-right {
        width: 65%;
    }
}
@media (max-width: 1167px){
    .hide-mobile{
      display: none!important;
    }
    .ant-layout-header{
        padding: 0 0px;

    }
  }
  @media (max-width: 600px){
   ::ng-deep .ant-layout-header{
        padding: 0 0px;

    }
    ::ng-deep .ant-layout-header .img{
        height: 30px;
    }
  }
  ::ng-deep app-enduser-header{
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  .img-top{
    margin-top: -4px;
  }
  .ant-card-extra {
    padding: 5px 0;
    color: rgba(117, 117, 117, 0.85);
    font-size: 12px;
  
  }
  
  .ant-card-title {
    font-size: 16px;
    color: rgba(33, 33, 33, 0.85);
    font-weight: bold;
  }
  
  .dot_notifi {
    float: right;
    padding: 7px 0;
  }
  :host ::ng-deep .ant-badge-count {
    min-width: 7px;
    height: 12px;
    padding: 0px 3px;
    font-size: 10px;
    line-height: 13px;
  }
  
  :host ::ng-deep .ant-badge {
    margin-right: 7px;
  }
  
  :host ::ng-deep .notifi .ant-badge-count {
    top: 4px;
    right: 3px;
  }
  ::ng-deep .popoverNotifi .ant-popover-inner-content{
    min-width: 400px;
  }

  ::ng-deep .dropdown-infor .ant-popover-inner{
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 5%), 0 6px 16px 0 rgb(0 0 0 / 3%), 0 9px 28px 8px rgb(0 0 0 / 27%);
  }

  .time-line-read{
    font-weight: 500 !important;
  }
  .notification:hover {
    background: linear-gradient(0deg, rgba(39, 39, 39, 0.1), rgba(39, 39, 39, 0.1)), #FFFFFF;
  }
  ::ng-deep .popoverNotifi .ant-popover-inner-content{
    padding: 0 !important;
  }
  .text-notice{
    color: #1890ff;
  }
  .cursor-none:hover{
    color: inherit;
  }