<div class="create-department">
    <div *nzModalTitle>
        <span class="text-uppercase">Thông tin chuyển xử lý</span>
    </div>
    <div class="flow">
            <div class="form-group row">
                <label class="col-4">Người nhận</label>
                <div class="col-8">{{data?.assignee?.name|| 'Chưa có người nhận'}}</div>
            </div>
            <!-- <div class="form-group row">
                <label class="col-4">Chức vụ</label>
                <div class="col-8">{{data?.assignee?.possition}}</div>
            </div> -->
            <div class="form-group row">
                <label class="col-4">Đơn vị</label>
                <div class="col-8">{{data?.department_name}}</div>
            </div>
            <div class="form-group row" *ngIf="data?.assignee?.name">
                <label class="col-4">Thời gian nhận</label>
                <div class="col-8">{{data?.excute_info?.start_time | date:'HH:mm:ss dd/MM/yyyy' }}</div>
            </div>
            <div class="form-group row" *ngIf="data?.assignee?.name">
                <label class="col-4">Thời gian hoàn thành</label>
                <div class="col-8" *ngIf="statusTicket != 4">{{data?.excute_info?.end_time | date:'HH:mm:ss dd/MM/yyyy' }}</div>
            </div>
            <div class="form-group row">
                <label class="col-4">Thời gian đã xử lý</label>
                <div class="col-8" *ngIf="statusTicket != 4">{{kpi}}</div>
            </div>
            <div class="form-group row" *ngIf="data?.helpdesk !=1">
                <label class="col-4">KPI nội bộ</label>
                <div class="col-8" *ngIf="statusTicket != 4">{{convertTimeSLA(data?.excute_info)}} </div>
            </div>
            <div class="form-group row" *ngIf="data?.assignee?.name&& data?.helpdesk !=1">
                <label class="col-4">Tình trạng xử lý</label>
                <div class="col-8">{{statusTicket ==4 ? 'Đã hủy' :data?.process_name}}</div>
            </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [icon]="'close-circle'" [type]="'primary'"
                [shapeType]="'radius'" [text]="'action.close'" (click)="onCancel()">
            </mbf-button>
        </div>
    </div>
</div>