.searchButton {
  position: relative;
  background-color: white;
  border-radius: 18px;
  width: 100%;
  border: unset;
  height: 40px;

}

/* ::ng-deep.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
  height: 38px;
} */

.righ-footer .tag {
  width: 108px;
  min-width: 108px;
}

.vertical-center {
  padding: 10px 52px;
}

.tag-warning {
  background: #FF8A00;
  color: #FFFFFF;
}

.tags {
  display: flex;
}

.tag-default {
  background: #e9f5ff;
  color: #1672ec;
}

.tag {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
}

.tag-warning1 span {
  font-size: 12px;
}

.card-ticket {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF !important;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.title.d-flex {
  font-size: 16px;
}

.searchInputWrapper {
  width: 100%;
}

.ant-form-select,
.calendar {
  width: 20.44%;
}

.btn-search {
  width: 11.32%;
}

.ant-form-select {
  padding-right: 0;
}

.page-action {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 40%;
}

.searchButton h6 {
  margin-bottom: 0;
}

::ng-deep .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
}

.searchInputIcon {
  left: 12px;
}

::ng-deep .font-highlight {
  color: black !important;
  font-weight: 600 !important;
}

.page-title {
  margin-left: 12px;
}

hr:not([size]) {
  width: 98%;
  margin: auto;
}

.ant-card {
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 18px;

}

.page-pagination {
  padding: 0 35px 18px !important;
}

.card-body .title h5 {
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 30px;
}

.card-body .title h5 {
  margin-bottom: 4px;
}

.card-body .content {
  font-weight: 400;
  font-size: 14px;
  color: #212121;
}

.card-body .staff-support {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
}

p.titleTicket:hover {
  color: blue;
}

p.titleTicket {
  margin-bottom: 5px;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Roboto';
  font-style: normal;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card {
  border-radius: 6px;
  box-shadow: unset;
}

.border-4 {
  border-radius: 4px;
}

.img-sticket {
  margin-top: -3px;
}

.card-header:first-child {
  border-radius: 8px 8px 0px 0px;
  /* background: #FFFFFF !important; */
  height: 52px;
  padding: 15px 32px 14px 40px;
}

.staff-support i {
  color: rgba(158, 158, 158, 0.9);
  font-size: 12px;
}


.card-body {
  padding-top: 0px;
  padding-left: 0;
  padding-bottom: 16px;
  padding-right: 0;
}

.card-body .col-9,
.card-body .col-12 {
  padding-left: 50px;
}

.card-body .row {
  padding: 15px 10px 0px 0px;
}

.border-t .staff-support {
  border-top: 1px solid #ECECF3;
  padding-top: 15px;
}

hr {
  border-top: 1px solid #a9a0a0;
}

.card-body.sortBy {
  padding: 20px 16px;
}

.card-body.sortBy label {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.page-top {
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #0060AF;
  display: flex;
}

.page-filter {
  padding-right: 25px;
}

.menu-link-item {
  margin: 0 16px;

}

.menu-link-item p {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #F4F5FA;
  margin-bottom: 0;
}

.menu-link-item p.active {
  font-weight: 500
}

::ng-deep .searchSubmit .ant-btn {
  width: 100%;
  margin-top: 24px;
}

.ant-card-extra {
  padding: 0;
}

.card-body .d-flex.pr-3 {
  width: 200px;
  float: right;
  font-size: 12px;
}

::ng-deep .filter-end-user .ant-select-selector,
::ng-deep .filter-end-user .ant-picker {
  /* border: unset !important; */
}

.ant-card-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.time-over {
  color: #ED1C24;
  font-weight: 600;
  font-size: 12px;
  padding-top: 4px;
}

.code-ticket span {
  color: rgba(117, 117, 117, 0.85);
  font-size: 13px;
}

.tag-warning1 {
  background: #00B69B;
  font-weight: 400;
  color: #fff;
}

.tag-warning2 {
  background: rgba(255, 211, 58, 0.3);
  font-weight: 400;
}

.card-ticket {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff !important;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 8px;
  padding: 15px 15px 7px 15px;
}

.card-ticket .check-box {
  width: 3%;
  margin-top: 3%;
  position: relative;
}

.card-ticket .content {
  width: 100%;
}

.title {
  width: 20rem;
}

.tags {
  display: flex;
}

.tag-warning1 {
  font-weight: 400;
  color: #fff;
}

.tag {
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 23px;
}

.right-header .tag {
  width: 90px;
}

.tag span {
  font-weight: 400;
  font-size: 12px;
}

.tag-default {
  background: #e9f5ff;
  color: #1672ec;
}

.tag-primary {
  background: #32a4ff;
  color: #ffffff;
}

.fillter-top {
  background: #ffffff;
  padding: 0px 1rem 1.5rem;
}

.tag-warning {
  background: #ff8a00;
  color: #ffffff;
  border: 1px solid #FFA800;
}

.tag-danger {
  background: #ed1c24;
  color: #ffffff;
}

.date-filter label {
  width: 100px;
  color: rgba(158, 158, 158, 0.9);
  font-weight: 400;
  line-height: 30px;
}

::ng-deep .ant-picker-range {
  height: 31px;
}

.process-pep span {
  color:#000;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.0025em;
}

.footer,
.left-footer {
  display: flex;
  align-items: center;
}

.footer {
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
  color: #000;
}

.card-overview {
  background: #F4F5FA;
  padding: 6px 16px;
  position: static;
  width: 100%;
  height: 72px;
  left: 24px;
  top: 0px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 20px;
}

.code-ticket span {
  color: #000;
  font-size: 13px;
}

.right-header {
  min-width: 240px;
}

.box-tag {
  width: 100%;
}

.time-over {
  color: #ED1C24;
  font-weight: 500;
}

.description {
  color: #000;
  font-size: 13px;
  display: -webkit-box;
  max-width: 100%;
  max-height: 56px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 19px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
  word-break: break-word;
  margin-right: 110px;
}

.img-sticket {
  margin-top: -3px;
}

.card-overview h5 {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 8px !important;
}

.border-4 {
  border-radius: 4px;
}

.title h5 {
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  color: #000;
  margin-bottom: 8px !important;
  word-break: break-word;
}

.card-overview span {
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.005em;
}

.title h5:hover,
.header .description:hover {
  cursor: pointer !important;
}

.content:hover .left-header h5 {
  color: #1672EC;

}

.process-pep u {
  color: #1672EC;
  font-size: 11px;
}

/* 
::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto !important;
} */

.title {
  width: auto;
}

.sub-header {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.004em;
}

.ticket-type {
  color: #1672ec;
}

.product-service {
  color: rgba(117, 117, 117, 0.85);
}
@media only screen and (max-width: 1400px){
  .title {
    width: 100%;
  }
  .left-header {
  flex-direction: column;
}
.header{
  display: block !important;
}
}

.ant-card-extra {
  padding: 0;
}

:host ::ng-deep .card-body .ant-radio-wrapper {
  margin-bottom: 8px;
  font-weight: 400;
}

.card-header:first-child {
  height: 40px;
}

.process-pep {
  width: 100%;
}

.header {
  border-bottom: 1px solid #ECECF3;
  margin-bottom: 7px;
  display: flex;
}

.ngxl {
  font-size: 13px;
}

.check-all span {
  cursor: pointer;
}

.cl1 {
  color: #FF800B;
}

.cl2 {
  color: #FD3D39;
}

.cl3 {
  color: #FFA800;
}

.cl4 {
  color: #299EFD;
}

.cl5 {
  color: #00B69B;
}

h5 span {
  font-size: 24px !important;
}

.body p {
  margin-bottom: 0px !important;
}

p {
  margin-bottom: 0px !important;
}

.tags-mobile {
  display: none;
}

.filter-main {
  display: none;
}

@media (max-width: 900px) {
  .list-ticket {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }

  .hide-mobile {
    display: none;
  }

  .menu-link-item p {
    font-size: 12px !important;
  }

  .page-action {
    width: 100%;
    margin-top: 6px;
    justify-content: space-around;
  }

  .searchInputWrapper {
    width: 90%;
  }

  .tags-mobile {
    display: block;
    width: 100%;
  }

  .tags {
    justify-content: left;
    padding-top: 8px;
  }

  .tags-mobile .tag {
    padding: 3px 15px;
  }

  .sender {
    width: 60%;
    margin-bottom: 5px;
  }

  .body .footer {
    display: block;
  }

  .body .footer .left-footer {
    display: block;
  }

  .time-limit {
    margin: 8px 0;
  }

  .filter-main {
    display: block;
  }

  ::ng-deep .ant-drawer-title {
    width: 90% !important;
    display: flex !important;
  }

  ::ng-deep .ant-drawer-body {
    padding: 0;
  }

  ::ng-deep .ant-picker {
    border: 1px solid #d9d9d9 !important;
  }

  .page-top {
    display: flex !important;
  }
}

.page-action .searchInputWrapper {
  width: 100%;
}

@media (max-width: 1200px) {
  .page-top {
    display: flex !important;
  }
}

.page-top.p-0 {
  height: 58px;
}

@media (max-width: 700px) {
  .page-top {
    display: block !important;
    height: auto !important;
  }

  .searchInputWrapper {
    width: 100%;
    display: block;
  }
}

.img-denger {
  margin-right: 5px;
  position: relative;
  bottom: 2px;
}

.page-end-user .col-3 {
  flex: 0 0 400px;
  max-width: 400px;
}

.page-end-user .col-md-9 {
  flex: calc(100% - 400px);
  max-width: calc(100% - 400px);
}

.searchInput {
  height: 37px;
}

.create-time {
  font-weight: 500;
}

.filter-end-user .img-sticket {
  margin-top: -12px;
}

.header-top {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 54px;
}

.page-end-user {
  margin-top: 107px;
}

.btn.btn-primary.filter {
  width: 100%;
  border-radius: 18px;
}
 .filter {
  background: #0060af;
}
@media (max-width: 1200px){
  .code-ticket .vertical-ticket {
    display: none !important;
}
}
