<div class="page-top p-0 header-top">
    <div class="page-url-eu text-uppercase">
        <div class="d-flex align-items-center justify-content-center">
            <div class="menu-link-item"><a href="">
                    <p class="active">Danh sách yêu cầu</p>
                </a>
            </div>
            <div class="menu-link-item"><a (click)="onCreateTicket()">
                    <p>Gửi yêu cầu</p>
                </a>
            </div>
        </div>
    </div>
    <div class="page-filter">
        <div class="searchInputWrapper">

            <form role="form" [formGroup]="searchForm">
                <div style="position: relative;margin: 17px 10px;">
                    <input class="searchInput" formControlName="keyword" type="text" (keyup.enter)="onSearch($event)"
                        placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm" #keyword />
                    <img class="searchInputIcon" src="assets/images/icon/search.svg" alt="search-icon" srcset="" />
                    <a class="btn" (click)="open()" style="position:absolute"><img
                            src="assets/images/icon/filter-light.svg" class="filter-main" alt="search-icon"
                            srcset="" /></a>
                </div>
            </form>
        </div>
        <nz-drawer nzSize="default" [nzVisible]="visible" nzPlacement="right" (nzOnClose)="close()"
            [nzTitle]="headerSort">
            <div class="card h-100">
                <div class="card-body sortBy" *nzDrawerContent>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        <nz-select nzPlaceHolder="Chọn trạng thái" [class]="'statusSearch'" nzShowSearch nzAllowClear
                            [(ngModel)]="state_id" (ngModelChange)="onChangeState($event)">
                            <nz-option *ngFor="let item of stateList" [nzValue]="item.id" [nzLabel]="item?.name"
                                [ngbTooltip]="item?.name"></nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label>Từ ngày</label>
                        <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="fromDate"
                            (ngModelChange)="onChangeFromDate($event)">
                        </nz-date-picker>
                    </div>
                    <div class="form-group">
                        <label>Đến ngày</label>
                        <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="toDate"
                            (ngModelChange)="onChangeToDate($event)">
                        </nz-date-picker>
                    </div>
                    <div class="form-group">
                        <label>Mức độ ưu tiên</label>
                        <nz-select nzShowSearch nzAllowClear [(ngModel)]="priority_id"
                            nzPlaceHolder="Chọn mức độ ưu tiên" (ngModelChange)="onChangePriority($event)">
                            <nz-option *ngFor="let item of priorityList" [nzValue]="item.id" [nzLabel]="item?.name"
                                [ngbTooltip]="item?.name"></nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label>Sản phẩm dịch vụ
                        </label>
                        <nz-select [(ngModel)]="product_id" nzShowSearch nzAllowClear
                            nzPlaceHolder="Chọn sản phẩm dịch vụ" (ngModelChange)="onChangeServiceProduct($event)">
                            <nz-option *ngFor="let item of productList" [nzCustomContent]="true" [nzValue]="item.id"
                                [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                                {{item?.name}}</nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label>Nguồn
                        </label>
                        <nz-select [(ngModel)]="source_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn nguồn"
                            (ngModelChange)="onChangeSource($event)">
                            <nz-option *ngFor="let item of sourceList" [nzCustomContent]="true" [nzValue]="item.id"
                                [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                                {{item?.name}}</nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <label>Phân loại
                        </label>
                        <nz-select [(ngModel)]="category_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn phân loại"
                            (ngModelChange)="onChangeCategory($event)">
                            <nz-option *ngFor="let item of categoryList" [nzCustomContent]="true" [nzValue]="item.id"
                                [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                                {{item?.name}}</nz-option>
                        </nz-select>
                    </div>
                    <div class="form-group">
                        <!-- <mbf-button [type]="'primary'" (click)="onFilterData()" [shapeType]="'radius'"
                            [text]="'ÁP DỤNG'" class="w-100 searchSubmit"></mbf-button> -->
                        <button class="btn btn-primary filter" (click)="onFilterData()"><b>ÁP DỤNG</b></button>
                    </div>
                </div>

            </div>
        </nz-drawer>
        <ng-template #headerSort>
            <div class="ant-card-title text-uppercase"> Lọc tìm kiếm </div>
            <div class="ant-card-extra">
                <a (click)="onResetFilter()"><img src="assets/images/icon/resetFilter.svg" alt="trash-icon"
                        class="img-sticket" srcset=""></a>
            </div>
        </ng-template>
    </div>
</div>
<div class="page-body page-end-user">
    <div class="container-fluid mt-0 pb-0">
        <div class="row">
            <div class="col-md-12">
                <div class="px-3 py-2">
                    <h5>DANH SÁCH TICKET</h5>
                </div>
            </div>
            <div [ngClass]="'col-md-9 col-sm-12 list-ticket p-0'">
                <div class="p-2" style="background-color: #c5c2c254">
                    <div class="d-flex" *ngFor="let data of ticketList">
                        <div class="card-ticket">
                            <div class="content">
                                <!-- <div class="tags-mobile mb-2">
                                    <div class="tags">
                                        <div class="mr-2 tag tag-warning1" *ngIf="data.priority_name"
                                            [style]="'background:'+data.priority_color">
                                            <span>{{data.priority_name}}</span>
                                        </div>
                                        <div class="mr-2 tag tag-warning2" *ngIf="data.priority_name == '' "
                                            style=" background: #F4F5FA;color:#000">
                                            <span>Chưa xác định</span>
                                        </div>
                                        <div class="mr-2 tag tag-warning2" [style]="'background:'+data.state_color">
                                            <span style="color: white;">{{data.state_name}}</span>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="header justify-content-between">
                                    <div class="left-header ">
                                        <div class="title">
                                            <div class="d-flex">
                                                <img src="assets/images/icon/danger.svg"
                                                    nzTooltipTitle="Ticket chưa được gán workflow" nz-tooltip
                                                    [nzTooltipPlacement]="['topLeft', 'leftTop']"
                                                    *ngIf="data.workflow_id =='' " height="18" alt="circle-plus-icon"
                                                    srcset="" class="img-denger" />
                                                <a  [routerLink]="'/ticket/detail/'+ data.id">
                                                    <h5 nzTooltipTitle="{{data?.title}}" nz-tooltip
                                                        [nzTooltipPlacement]="['topLeft', 'leftTop']">
                                                        {{commonUtil.limitWord(data?.title,50)}}</h5>
                                                </a>

                                            </div>
                                            <div class="d-flex code-ticket">
                                                <span>{{data.code}} </span> <span class="" *ngIf="data.code">
                                                    <span class="vertical-ticket px-1"> | </span> </span>
                                                <div class="ticket-type mr-2">
                                                    <span
                                                        style="color:#1672EC">{{commonUtil.limitWord(data.category_name,20)}}</span>
                                                    <span class=" vertical-ticket px-1"
                                                        *ngIf="data.category_name"> | </span>
                                                </div>
                                                <span nzTooltipTitle="{{data?.product_name}}" nz-tooltip>
                                                    <img src="assets/images/icon/attachment.svg" />
                                                    {{commonUtil.limitWord(data.product_name,20)}}</span> <span class="px-2"
                                                    > | </span>
                                                <span class="pr-5">Thời gian tạo: <span class="create-time">{{data.created_at |
                                                        date:'dd/MM/yyyy HH:mm:ss'}}</span></span>
                                            </div>
                                        </div>
                                        <div class="body mt-2">
                                            <a [routerLink]="'/ticket/detail/'+ data.id">
                                                <span
                                                    class="description">{{commonUtil.extractContent(data.description_text,50)}}</span>
                                            </a>

                                        </div>

                                    </div>
                                    <div class="right-header">


                                        <div class="process-pep ">
                                            <span class=""><img src="assets/images/icon/user1.svg"
                                                    alt="circle-plus-icon" srcset="" class="img-sticket pr-1">
                                                Người xử lý:
                                                <b style="font-weight: 500;" nzTooltipTitle="{{data?.user_name}}" nz-tooltip>
                                                    {{commonUtil.limitWord(data?.user_name, 15)}}</b>

                                            </span>
                                            <p style="font-size: 11px;"> {{data.wf_current_execute_department_name}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="sub-header  d-flex">

                                    <div class="ticket-product-service">

                                    </div>
                                </div>
                                <div class="body mt-2">
                                    <div class="footer mt-2">
                                        <div class="left-footer">
                                            <div class="sender">
                                                <!-- <img src="assets/images/icon/mail.svg" height="17" alt="circle-plus-icon"
                                                    srcset="" class="img-sticket"> -->
                                                <i nz-icon nzType="{{data?.source_icon}}" height="17"
                                                    alt="circle-plus-icon"></i>
                                                <span nz-tooltip [nzTooltipTitle]="data?.customer_name">
                                                    {{commonUtil.limitWord(data.customer_name,20)}}</span>
                                            </div>
                                            <div class="tag tag-default ml-2 border-4"
                                                *ngIf="data?.check_show_sla == 1">
                                                <span>SLA:
                                                    {{commonUtil.limitWord(data?.slaTime,
                                                    34)}}</span>
                                            </div>
                                            <div class="time-limit ml-3"
                                                *ngIf="data?.check_show_sla_remain == 1">
                                                <span class="time-over" *ngIf="data.ticket_status_type != 4"> <img
                                                        class="img-sticket" src="assets/images/icon/time-over.svg"
                                                        alt="circle-plus-icon" srcset=""><span class="ml-2"></span> Thời
                                                    gian SLA còn lại:
                                                    {{data.timeRemainSla}}</span>
                                            </div>
                                        </div>
                                        <div class="righ-footer">
                                            <div class="time-created mr-2">

                                                <div class="box-tag mb-2">
                                                    <div class="tags">
                                                        <div class="mr-2 tag tag-warning1" *ngIf="data.priority_name"
                                                            [style]="'background:'+data.priority_color">
                                                            <span>{{data.priority_name}}</span>
                                                        </div>
                                                        <div class="mr-2 tag tag-warning2"
                                                            *ngIf="data.priority_name == '' "
                                                            style=" background: #F4F5FA;color:#000">
                                                            <span>Chưa xác định</span>
                                                        </div>
                                                        <div class="mr-2 tag tag-warning2"
                                                            [style]="'background:'+data.state_color+'; color:' +data.state_text_color ">
                                                            <span>{{data.state_name}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="d-flex align-items-center"> -->
                    <div class="card p-3 mb-2">
                        <nz-empty *ngIf="ticketList.length == 0" [nzNotFoundContent]="'Không có dữ liệu'"></nz-empty>
                        <mb-pagination [pageIndex]="ticketQuery.pageIndex" [pageSize]="ticketQuery.pageSize"
                            [total]="total" (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                    <!-- </div> -->
                </div>

            </div>
            <div class="col-xs-12 col-3 filter-end-user hide-mobile p-2 pb-3" style="background-color: #c5c2c254">
                <div class="card h-100 ">
                    <div class="card-header d-flex pl-3 pr-3" #headerSort>
                        <div class="ant-card-title text-uppercase"> TÌM KIẾM NÂNG CAO </div>
                        <div class="ant-card-extra">
                            <a (click)="onResetFilter()"><img src="assets/images/icon/resetFilter.svg" alt="trash-icon"
                                    class="img-sticket"></a>
                        </div>
                    </div>
                    <div class="card-body sortBy">
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <nz-select nzPlaceHolder="Chọn trạng thái" [class]="'statusSearch'" nzShowSearch
                                nzAllowClear [(ngModel)]="state_id" (ngModelChange)="onChangeState($event)">
                                <nz-option *ngFor="let item of stateList" [nzValue]="item.id" [nzLabel]="item?.name"
                                    [ngbTooltip]="item?.name"></nz-option>
                            </nz-select>
                        </div>
                        <div class="form-group">
                            <label>Từ ngày</label>
                            <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="fromDate" [nzPlaceHolder]="' '"
                                (ngModelChange)="onChangeFromDate($event)">
                            </nz-date-picker>
                        </div>
                        <div class="form-group">
                            <label>Đến ngày</label>
                            <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="toDate" [nzPlaceHolder]="' '"
                                (ngModelChange)="onChangeToDate($event)">
                            </nz-date-picker>
                        </div>
                        <div class="form-group">
                            <label>Mức độ ưu tiên</label>
                            <nz-select nzShowSearch nzAllowClear [(ngModel)]="priority_id"
                                nzPlaceHolder="Chọn mức độ ưu tiên" (ngModelChange)="onChangePriority($event)">
                                <nz-option *ngFor="let item of priorityList" [nzValue]="item.id" [nzLabel]="item?.name"
                                    [ngbTooltip]="item?.name"></nz-option>
                            </nz-select>
                        </div>
                        <div class="form-group">
                            <label>Sản phẩm dịch vụ
                            </label>
                            <nz-select [(ngModel)]="product_id" nzShowSearch nzAllowClear
                                nzPlaceHolder="Chọn sản phẩm dịch vụ" (ngModelChange)="onChangeServiceProduct($event)">
                                <nz-option *ngFor="let item of productList" [nzCustomContent]="true" [nzValue]="item.id"
                                    [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                                    {{item?.name}}</nz-option>
                            </nz-select>
                        </div>
                        <!-- <div class="form-group">
                            <label>Nguồn
                            </label>
                            <nz-select [(ngModel)]="source_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn nguồn"
                                (ngModelChange)="onChangeSource($event)">
                                <nz-option *ngFor="let item of sourceList" [nzCustomContent]="true" [nzValue]="item.id"
                                    [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea required>
                                    {{item?.name}}</nz-option>
                            </nz-select>
                        </div> -->
                        <div class="form-group">
                            <label>Phân loại
                            </label>
                            <nz-select [(ngModel)]="category_id" nzShowSearch nzAllowClear
                                nzPlaceHolder="Chọn phân loại" (ngModelChange)="onChangeCategory($event)">
                                <nz-option *ngFor="let item of categoryList" [nzCustomContent]="true"
                                    [nzValue]="item.id" [ngbTooltip]="item.name" [nzLabel]="item.name" #availableArea
                                    required>
                                    {{item?.name}}</nz-option>
                            </nz-select>
                        </div>
                        <div class="form-group">
                            <!-- <mbf-button [type]="'primary'" (click)="onFilterData()" [shapeType]="'radius'"
                                [text]="'ÁP DỤNG'" class="w-100 searchSubmit"></mbf-button> -->
                            <button class="btn btn-primary filter" (click)="onFilterData()"><b>ÁP DỤNG</b></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>