<div class="page-body mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mt-5 center">
                    <div class="card-body">
                        <div>
                            <h5 class="ml-4"><a (click)="onCancel()"><img src="assets/images/icon/vector.svg"
                                        alt="search-icon" srcset="" /></a> TẠO PHIẾU YÊU CẦU</h5>
                        </div><br>
                        <div class="form">
                            <div class="col-12">
                                <form [formGroup]="form">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 mb-2">
                                            <label>Tiêu đề
                                                <span class="text-danger">*</span>
                                            </label>
                                            <input formControlName="title" nz-input class="titleTicket"
                                                (ngModelChange)="checkTitle()" placeholder="Tiêu đề" #availableArea
                                                required>
                                            <ng-container
                                                *ngIf="form.get('title')?.touched || form.get('title')?.dirty">
                                                <small class="text-danger"
                                                    *ngIf="form.get('title')?.hasError('required') && !errorTitle">
                                                   {{ 'model.ticket.error.requiredTitle' | translate }}
                                                </small>
                                                <small class="text-danger" *ngIf="form.get('title')?.errors?.pattern">
                                                    Tiêu đề không đúng định dạng
                                                </small>
                                                <span class="text-danger" *ngIf="form.get('title')?.errors?.maxlength">
                                                    <small>{{ 'model.ticket.error.maxLength' | translate :
                                                        {param: LENGTH_VALIDATOR.TITLE_MAX_LENGTH.MAX} }}</small>
                                                </span>
                                            </ng-container>
                                            <small class="text-danger" *ngIf="errorTitle">
                                                {{ 'model.ticket.error.requiredTitle' | translate }}
                                            </small>

                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Phân loại
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.classify' | translate }}"
                                                nzAllowClear [nzDisabled]="form.get('category_id')?.disabled"
                                                removeOptionTitle formControlName="category_id">
                                                <nz-option *ngFor="let item of ticketCategoryList"
                                                    [nzCustomContent]="true" [nzLabel]="(item?.name || '') | translate"
                                                    [nzValue]="item.id">
                                                    {{(item?.name || '') | translate}}
                                                </nz-option>
                                            </nz-select>
                                            <ng-container
                                                *ngIf="form.get('category_id')?.touched || form.get('category_id')?.dirty">
                                                <small class="text-danger"
                                                    *ngIf="form.get('category_id')?.hasError('required')">
                                                    {{ 'model.ticket.error.requiredCategory' | translate }}
                                                </small>
                                            </ng-container>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Sản phẩm dịch vụ
                                                <span class="text-danger">*</span>
                                            </label>
                                            <nz-tree-select nzShowSearch nzAllowClear nzHideUnMatched [nzNodes]="nodes"
                                           
                                                nzShowSearch nzPlaceHolder="Sản phẩm dịch vụ"
                                                formControlName="product_id" #treeSelect
                                                [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                            </nz-tree-select>

                                            <ng-container
                                                *ngIf="form.get('product_id')?.touched || form.get('product_id')?.dirty">
                                                <small class="text-danger"
                                                    *ngIf="form.get('product_id')?.hasError('required')">
                                                    {{ 'model.ticket.error.requiredProduct' | translate }}
                                                </small>
                                            </ng-container>
                                        </div>
                                        <div class="col-md-12  col-lg-12 mb-2">
                                            <label>{{ 'model.ticket.requestSender' | translate }}
                                            </label>
                                            <nz-select nzPlaceHolder="{{ 'model.ticket.requestSender' | translate }}"
                                                nzShowSearch nzAllowClear nzServerSearch
                                                (nzOnSearch)="userQuestionUpdate.next($event)"
                                                [nzDropdownRender]="renderTemplateUser"
                                                (nzScrollToBottom)="loadMoreUser()"
                                                [nzDisabled]="form.get('require_id')?.disabled" removeOptionTitle
                                                formControlName="require_id">
                                                <nz-option *ngFor="let item of userList" [nzCustomContent]="true"
                                                    [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                    <div>
                                                        {{(item?.name || '') | translate}}
                                                    </div>
                                                </nz-option>
                                            </nz-select>
                                            <ng-template #renderTemplateUser>
                                                <nz-spin *ngIf="isLoadingUser"></nz-spin>
                                            </ng-template>
                                            <ng-container
                                                *ngIf="form.get('require_id')?.touched || form.get('require_id')?.dirty">
                                                <span class="text-danger"
                                                    *ngIf="form.get('require_id')?.hasError('required')">
                                                    <small>{{ 'model.ticket.error.required' | translate }}</small>
                                                </span>
                                            </ng-container>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>Khách hàng
                                                <a class="color-primary ml-3" (click)="onCreateCustomer()" >Thêm mới khách
                                                    hàng</a>
                                            </label>
                                            <!-- <nz-select nzShowSearch  [ngModel]="cusHasCreated"
                                                nzPlaceHolder="{{ 'model.ticket.custommer' | translate }}"
                                                nzAllowClear
                                                [nzDisabled]="isShowCustomer" 
                                                removeOptionTitle formControlName="customer_id"
                                                (nzOnSearch)="this.cusQuestionUpdate.next($event)"
                                                (ngModelChange)="changeCustomer($event)"
                                                [nzDropdownRender]="renderTemplate" >
                                                <nz-option *ngFor="let item of customerList"
                                                    [nzCustomContent]="true"
                                                    [nzLabel]="(item?.name || '') | translate" [nzValue]="item.id">
                                                    {{(item?.name || '') | translate}} - {{item?.phone}} - {{item?.email}}
                                                </nz-option>
                                            </nz-select>
                                            <ng-template #renderTemplate>
                                                <nz-spin *ngIf="isLoading"></nz-spin>
                                            </ng-template> -->
                                            <div class="btn-group box-contact w-100">
                                                <div nz-input class="box-tag  w-100" data-bs-toggle="dropdown">
                                                    <form role="form" [formGroup]="searchForm">
                                                        <input nz-input formControlName="keyword" *ngIf="showSearch"
                                                            (blur)="onExisted()" (keydown)="onSearch()" />
                                                    </form>

                                                </div>
                                                <div class="dropdown-menu">
                                                    <div class="row w-100 header">
                                                        <div class="col-lg-10 inner-name"> Họ tên </div>
                                                    </div>
                                                    <div [ngClass]="customerList.length >= 7 ? 'scroll-contact':'' "
                                                        (scroll)="onScroll($event)"    >
                                                        <ng-container *ngFor="let item of customerList;">
                                                            <div class="row w-100 "
                                                                [ngClass]="statusCT1 === item.id ? 'active d-flex w-100' : 'd-flex w-100'"
                                                                (click)="onItemCheckedCustomer(item, checkedItem)">
                                                                <div class="col-lg-10 inner-name">
                                                                    {{item.name}}</div>
                                                            </div>
                                                        </ng-container>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="list-tag">
                                                <nz-tag *ngFor="let item of setCustomerChecked" nzMode="closeable"
                                                    (nzOnClose)="onRemoveTagCustomer(item)">
                                                    {{item.name}}

                                                </nz-tag>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-6 pr-0">
                                                    <label>Người đại diện
                                                    </label>
                                                    <input nz-input formControlName="deputy" />
                                                </div>
                                                <div class="col-6 mb-2">
                                                    <label>Người liên hệ
                                                    </label>
                                                    <div>
                                                        <div *ngIf="!enableContactSelectBox" nz-input class="box-tag disabled">
                                                        </div>
                                                        <div class="btn-group box-contact w-100" *ngIf="enableContactSelectBox">
                                                            <div nz-input class="box-tag  w-100" data-bs-toggle="dropdown">
                                                            </div>
                                                            <div class="dropdown-menu">
                                                                <div class="d-flex w-100 header">
                                                                    <div class="inner-name"> Họ tên</div>
                                                                    <div class="inner-name">Số điện thoại </div>
                                                                    <div class="inner-name"> Email </div>
                                                                </div>
                                                                <div [ngClass]="contactList.length >= 7 ? 'scroll-contact':'' ">
                                                                    <ng-container *ngFor="let item of contactList;">
                                                                        <div class="d-flex w-100 "
                                                                            [ngClass]="statusCT === item.id ? 'active d-flex w-100' : 'd-flex w-100'"
                                                                            (click)="onItemChecked(item, checkedItem)">
                                                                            <div class="inner-name" nz-tooltip
                                                                                [nzTooltipTitle]="item.name">
                                                                                {{commonUtil.limitWord(item.name,15)}}</div>
                                                                            <div class="inner-name">
                                                                                {{commonUtil.limitWord(item.phone,11)}}</div>
                                                                            <div class="inner-name" nz-tooltip
                                                                                [nzTooltipTitle]="item.email">
                                                                                {{commonUtil.limitWord(item.email,20)}}</div>
                                                                        </div>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="text-center mb-4">
                                                                    <a nz-button nzType="link" style="background-color: #fff;"
                                                                        class="border-0 text-uppercase"
                                                                        (click)="onCreateContact()">
                                                                        <img src="assets/images/icon/circle-plus-primary.svg"
                                                                            alt="circle-plus-primary-icon" srcset="" />
                                                                        <span class="ml-2 mt-3">Thêm người liên hệ</span>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="list-tag">
                                                            <nz-tag *ngFor="let item of setUserChecked" nzMode="closeable"
                                                                (nzOnClose)="onRemoveTagUser(item)">
                                                                {{commonUtil.limitWord(item.name,15)}}
                                                            </nz-tag>
                                                        </div>
                                                        <ng-container>
                                                            <div class="d-flex justify-content-between">
                                                                <div>
                                                                    <ng-container
                                                                        *ngIf="form.get('contact_id')?.touched || form.get('contact_id')?.dirty">
                                                                        <span class="text-danger"
                                                                            *ngIf="form.get('contact_id')?.hasError('required')">
                                                                            <small>{{ 'model.ticket.error.required' | translate
                                                                                }}</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="text-right" *ngIf="enableContactSelectBox">
                                                                    <a class="color-primary" (click)="onCreateContact()">Thêm
                                                                        mới liên hệ</a>
                                                                </div>
                                                            </div>
                                                        </ng-container>
                                                        <ng-template #contentTemplate>
                                                            <div class="card page-product">
                                                                <div class="table-area">
                                                                    <nz-table #basicTable nzWidth="850px" [nzData]="contactList"
                                                                        [nzScroll]="{  x: '850px', y: '500px'}">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center" width="80">#</th>
                                                                                <th class="text-left">Họ tên</th>
                                                                                <th class="text-center">Số điện thoại</th>
                                                                                <th class="text-left">Email</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr *ngFor="let item of contactList;">
                                                                                <td [nzChecked]="setOfCheckedId.has(item.id)"
                                                                                    [nzDisabled]="item.disabled"
                                                                                    (nzCheckedChange)="onItemChecked(item, $event)">
                                                                                </td>
                                                                                <td class="text-left">{{ item.name }}</td>
                                                                                <td class="text-center">{{ item.phone }}</td>
                                                                                <td class="text-left">{{ item.email }}</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </nz-table>
                                                                </div>
                                                                <div class="p-3">
                                                                    <mb-pagination [pageIndex]="userQuery.pageIndex"
                                                                        [pageSize]="userQuery.pageSize" [total]="total"
                                                                        (onChange)="onQuerySearch($event)">
                                                                    </mb-pagination>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                        <div class="col-12 mb-2">
                                            <label>{{ 'model.ticket.description' | translate }}
                                            </label>
                                            <mb-editor [placeholder]="''" [maxLength]="5000"
                                                [value]="form?.get('description')?.value || ''"
                                                (data)="onChangeData('description', $event)">
                                            </mb-editor>
                                            <span class="text-danger" *ngIf="isShowDescription">
                                                <small>Độ dài không quá 5000 ký tự</small>
                                            </span>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <mbf-upload [multiple]="true" [typeUpload]="'uploadToServer'"
                                                [acceptTypeFiles]="['default']" [key]="'task'"
                                                (emitterUploading)="checkFileUploading()"
                                                (emitter)="handleLoadFile($event)" (emitterAmountError)="addEvent2($event)" (emitterError)="addEvent($event)">
                                            </mbf-upload>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr>
                        <div class="row mt-3">
                            <div class="d-flex justify-content-end">
                                <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'"
                                    [shapeType]="'radius'" [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
                                <mbf-button id="createBuilding" [type]="'primary'" [icon]="'plus-circle'"
                                    [shapeType]="'radius'" [text]="'Tạo mới'" (click)="onSubmit()"></mbf-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
