/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import "~ng-zorro-antd/style/index.min.css";
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* Import toast css */
// regular style toast
@import '~ngx-toastr/toastr';

/* Global base styles */
@import "assets/css/colors.scss";
@import "assets/css/global.scss";
@import "assets/css/search-bar.scss";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
