.ant-btn-lock ::ng-deep .ant-btn-primary{
    background: #ff4d4f!important;
    border-color: #ff4d4f!important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%)!important;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%)!important;
}
::ng-deep .anticon-question-circle svg{
    fill: rgb(255, 193, 7)!important;
    font-size: 19px!important;
}