<div>
    <div>
      <div class="dropzone" fileDragDrop (filesChangeEmiter)="onFileChange($event)">
        <div class="text-wrapper">
          <div class="centered">
            <input type="file" [accept]="acceptFiles" name="file" id="file" (change)="openFile($event)" [multiple]="multiple ? 'multiple' : ''"
              >
            <label for="file">
              <img src="assets/images/icon/upsload.svg" alt="">
              <div class="mt-3">
                <span class="accept-file">{{acceptFileDescription}}, file không được quá 15MB</span>
              </div>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="show-file-area mt-3 pb-2 ">
      <div class="d-flex pt-2" *ngFor="let f of files; let ind = index">
        <div class="div mr-3">
          <i nz-icon [nzType]="f.icon" nzTheme="outline" style="font-size: 38px"></i>
        </div>
        <div class="div w-75">
          <div class="w-100 d-flex justify-content-between">
            <div class="" style="width:80%">
              <span>{{f.name}}</span>
            </div>
            <div class="fileItemIconDiv" (click)="openConfirmDialog(f);">
              <span class="mr-2 size-info">{{formatBytes(f.size)}}</span>
              <i nz-icon nzType="close-circle" nzTheme="outline"></i>
            </div>
          </div>
          <span class="text-danger" *ngIf="f.error">{{f.error}}</span>
          <nz-progress *ngIf="!errorFile" [nzPercent]="f?.progress" [nzStatus]="f?.state"
            [nzShowInfo]="false">
          </nz-progress>
        </div>
      </div>
      <span class="text-danger" *ngIf="files.length > 5">{{checkAmountFileUpload}}</span>
    </div>
  </div>
