<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="card"  >
                    <div class="card-body ">
                        <div class="page-title" >
                            <h5><span *ngIf="!detailSla">{{ (isUpdate ? 'model.sla.create.titleDetail' : 'model.sla.create.title') | translate }}</span>
                                <span *ngIf="detailSla">Chi tiết SLA</span>
                            </h5>
                        </div>
                        <div class="form">
                            <form [formGroup]="slaForm">
                                <div class="row">
                                    <div class="col-12 mb-2">
                                        <label>{{'model.sla.create.titleForm' | translate }}
                                            <span class="text-danger">*</span>
                                        </label>
                                        <input formControlName="title" nz-input  [ngClass]="detailSla? 'detail': '' "   (keyup)="checktile()" 
                                            placeholder="{{ 'model.sla.create.titleForm' | translate}}" #availableArea
                                            required>
                                        <ng-container *ngIf="slaForm.get('title')?.touched || slaForm.get('title')?.dirty">
                                            <span class="text-danger" *ngIf="slaForm.get('title')?.hasError('required')">
                                                <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                            </span>
                                            <span class="text-danger" *ngIf="slaForm.get('title')?.errors?.maxlength">
                                                <small>{{ 'model.department.error.maxLength' | translate : {param:
                                                    LENGTH_VALIDATOR.TITLE_MAX_LENGTH.MAX} }}</small>
                                            </span>
                                            <small class="text-danger" *ngIf="slaForm.get('title')?.errors?.pattern">
                                              Tiêu đề không đúng định dạng
                                            </small>
                
                                        </ng-container>
                                        <span class="text-danger" *ngIf="showErrotitle">
                                            <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                        </span>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label>{{ 'model.sla.create.status' | translate}}
                                        </label><br>
                                        <nz-switch formControlName="status"  [ngClass]="detailSla? 'detail': '' " ></nz-switch>
                                    </div>
                                    <div class="col-12 mb-2">
                                        <label>{{ 'model.sla.create.description' | translate}}
                                        </label>
                                        <mb-editor [value]="slaForm?.get('description')?.value || ''" [maxLength]="500" [isReadOnly]="detailSla"
                                            (data)="onChangeData('description', $event)"
                                                placeholder="{{ 'model.sla.create.description' | translate}} "  ></mb-editor>

                                                <span class="text-danger" *ngIf="isShowDescription">
                                                    <small>Mô tả không được quá 500 ký tự</small>
                                                </span> 
                                    </div>
                                    <div class="col-12 my-2">
                                        <label>{{ 'model.sla.create.tickselect' | translate}} :
                                        </label>
                                        <div class="box-condition" formArrayName="conditionForm">
                                            <ul>
                                                <li class="" *ngFor="let group of conditionForm.controls; index as g">
                                                    <ng-container [formGroupName]="g">
                                                        <div class="col-12">
                                                            <div class="row">
                                                                <div class="col-11 mb-2">
                                                                    <label>{{ 'model.sla.create.condition' | translate}}
                                                                        <span class="text-danger">*</span>
                                                                    </label>
                                                                    <nz-select
                                                                        nzPlaceHolder="{{ 'model.sla.create.condition' | translate }}" 
                                                                      
                                                                        (click)="changeCodition2($event, g)"
                                                                        formControlName="conditionName"
                                                                         (ngModelChange)="changeCodition($event, g)" 
                                                                         >
                                                                        <nz-option *ngFor="let item of listCondition"
                                                                            [nzCustomContent]="true"
                                                                            [nzLabel]="(item?.name || '') | translate"
                                                                            [nzValue]="item?.value">
                                                                            <div container="body" >
                                                                                {{(item?.name || '') | translate}}
                                                                            </div>
                                                                        </nz-option>
                                                                    </nz-select>
                                                                    <ng-container *ngIf="group.get('conditionName')?.touched || group.get('conditionName')?.dirty ">
                                                                        <span class="text-danger" *ngIf="group.get('conditionName')?.hasError('required')">
                                                                            <small>Điều kiện không được để trống</small>
                                                                        </span>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="col-1 text-right">
                                                                    <button class="btn btn-delete" *ngIf="!hideButton && !detailSla"> <img
                                                                            src="assets/images/icon/deleteSLA.svg"
                                                                            alt="circle-plus-icon" srcset=""
                                                                            class="delete-all"  (click)="removeCondition(g)"/></button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12 mb-2">
                                                            <label>{{ 'model.sla.create.conditionInformation' |
                                                                translate}}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                           <p class="mb-2" *ngIf="isShowProduct[g]"> <label nz-checkbox [nzValue]="g" (ngModelChange)="onChangeChecked($event, g)"
                                                            formControlName="product_all">Chọn tất cả sản phẩm</label>
                                                            </p>
                                                            <nz-select 
                                                                
                                                                nzPlaceHolder="{{ 'model.sla.create.conditionchoose' | translate }}"
                                                                nzMode="multiple"
                                                                formControlName="conditionInformation">
                                                                <nz-option *ngFor="let item of conditionInforList[g]"
                                                                    [nzCustomContent]="true"
                                                                    [nzLabel]="(item?.name || '') | translate"
                                                                    [nzValue]="item?.id">
                                                                    <div container="body" >
                                                                        {{(item?.name || '') | translate}}
                                                                    </div>
                                                                </nz-option>
                                                            </nz-select>
                                                            <ng-container *ngIf="group.get('conditionInformation')?.touched || group.get('conditionInformation')?.dirty ">
                                                                <span class="text-danger" *ngIf="group.get('conditionInformation')?.hasError('required')">
                                                                    <small>Thông tin không được để trống</small>
                                                                </span>
                                                            </ng-container>
                                                        </div>
                                                    </ng-container>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="add-condition w-100 text-center mb-3"  >
                                            <span *ngIf="!hideButton && !detailSla">
                                                <a nz-button nzType="link" class="border-0 text-uppercase" *ngIf="isShowCondition"  style="background-color: #fff;"
                                                (click)="addCondition($event)">
                                                <img src="assets/images/icon/circle-plus-primary.svg"
                                                    alt="circle-plus-primary-icon" srcset="" />
                                                <span class="ml-2">Thêm điều kiện mới</span>
                                            </a>
                                            </span>
                                        </div>
                                        <div class="col-12 mb-2 responsive-table mb-4 mt-4">
                                            <label>Đặt mục tiêu SLA trong giờ hành chính là:
                                            </label>
                                            <nz-table  [nzData]="ticketPriorityList0">
                                                <thead>
                                                    <tr>
                                                        <th>{{ 'model.sla.create.target.priority' | translate}}</th>
                                                        <th>{{ 'model.sla.create.target.responseTime' | translate}}</th>
                                                        <th>{{ 'model.sla.create.target.processingTime' | translate}}
                                                        </th>
                                                        <!-- <th>{{ 'model.sla.create.target.activateTime' | translate}}</th> -->
                                                        <th class="text-center">{{ 'model.sla.create.target.overReporting' | translate}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody formArrayName="ticketPriorities0">
                                                    <tr *ngFor="let _ of ticketPriorities0.controls; index as i">
                                                        <ng-container [formGroupName]="i">
                                                            <td>
                                                                <input nz-input [style.background]=" getColorSla(_) + '!important'" [style.color]="'#fff'"   formControlName="ticket_priority_name" 
                                                                    class="tag">
                                                            </td>
                                                            <td> 
                                                                <div class="d-flex responsetime">
                                                                    <div class="w-80">
                                                                        <nz-input-number nz-input type="number" class="br-0 brl" [nzMin]="0" numbersOnly
                                                                        formControlName="first_response_time_d"></nz-input-number>
                                                                        <p class="text-center mt-1">Ngày</p>
                                                                    </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="first_response_time_h" class="br-0" [nzMin]="0" numbersOnly [nzMax]="24"></nz-input-number>
                                                                        <p class="text-center mt-1">Giờ</p>
                                                                   </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number" nz-input [nzMin]="0" numbersOnly
                                                                        formControlName="first_response_time_m"  class=" brr" [nzMax]="59" ></nz-input-number>
                                                                        <p class="text-center mt-1">Phút</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex responsetime">
                                                                    <div class="w-80">
                                                                        <nz-input-number nz-input type="number" class="br-0 brl" [nzMin]="0" numbersOnly
                                                                        formControlName="resolution_time_d"  ></nz-input-number>
                                                                        <p class="text-center mt-1">Ngày</p>
                                                                    </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="resolution_time_h" class="br-0" [nzMin]="0" numbersOnly [nzMax]="24"></nz-input-number>
                                                                        <p class="text-center mt-1">Giờ</p>
                                                                   </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="resolution_time_m"  class=" brr" [nzMin]="0" numbersOnly [nzMax]="59"></nz-input-number>
                                                                        <p class="text-center mt-1">Phút</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <!-- <td >
                                                                <nz-select
                                                                    nzPlaceHolder="{{ 'model.sla.create.condition' | translate }}"
                                                                    formControlName="calender_type" nzAllowClear
                                                                    removeOptionTitle>
                                                                    <nz-option *ngFor="let item of activateTime"
                                                                        [nzCustomContent]="true"
                                                                        [nzLabel]="(item?.name || '') | translate"
                                                                        [nzValue]="item?.value">
                                                                        <div container="body" >
                                                                            {{(item?.name || '') | translate}}
                                                                        </div>
                                                                    </nz-option>
                                                                </nz-select>
                                                            </td> -->
                                                            <td class="text-center">
                                                                <nz-switch formControlName="escalation"></nz-switch>
                                                            </td>
                                                        </ng-container>
                                                        <p class="error-time-sla" *ngIf="showError[i]"> Thời gian phản hồi lần đầu không được lớn hơn thời gian xử lý</p>                                              
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </div>
                                        <div class="col-12 mb-2 responsive-table">
                                            <label>Đặt mục tiêu SLA  ngoài hành chính là:
                                            </label>
                                            <nz-table  [nzData]="ticketPriorityList1">
                                                <thead>
                                                    <tr>
                                                        <th>{{ 'model.sla.create.target.priority' | translate}}</th>
                                                        <th>{{ 'model.sla.create.target.responseTime' | translate}}</th>
                                                        <th>{{ 'model.sla.create.target.processingTime' | translate}}
                                                        </th>
                                                        <!-- <th>{{ 'model.sla.create.target.activateTime' | translate}}</th> -->
                                                        <th class="text-center">{{ 'model.sla.create.target.overReporting' | translate}}
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody formArrayName="ticketPriorities1">
                                                    <tr *ngFor="let _ of ticketPriorities1.controls; index as i">
                                                        <ng-container [formGroupName]="i">
                                                            <td>
                                                                <input nz-input [style.background]=" getColorSla(_) + '!important'" [style.color]="'#fff'"   formControlName="ticket_priority_name" 
                                                                    class="tag">
                                                            </td>
                                                            <td> 
                                                                <div class="d-flex responsetime">
                                                                    <div class="w-80">
                                                                        <nz-input-number nz-input type="number" class="br-0 brl" [nzMin]="0" numbersOnly
                                                                        formControlName="first_response_time_d"></nz-input-number>
                                                                        <p class="text-center mt-1">Ngày</p>
                                                                    </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="first_response_time_h" class="br-0" [nzMin]="0" numbersOnly [nzMax]="24"></nz-input-number>
                                                                        <p class="text-center mt-1">Giờ</p>
                                                                   </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number" nz-input [nzMin]="0" numbersOnly
                                                                        formControlName="first_response_time_m"  class=" brr" [nzMax]="59" ></nz-input-number>
                                                                        <p class="text-center mt-1">Phút</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="d-flex responsetime">
                                                                    <div class="w-80">
                                                                        <nz-input-number nz-input type="number" class="br-0 brl" [nzMin]="0" numbersOnly
                                                                        formControlName="resolution_time_d"  ></nz-input-number>
                                                                        <p class="text-center mt-1">Ngày</p>
                                                                    </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="resolution_time_h" class="br-0" [nzMin]="0" numbersOnly [nzMax]="24"></nz-input-number>
                                                                        <p class="text-center mt-1">Giờ</p>
                                                                   </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="resolution_time_m"  class=" brr" [nzMin]="0" numbersOnly [nzMax]="59"></nz-input-number>
                                                                        <p class="text-center mt-1">Phút</p>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                            <!-- <td >
                                                                <nz-select
                                                                    nzPlaceHolder="{{ 'model.sla.create.condition' | translate }}"
                                                                    formControlName="calender_type" nzAllowClear
                                                                    removeOptionTitle>
                                                                    <nz-option *ngFor="let item of activateTime"
                                                                        [nzCustomContent]="true"
                                                                        [nzLabel]="(item?.name || '') | translate"
                                                                        [nzValue]="item?.value">
                                                                        <div container="body" >
                                                                            {{(item?.name || '') | translate}}
                                                                        </div>
                                                                    </nz-option>
                                                                </nz-select>
                                                            </td> -->
                                                            <td class="text-center">
                                                                <nz-switch formControlName="escalation"></nz-switch>
                                                            </td>
                                                        </ng-container>
                                                        <p class="error-time-sla" *ngIf="showError[i]"> Thời gian phản hồi lần đầu không được lớn hơn thời gian xử lý</p>                                              
                                                    </tr>
                                                </tbody>
                                            </nz-table>
                                        </div>
                                        <div class="col-12  mt-4">
                                            <label>{{ 'model.sla.create.remind' | translate}}
                                            </label>
                                            <ul>
                                                <div class="box-condition" formArrayName="handlingStaffForm">
                                                    <p *ngIf="isShowtitle" class="text-center color2"> <img src="assets/images/icon/time.svg"
                                                        alt="circle-plus-primary-icon" srcset=""  /> Đặt lời nhắc cho nhân viên hỗ trợ khi thời hạn SLA đến gần.
                                                    </p>
                                                    <li class="" *ngFor="let groups of handlingStaffForm.controls; index as g">
                                                        <ng-container [formGroupName]="g">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <p class="mb-0 pt-2"><label>Điều kiện xử lý</label></p>
                                                            <div class="col-4 mb-2">
                                                                <label>{{ 'model.sla.create.type' | translate}}
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <nz-select 
                                                                    nzPlaceHolder="{{ 'model.sla.create.type' | translate }}"
                                                                    formControlName="type"
                                                                    nzAllowClear removeOptionTitle>
                                                                    <nz-option *ngFor="let item of conditionType"
                                                                        [nzCustomContent]="true"
                                                                        [nzLabel]="(item?.name || '') | translate"
                                                                        [nzValue]="item?.value">
                                                                        <div container="body" [animation]="false"
                                                                            [openDelay]="100" [closeDelay]="0"
                                                                            [ngbTooltip]="(item?.name || '') | translate">
                                                                            {{(item?.name || '') | translate}}
                                                                        </div>
                                                                    </nz-option>
                                                                </nz-select>
                                                                <ng-container *ngIf="groups.get('type')?.touched || groups.get('type')?.dirty">
                                                                    <span class="text-danger" *ngIf="groups.get('type')?.hasError('required')">
                                                                        <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                                                    </span>
                                                                </ng-container>
                                                            </div>
                                                            <div class="col-4 mb-2">
                                                                <label>{{ 'model.sla.create.time' | translate}}
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="d-flex responsetime">
                                                                    <div class="w-80">
                                                                        <nz-input-number nz-input type="number" class="br-0 brl" [nzMin]="0" numbersOnly
                                                                        formControlName="reminder_time_d"></nz-input-number>
                                                                        <p class="text-center mt-1">Ngày</p>
                                                                    </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number"
                                                                        formControlName="reminder_time_h" class="br-0" [nzMin]="0" numbersOnly [nzMax]="24"></nz-input-number>
                                                                        <p class="text-center mt-1">Giờ</p>
                                                                   </div>
                                                                   <div class="w-80">
                                                                        <nz-input-number nz-input type="number" nz-input [nzMin]="0" numbersOnly
                                                                        formControlName="reminder_time_m"  class=" brr" [nzMax]="59" ></nz-input-number>
                                                                        <p class="text-center mt-1">Phút</p>
                                                                    </div>
                                                                </div>
                                                                <!-- <input formControlName="reminder_time" nz-input class=""
                                                                placeholder="" #availableArea
                                                                required> -->
                                                                <!-- <nz-input-number nz-input type="number"  [nzMin]="0" numbersOnly
                                                            formControlName="reminder_time"   class="time-number"></nz-input-number>
                                                            <span class="minus-time">phút</span> -->
                                                                <ng-container *ngIf="groups.get('reminder_time_m')?.touched || groups.get('reminder_time_m')?.dirty">
                                                                    <span class="text-danger" *ngIf="groups.get('reminder_time_m')?.hasError('required')">
                                                                        <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                                                    </span>
                                                                </ng-container>
                                                            </div>
                                                            <div class="col-4 text-right">
                                                                <button class="btn" (click)="removeHandlingStaff(g)" *ngIf="!hideButton && !detailSla"> <img
                                                                        src="assets/images/icon/deleteSLA.svg"
                                                                        alt="circle-plus-icon" srcset=""
                                                                        class="delete-all" /></button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-10 mb-2">
                                                        <label>{{ 'model.sla.create.handlingStaff' | translate}}
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <nz-select 
                                                            nzMode="multiple"
                                                            nzPlaceHolder="{{ 'model.sla.create.handlingStaff' | translate }}"
                                                            formControlName="agent_ids"
                                                            >
                                                            <nz-option *ngFor="let item of handlingStaffList"
                                                                [nzCustomContent]="true"
                                                                [nzLabel]="(item?.name || '') | translate"
                                                                [nzValue]="item?.id">
                                                                <div container="body">
                                                                    {{(item?.name || '') | translate}}
                                                                </div>
                                                            </nz-option>
                                                        </nz-select>
                                                        <ng-container *ngIf="groups.get('agent_ids')?.touched || groups.get('agent_ids')?.dirty">
                                                            <span class="text-danger" *ngIf="groups.get('agent_ids')?.hasError('required')">
                                                                <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                                            </span>
                                                        </ng-container>
                                                    </div>
                                                    <div class="col-12">
                                                        <nz-checkbox-wrapper style="width: 100%;" >
                                                            <div nz-row>
                                                              <div nz-col nzSpan="6"><label nz-checkbox nzValue="A" [nzDisabled]="true"> Gửi thông báo qua email</label></div>
                                                              <div nz-col nzSpan="6"><label nz-checkbox nzValue="B" [nzDisabled]="true"> Gửi thông báo qua SMS</label></div>
                                                            </div>
                                                        </nz-checkbox-wrapper>
                                                    </div>
                                                    </ng-container>
                                                    </li>
                                                </div>
                                            </ul>
                                            <div class="add-condition w-100 text-center mb-3">
                                                <span *ngIf="!hideButton && !detailSla">
                                                    <!-- <a nz-button nzType="link" class="border-0 text-uppercase" (click)="addStaff()"  style="background-color: #fff;"> -->
                                                    <a nz-button nzType="link" class="border-0 text-uppercase"  style="background-color: #fff;" [disabled]="true">
                                                        <img src="assets/images/icon/circle-plus-primary.svg"
                                                            alt="circle-plus-primary-icon" srcset=""  />
                                                        <span class="ml-2">Thêm mới lời nhắc</span>
                                                    </a>
                                                </span>
                                                
                                            </div>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <label>{{ 'model.sla.create.target.overReporting' | translate}}
                                            </label>
                                            <div class="box-condition" formArrayName="reportForm">
                                                <p *ngIf="isShowtitle2"  class="text-center color2"> <img src="assets/images/icon/mail.svg"
                                                    alt="circle-plus-primary-icon" srcset=""  /> Gửi đệ trình bất cứ khi nào SLA bị vi phạm.
                                                </p>
                                               <ul>
                                                <li class="" *ngFor="let g of reportForm.controls; index as r">
                                                    <ng-container [formGroupName]="r">
                                                <div class="col-12">
                                                    <div class="row">
                                                        <div class="col-4 mb-2">
                                                            <label>{{ 'model.sla.create.type' | translate}}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <nz-select
                                                                nzPlaceHolder="{{ 'model.sla.create.type' | translate }}"
                                                                formControlName="type"
                                                                nzAllowClear removeOptionTitle>
                                                                <nz-option *ngFor="let item of conditionType"
                                                                    [nzCustomContent]="true"
                                                                    [nzLabel]="(item?.name || '') | translate"
                                                                    [nzValue]="item?.value">
                                                                    <div container="body">
                                                                        {{(item?.name || '') | translate}}
                                                                    </div>
                                                                </nz-option>
                                                            </nz-select>
                                                            <ng-container *ngIf="g.get('type')?.touched || g.get('type')?.dirty">
                                                                <span class="text-danger" *ngIf="g.get('type')?.hasError('required')">
                                                                    <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </div>
                                                        <div class="col-2 ">
                                                            <div class="mt-2 pt-4 text-center">báo cáo sau</div>
                                                        </div>
                                                        <div class="col-4 mb-2">
                                                            <label>{{ 'model.sla.create.time' | translate}}
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <!-- <input formControlName="reminder_time" nz-input class=""
                                                            placeholder="" #availableArea
                                                            required> -->
                                                            <div class="d-flex responsetime">
                                                                <div class="w-80">
                                                                    <nz-input-number nz-input type="number" class="br-0 brl" [nzMin]="0" numbersOnly
                                                                    formControlName="reminder_time_d"></nz-input-number>
                                                                    <p class="text-center mt-1">Ngày</p>
                                                                </div>
                                                               <div class="w-80">
                                                                    <nz-input-number nz-input type="number"
                                                                    formControlName="reminder_time_h" class="br-0" [nzMin]="0" numbersOnly [nzMax]="24"></nz-input-number>
                                                                    <p class="text-center mt-1">Giờ</p>
                                                               </div>
                                                               <div class="w-80">
                                                                    <nz-input-number nz-input type="number" nz-input [nzMin]="0" numbersOnly
                                                                    formControlName="reminder_time_m"  class=" brr" [nzMax]="59" ></nz-input-number>
                                                                    <p class="text-center mt-1">Phút</p>
                                                                </div>
                                                            </div>
                                                            <ng-container *ngIf="g.get('reminder_time_m')?.touched || g.get('reminder_time_m')?.dirty">
                                                                <span class="text-danger" *ngIf="g.get('reminder_time_m')?.hasError('required')">
                                                                    <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                                                </span>
                                                            </ng-container>
                                                        </div>
                                                        <div class="col-2 text-right">
                                                            <button class="btn" (click)="removeReportForm(r)" *ngIf="!hideButton && !detailSla"> <img
                                                                    src="assets/images/icon/deleteSLA.svg"
                                                                    alt="circle-plus-icon" srcset=""
                                                                    class="delete-all" /></button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-10 mb-2">
                                                    <label>{{ 'model.sla.create.receiver' | translate}}
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <nz-select  nzMode="multiple"   
                                                        nzPlaceHolder="{{ 'model.sla.create.receiver' | translate }}"
                                                        formControlName="agent_ids"
                                                       >
                                                        <nz-option *ngFor="let item of handlingStaffList"
                                                            [nzCustomContent]="true"
                                                            [nzLabel]="(item?.name || '') | translate"
                                                            [nzValue]="item?.id">
                                                            <div container="body" [animation]="false" [openDelay]="100"
                                                                [closeDelay]="0"
                                                                [ngbTooltip]="(item?.name || '') | translate">
                                                                {{(item?.name || '') | translate}}
                                                            </div>
                                                        </nz-option>
                                                    </nz-select>
                                                    <ng-container *ngIf="g.get('agent_ids')?.touched || g.get('agent_ids')?.dirty">
                                                        <span class="text-danger" *ngIf="g.get('agent_ids')?.hasError('required')">
                                                            <small>{{ 'model.sla.create.error.required' | translate }}</small>
                                                        </span>
                                                    </ng-container>
                                                </div>
                                                <div class="col-12">
                                                    <nz-checkbox-wrapper style="width: 100%;" >
                                                        <div nz-row>
                                                          <div nz-col nzSpan="6"><label nz-checkbox nzValue="C" [nzDisabled]="true" > Gửi thông báo qua email</label></div>
                                                          <div nz-col nzSpan="6"><label nz-checkbox nzValue="D" [nzDisabled]="true"> Gửi thông báo qua SMS</label></div>
                                                        </div>
                                                    </nz-checkbox-wrapper>
                                                </div>
                                            </ng-container>
                                            </li>
                                               </ul>
                                            </div>   
                                            <div class="add-condition w-100 text-center mb-3">
                                                <span *ngIf="!hideButton && !detailSla">
                                                    <!-- <a nz-button nzType="link" class="border-0 text-uppercase" (click)="addReport()"  style="background-color: #fff;"> -->
                                                    <a nz-button nzType="link" class="border-0 text-uppercase" [disabled]="true"  style="background-color: #fff;">
                                                        <img src="assets/images/icon/circle-plus-primary.svg"
                                                            alt="circle-plus-primary-icon" srcset=""  />
                                                        <span class="ml-2">Thêm báo cáo mới</span>
                                                    </a>
                                                </span>

                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-12">
                                <div class="d-flex justify-content-end" *ngIf="!hideButton && !detailSla">
                                    <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                                    [text]="'action.cancel'"  (click)="onCancel()"></mbf-button>
                                    <mbf-button id="createBuilding" [type]="'primary'" [icon]="isUpdate?'save':'plus-circle'"  
                                        [shapeType]="'radius'"  [text]="isUpdate ? 'action.save': 'action.create'"  (click)="onSubmit()" *ngIf="!hideButton && !detailSla">
                                    </mbf-button>
                                </div>
                                <div class="d-flex justify-content-end" *ngIf="hideButton && detailSla">
                                    <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                                    [text]="'action.close'"  (click)="onCancel()"></mbf-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>