.box-condition {
    background: #F4F5FA;
    border-radius: 8px;
    padding: 24px;
}

.add-condition {
    box-shadow: 1px 2px 12px rgb(0 102 153 / 6%);
    border-radius: 0px 0px 8px 8px;
    line-height: 43px;
}

.tag {
    border-radius: 12px;
    width: 100px;
    // height: 23px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    border: unset;
}

.tag span {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.tag-default {
    background: #E9F5FF;
    color: #1672EC;
}

.tag-primary {
    background: #32A4FF;
    color: #FFFFFF;
}

.tag-warning {
    background: #FF8A00;
    color: #FFFFFF;
}

.tag-danger {
    background: #ED1C24;
    color: #FFFFFF;
}

::ng-deep.ant-table-thead>tr>th {
    padding: 16px;
}

.ant-table-tbody>tr>td {
    padding: 16px;
}
.minute{
    position: absolute;
    right: 25px;
    top: 23px;
    background: white;
    color: rgba(158, 158, 158, 0.9)
}
.ant-table-tbody>tr.ant-table-row:hover>td,.ant-table-tbody>tr.ant-table-row>td {
    background: #fff;
}
.color2{
    color: rgba(117, 117, 117, 0.85);
}
.color2 img{
    margin-top: -5px;
}
ul{
    padding-left: 0px;
}
ul li{
    list-style: none;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0px;
    position: relative;
}
ul li::after{
    content: "Và";
    position: absolute;
    bottom: -12px;
    left: 46%;
    color: rgba(117, 117, 117, 0.85);
    width: 40px;
    text-align: center;
    background: #F4F5FA;
}
ul li:last-child{
    border-bottom: none;
}
ul li:last-child::after{
    display: none;
}
.w-80 p{
    color: rgba(158, 158, 158, 0.9);
    font-size: 12px;
}
.responsetime ::ng-deep .ant-input-number-input{
    border-radius: 0px;
    width: 100%;
    text-align: center;
}
.br-0{
    border-right: 0px;
}
.brl{
    border-radius: 6px 0px 0px 6px!important;
}
.brr{
    border-radius: 0px 6px 6px 0px!important;
}
::ng-deep .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    height: auto;
}

::ng-deep .cdk-virtual-scroll-viewport {
    min-height: 162px !important;
}
tr{
    vertical-align: top;
}
 tr  td {
    padding: 20px 20px 20px 20px!important;
}
.time-number {
    width: 100%;
}
.minus-time{
    position: absolute;
    top: 35px;
    right: -22px;
}
tr{
    position: relative;
}
.error-time-sla{
    position: absolute;
    left: 0px;
    color: red;
    font-size: 12px;
    font-style: italic;
    left: 174px;
    bottom: 1px;
}

::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}
@media (max-width: 1300px){
    .responsive-table {
        overflow: auto;
    }
    .responsive-table ::ng-deep .ant-table-container {
        width: 1300px;
    }
}
.detail{
    background: #f5f5f5;
    cursor: not-allowed;
}
.detail ::ng-deep .ant-switch{
    opacity: .4!important;
    cursor: not-allowed!important;
}
.detail:focus{
    box-shadow: unset!important;
}
.btn-delete{
    margin-top: 20px;
}