<div class="create-department">
    <div *nzModalTitle>
        <span>{{ (isUpdate ? 'model.user-group.edit-user' : 'model.user-group.add-user') | translate }}</span>
    </div>
    <div class="form">
        <div class="col-12">
            <div class="row">
                <div class="col-12 mb-2">
                    <label>{{ 'model.user-group.user-name' | translate }}<span class="text-danger">*</span>
                    </label>
                    <div>
                        <div nz-dropdown *ngIf="isUpdate" nz-input class="box-tag ant-input-disabled ant-input"
                            nzPopoverPlacement="bottom">
                            {{setUserChecked[0].user_username}}
                        </div>
                        <div nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" *ngIf="!isUpdate" id="user_el"
                            (click)="setMenu(menu)" nz-input class="box-tag"
                            nzPlacement="bottomLeft">
                            <div class="list-tag">
                                <nz-tag *ngFor="let item of setUserChecked" nzMode="closeable"
                                    (nzOnClose)="onRemoveTagUser(item)">
                                    {{commonUtil.limitWord(item.username,20) }}
                                </nz-tag>
                            </div>
                        </div>
                        <span *ngIf="usernameValid" class="text-danger"><small>Không được để trống</small></span>


                        <nz-dropdown-menu #menu="nzDropdownMenu">
                            <div class="card">
                                <div class="table-area">
                                    <nz-table  
                                        [nzScroll]="{  x: userWidth, y:'300px' }">
                                        <thead>
                                            <tr>
                                                <td colspan="7" [height]="'44px'">
                                                    <div class="searchInputWrapper ant-tag" style="border: none; margin-bottom: 0;">
                                                        <input class="searchInput" type="text"
                                                            placeholder="Nhập từ khóa tìm kiếm" [(ngModel)]="keyword"
                                                            (ngModelChange)="onSearch()" aria-label="Tìm kiếm" />
                                                        <img class="searchInputIcon" src="assets/images/icon/search.svg"
                                                            alt="search-icon" srcset="" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                                    (nzCheckedChange)="updateAllChecked($event)">
                                                </td>
                                                <th class="pl-2">Họ tên</th>
                                                <th class="pl-2">Tên tài khoản</th>
                                                <th class="pl-2">Số điện thoại</th>
                                                <th class="pl-2">Email</th>
                                                <th class="pl-2">Đơn vị</th>
                                                <th class="pl-2">Nhóm người dùng</th>
                                            </tr>
                                        </thead>
                                        <tbody class="scoll-table">
                                            <tr *ngFor="let item of userList;">
                                                <td [nzChecked]="setOfCheckedId.has(item.id)"
                                                    [nzDisabled]="item.disabled"
                                                    (nzCheckedChange)="onItemChecked(item, $event)"></td>
                                                <td><span nz-tooltip  [nzTooltipTitle]="item.name">{{commonUtil.limitWord(item.name,10) }}</span></td>
                                                <td><span nz-tooltip  [nzTooltipTitle]="item.username"> {{commonUtil.limitWord(item.username,10) }}</span></td>
                                                <td>{{ item.phone }}</td>
                                                <td><span nz-tooltip  [nzTooltipTitle]="item.email">{{commonUtil.limitWord(item.email,10) }}</span></td>
                                                <td>{{ item.department_name }}</td>
                                                <td>{{ item.description }}</td>
                                            </tr>
                                            <tr *ngIf="userList?.length==0">
                                                <td colspan="7">
                                                    <nz-empty
                                                        nzNotFoundImage="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                                                        nzNotFoundContent="Không có kết quả tìm kiếm"></nz-empty>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </nz-table>
                                </div>
                                <div class="p-3">
                                    <mb-pagination [pageIndex]="pageIndex" [pageSize]="pageSize" [total]="total"
                                        (onChange)="onQuerySearch($event)">
                                    </mb-pagination>
                                </div>
                            </div>
                        </nz-dropdown-menu>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-2">
                    <label>{{ 'model.user-group.department-access' | translate }}
                    </label>
                    <nz-tree-select [nzNodes]="nodes" [nzMultiple]="true" [nzCheckable]="true" nzShowSearch
                        [(ngModel)]="departmentIds" nzHideUnMatched #treeSelect
                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''"></nz-tree-select>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" [customClass]="'mr-2'" [type]="'default'" [shapeType]="'radius'"
                [text]="'action.cancel'" (click)="onCancel()"></mbf-button>
            <mbf-button id="createBuilding" [type]="'primary'" [icon]="isUpdate?'save':'plus-circle'" [shapeType]="'radius'"
                [text]="isUpdate?'Lưu':'Tạo mới'" (click)="onSubmit()"></mbf-button>
        </div>
    </div>
</div>