:host ::ng-deep .ant-popover-arrow {
    display: none !important;
}

.box-tag {
    position: relative;
    min-height: 36px;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    padding: 1px 8px;
}


:host ::ng-deep.ant-table-body col:nth-child(1) {
    width: 1%;
}
// ::ng-deep .ant-popover {
//     width: 900px;
//     overflow: scroll;
//     // overflow-x: scroll;
//     overflow-y: scroll;
//     height: 600px;
//     font-weight: 400;
// }
:host .ant-tag{
    margin-bottom: 3px;
    margin-top:3px;
}
:host ::ng-deep .ant-select:not(.ant-select-customize-input) .ant-select-selector{
    height: unset !important;
  }
  .searchInput{
    border: none !important;
    background: #fff !important;
    min-height: 28px !important;
    height:unset !important;
  }
  .searchInputIcon{
    top:0.2rem !important
  }
  ::ng-deep .font-highlight{
    color: black !important;
    font-weight: 600 !important;
}