:host ::ng-deep .tooltip-inner{
    background-color: #AAC5E8 !important;
    color: #000000 !important;
    padding: 6px 2px 6px 6px !important;
}
:host ::ng-deep .bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {

    border-bottom-color: #AAC5E8 !important;
}
:host ::ng-deep .badge-table{
    padding: 2px 6px;
    min-height: 24px;
    margin-bottom: 4px;
    height: unset;
}
:host ::ng-deep .tooltip-inner .badge-table:last-child{
    margin-bottom: 0!important;
}

:host ::ng-deep .tooltip-inner {
    overflow-y: auto;
    display: block;
}
.ant-table-tbody > tr > td{
    text-align: left;
    padding: 5px;
  }
  td>span{
    margin-left: 0;
  }
  .ant-table-tbody > tr > td{
    padding: 3px 8px 3px 16px!important;
  }
  .action-table{
    display: inline-block;
  }
  :host ::ng-deep .bs-tooltip-top .arrow::before{
    border-top-color: #AAC5E8 !important;
  }
  ::ng-deep .htmlPopover .ant-popover-arrow{
    border-color:transparent #AAC5E8 #AAC5E8 transparent !important;
  }
   ::ng-deep .htmlPopover .ant-popover-inner-content {
    padding: 6px 4px !important;
    background: #AAC5E8 !important;
    border-radius: 2px;
    max-width: 400px;
  }
   ::ng-deep .htmlPopover .ant-popover-inner-content .badge-table:last-child {
    margin-right:0 !important ;
    margin-bottom: 0 !important;
    
  }
  ::ng-deep .htmlPopover .ant-popover-inner-content .badge-table{
    margin-bottom: 5px;
    height: 24px;
  }
  .badge-table{
    color: black !important;
  }
  :host ::ng-deep .btn-radius :hover {
    color: #0060AF !important;
    border: none;
  }
  .btn.btn-primary.filter {
    width: 100%;
    border-radius: 18px;
  }