<div class="page-top page-top-tickets">
    <div class="page-title">
        <h5>{{'model.customer.title' | translate }}</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <form role="form" [formGroup]="searchForm">
                    <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm"
                        formControlName="keyword" (keyup.enter)="onSearch($event)" />
                </form>
                <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                    alt="search-icon" srcset="" />
            </div>
            <div class="main-fillter pl-3"  nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
                <img  src="assets/images/icon/main-fillter.svg" alt=""  srcset="" />
              </div>
              <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
                <div class="d-flex dropdown-fillter">
                    <div class="refesh ml-2">
                        <button class="btn ant-btn-default btn-circle">
                            <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
                        </button>
                    </div>
                    <div class="export ml-2">
                        <button class="btn ant-btn-default btn-circle" (click)="exportData()" nz-tooltip nzTooltipTitle="Export">
                            <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
                        </button>
                    </div>
                    <div class="delete ml-2" nz-tooltip nzTooltipTitle="Xóa">
                        <button *hasRoles="auth.CUSTOMER.DELETE" class="btn ant-btn-default btn-circle"
                            [disabled]="setOfCheckedId.size === 0" (click)="onMultiDelete(setOfCheckedId)">
                            <img src="assets/images/icon/trash.svg">
                        </button>
                    </div>
                    <div class="create ml-2">
                        <button *hasRoles="auth.CUSTOMER.CREATE" class="btn ant-btn-default btn-radius" (click)="onCreate()">
                            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                            <span style="color:#0060AF" class="ml-2">Tạo mới</span>
                        </button>
                    </div>
                    <div class="filter ml-2">
                        <button class="btn ant-btn-default btn-circle" nz-tooltip nzTooltipTitle="Lọc">
                            <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
                        </button>
                    </div>
                </div>
              </nz-dropdown-menu>
           
        </div>
        <div class="d-flex ">
            <!-- <div class="refesh ml-2">
                <button class="btn ant-btn-default btn-circle">
                    <img src="assets/images/icon/import.svg" alt="Union-icon" srcset="" />
                </button>
            </div> -->
            <div class="export ml-2">
                <button class="btn ant-btn-default btn-circle" (click)="exportData()"  nz-tooltip nzTooltipTitle="Export">
                    <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
                </button>
            </div>
            <div class="delete ml-2" >
                <button *hasRoles="auth.CUSTOMER.DELETE" class="btn ant-btn-default btn-circle"  nz-tooltip nzTooltipTitle="Xóa"
                    [disabled]="setOfCheckedId.size === 0" (click)="onMultiDelete(setOfCheckedId)">
                    <img [src]="'assets/images/icon/trash.svg'"
                        alt="trash-icon" srcset="" />
                </button>
            </div>
            <div class="create ml-2">
                <button *hasRoles="auth.CUSTOMER.CREATE" class="btn ant-btn-default btn-radius" (click)="onCreate()"  nz-tooltip nzTooltipTitle="Tạo mới">
                    <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                    <span style="color:#0060AF" class="ml-2">Tạo mới</span>
                </button>
            </div>
            <div class="filter ml-2">
                <button class="btn ant-btn-default btn-circle" (click)="openFillter()" nz-tooltip nzTooltipTitle="Lọc">
                    <img src="assets/images/icon/filter.svg" alt="filter-icon" srcset="" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-body responsive-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <nz-table #basicTable [nzData]="customerList"
                        (nzCurrentPageDataChange)="onCurrentPageDataChange($event)" [nzTableLayout]="'auto'"
                        nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)">
                        <thead>
                            <tr>
                                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="onAllChecked($event)">
                                </th>
                                <th class="text-center">#</th>
                                <th nzColumnKey="code" [nzSortFn]="true" [nzSortPriority]="2">Mã KH</th>
                                <th nzColumnKey="name" [nzSortFn]="true" [nzSortPriority]="1">Tên khách hàng</th>
                                <th>Người đại diện
                                </th>
                                <th [nzSortFn]="true">Người liên hệ</th>
                                <th>SPDV đang sử dụng</th>
                                <th nzColumnKey="phone" [nzSortFn]="true" [nzSortPriority]="4">Số điện thoại</th>
                                <th nzColumnKey="email" [nzSortFn]="true" [nzSortPriority]="3">Email</th>
                               
                                <th class="text-center">Thao tác
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of customerList; let customerIndex = index;">
                                <td style="padding: 0 !important;" class="text-center" [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.disabled||!data.check_can_edit"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                <td (click)="onDetail(data)">{{ (customerSearch.pageIndex - 1)*customerSearch.pageSize +
                                    customerIndex + 1 }}</td>
                                <td (click)="onDetail(data)"><span>{{ data.code }}</span></td>
                                <td (click)="onDetail(data)">
                                    <span nz-tooltip [nzTooltipTitle]="data.name">{{ commonUtil.limitWord(data.name, 18) }}</span>
                                </td>
                                <td (click)="onDetail(data)" style="padding-left: 0 !important;"><span nz-tooltip [nzTooltipTitle]="data.delegate_name">{{ commonUtil.limitWord(data.delegate_name, 18) }}</span></td>
                                <td (click)="onDetail(data)">
                                    <span *ngIf="data?.contacts?.data.length>0" nz-tooltip 
                                        [nzTooltipTitle]="data?.contacts?.data[0]?.name"
                                        class="badge-table">{{commonUtil.limitWord(data?.contacts?.data[0]?.name,20)}}</span>
                                      <a nz-popover nzPopoverTitle="" [nzPopoverContent]="delegateContent" [nzPopoverOverlayClassName]="'htmlPopover'"
                                        *ngIf="data?.contacts?.data.length>1" class="badge-table"> +
                                        {{data?.contacts?.data.length - 1}}</a>
                                      <ng-template #delegateContent>
                                        <div>
                                          <div *ngFor="let del of getDeletgate(data?.contacts?.data);" class="badge-table" [nzTooltipPlacement]="'right'"
                                            nz-tooltip [nzTooltipTitle]="del?.name">
                                            {{commonUtil.limitWord(del.name,20)}}</div>
                                        </div>
                                      </ng-template>
                                </td>
                                <td (click)="onDetail(data)" style="padding-left: 0 !important;">
                                    <span *ngIf="data?.products?.data.length>0" nz-tooltip 
                                        [nzTooltipTitle]="data?.products?.data[0]?.name"
                                        class="badge-table">{{commonUtil.limitWord(data?.products?.data[0]?.name,20)}}</span>
                                      <a nz-popover nzPopoverTitle="" [nzPopoverContent]="proContent" [nzPopoverOverlayClassName]="'htmlPopover'"
                                        *ngIf="data?.products?.data.length>1" class="badge-table"> +
                                        {{data?.products?.data.length - 1}}</a>
                                      <ng-template #proContent>
                                        <div>
                                          <div *ngFor="let pro of getServiceProducts(data?.products?.data);" class="badge-table" [nzTooltipPlacement]="'right'"
                                            nz-tooltip [nzTooltipTitle]="pro?.name">
                                            {{commonUtil.limitWord(pro.name,20)}}</div>
                                        </div>
                                      </ng-template>
                                </td>
                                <td (click)="onDetail(data)"><span>{{ data.phone }}</span></td>
                                <td (click)="onDetail(data)"><span >{{ data.email }}</span></td>
                                <!-- <td (click)="onDetail(data)"><span nz-tooltip [nzTooltipTitle]="data.address">{{ commonUtil.limitWord(data.address,30) }}</span></td> -->
                               
                                <td class="text-center">
                                    <div class="action-table d-flex">
                                        <a *hasRoles="auth.CUSTOMER.UPDATE">
                                            <mbf-button-action  [action]="'edit'"
                                                nzTooltipTitle="{{'action.update' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onUpdate(data)">
                                            </mbf-button-action>
                                        </a>
                                        <a *hasRoles="auth.CUSTOMER.DELETE">
                                            <mbf-button-action [disable]="!data.check_can_edit"
                                                [action]="'delete'" nzTooltipTitle="{{'action.delete' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onDelete(data)">
                                            </mbf-button-action>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="customerSearch.pageIndex" [pageSize]="customerSearch.pageSize"
                            [total]="total" (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                    <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right"
                    [nzTitle]="resetFilter" (nzOnClose)="onClose()">
                    <ng-template #resetFilter class="d-flex">
                        <div class="row">
                            <div class="col-9">
                                <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
                            </div>
                            <div class="col-3" style="text-align: right; padding-right: 40px;">
                                <a (click)="onResetFilter()"><img src="assets/images/icon/resetFilter.svg"
                                        alt=""></a>
                            </div>
                        </div>
                    </ng-template>
                    <ng-container *nzDrawerContent>
                        <div class="col-12 module-fillter mt-4">
                            <div class="row">
                                <div class="col-12 mb-2">
                                    <label>Sản phẩm dịch vụ
                                    </label>
                                    <nz-tree-select [(ngModel)]="product_id" nzShowSearch nzAllowClear nzHideUnMatched [nzNodes]="productList"
                                    (ngModelChange)="onChangeServiceProduct($event)" 
                                        nzShowSearch nzPlaceHolder="Sản phẩm dịch vụ"
                                        #treeSelect
                                        [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                    </nz-tree-select>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-12">
                                    <button class="btn btn-primary btn-filter" (click)="onFilterData()"><b>ÁP
                                            DỤNG</b></button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </nz-drawer>
                </div>
            </div>
        </div>
    </div>
</div>