<div class="page-top page-top-tickets">
    <div class="page-title">
        <h5>BÁO CÁO THÔNG TIN XỬ LÝ TICKET</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <form role="form" [formGroup]="searchForm">
                    <input class="searchInput" type="text" placeholder="Nhập từ khóa tìm kiếm" aria-label="Tìm kiếm" formControlName="keyword"   (keyup.enter)="onSearch($event)"/>
                </form>
                <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                alt="search-icon" srcset="" />
            </div>
            <div class="main-fillter pl-3"   >
                <div style="display: flex;">
                    <button  class="btn ant-btn-default btn-radius" (click)="exportTemplate()">
                        <img src="assets/images/icon/file.svg" alt="circle-plus-icon" srcset="" />
                    </button>
                    <div class="filter ml-2">
                        <button class="btn ant-btn-default btn-circle" (click)="openFillter()">
                            <img src="assets/images/icon/fillter-icon.svg" alt="filter-icon" srcset="" />
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex ">
            <div class="create ml-2">
                <button  class="btn ant-btn-default btn-radius"  (click)="exportTemplate()">
                    <span class="ml-2 mr-2">XUẤT BÁO CÁO</span>
                    <img src="assets/images/icon/file.svg" alt="circle-plus-icon" srcset="" />
                </button>
            </div>
            <div class="filter ml-2">
                <button class="btn ant-btn-default btn-circle" (click)="openFillter()" nz-tooltip nzTooltipTitle="Lọc">
                    <img src="assets/images/icon/fillter-icon.svg" alt="filter-icon" srcset="" />
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-body  page-product">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="d-inline date-filter mb-3">
                        <div class="d-flex  ">
                          <label>Thời gian:</label>
                          <!-- <nz-range-picker nzFormat="dd-MM-yyyy" [(ngModel)]="date" (ngModelChange)="onChangeDate()" >
                          </nz-range-picker> -->
                          <input type="text" 
                          ngxDaterangepickerMd
                          [locale]="{ applyLabel: 'ok', format: 'DD/MM/YYYY' }"
                          [autoApply]="true"
                          [ranges]="ranges"
                          [alwaysShowCalendars]="true"
                          [locale]="calendarLocale"
                          [keepCalendarOpeningWithRange]="true"
                          class="form-control"
                          [(ngModel)]="selected"
                          (change)="ngModelChange($event)"
                          />
                          <!-- <mat-form-field appearance="fill">
                            <mat-date-range-input  [rangePicker]="picker" >
                              <input matStartDate [(ngModel)]="start_date" placeholder="dd-mm-yyyy"  (blur)="onSearchDate($event)" (dateChange)="onSearchDate($event)">
                              <input matEndDate [(ngModel)]="end_date" placeholder="dd-mm-yyyy"  (blur)="onSearchDate( $event)" (dateChange)="onSearchDate($event)">
                            </mat-date-range-input>
                            <mat-icon matDatepickerToggleIcon *ngIf="start_date || end_date" (click)="clearDate($event)" class="close-datepicker"><i nz-icon nzType="close-circle" nzTheme="outline"></i></mat-icon>
                            <mat-datepicker-toggle matSuffix [for]="picker">
                              <mat-icon matDatepickerToggleIcon><i nz-icon nzType="calendar" nzTheme="outline"></i></mat-icon>
                            </mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                          </mat-form-field> -->
                        </div>
                      </div>
                    <div class="col-12">
                        <div class="card">
                            <div class=" table-scroll-report">
                                <nz-table #basicTable [nzData]="listReportTicket"  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                                [nzTableLayout]="'auto'" nzShowPagination nzShowSizeChanger (nzQueryParams)="onQueryParamsChange($event)"
                                [nzNoResult]="noDataResult">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-left">Mã ticket</th>
                                            <th class="text-left">Tiêu đề</th>
                                            <th class="text-left">Sản phẩm dịch vụ</th>
                                            <th class="text-left"> Phân loại</th>
                                            <th class="text-left"> Nguồn ticket</th>
                                            <th class="text-left" width="150px">Nội dung phản ánh</th>
                                            <th class="text-left">Thời gian tạo</th>
                                            <th class="text-left">Thời gian kết thúc</th>
                                            <th class="text-left">Thời gian xử lý</th>
                                            <th class="text-left">Trạng thái</th>
                                            <th class="text-left">Độ ưu tiên</th>
                                            <th class="text-left"> Đơn vị xử lý</th>
                                            <th class="text-left">Người xử lý</th>
                                            <th class="text-left">Đơn vị tạo</th>
                                            <th class="text-center"><a class="mr-3"><img src="assets/images/icon/menu.svg"></a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor=" let item of listReportTicket ;let i = index" (click)="openDetail(item.id)" class="ticket-code">
                                            <td  class="text-center">{{(reportQuery.pageIndex - 1) * reportQuery.pageSize + i + 1}}</td>
                                            <td class="text-left">
                                                <span [nzTooltipTitle]="commonUtil.extractContent(item.code)" nzTooltipPlacement="top" nz-tooltip>
                                                    {{commonUtil.limitWord(item.code,25)}}
                                                </span>
                                            </td>
                                            <td  class="text-left"><span [nzTooltipTitle]="commonUtil.extractContent(item?.title)"
                                                nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(item.title,15)}}</span></td>
                                            <td  class="text-left"><span [nzTooltipTitle]="commonUtil.extractContent(item?.product_name)"
                                                nzTooltipPlacement="top" nz-tooltip> {{commonUtil.limitWord(item.product_name,15)}} </span>
                                            </td>
                                            <td  class="text-left">{{item.category_name}}</td>
                                            <td  class="text-left"><span [nzTooltipTitle]="commonUtil.extractContent(item?.source_name)"
                                                nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(item.source_name,15)}} </span></td>
                                            <td class="text-left"><span [nzTooltipTitle]="commonUtil.extractContent(item?.description)" class="des-report"
                                                nzTooltipPlacement="top" nz-tooltip>
                                                 {{commonUtil.limitWord(commonUtil.extractContent(item.description),15)}}
                                            </span> </td>
                                            <td class="text-left">{{item.created_at | date:'  dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td class="text-left" *ngIf="item.actual_finish_ticket_time">{{item.actual_finish_ticket_time | date:'  dd/MM/yyyy HH:mm:ss'}}</td>
                                            <td class="text-left" *ngIf="!item.actual_finish_ticket_time">-</td>
                                            <td class="text-left">{{item.actual_time_dealt||'-'}}</td>
                                            <td class="text-left">
                                                <div class="mr-2 tag tag-warning1" *ngIf="item.state_color" [style]="'background:'+item.state_color+'; color:' +item.state_text_color ">
                                                    <span>{{item.state_name}}</span>
                                                </div>
                                            </td>
                                            <td class="text-left">
                                                <div class="mr-2 tag tag-warning1" *ngIf="item.priority_color" [style]="'background:'+item.priority_color">
                                                    <span>{{item.priority_name}}</span>
                                                </div>
                                                <div class="mr-2 tag tag-warning1" *ngIf="item.priority_name== null " style=" background: #F4F5FA;color: rgba(117, 117, 117, 0.85);" >
                                                    <span  >Chưa xác định</span>
                                                  </div>
                                            </td>
                                            <td class="text-left"> <span [nzTooltipTitle]="commonUtil.extractContent(item?.current_execute_department_name)" [nzTooltipOverlayStyle]="styleTooltip"
                                                nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(item.wf_current_execute_department_name,20)}}</span></td>
                                            <td class="text-left" [nzTooltipTitle]="(item?.user_name)" zTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(item.user_name,30)}}</td>
                                            <td class="text-left"> <span [nzTooltipTitle]="commonUtil.extractContent(item?.created_department_path)" [nzTooltipOverlayStyle]="styleTooltip"
                                                nzTooltipPlacement="top" nz-tooltip>{{commonUtil.limitWord(item.created_by_department_name,20)}}</span></td>
                                            <td class="text-center"></td>
                                        </tr>
                                    </tbody>
                                </nz-table> 
                            </div>
                            <div class="p-3">
                                <mb-pagination [pageIndex]="reportQuery.pageIndex" [pageSize]="reportQuery.pageSize" [total]="total"
                                  (onChange)="onQuerySearch($event)">
                                </mb-pagination>
                              </div>
                              <ng-template #noDataResult>
                                <mb-no-data></mb-no-data>
                              </ng-template>
                            <nz-drawer [nzClosable]="true" nzWidth="400px" [nzVisible]="visible" nzPlacement="right" 
                            [nzTitle]="resetFilter"  (nzOnClose)="close()" >
                                <ng-template #resetFilter class="d-flex ">
                                    <div class="row">
                                        <div class="col-9">
                                            <p class="title-fillter">TÌM KIẾM NÂNG CAO</p>
                                        </div>
                                        <div class="col-3" style="text-align: right;padding-right: 40px;">
                                            <a (click)="reloadFillter()"><img src="assets/images/icon/resetFilter.svg"alt=""></a>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-container *nzDrawerContent>
                                    <div class="col-12 module-fillter mt-4">
                                        <div class="row">
                                            <div class="col-12 mb-2">
                                                <label>Sản phẩm dịch vụ</label>
                                                <nz-select [(ngModel)]="reportQuery.product_id" nzShowSearch nzAllowClear nzPlaceHolder="Chọn sản phẩm dịch vụ" nzMode="multiple">
                                                    <nz-option *ngFor="let item of productList" [nzCustomContent]="true"
                                                        [nzValue]="item.id" [nzLabel]="item.name"
                                                        #availableArea required>
                                                        <div container="body">
                                                            {{(item?.name || '') | translate}}
                                                          </div>
                                                    </nz-option>
                                                  
                                                </nz-select>
                                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                                            </div>
                                            <div class="col-12 mb-2 ">
                                                <label>Độ ưu tiên</label>
                                                <nz-select [(ngModel)]="reportQuery.priority_ids" nzShowSearch nzAllowClear  nzPlaceHolder="Chọn độ ưu tiên"  nzMode="multiple">
                                                    <nz-option *ngFor="let item of ticketPriorityList"  [nzCustomContent]="true"   [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                                        <div container="body">
                                                            {{(item?.name || '') | translate}}
                                                          </div>
                                                    </nz-option>
                                                </nz-select>
                                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                                            </div>
                                            <div class="col-12 mb-2 ">
                                                <label>Phân loại</label>
                                                <nz-select [(ngModel)]="reportQuery.category_ids" nzShowSearch nzAllowClear  nzPlaceHolder="Chọn phân loại" nzMode="multiple">
                                                    <nz-option *ngFor="let item of ticketCategoryList"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                                        <div container="body">
                                                            {{(item?.name || '') | translate}}
                                                          </div>
                                                    </nz-option>
                                                </nz-select>
                                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                                            </div>
                                            
                                            <div class="col-12 mb-2">
                                                <label>Nguồn ticket </label>
                                                <nz-select [(ngModel)]="reportQuery.source_ids" nzShowSearch nzAllowClear  nzPlaceHolder="Chọn nguồn ticket" nzMode="multiple">
                                                    <nz-option *ngFor="let item of ticketSourceList"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                                        <div container="body">
                                                            {{(item?.name || '') | translate}}
                                                          </div>
                                                    </nz-option>
                                                </nz-select>
                                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                                            </div>
                                            <div class="col-12 mb-2">
                                                <label>Trạng thái</label>
                                                <nz-select [(ngModel)]="reportQuery.state_ids" nzShowSearch nzAllowClear   nzPlaceHolder="Trạng thái" nzMode="multiple">
                                                    <nz-option *ngFor="let item of ticketStateList"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                                        <div container="body">
                                                            {{(item?.name || '') | translate}}
                                                          </div>
                                                    </nz-option>
                                                </nz-select>
                                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                                            </div>
                                           
                                            <div class="col-12 mb-2 ">
                                                <label>Đơn vị xử lý</label>
                                                <nz-tree-select [nzNodes]="deptList" nzShowSearch nzAllowClear 
                                                    nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                                    [(ngModel)]="reportQuery.department_id" nzHideUnMatched #treeSelect
                                                    [nzVirtualHeight]="!treeSelect.inputValue ? '300px' : ''">
                                                </nz-tree-select>
                                            </div>
                                            <div class="col-12 mb-2 ">
                                                <label>Người xử lý </label>
                                                <nz-select [(ngModel)]="reportQuery.user_ids" nzShowSearch  nzAllowClear  nzPlaceHolder="Chọn người xử lý" nzMode="multiple">
                                                    <nz-option *ngFor="let item of listAssignee"  [nzCustomContent]="true"  [nzValue]="item.id" [nzLabel]="item.name"  #availableArea required>
                                                        <div container="body">
                                                            {{(item?.name || '') | translate}}
                                                          </div>
                                                    </nz-option>
                                                </nz-select>
                                                <i nz-icon nzType="down" class="down-search" nzTheme="outline"></i> 
                                            </div>
                                            <div class="col-12 mb-2 ">
                                                <label>Đơn vị tạo</label>
                                                <nz-tree-select [nzNodes]="deptList" nzShowSearch nzAllowClear 
                                                    nzPlaceHolder="{{ 'model.workFlow.department' | translate }}"
                                                    [(ngModel)]="reportQuery.created_by_department_ids" nzHideUnMatched #treeSelect2
                                                    [nzVirtualHeight]="!treeSelect2.inputValue ? '300px' : ''">
                                                </nz-tree-select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12 mt-3">
                                                <button class="btn btn-primary btn-filter" (click)="onFilterData()">ÁP DỤNG</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </nz-drawer>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
