
.date-filter label{
    min-width: 70px;
    color: rgba(158, 158, 158, 0.9);
    font-weight: 400;
    line-height: 30px;
}
::ng-deep .ant-picker-range{
    height: 31px;
    width: 300px;
}
.date-filter .d-flex{
    justify-content: right!important;
}
.tag {
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 6px;
    height: 23px;
}
.tag span {
    font-weight: 400;
    font-size: 12px;
}
.tag-warning1 {
    font-weight: 400;
    color: #fff;
}
.table-scroll-report ::ng-deep .ant-table-container{
    width: 2600px!important;
}
.date-filter .mat-date-range-input {
    top: -12px!important;
}
.ticket-code{
    color: #000;
    cursor: pointer;
}
