<div class="create-department">
    <div *nzModalTitle>
        <i nz-icon nzType="question-circle" nzTheme="twotone" [nzTwotoneColor]="'#ffc107'"
            style="font-size: 22px; margin-right: 15px;"></i>
        <span>XÁC NHẬN {{statusname}} TRẠNG THÁI</span>
    </div>
    <div class="form">
        <div class="col-12">
            <form>
                <div class="row">
                    <div class="col-12 mb-2">
                        Bạn có chắc chắn muốn {{statusname}} trạng thái <b>{{data.name}}</b> không ?
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-end" *nzModalFooter>
            <mbf-button id="createBuilding" (click)="onCancel()" [customClass]="'mr-2'" [type]="'default'"
                [shapeType]="'radius'" [text]="'action.cancel'"></mbf-button>
            <mbf-button  id="createBuilding" [type]="'primary'" [icon]="'unlock'"
                [shapeType]="'radius'" *ngIf="!isClose" [text]="'Mở'" (click)="onLock(1)"></mbf-button>
            <mbf-button class="ant-btn-lock" [icon]="'lock'" [shapeType]="'radius'" *ngIf="isClose" [text]="'Khóa'" (click)="onLock(0)">
            </mbf-button>
        </div>
    </div>
</div>