// :host ::ng-deep .ant-table-tbody > tr > td{
//     text-align: center;
// }
// :host ::ng-deep .ant-table-thead > tr > th{
//     text-align: center;
// }
.th-action{
    margin-top: 10px;
    width: 80%;
}
.ant-table-tbody > tr > td .td-data{
    padding-left: 0;
}
.ant-table-tbody > tr > td {
    padding: 0 !important;
}
.action-table{
    display: inline-block;
}
@media (min-width: 1168px) {
    .dropdown-fillter {
        display: flex !important;
    }
}
@media (max-width: 900px){
.responsive-table .card {
    width: 1300px;
}
}