<div class="page-top page-top-tickets">
    <div class="page-title">
        <h5>{{'model.role.title' | translate }}</h5>
    </div>
    <div class="actions">
        <div class="searchInputWrapper">
            <div class="w-100">
                <form role="form" [formGroup]="searchForm">
                    <input class="searchInput" type="text" placeholder="{{'action.search' | translate }}"
                        formControlName="keyword" (keyup.enter)="onSearch($event)" />
                </form>
                <img class="searchInputIcon" (click)="onSearch($event)" src="assets/images/icon/search.svg"
                    alt="search-icon" srcset="" />
            </div>
            <div class="main-fillter pl-3" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu1">
                <img src="assets/images/icon/main-fillter.svg" alt="" srcset="" />
            </div>
            <nz-dropdown-menu #menu1="nzDropdownMenu" class="">
                <div class="d-flex dropdown-fillter">
                    <div class="import ml-2">
                        <button class="btn ant-btn-default btn-circle">
                            <img src="assets/images/icon/import.svg" alt="download-icon" srcset="" />
                        </button>
                    </div>
                    <div class="export ml-2">
                        <button class="btn ant-btn-default btn-circle" (click)="exportData()">
                            <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
                        </button>
                    </div>

                    <div class="delete ml-2" *hasRoles="auth.ROLE.DELETE">
                        <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0" nz-tooltip nzTooltipTitle="Xóa"
                            (click)="onMultiDelete(setOfCheckedId)">
                            <img src="assets/images/icon/trash.svg">
                        </button>
                    </div>
                    <div class="create ml-2" *hasRoles="auth.ROLE.CREATE">
                        <button class="btn ant-btn-default btn-radius" (click)="onCreate()" nz-tooltip nzTooltipTitle="Tạo mới">
                            <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                            <span style="color: #0060AF
                            ;" class="ml-2">{{'model.role.create-icon' | translate }}</span>
                        </button>
                    </div>
                </div>
            </nz-dropdown-menu>
        </div>
        <!-- <div class="refesh ml-2">
            <button class="btn ant-btn-default btn-circle">
                <img src="assets/images/icon/Union.svg" (click)="onReset()" alt="Union-icon" srcset="" />
            </button>
        </div> -->
        <div class="d-flex dropdown-fillter">
            <!-- <div class="import ml-2">
                <button class="btn ant-btn-default btn-circle">
                    <img src="assets/images/icon/import.svg" alt="download-icon" srcset="" />
                </button>
            </div>
            <div class="export ml-2">
                <button class="btn ant-btn-default btn-circle" (click)="exportData()">
                    <img src="assets/images/icon/download.svg" alt="download-icon" srcset="" />
                </button>
            </div> -->

            <div class="delete ml-2" *hasRoles="auth.ROLE.DELETE">
                <button class="btn ant-btn-default btn-circle" [disabled]="setOfCheckedId.size === 0"
                    (click)="onMultiDelete(setOfCheckedId)">
                    <img src="assets/images/icon/trash.svg">
                </button>
            </div>
            <div class="create ml-2" *hasRoles="auth.ROLE.CREATE">
                <button class="btn ant-btn-default btn-radius" (click)="onCreate()">
                    <img src="assets/images/icon/circle-plus.svg" alt="circle-plus-icon" srcset="" />
                    <span style="color: #0060AF
                    ;" class="ml-2">{{'model.role.create-icon' | translate }}</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 responsive-table">
                <div class="card">
                    <nz-table [nzData]="roleList" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                        nzShowPagination (nzQueryParams)="onQueryParamsChange($event)">
                        <thead>
                            <tr>
                                <th [nzChecked]="checked" [nzIndeterminate]="indeterminate"
                                    (nzCheckedChange)="onAllChecked($event)">
                                </th>
                                <th>#</th>
                                <th>{{'model.role.code' |
                                    translate }}</th>
                                <th>
                                    {{'model.role.name' |
                                    translate }}</th>
                                <th>
                                    {{'model.role.description' | translate }}</th>
                                <th class="text-center">
                                    {{'model.role.action' | translate }}
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of roleList; let roleIndex = index;">
                                <td [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="data.check_can_edit==0"
                                    (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
                                <td (click)="onDetail(data)">{{ (roleSearch.pageIndex - 1)*roleSearch.pageSize +
                                    roleIndex + 1 }}</td>
                                <td (click)="onDetail(data)"><span>{{ data.name }}</span></td>
                                <td (click)="onDetail(data)"><a nz-tooltip [nzTooltipTitle]="data.display_name">{{
                                        commonUtil.limitWord(data.display_name,
                                        20) }}</a></td>
                                <td (click)="onDetail(data)">
                                    <span nz-tooltip
                                        [nzTooltipTitle]="commonUtil.extractContent(data?.description)">{{commonUtil.limitWord(data?.description,
                                        20)}}</span>
                                </td>
                                <td class="text-center">
                                    <div class="action-table">
                                        <mbf-button-action *hasRoles="auth.ROLE.UPDATE" [action]="'edit'"
                                            nzTooltipTitle="{{'action.update' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="onUpdate(data)">
                                        </mbf-button-action>
                                        <a *hasRoles="auth.ROLE.LOCK">
                                            <mbf-button-action [action]="'key-icon'" *ngIf="data.status==roleLock"
                                                nzTooltipTitle="{{'action.unlock' | translate}}"
                                                nzTooltipPlacement="top" nz-tooltip (click)="onUnlock(data)">
                                            </mbf-button-action>
                                        </a>
                                        <a *hasRoles="auth.ROLE.LOCK">
                                            <mbf-button-action [action]="'lock-icon'" *ngIf="data.status!=roleLock"
                                                nzTooltipTitle="{{'action.lock' | translate}}" nzTooltipPlacement="top"
                                                nz-tooltip (click)="onLock(data)">
                                            </mbf-button-action>
                                        </a>
                                        <mbf-button-action *hasRoles="auth.ROLE.DELETE" [action]="'delete'" [disable]="data.check_can_edit==0"
                                            nzTooltipTitle="{{'action.delete' | translate}}" nzTooltipPlacement="top"
                                            nz-tooltip (click)="onDelete(data)">
                                        </mbf-button-action>
                                    </div>
                                </td>
                                
                            </tr>
                            <tr *ngIf="roleList?.lenght==0"> <nz-empty></nz-empty></tr>
                        </tbody>
                    </nz-table>
                    <div class="p-3">
                        <mb-pagination [pageIndex]="roleSearch.pageIndex" [pageSize]="roleSearch.pageSize"
                            [total]="total" (onChange)="onQuerySearch($event)">
                        </mb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>