<div class="group-user">
  <div *nzModalTitle class="mb-2">
    <span>{{ 'model.user.group-user.addUserToGroup' | translate }}</span>
  </div>
  <div class="container-fluid">
    <h3 style="font-size: 16px;">{{ 'model.user.group-user.UserToGroupList' | translate }}</h3>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <nz-table #basicTable [nzData]="groupByUserList" [nzTableLayout]="'auto'">
            <thead>
              <tr>
                <th class="text-center">{{ 'model.user.group-user.code' | translate }}</th>
                <th class="text-center">{{ 'model.user.group-user.name' | translate }}</th>
                <th class="text-center">{{ 'model.user.group-user.allowDepartment' | translate }}</th>
                <th class="text-center"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of groupByUserList">
                <td class="text-center">{{data.group_code}}</td>
                <td class="text-center">{{data.group_name}}</td>
                <td class="text-center"><span *ngIf="data?.departments?.length>0"
                    class="badge-table">{{data?.departments[0]?.dept_name}}</span>
                  <ng-template #HtmlContent>
                    <div *ngFor="let item of getDepartName(data?.departments);">
                      {{item.dept_name}}</div>
                  </ng-template>
                  <span [ngbTooltip]="HtmlContent" [tooltipClass]="'ngTemplateTips'" *ngIf="data?.departments?.length>1"
                    placement="bottom" contentType="template" class="badge-table"> + {{data?.departments?.length -
                    1}}</span>
                </td>
                <td class="text-center">
                  <mbf-button-action  [action]="'edit'"nzTooltipTitle="{{'action.update' | translate}}"
                  nzTooltipPlacement="top" nz-tooltip (click)="onUpdate(data)">
                </mbf-button-action>
                  <mbf-button-action [action]="'delete'" nzTooltipTitle="{{'action.delete' | translate}}"
                    nzTooltipPlacement="top" nz-tooltip (click)="onDelete(data)">
                  </mbf-button-action>
                 

                  
                </td>
              </tr>
              <tr>
                <td class="text-center" colspan="6" style="background-color: #fff;">
                  <a style="color:#0060AF" nzType="link" class="border-0 text-uppercase" (click)="onAddGroup()">
                    <img src="assets/images/icon/circle-plus-primary.svg" alt="circle-plus-primary-icon" srcset="" />
                    <span style="color:#0060AF" class="ml-2">{{ 'model.user.group-user.addGroup' | translate }}</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="d-flex justify-content-end" *nzModalFooter>
    <mbf-button id="createBuilding" [icon]="'close-circle'" [customClass]="'mr-2'" [type]="'primary'" [shapeType]="'radius'" [text]="'Đóng'"
      (click)="onCancel()"></mbf-button>
  </div>
</div>